Repository lammps/lammps, pull requests merged in 2018-11, with the labels that each got.

#1190 Update Colvars library to version 2018-10-16
  doc/src/PDF/colvars-refman-lammps.pdf
  lib/colvars/colvar.cpp
  lib/colvars/colvar.h
  lib/colvars/colvaratoms.cpp
  lib/colvars/colvaratoms.h
  lib/colvars/colvarbias_abf.cpp
  lib/colvars/colvarbias_abf.h
  lib/colvars/colvarbias_restraint.cpp
  lib/colvars/colvarcomp.cpp
  lib/colvars/colvarcomp.h
  lib/colvars/colvarcomp_coordnums.cpp
  lib/colvars/colvarcomp_distances.cpp
  lib/colvars/colvarmodule.cpp
  lib/colvars/colvarmodule.h
  lib/colvars/colvarparse.cpp
  lib/colvars/colvarparse.h
  lib/colvars/colvarproxy.cpp
  lib/colvars/colvarproxy.h
  lib/colvars/colvars_version.h
  lib/colvars/colvarscript.cpp
  lib/colvars/colvarscript.h
  lib/colvars/colvarvalue.cpp
  lib/colvars/colvarvalue.h
  src/USER-COLVARS/colvarproxy_lammps_version.h
Labels: bugfix, enhancement, user_colvars_package

#1189 Bond/react custom group
  doc/src/fix_bond_break.txt
  doc/src/fix_bond_create.txt
  doc/src/fix_bond_react.txt
  doc/src/group.txt
  examples/USER/misc/bond_react/nylon,6-6_melt/in.large_nylon_melt
  examples/USER/misc/bond_react/tiny_nylon/in.tiny_nylon
  src/USER-MISC/fix_bond_react.cpp
  src/USER-MISC/fix_bond_react.h
Labels: enhancement

#1194 User cgdna
  doc/src/fix_nve_dot.txt
  doc/src/fix_nve_dotc_langevin.txt
Labels: documentation

#1182 liblammps.pc: add some more documentation
  cmake/pkgconfig/liblammps.pc.in
Labels: cmake, documentation

#1191 Dihedral generation bugfix for msi2lmp
  tools/msi2lmp/src/MakeLists.c
  tools/msi2lmp/src/msi2lmp.c
  tools/msi2lmp/src/msi2lmp.h
Labels: bugfix, tools

#1180 Permanent PLUMED interface
  cmake/CMakeLists.txt
  doc/src/Build_extras.txt
  doc/src/Packages_details.txt
  doc/src/fix_plumed.txt
  doc/src/fixes.txt
  doc/src/lammps.book
  examples/USER/plumed/data.peptide
  examples/USER/plumed/in.peptide-plumed
  examples/USER/plumed/log.24Oct18.peptide-plumed.g++.1
  examples/USER/plumed/log.24Oct18.peptide-plumed.g++.4
  examples/USER/plumed/plumed.dat
  examples/USER/plumed/reference/colvar
  examples/USER/plumed/reference/p.log
  lib/plumed/.gitignore
  lib/plumed/Install.py
  lib/plumed/Makefile.lammps.static
  lib/plumed/README
  src/.gitignore
  src/Makefile
  src/USER-PLUMED/Install.sh
  src/USER-PLUMED/README
  src/USER-PLUMED/fix_plumed.cpp
  src/USER-PLUMED/fix_plumed.h
Labels: cmake, enhancement

#1195 Bond/react custom edges
  doc/src/fix_bond_react.txt
  src/USER-MISC/fix_bond_react.cpp
  src/USER-MISC/fix_bond_react.h
Labels: bugfix, enhancement, user_misc_package

#1202 Add Hyper-dynamics to REPLICA package
  doc/src/Commands_all.txt
  doc/src/Commands_fix.txt
  doc/src/Packages_user.txt
  doc/src/commands_list.txt
  doc/src/compute.txt
  doc/src/fix.txt
  doc/src/fix_hyper_global.txt
  doc/src/fix_hyper_local.txt
  doc/src/fixes.txt
  doc/src/hyper.txt
  doc/src/lammps.book
  doc/src/prd.txt
  examples/README
  examples/hyper/adatoms.list.37K
  examples/hyper/global.10Oct18.000000.jpg
  examples/hyper/global.10Oct18.003000.jpg
  examples/hyper/global.10Oct18.038000.jpg
  examples/hyper/global.10Oct18.059000.jpg
  examples/hyper/in.hyper.global
  examples/hyper/in.hyper.local
  examples/hyper/local.10Oct18.000000.jpg
  examples/hyper/local.10Oct18.000700.jpg
  examples/hyper/local.10Oct18.000800.jpg
  examples/hyper/local.10Oct18.001100.jpg
  examples/hyper/log.10Oct18.hyper.global.g++.4
  examples/hyper/log.10Oct18.hyper.local.g++.16
  examples/hyper/ptvoterlammps.eam
  src/REPLICA/fix_event_hyper.cpp
  src/REPLICA/fix_event_hyper.h
  src/REPLICA/fix_hyper.cpp
  src/REPLICA/fix_hyper.h
  src/REPLICA/fix_hyper_global.cpp
  src/REPLICA/fix_hyper_global.h
  src/REPLICA/fix_hyper_local.cpp
  src/REPLICA/fix_hyper_local.h
  src/REPLICA/hyper.cpp
  src/REPLICA/hyper.h
Labels: enhancement, replica_package

#1197 Collection of small changes and bugfixes for the next release
  cmake/presets/all_off.cmake
  cmake/presets/all_on.cmake
  cmake/presets/manual_selection.cmake
  cmake/presets/nolib.cmake
  cmake/presets/user.cmake
  doc/src/Build_basics.txt
  doc/src/compute_ptm_atom.txt
  doc/src/fix_bond_react.txt
  src/USER-VTK/dump_vtk.cpp
  src/bond_hybrid.cpp
  src/bond_hybrid.h
  tools/msi2lmp/src/MakeLists.c
  tools/msi2lmp/src/ReadCarFile.c
Labels: bugfix

#1201 cmake: update doc about executables
  cmake/README.md
Labels: cmake

#1206 Collected small changes for next release
  cmake/CMakeLists.txt
  doc/github-development-workflow.md
  src/BODY/pair_body_rounded_polygon.cpp
  src/MISC/pair_nm_cut.cpp
  src/MISC/pair_nm_cut_coul_cut.cpp
  src/MISC/pair_nm_cut_coul_long.cpp
  src/MOLECULE/atom_vec_molecular.cpp
  src/MOLECULE/fix_cmap.cpp
  src/POEMS/fix_poems.cpp
  src/REPLICA/fix_hyper_local.cpp
  src/REPLICA/fix_hyper_local.h
  src/SPIN/pair_spin_exchange.cpp
  src/USER-CGDNA/pair_oxdna2_coaxstk.cpp
  src/USER-COLVARS/group_ndx.cpp
  src/USER-DPD/fix_rx.cpp
  src/USER-MISC/compute_stress_mop.cpp
  src/USER-MISC/compute_stress_mop_profile.cpp
  src/USER-MISC/compute_stress_mop_profile.h
  src/USER-MISC/fix_ffl.cpp
  src/USER-MISC/fix_filter_corotate.cpp
  src/USER-MOFFF/angle_class2_p6.cpp
  src/USER-MOFFF/angle_cosine_buck6d.cpp
  src/USER-MOFFF/improper_inversion_harmonic.cpp
  src/USER-MOFFF/pair_buck6d_coul_gauss_dsf.cpp
  src/USER-MOFFF/pair_buck6d_coul_gauss_long.cpp
  src/USER-OMP/fix_omp.cpp
  src/USER-OMP/thr_omp.h
  src/compute_chunk_atom.cpp
  src/compute_dihedral_local.h
  src/create_bonds.cpp
  src/displace_atoms.cpp
  src/dump_image.cpp
  src/fix_deform.cpp
  src/fix_move.cpp
  src/input.cpp
  src/read_data.cpp
  src/read_restart.cpp
  src/set.cpp
  src/variable.cpp
  src/velocity.cpp
  src/write_dump.cpp
Labels: bugfix, documentation, github

#1210 Update Colvars library to version 2018-11-16
  doc/src/PDF/colvars-refman-lammps.pdf
  lib/colvars/colvar.cpp
  lib/colvars/colvar.h
  lib/colvars/colvarbias.cpp
  lib/colvars/colvarbias.h
  lib/colvars/colvardeps.cpp
  lib/colvars/colvarmodule.cpp
  lib/colvars/colvarmodule.h
  lib/colvars/colvars_version.h
Labels: user_colvars_package

#1211 change warning to just a note
  doc/src/hyper.txt
Labels: documentation

#1212 Tweak to github-development-workflow.md
  doc/github-development-workflow.md
Labels: documentation

#1216 fix topology parsing
  tools/ch2lmp/charmm2lammps.pl
Labels: bugfix, tools

#1215 Bond/react doc corrections,mostly formatting
  doc/src/fix_bond_react.txt
Labels: documentation

#1217 More small changes and bug fixes for the next release
  doc/Makefile
  doc/github-development-workflow.md
  doc/src/balance.txt
  doc/src/comm_style.txt
  doc/src/fix_balance.txt
  doc/src/special_bonds.txt
  doc/utils/sphinx-config/conf.py
  examples/USER/awpmd/README
  examples/USER/awpmd/data.h_atom
  examples/USER/awpmd/data.h_molecule
  examples/USER/awpmd/in.h_atom
  examples/USER/awpmd/in.h_molecule
  lib/message/cslib/src/msg.cpp
  src/MAKE/MACHINES/Makefile.aarch64_arm_openmpi_armpl
  src/MAKE/MACHINES/Makefile.aarch64_arm_serial_armpl
  src/MAKE/MACHINES/Makefile.aarch64_g++_openmpi_armpl
  src/MAKE/MACHINES/Makefile.aarch64_g++_serial_armpl
  src/STUBS/mpi.c
  src/USER-INTEL/TEST/in.intel.water
  src/USER-MISC/pair_ilp_graphene_hbn.cpp
  src/USER-MISC/pair_kolmogorov_crespi_full.cpp
  src/USER-MISC/pair_kolmogorov_crespi_z.cpp
  src/USER-MISC/pair_kolmogorov_crespi_z.h
  src/USER-MISC/pair_lj_mdf.cpp
  src/USER-MISC/pair_srp.cpp
  src/USER-MOFFF/pair_buck6d_coul_gauss_dsf.cpp
  src/USER-MOFFF/pair_buck6d_coul_gauss_long.cpp
  src/USER-OMP/pair_reaxc_omp.cpp
  src/USER-OMP/reaxc_bond_orders_omp.cpp
  src/USER-OMP/reaxc_bonds_omp.cpp
  src/USER-OMP/reaxc_forces_omp.cpp
  src/USER-OMP/reaxc_hydrogen_bonds_omp.cpp
  src/USER-OMP/reaxc_init_md_omp.cpp
  src/USER-OMP/reaxc_multi_body_omp.cpp
  src/USER-OMP/reaxc_nonbonded_omp.cpp
  src/USER-OMP/reaxc_valence_angles_omp.cpp
  src/USER-PTM/ptm_canonical_coloured.cpp
  src/USER-PTM/ptm_convex_hull_incremental.cpp
  src/USER-PTM/ptm_graph_tools.cpp
  src/USER-PTM/ptm_index.cpp
  src/USER-PTM/ptm_initialize_data.cpp
  src/USER-PTM/ptm_polar.cpp
  src/USER-PTM/ptm_quat.cpp
  src/USER-PTM/ptm_structure_matcher.cpp
  src/USER-REAXC/reaxc_io_tools.cpp
  src/USER-REAXC/reaxc_tool_box.cpp
  src/USER-REAXC/reaxc_traj.cpp
Labels: communication_feature, documentation, user_omp_package

#1225 Last minute fixes
  doc/src/Developer/.gitignore
  lib/gpu/Makefile.linux
  lib/gpu/Nvidia.makefile
  lib/scafacos/.gitignore
  src/write_coeff.cpp
Labels: bugfix, build_system

#1226 Enhancements for using CMake with the GPU package
  cmake/CMakeLists.txt
  cmake/README.md
  doc/src/Build_cmake.txt
  doc/src/Build_extras.txt
  lib/gpu/lal_device.cu
Labels: bugfix, cmake, documentation, gpu_package

#1223 Patch release 27 November 2018
  doc/src/Manual.txt
  src/version.h
Labels: documentation

#1228 Fix lib/plumed/Install.py
  lib/plumed/Install.py
Labels: bugfix, build_system

#1229 fix plumed memory leak
  src/USER-PLUMED/fix_plumed.cpp
Labels: bugfix

#1232 Collected small fixes for the stable release
  doc/src/Errors_messages.txt
  doc/src/atom_modify.txt
  doc/utils/sphinx-config/false_positives.txt
  lib/poems/POEMSChain.h
  lib/poems/SystemProcessor.h
  lib/poems/poemstree.h
  src/MC/fix_gcmc.cpp
  src/USER-H5MD/dump_h5md.cpp
  src/USER-OMP/fix_nphug_omp.cpp
  src/USER-OMP/fix_nphug_omp.h
  src/atom.cpp
  src/atom.h
  src/universe.cpp
  src/variable.cpp
  src/variable.h
Labels: bugfix, documentation, mc_package, rigid_package

#1234 bug-fix for miscounting atoms for read_dump add keep
  src/read_dump.cpp
Labels: bugfix, dump_feature, full-regression-test, test-for-regression

#1237 Make compute stress/mop and stress/mop/profile compatible with per-atom masses
  src/USER-MISC/compute_stress_mop.cpp
  src/USER-MISC/compute_stress_mop_profile.cpp
  src/compute_adf.h
  src/compute_reduce_chunk.h
Labels: bugfix, user_misc_package
