Repository lammps/lammps, pull requests merged in 2018-07, with the labels that each got.

#991 Collected small updates for the next patch release
  doc/src/angle_dipole.txt
  doc/src/fix_langevin_spin.txt
  doc/src/fix_nve_spin.txt
  doc/src/pair_spin_dmi.txt
  doc/src/pair_spin_exchange.txt
  doc/src/pair_spin_magelec.txt
  doc/src/pair_spin_neel.txt
  doc/src/set.txt
  examples/SPIN/README
  lib/gpu/Nvidia.makefile_multi
  src/SPIN/atom_vec_spin.cpp
  src/SPIN/compute_spin.cpp
  src/SPIN/fix_langevin_spin.cpp
  src/SPIN/fix_nve_spin.cpp
  src/SPIN/fix_precession_spin.cpp
  src/SPIN/pair_spin.cpp
  src/SPIN/pair_spin_dmi.cpp
  src/SPIN/pair_spin_exchange.cpp
  src/SPIN/pair_spin_magelec.cpp
  src/SPIN/pair_spin_neel.cpp
  src/reset_ids.cpp
Labels: bugfix, documentation, gpu_package

#993 better rRESPA doc page, also a new Makefile.theta
  doc/src/run_style.txt
  src/MAKE/MACHINES/Makefile.theta
Labels: build_system, documentation

#940 Port enforce2d kokkos
  doc/src/Section_commands.txt
  doc/src/fix_enforce2d.txt
  src/KOKKOS/Install.sh
  src/KOKKOS/fix_enforce2d_kokkos.cpp
  src/KOKKOS/fix_enforce2d_kokkos.h
  src/fix_enforce2d.cpp
  src/fix_enforce2d.h
Labels: enhancement, kokkos_package

#999 cmake/README.md: fix GPU_ARCH options
  cmake/README.md
Labels: bugfix, documentation

#1001 Fix rare crash in Kokkos ReaxFF on GPUs
  src/KOKKOS/pair_reaxc_kokkos.cpp
  src/KOKKOS/pair_reaxc_kokkos.h
Labels: bugfix, kokkos_package

#1002 Allow 'set' command to change atom velocities
  doc/src/set.txt
  python/lammps.py
  src/set.cpp
Labels: documentation, enhancement, python_module

#1003 include support for 'extra/XXX/per/atom' info in restart files
  src/read_restart.cpp
  src/write_restart.cpp
Labels: restart_feature

#1005 USER-DPD: propagate a minor performance bugfix throughout the DPDE code
  src/KOKKOS/fix_shardlow_kokkos.cpp
  src/KOKKOS/pair_dpd_fdt_energy_kokkos.cpp
  src/KOKKOS/pair_dpd_fdt_energy_kokkos.h
  src/USER-DPD/fix_shardlow.cpp
  src/USER-DPD/pair_dpd_fdt_energy.cpp
  src/USER-DPD/pair_dpd_fdt_energy.h
Labels: enhancement, user_dpd_package

#1008 OpenCL related fixes and improvements to the GPU package
  doc/src/package.txt
  lib/gpu/geryon/ocl_device.h
  lib/gpu/lal_device.cpp
  lib/gpu/lal_device.h
  src/GPU/gpu_extra.h
Labels: bugfix, documentation, gpu_package

#1014 Doc Reorganization - Tools Section
  doc/src/Manual.txt
  doc/src/Section_howto.txt
  doc/src/Section_intro.txt
  doc/src/Section_modify.txt
  doc/src/Section_perf.txt
  doc/src/Tools.txt
  doc/src/dump.txt
  doc/src/lammps.book
Labels: documentation, work_in_progress

#996 Fixes #995: Added tail correction to fix gcmc
  doc/src/fix_gcmc.txt
  src/MC/fix_gcmc.cpp
Labels: mc_package

#1009 Fixed bugs to the tersoff gpu styles for OpenCL builds and some maintenance
  lib/gpu/geryon/nvd_device.h
  lib/gpu/lal_atom.h
  lib/gpu/lal_device.cpp
  lib/gpu/lal_neighbor.cpp
  lib/gpu/lal_neighbor.h
  lib/gpu/lal_sw.cpp
  lib/gpu/lal_sw.cu
  lib/gpu/lal_tersoff.cpp
  lib/gpu/lal_tersoff.cu
  lib/gpu/lal_tersoff_mod.cpp
  lib/gpu/lal_tersoff_mod.cu
  lib/gpu/lal_tersoff_zbl.cpp
  lib/gpu/lal_tersoff_zbl.cu
  lib/gpu/lal_vashishta.cpp
  lib/gpu/lal_vashishta.cu
Labels: gpu_package

#1010 new checksum for LATTE download
  cmake/CMakeLists.txt
  lib/latte/Install.py
  src/Purge.list
Labels: build_system, cmake

#1015 Re-allow commands after an exception was caught inside a run.
  src/error.cpp
Labels: library_interface

#1016 doc changes for Examples and Modify sections
  doc/src/Examples.txt
  doc/src/Manual.txt
  doc/src/Modify.txt
  doc/src/Modify_atom.txt
  doc/src/Modify_body.txt
  doc/src/Modify_bond.txt
  doc/src/Modify_command.txt
  doc/src/Modify_compute.txt
  doc/src/Modify_contribute.txt
  doc/src/Modify_dump.txt
  doc/src/Modify_fix.txt
  doc/src/Modify_kspace.txt
  doc/src/Modify_min.txt
  doc/src/Modify_overview.txt
  doc/src/Modify_pair.txt
  doc/src/Modify_region.txt
  doc/src/Modify_thermo.txt
  doc/src/Modify_variable.txt
  doc/src/Section_commands.txt
  doc/src/Section_howto.txt
  doc/src/Section_intro.txt
  doc/src/Section_modify.txt
  doc/src/Section_packages.txt
  doc/src/Section_perf.txt
  doc/src/Section_python.txt
  doc/src/Tools.txt
  doc/src/atom_style.txt
  doc/src/body.txt
  doc/src/compute.txt
  doc/src/compute_chunk_atom.txt
  doc/src/compute_global_atom.txt
  doc/src/compute_reduce.txt
  doc/src/compute_slice.txt
  doc/src/dump.txt
  doc/src/dump_image.txt
  doc/src/fix.txt
  doc/src/fix_ave_atom.txt
  doc/src/fix_ave_chunk.txt
  doc/src/fix_ave_correlate.txt
  doc/src/fix_ave_histo.txt
  doc/src/fix_ave_time.txt
  doc/src/fix_controller.txt
  doc/src/fix_property_atom.txt
  doc/src/fix_vector.txt
  doc/src/lammps.book
  doc/src/run.txt
  doc/src/thermo_style.txt
  doc/src/tutorial_github.txt
Labels: documentation, work_in_progress

#1017 changes to Errors and Python doc pages
  doc/Makefile
  doc/src/Errors.txt
  doc/src/Errors_bugs.txt
  doc/src/Errors_common.txt
  doc/src/Errors_messages.txt
  doc/src/Errors_warnings.txt
  doc/src/Examples.txt
  doc/src/Manual.txt
  doc/src/Modify.txt
  doc/src/Python.txt
  doc/src/Python_call.txt
  doc/src/Python_examples.txt
  doc/src/Python_install.txt
  doc/src/Python_library.txt
  doc/src/Python_mpi.txt
  doc/src/Python_overview.txt
  doc/src/Python_pylammps.txt
  doc/src/Python_run.txt
  doc/src/Python_shlib.txt
  doc/src/Python_test.txt
  doc/src/Section_commands.txt
  doc/src/Section_history.txt
  doc/src/Section_howto.txt
  doc/src/Section_intro.txt
  doc/src/Section_packages.txt
  doc/src/Section_python.txt
  doc/src/Section_start.txt
  doc/src/Tools.txt
  doc/src/fix_external.txt
  doc/src/lammps.book
  doc/src/python.txt
  doc/src/read_dump.txt
  doc/src/read_restart.txt
  src/pair.cpp
Labels: documentation, work_in_progress

#1020 Coverity inspired fixes to BODY package
  src/BODY/fix_wall_body_polygon.cpp
  src/BODY/pair_body_rounded_polyhedron.cpp
Labels: body_package, bugfix

#1021 SPIN package fixes, especially for DMI
  .github/CODEOWNERS
  doc/src/Eqs/pair_spin_dmi_forces.jpg
  doc/src/Eqs/pair_spin_dmi_forces.tex
  doc/src/Eqs/pair_spin_dmi_interaction.jpg
  doc/src/Eqs/pair_spin_dmi_interaction.tex
  doc/src/Eqs/pair_spin_exchange_forces.jpg
  doc/src/Eqs/pair_spin_exchange_forces.tex
  doc/src/Eqs/pair_spin_exchange_interaction.jpg
  doc/src/Eqs/pair_spin_exchange_interaction.tex
  doc/src/pair_spin_dmi.txt
  doc/src/pair_spin_exchange.txt
  examples/SPIN/bfo/in.spin.bfo
  examples/SPIN/cobalt_hcp/in.spin.cobalt_hcp
  src/SPIN/atom_vec_spin.cpp
  src/SPIN/compute_spin.cpp
  src/SPIN/pair_spin_dmi.cpp
  src/SPIN/pair_spin_dmi.h
  src/SPIN/pair_spin_exchange.cpp
  src/SPIN/pair_spin_magelec.cpp
  src/SPIN/pair_spin_neel.cpp
  src/SPIN/pair_spin_neel.h
Labels: bugfix, spin_package

#1024 Resolve object dependency problems for CMake build system
  cmake/CMakeLists.txt
Labels: bugfix, cmake

#1022 emacs: Update mode file
  .github/CODEOWNERS
  tools/emacs/README.md
  tools/emacs/README.txt
  tools/emacs/lammps-mode.el
Labels: tools

#1023 docs: Fix spelling mistakes and clarify Tools.txt
  doc/src/Tools.txt
Labels: documentation, tools

#1027 Move pair style eam/cd from USER-MISC to MANYBODY
  cmake/CMakeLists.txt
  doc/src/Section_commands.txt
  doc/src/pair_eam.txt
  src/MANYBODY/pair_eam_cd.cpp
  src/MANYBODY/pair_eam_cd.h
  src/USER-MISC/Install.sh
  src/USER-MISC/README
  src/USER-MISC/pair_cdeam.cpp
Labels: build_system, cmake, manybody_package, user_misc_package
