Repository lammps/lammps, pull requests merged in 2018-03, with the labels that each got.

#815 Collected small cleanups, fixes, and enhancements
  doc/src/read_data.txt
  src/CLASS2/pair_lj_class2_coul_long.cpp
  src/USER-MISC/pair_edip_multi.cpp
  src/USER-OMP/pair_lj_long_tip4p_long_omp.cpp
  src/atom.cpp
  src/atom.h
  src/comm.cpp
  src/compute_chunk_atom.cpp
  src/fix_wall_harmonic.cpp
  src/fix_wall_lj1043.cpp
  src/fix_wall_lj126.cpp
  src/fix_wall_lj93.cpp
  src/fix_wall_reflect.cpp
  src/fix_wall_region.cpp
  src/library.cpp
  src/read_data.cpp
  src/read_data.h
Labels: bugfix, enhancement

#816 Collected fixes and updates to Colvars library
  doc/src/PDF/colvars-refman-lammps.pdf
  lib/colvars/colvar.cpp
  lib/colvars/colvar.h
  lib/colvars/colvar_UIestimator.h
  lib/colvars/colvaratoms.cpp
  lib/colvars/colvaratoms.h
  lib/colvars/colvarbias.cpp
  lib/colvars/colvarbias_abf.cpp
  lib/colvars/colvarbias_abf.h
  lib/colvars/colvarbias_alb.cpp
  lib/colvars/colvarbias_histogram.cpp
  lib/colvars/colvarbias_meta.cpp
  lib/colvars/colvarbias_restraint.cpp
  lib/colvars/colvarbias_restraint.h
  lib/colvars/colvarcomp.h
  lib/colvars/colvarcomp_distances.cpp
  lib/colvars/colvardeps.cpp
  lib/colvars/colvardeps.h
  lib/colvars/colvargrid.cpp
  lib/colvars/colvargrid.h
  lib/colvars/colvarmodule.cpp
  lib/colvars/colvarmodule.h
  lib/colvars/colvarparse.cpp
  lib/colvars/colvarproxy.cpp
  lib/colvars/colvarproxy.h
  lib/colvars/colvars_version.h
  lib/colvars/colvarscript.cpp
  src/USER-COLVARS/colvarproxy_lammps_version.h
Labels: bugfix, enhancement, user_colvars_package

#814 Workaround issue in pair_snap_kokkos
  src/KOKKOS/pair_snap_kokkos_impl.h
  src/SNAP/pair_snap.h
Labels: bugfix, kokkos_package

#819 Add make package-installed command
  doc/src/Section_start.txt
  src/Makefile
  src/Package.sh
Labels: build_system, enhancement

#728 Cluster/fragment/aggregate bugfixes
  src/compute_aggregate_atom.cpp
  src/compute_aggregate_atom.h
  src/compute_cluster_atom.cpp
  src/compute_fragment_atom.cpp
  src/compute_fragment_atom.h
  src/compute_hexorder_atom.cpp
Labels: bugfix

#829 add restartinfo=0 to manbody file it was missing from
  doc/src/pair_meam.txt
  src/MANYBODY/pair_airebo.cpp
  src/MANYBODY/pair_bop.cpp
  src/MANYBODY/pair_lcbop.cpp
  src/MANYBODY/pair_nb3b_harmonic.cpp
  src/MANYBODY/pair_polymorphic.cpp
  src/USER-MISC/pair_kolmogorov_crespi_z.cpp
  src/USER-MISC/pair_list.cpp
  src/USER-MISC/pair_tersoff_table.cpp
Labels: bugfix, manybody_package, user_misc_package

#830 More small fixes for stable release
  lib/colvars/Makefile.deps
  lib/reax/reax_charges.F
  src/KOKKOS/pair_reaxc_kokkos.cpp
  src/QEQ/fix_qeq_shielded.cpp
  src/REAX/pair_reax.cpp
  src/USER-REAXC/fix_qeq_reax.cpp
  src/USER-REAXC/reaxc_init_md.cpp
Labels: bugfix, kokkos_package, user_reaxc_package

#831 allow for mpi4py version 2 or 3 in Python wrapper
  python/examples/simple.py
  python/lammps.py
Labels: enhancement, python_module

#838 Tools/Matlab: Allow to read LAMMPS output fields
  tools/matlab/readdump_all.m
  tools/matlab/readdump_one.m
Labels: tools

#837 reaxff corrected bond order bugfix
  src/KOKKOS/pair_reaxc_kokkos.cpp
  src/USER-OMP/reaxc_bond_orders_omp.cpp
  src/USER-REAXC/reaxc_bond_orders.cpp
Labels: bugfix, user_omp_package, user_reaxc_package

#841 Fix compiler warnings
  src/KOKKOS/fix_qeq_reax_kokkos.cpp
  src/KOKKOS/pair_reaxc_kokkos.cpp
  src/KOKKOS/pair_reaxc_kokkos.h
  src/KOKKOS/pair_sw_kokkos.cpp
  src/KOKKOS/pair_sw_kokkos.h
  src/KOKKOS/pair_tersoff_kokkos.h
  src/KOKKOS/pair_tersoff_mod_kokkos.h
  src/KOKKOS/pair_tersoff_zbl_kokkos.h
  src/KOKKOS/pair_vashishta_kokkos.cpp
  src/KOKKOS/pair_vashishta_kokkos.h
  src/USER-DPD/random_external_state.h
  src/USER-REAXC/reaxc_allocate.cpp
  src/USER-REAXC/reaxc_forces.cpp
  src/USER-REAXC/reaxc_types.h
  src/accelerator_kokkos.h
  src/math_special.cpp
  src/pair_lj_cut_coul_wolf.cpp
Labels: bugfix, enhancement

#839 New registry dependent interlayer potential in LAMMPS
  doc/src/Eqs/pair_coul_shield.jpg
  doc/src/Eqs/pair_coul_shield.tex
  doc/src/Eqs/pair_ilp_graphene_hbn.jpg
  doc/src/Eqs/pair_ilp_graphene_hbn.tex
  doc/src/Eqs/pair_kolmogorov_crespi_full.jpg
  doc/src/Eqs/pair_kolmogorov_crespi_full.tex
  doc/src/Section_commands.txt
  doc/src/lammps.book
  doc/src/pair_coul_shield.txt
  doc/src/pair_ilp_graphene_hbn.txt
  doc/src/pair_kolmogorov_crespi_full.txt
  doc/src/pair_kolmogorov_crespi_z.txt
  doc/src/pairs.txt
  examples/USER/misc/ilp_graphene_hbn/BNC.tersoff
  examples/USER/misc/ilp_graphene_hbn/BNCH-old.ILP
  examples/USER/misc/ilp_graphene_hbn/bilayer-graphene/BNCH-old.ILP
  examples/USER/misc/ilp_graphene_hbn/bilayer-graphene/Bi_gr_AB_stack_2L_noH_300K.data
  examples/USER/misc/ilp_graphene_hbn/bilayer-graphene/CH.airebo
  examples/USER/misc/ilp_graphene_hbn/bilayer-graphene/in.bilayer-graphene
  examples/USER/misc/ilp_graphene_hbn/bilayer-graphene/log.16Mar18.bilayer-graphene.g++.1
  examples/USER/misc/ilp_graphene_hbn/bilayer-graphene/log.16Mar18.bilayer-graphene.g++.4
  examples/USER/misc/ilp_graphene_hbn/gr-hBN/BNC.tersoff
  examples/USER/misc/ilp_graphene_hbn/gr-hBN/BNCH-old.ILP
  examples/USER/misc/ilp_graphene_hbn/gr-hBN/CH.airebo
  examples/USER/misc/ilp_graphene_hbn/gr-hBN/gr_hBN_Cstack_2L_noH.data
  examples/USER/misc/ilp_graphene_hbn/gr-hBN/in.grhBN
  examples/USER/misc/ilp_graphene_hbn/gr-hBN/log.16Mar18.grhBN.g++.1
  examples/USER/misc/ilp_graphene_hbn/gr-hBN/log.16Mar18.grhBN.g++.4
  examples/USER/misc/ilp_graphene_hbn/hBN_AB_stack_2L_noH_equi_300K.data
  examples/USER/misc/ilp_graphene_hbn/in.ilp_graphene_hbn
  examples/USER/misc/ilp_graphene_hbn/log.16Mar18.ilp_gr_hBN.g++.1
  examples/USER/misc/ilp_graphene_hbn/log.16Mar18.ilp_gr_hBN.g++.4
  examples/USER/misc/kolmogorov_crespi_full/Bi_gr_AB_stack_2L_noH_300K.data
  examples/USER/misc/kolmogorov_crespi_full/CC.KC-full
  examples/USER/misc/kolmogorov_crespi_full/in.bilayer-graphene
  examples/USER/misc/kolmogorov_crespi_full/log.16Mar18.bilayer-graphene.g++.1
  examples/USER/misc/kolmogorov_crespi_full/log.16Mar18.bilayer-graphene.g++.4
  examples/USER/misc/kolmogorov_crespi_z/CC.KC
  examples/USER/misc/kolmogorov_crespi_z/CH.airebo
  examples/USER/misc/kolmogorov_crespi_z/data.bilayer-graphene
  examples/USER/misc/kolmogorov_crespi_z/data.graphene-adsorbant
  examples/USER/misc/kolmogorov_crespi_z/in.atom-diffusion
  examples/USER/misc/kolmogorov_crespi_z/in.bilayer-graphene
  examples/USER/misc/kolmogorov_crespi_z/log.16Mar18.atom-diffusion.g++.1
  examples/USER/misc/kolmogorov_crespi_z/log.16Mar18.atom-diffusion.g++.4
  examples/USER/misc/kolmogorov_crespi_z/log.16Mar18.bilayer-graphene.g++.1
  examples/USER/misc/kolmogorov_crespi_z/log.16Mar18.bilayer-graphene.g++.4
  potentials/BNCH-old.ILP
  potentials/CC.KC-full
  src/.gitignore
  src/USER-MISC/pair_coul_shield.cpp
  src/USER-MISC/pair_coul_shield.h
  src/USER-MISC/pair_ilp_graphene_hbn.cpp
  src/USER-MISC/pair_ilp_graphene_hbn.h
  src/USER-MISC/pair_kolmogorov_crespi_full.cpp
  src/USER-MISC/pair_kolmogorov_crespi_full.h
Labels: enhancement, user_misc_package

#842 MEAM/C Improvements/fixes
  src/USER-MEAMC/meam.h
  src/USER-MEAMC/meam_dens_final.cpp
  src/USER-MEAMC/meam_force.cpp
  src/USER-MEAMC/meam_funcs.cpp
  src/USER-MEAMC/meam_setup_done.cpp
Labels: enhancement

#846 Refactor PDF Manual Structure
  doc/Makefile
  doc/src/Manual.txt
  doc/src/Section_accelerate.txt
  doc/src/Section_commands.txt
  doc/src/Section_errors.txt
  doc/src/Section_example.txt
  doc/src/Section_history.txt
  doc/src/Section_howto.txt
  doc/src/Section_intro.txt
  doc/src/Section_modify.txt
  doc/src/Section_packages.txt
  doc/src/Section_perf.txt
  doc/src/Section_python.txt
  doc/src/Section_start.txt
  doc/src/Section_tools.txt
  doc/src/body.txt
  doc/src/lammps.book
  doc/src/lammps_commands.txt
  doc/src/lammps_commands_angle.txt
  doc/src/lammps_commands_atc.txt
  doc/src/lammps_commands_bond.txt
  doc/src/lammps_commands_compute.txt
  doc/src/lammps_commands_dihedral.txt
  doc/src/lammps_commands_fix.txt
  doc/src/lammps_commands_improper.txt
  doc/src/lammps_commands_kspace.txt
  doc/src/lammps_commands_pair.txt
  doc/src/lammps_support.txt
  doc/src/manifolds.txt
Labels: documentation

#849 Remove deprecated Kokkos code
  src/KOKKOS/angle_charmm_kokkos.cpp
  src/KOKKOS/atom_kokkos.cpp
  src/KOKKOS/atom_kokkos.h
  src/KOKKOS/atom_vec_angle_kokkos.cpp
  src/KOKKOS/atom_vec_atomic_kokkos.cpp
  src/KOKKOS/atom_vec_bond_kokkos.cpp
  src/KOKKOS/atom_vec_charge_kokkos.cpp
  src/KOKKOS/atom_vec_dpd_kokkos.cpp
  src/KOKKOS/atom_vec_full_kokkos.cpp
  src/KOKKOS/atom_vec_kokkos.cpp
  src/KOKKOS/atom_vec_kokkos.h
  src/KOKKOS/atom_vec_molecular_kokkos.cpp
  src/KOKKOS/bond_class2_kokkos.cpp
  src/KOKKOS/bond_harmonic_kokkos.cpp
  src/KOKKOS/comm_kokkos.cpp
  src/KOKKOS/dihedral_charmm_kokkos.cpp
  src/KOKKOS/fix_eos_table_rx_kokkos.cpp
  src/KOKKOS/fix_property_atom_kokkos.cpp
  src/KOKKOS/fix_rx_kokkos.cpp
  src/KOKKOS/fix_shardlow_kokkos.cpp
  src/KOKKOS/gridcomm_kokkos.cpp
  src/KOKKOS/improper_class2_kokkos.cpp
  src/KOKKOS/improper_harmonic_kokkos.cpp
  src/KOKKOS/kokkos_type.h
  src/KOKKOS/memory_kokkos.h
  src/KOKKOS/nbin_kokkos.cpp
  src/KOKKOS/nbin_ssa_kokkos.cpp
  src/KOKKOS/neighbor_kokkos.cpp
  src/KOKKOS/npair_kokkos.cpp
  src/KOKKOS/npair_ssa_kokkos.cpp
  src/KOKKOS/pair_exp6_rx_kokkos.cpp
  src/KOKKOS/pair_multi_lucy_rx_kokkos.cpp
  src/KOKKOS/pair_sw_kokkos.cpp
  src/KOKKOS/pair_table_kokkos.cpp
  src/KOKKOS/pair_table_rx_kokkos.cpp
  src/KOKKOS/pair_tersoff_kokkos.cpp
  src/KOKKOS/pair_tersoff_mod_kokkos.cpp
  src/KOKKOS/pair_tersoff_zbl_kokkos.cpp
  src/KOKKOS/pair_vashishta_kokkos.cpp
  src/KOKKOS/verlet_kokkos.cpp
Labels: enhancement, kokkos_package

#845 More consistent and transparent handling for force styles with restarts
  src/force.cpp
  src/force.h
  src/pair.cpp
  src/pair.h
  src/read_restart.cpp
  src/write_restart.cpp
Labels: enhancement, restart_feature

#850 a few new lib interface methods
  doc/src/Section_howto.txt
  doc/src/Section_python.txt
  python/examples/simple.py
  python/lammps.py
  src/library.cpp
  src/library.h
Labels: enhancement, library_interface

#854 new option *add keep* added to read_dump
  doc/src/read_dump.txt
  src/read_dump.cpp
Labels: dump_feature, enhancement

#852 Collected small bugfixes and cleanups
  src/balance.cpp
Labels: bugfix, communication_feature

#856 Bugfix for SRP with triclinic cells
  src/REPLICA/data.peptide
  src/REPLICA/in.temper_npt
  src/USER-MISC/fix_srp.cpp
Labels: bugfix, user_misc_package

#855 new dump_modify refresh and compute displace/atom refresh commands fo…
  doc/src/compute_displace_atom.txt
  doc/src/dump.txt
  doc/src/dump_modify.txt
  src/compute.h
  src/compute_displace_atom.cpp
  src/compute_displace_atom.h
  src/dump.cpp
  src/dump.h
  src/dump_custom.cpp
Labels: dump_feature, enhancement

#857 new reset_ids command and dump_modify delay option
  doc/src/Section_commands.txt
  doc/src/commands.txt
  doc/src/compute_displace_atom.txt
  doc/src/create_atoms.txt
  doc/src/delete_atoms.txt
  doc/src/dump.txt
  doc/src/dump_modify.txt
  doc/src/lammps.book
  doc/src/reset_ids.txt
  src/atom.h
  src/delete_atoms.cpp
  src/dump.cpp
  src/dump.h
  src/read_dump.cpp
  src/reset_ids.cpp
  src/reset_ids.h
Labels: dump_feature, enhancement

#860 alphabetize correction in docs
  doc/src/Section_commands.txt
Labels: documentation
