Repository lammps/lammps, pull requests merged in 2018-04, with the labels that each got.

#863 KIM API interface update
  cmake/CMakeLists.txt
  lib/kim/Install.py
  lib/kim/README
  lib/kim/pair-kim.release.info
  src/KIM/pair_kim.cpp
  src/KIM/pair_kim_version.h
  src/Purge.list
Labels: enhancement, kim_package

#868 cmake: update latte to v1.1.1
  cmake/CMakeLists.txt
  lib/latte/Install.py
Labels: build_system

#870 add info to compute heat/flux doc page and a small update to the developer's guide
  doc/src/Developer/developer.tex
  doc/src/compute_heat_flux.txt
Labels: documentation

#824 Write_data nofix option
  doc/src/write_data.txt
  src/write_data.cpp
  src/write_data.h
Labels: enhancement

#872 Bugfix for fix ave/correlate/long
  src/USER-MISC/fix_ave_correlate_long.cpp
  src/USER-MISC/fix_ave_correlate_long.h
Labels: bugfix, user_misc_package

#867 Tweaks to KOKKOS package
  src/KOKKOS/pair_reaxc_kokkos.cpp
  src/KOKKOS/pair_reaxc_kokkos.h
  src/MAKE/OPTIONS/Makefile.kokkos_cuda_mpi
Labels: enhancement, kokkos_package
