Repository lammps/lammps, pull requests merged in 2019-04, with the labels that each got.

#1400 Refactor USER-INTEL support in CMake and support Linux-2-Windows cross-compiling with CMake
  cmake/CMakeLists.txt
  cmake/Modules/StyleHeaderUtils.cmake
  cmake/README.md
  cmake/presets/all_off.cmake
  cmake/presets/all_on.cmake
  cmake/presets/manual_selection.cmake
  cmake/presets/mingw-cross.cmake
  cmake/presets/minimal.cmake
  cmake/presets/most.cmake
  cmake/presets/nolib.cmake
  cmake/presets/std.cmake
  cmake/presets/std_nolib.cmake
  cmake/presets/user.cmake
  doc/src/Build_cmake.txt
  doc/src/Build_extras.txt
  doc/src/Build_package.txt
  doc/src/Build_settings.txt
  doc/src/Build_windows.txt
  doc/src/Commands_pair.txt
  doc/src/Howto_library.txt
  doc/src/Speed_intel.txt
  doc/src/kim_query.txt
  doc/src/pair_granular.txt
  doc/src/velocity.txt
  src/GRANULAR/pair_granular.cpp
  src/KOKKOS/pair_exp6_rx_kokkos.cpp
  src/STUBS/mpi.c
  src/USER-PTM/ptm_polar.cpp
  src/library.cpp
  src/lmpwindows.h
  src/memory.cpp
  src/my_page.h
Labels: bugfix, build_system, cmake, maintenance

#1367 Removing calls to MPI_Abort from reax/c + a fix for a memory leak
  src/KOKKOS/pair_reaxc_kokkos.cpp
  src/USER-OMP/pair_reaxc_omp.cpp
  src/USER-OMP/reaxc_forces_omp.cpp
  src/USER-OMP/reaxc_init_md_omp.cpp
  src/USER-OMP/reaxc_valence_angles_omp.cpp
  src/USER-REAXC/pair_reaxc.cpp
  src/USER-REAXC/reaxc_allocate.cpp
  src/USER-REAXC/reaxc_allocate.h
  src/USER-REAXC/reaxc_control.cpp
  src/USER-REAXC/reaxc_ffield.cpp
  src/USER-REAXC/reaxc_forces.cpp
  src/USER-REAXC/reaxc_forces.h
  src/USER-REAXC/reaxc_init_md.cpp
  src/USER-REAXC/reaxc_init_md.h
  src/USER-REAXC/reaxc_list.cpp
  src/USER-REAXC/reaxc_list.h
  src/USER-REAXC/reaxc_lookup.cpp
  src/USER-REAXC/reaxc_lookup.h
  src/USER-REAXC/reaxc_reset_tools.cpp
  src/USER-REAXC/reaxc_reset_tools.h
  src/USER-REAXC/reaxc_tool_box.cpp
  src/USER-REAXC/reaxc_tool_box.h
  src/USER-REAXC/reaxc_traj.cpp
  src/USER-REAXC/reaxc_types.h
  src/USER-REAXC/reaxc_valence_angles.cpp
Labels: bugfix, enhancement, user_reaxc_package

#1406 Fix some 64 bit integer issues
  src/USER-MISC/fix_pimd.cpp
  src/USER-MISC/fix_pimd.h
  src/hashlittle.cpp
  src/irregular.cpp
  src/special.cpp
Labels: bugfix, maintenance

#1404 Fix bug reported in Issue #1401
  src/BODY/compute_body_local.cpp
  src/RIGID/compute_rigid_local.cpp
  src/compute_improper_local.cpp
  src/compute_pair_local.cpp
Labels: bugfix, compute_feature

#1399 Add fix electron/stopping to USER-MISC
  doc/src/Commands_fix.txt
  doc/src/fix.txt
  doc/src/fix_electron_stopping.txt
  doc/src/fixes.txt
  doc/src/lammps.book
  doc/utils/sphinx-config/false_positives.txt
  examples/USER/misc/electron_stopping/Si.Si.elstop
  examples/USER/misc/electron_stopping/Si.sw
  examples/USER/misc/electron_stopping/in.elstop
  examples/USER/misc/electron_stopping/in.elstop.only
  examples/USER/misc/electron_stopping/log.20Mar19.elstop.g++.1
  examples/USER/misc/electron_stopping/log.20Mar19.elstop.g++.4
  examples/USER/misc/electron_stopping/log.20Mar19.elstop.only.g++.1
  examples/USER/misc/electron_stopping/log.20Mar19.elstop.only.g++.4
  src/USER-MISC/README
  src/USER-MISC/fix_electron_stopping.cpp
  src/USER-MISC/fix_electron_stopping.h
Labels: enhancement, user_misc_package

#1409 Collected small changes and bugfixes for the next patch release
  cmake/CMakeLists.txt
  doc/src/Howto.txt
  doc/src/Howto_bioFF.txt
  doc/src/Howto_tip3p.txt
  doc/utils/sphinx-config/false_positives.txt
  lib/plumed/Install.py
  src/KIM/pair_kim.cpp
  src/KSPACE/fix_tune_kspace.cpp
  src/MC/fix_bond_break.cpp
  src/REPLICA/fix_hyper_global.cpp
  src/REPLICA/fix_hyper_local.cpp
  src/REPLICA/hyper.cpp
  src/USER-COLVARS/fix_colvars.cpp
  src/USER-MANIFOLD/fix_nve_manifold_rattle.cpp
  src/USER-OMP/pair_reaxc_omp.cpp
  src/USER-REAXC/fix_reaxc.cpp
  src/USER-REAXC/pair_reaxc.cpp
  src/USER-REAXC/reaxc_ffield.cpp
  src/USER-REAXC/reaxc_init_md.cpp
  src/USER-REAXC/reaxc_io_tools.cpp
  src/USER-REAXC/reaxc_reset_tools.cpp
  src/USER-REAXC/reaxc_traj.h
  src/USER-REAXC/reaxc_types.h
  src/USER-SMD/pair_smd_tlsph.cpp
  src/hashlittle.cpp
  src/info.cpp
  src/respa.cpp
  src/variable.cpp
  src/velocity.cpp
Labels: bugfix, build_system, cmake, documentation, kim_package, maintenance

#1415 Fix bug in fix_nh_kokkos
  src/KOKKOS/fix_nh_kokkos.cpp
Labels: bugfix, kokkos_package

#1414 fix two bugs in potential #839
  doc/src/pair_ilp_graphene_hbn.txt
  doc/src/pair_kolmogorov_crespi_full.txt
  src/USER-MISC/pair_ilp_graphene_hbn.cpp
  src/USER-MISC/pair_kolmogorov_crespi_full.cpp
Labels: bugfix, maintenance, user_misc_package

#1416 More collected small changes and bug fixes for next patch release
  cmake/CMakeLists.txt
  cmake/Modules/FindKIM-API.cmake
  cmake/etc/profile.d/lammps.csh.in
  cmake/etc/profile.d/lammps.sh.in
  cmake/presets/clang.cmake
  doc/lammps.1
  doc/msi2lmp.1
  doc/src/Build_package.txt
  doc/src/Run_options.txt
  doc/src/pair_meamc.txt
  doc/utils/sphinx-config/false_positives.txt
  src/KIM/kim_query.cpp
  src/KIM/kim_query.h
  src/KIM/pair_kim.cpp
  src/KIM/pair_kim.h
  src/RIGID/fix_shake.cpp
  src/USER-MEAMC/pair_meamc.cpp
  src/USER-OMP/pair_reaxc_omp.cpp
  src/USER-OMP/reaxc_forces_omp.cpp
  src/USER-OMP/reaxc_nonbonded_omp.cpp
  src/USER-REAXC/pair_reaxc.cpp
  src/USER-REAXC/reaxc_init_md.cpp
  src/USER-REAXC/reaxc_io_tools.cpp
  src/USER-REAXC/reaxc_traj.cpp
  src/VORONOI/compute_voronoi_atom.cpp
  src/error.cpp
  src/group.cpp
  src/memory.h
  tools/msi2lmp/README
Labels: bugfix, cmake, kim_package, maintenance

#1424 Adding a fix setforce/spin to the SPIN package
  doc/src/Howto_spins.txt
  doc/src/fix_langevin_spin.txt
  doc/src/fix_nve_spin.txt
  doc/src/fix_setforce.txt
  doc/src/pair_spin_dmi.txt
  doc/src/pair_spin_exchange.txt
  doc/src/pair_spin_magelec.txt
  doc/src/pair_spin_neel.txt
  examples/SPIN/setforce_spin/in.spinmin.setforce
  src/SPIN/fix_nve_spin.cpp
  src/SPIN/fix_nve_spin.h
  src/SPIN/fix_setforce_spin.cpp
  src/SPIN/fix_setforce_spin.h
Labels: enhancement, spin_package, update

#1431 flushing buffer to see more messages for error->one calls
  src/error.cpp
Labels: enhancement

#1427 Fix typo [skip ci]
  cmake/README.md
Labels: cmake, documentation

#1421 Adding a GNEB implementation in the SPIN package
  doc/src/Commands_all.txt
  doc/src/Commands_category.txt
  doc/src/Commands_fix.txt
  doc/src/Eqs/neb_spin_angle.jpg
  doc/src/Eqs/neb_spin_angle.tex
  doc/src/Eqs/neb_spin_k.jpg
  doc/src/Eqs/neb_spin_k.tex
  doc/src/Eqs/neb_spin_rodrigues_formula.jpg
  doc/src/Eqs/neb_spin_rodrigues_formula.tex
  doc/src/Howto_replica.txt
  doc/src/Packages_details.txt
  doc/src/commands_list.txt
  doc/src/fix_neb.txt
  doc/src/fix_neb_spin.txt
  doc/src/fix_precession_spin.txt
  doc/src/fixes.txt
  doc/src/lammps.book
  doc/src/neb_spin.txt
  doc/utils/sphinx-config/false_positives.txt
  examples/SPIN/gneb/README
  examples/SPIN/gneb/iron/final.iron_spin
  examples/SPIN/gneb/iron/in.gneb.iron
  examples/SPIN/gneb/iron/initial.iron_spin
  examples/SPIN/gneb/skyrmion/final.skyrmion
  examples/SPIN/gneb/skyrmion/in.gneb.skyrmion
  examples/SPIN/gneb/skyrmion/initial.skyrmion
  examples/SPIN/read_restart/in.spin.read_data
  src/SPIN/README
  src/SPIN/atom_vec_spin.cpp
  src/SPIN/fix_neb_spin.cpp
  src/SPIN/fix_neb_spin.h
  src/SPIN/fix_nve_spin.h
  src/SPIN/min_spin.h
  src/SPIN/neb_spin.cpp
  src/SPIN/neb_spin.h
  src/SPIN/pair_spin_dmi.cpp
  src/SPIN/pair_spin_exchange.cpp
  src/SPIN/pair_spin_magelec.cpp
  src/SPIN/pair_spin_neel.cpp
  tools/spin/interpolate_gneb/README
  tools/spin/interpolate_gneb/interpolate.c
  tools/spin/interpolate_gneb/neb_init.dat
Labels: enhancement, spin_package, update

#1420 Updates and bugfixes to GRANULAR package
  doc/src/fix_wall_gran.txt
  doc/src/fix_wall_gran_region.txt
  doc/src/pair_granular.txt
  examples/granular/in.pour.drum
  examples/granular/in.pour.flatwall
  examples/granular/log.29Mar19.pour.drum.g++.1
  examples/granular/log.29Mar19.pour.drum.g++.4
  examples/granular/log.29Mar19.pour.flatwall.g++.1
  examples/granular/log.29Mar19.pour.flatwall.g++.4
  src/GRANULAR/fix_wall_gran.cpp
  src/GRANULAR/fix_wall_gran_region.cpp
  src/GRANULAR/pair_granular.cpp
Labels: bugfix, update

#1435 Collected small changes for next patch release
  src/.gitignore
  src/KSPACE/pair_lj_charmmfsw_coul_long.cpp
  src/MOLECULE/angle_table.cpp
  src/PYTHON/Install.sh
Labels: bugfix, build_system, maintenance

#1436 GPU package bugfixes
  cmake/CMakeLists.txt
  lib/gpu/lal_dpd.cu
  lib/gpu/lal_lj_cubic.cu
Labels: bugfix, cmake, gpu_package

#1434 Reaxc multi instance fix
  src/KOKKOS/pair_reaxc_kokkos.cpp
  src/USER-OMP/pair_reaxc_omp.cpp
  src/USER-OMP/reaxc_nonbonded_omp.cpp
  src/USER-REAXC/pair_reaxc.cpp
  src/USER-REAXC/pair_reaxc.h
  src/USER-REAXC/reaxc_lookup.cpp
  src/USER-REAXC/reaxc_nonbonded.cpp
  src/USER-REAXC/reaxc_types.h
Labels: bugfix, user_reaxc_package

#1437 Fix GenerateOpenCLHeader CMake utilitiy to avoid uncompilable CL code
  cmake/Modules/OpenCLUtils.cmake
Labels: bugfix, gpu_package

#1423 Step version string for next patch release
  doc/lammps.1
  doc/src/Manual.txt
  src/version.h
Labels: maintenance
