Repository lammps/lammps, pull requests merged in 2019-05, with the labels that each got.

#1444 CMake update for verlet/lrt/intel
  cmake/CMakeLists.txt
Labels: bugfix, cmake, user_intel_package

#1447 Homogenised label of relative hbond and stk strength to conform with oxDNA literature
  src/USER-CGDNA/pair_oxdna2_coaxstk.cpp
  src/USER-CGDNA/pair_oxdna2_dh.cpp
  src/USER-CGDNA/pair_oxdna_coaxstk.cpp
  src/USER-CGDNA/pair_oxdna_hbond.cpp
  src/USER-CGDNA/pair_oxdna_stk.cpp
  src/USER-CGDNA/pair_oxdna_xstk.cpp
Labels: maintenance

#1438 Update Colvars library to version 2019-04-26
  doc/src/PDF/colvars-refman-lammps.pdf
  doc/src/fix_colvars.txt
  lib/colvars/colvar.cpp
  lib/colvars/colvar.h
  lib/colvars/colvar_UIestimator.h
  lib/colvars/colvaratoms.cpp
  lib/colvars/colvaratoms.h
  lib/colvars/colvarbias.cpp
  lib/colvars/colvarbias.h
  lib/colvars/colvarbias_abf.cpp
  lib/colvars/colvarbias_abf.h
  lib/colvars/colvarbias_histogram.h
  lib/colvars/colvarbias_meta.cpp
  lib/colvars/colvarbias_meta.h
  lib/colvars/colvarbias_restraint.cpp
  lib/colvars/colvarbias_restraint.h
  lib/colvars/colvarcomp.cpp
  lib/colvars/colvarcomp.h
  lib/colvars/colvarcomp_angles.cpp
  lib/colvars/colvarcomp_coordnums.cpp
  lib/colvars/colvarcomp_distances.cpp
  lib/colvars/colvarcomp_protein.cpp
  lib/colvars/colvarcomp_rotations.cpp
  lib/colvars/colvardeps.cpp
  lib/colvars/colvardeps.h
  lib/colvars/colvargrid.cpp
  lib/colvars/colvargrid.h
  lib/colvars/colvarmodule.cpp
  lib/colvars/colvarmodule.h
  lib/colvars/colvarparse.cpp
  lib/colvars/colvarparse.h
  lib/colvars/colvarproxy.cpp
  lib/colvars/colvarproxy.h
  lib/colvars/colvars_version.h
  lib/colvars/colvarscript.cpp
  lib/colvars/colvarscript.h
  lib/colvars/colvartypes.cpp
  lib/colvars/colvartypes.h
  lib/colvars/colvarvalue.cpp
  lib/colvars/colvarvalue.h
  src/USER-COLVARS/colvarproxy_lammps.cpp
  src/USER-COLVARS/colvarproxy_lammps.h
  src/USER-COLVARS/colvarproxy_lammps_version.h
  src/USER-COLVARS/fix_colvars.cpp
  src/USER-COLVARS/fix_colvars.h
Labels: bugfix, user_colvars_package

#1364 Change defaults for KOKKOS package
  doc/src/Build_extras.txt
  doc/src/Speed_kokkos.txt
  doc/src/package.txt
  src/KOKKOS/kokkos.cpp
  src/KOKKOS/kokkos.h
  src/KOKKOS/neighbor_kokkos.cpp
  src/KOKKOS/neighbor_kokkos.h
  src/neighbor.cpp
  src/neighbor.h
Labels: enhancement, kokkos_package

#1449 Support using a variable instead of a constant interval for fix print
  doc/src/fix_print.txt
  src/fix_print.cpp
  src/fix_print.h
Labels: enhancement

#1448 Collected small changes and bugfixes
  doc/src/Eqs/pair_mdf-6.jpg
  doc/src/Eqs/pair_mdf-6.tex
  doc/src/pair_mdf.txt
  doc/src/write_coeff.txt
  src/SPIN/fix_nve_spin.cpp
  src/SPIN/fix_setforce_spin.cpp
  src/USER-MISC/pair_buck_mdf.cpp
  src/USER-MISC/pair_lennard_mdf.cpp
  src/USER-MISC/pair_lj_mdf.cpp
  src/USER-MISC/pair_lj_mdf.h
  src/domain.cpp
  src/output.cpp
Labels: bugfix, documentation, user_misc_package

#1452 Resubmission of REBO bugfix for easier review
  doc/src/pair_airebo.txt
  examples/USER/misc/kolmogorov_crespi_z/CH.airebo
  examples/USER/misc/kolmogorov_crespi_z/CH.rebo
  examples/USER/misc/kolmogorov_crespi_z/in.bilayer-graphene
  examples/USER/misc/kolmogorov_crespi_z/log.16Mar18.bilayer-graphene.g++.1
  examples/USER/misc/kolmogorov_crespi_z/log.16Mar18.bilayer-graphene.g++.4
  examples/USER/misc/kolmogorov_crespi_z/log.30Apr19.bilayer-graphene.g++.1
  examples/USER/misc/kolmogorov_crespi_z/log.30Apr19.bilayer-graphene.g++.4
  examples/airebo/CH.rebo
  examples/airebo/in.airebo-0-0
  examples/airebo/in.rebo2
  examples/airebo/log.30Apr2019.airebo-0-0.g++.1
  examples/airebo/log.30Apr2019.airebo-0-0.g++.4
  examples/airebo/log.30Apr2019.airebo-m.g++.1
  examples/airebo/log.30Apr2019.airebo-m.g++.4
  examples/airebo/log.30Apr2019.airebo.g++.1
  examples/airebo/log.30Apr2019.airebo.g++.4
  examples/airebo/log.30Apr2019.rebo2.g++.1
  examples/airebo/log.30Apr2019.rebo2.g++.4
  potentials/CH.rebo
  src/MANYBODY/pair_airebo.cpp
  src/MANYBODY/pair_airebo.h
  src/MANYBODY/pair_airebo_morse.cpp
  src/MANYBODY/pair_rebo.cpp
  src/MANYBODY/pair_rebo.h
  src/USER-INTEL/pair_airebo_intel.h
  src/USER-INTEL/pair_airebo_morse_intel.cpp
  src/USER-INTEL/pair_rebo_intel.cpp
  src/USER-OMP/pair_airebo_morse_omp.cpp
  src/USER-OMP/pair_rebo_omp.cpp
  src/USER-OMP/pair_rebo_omp.h
Labels: bugfix, enhancement, manybody_package

#1455 mis-labeling of some rigid fixes
  doc/src/fix.txt
Labels: documentation

#1453 Pair drip
  doc/src/Commands_pair.txt
  doc/src/Eqs/pair_drip.jpg
  doc/src/Eqs/pair_drip.tex
  doc/src/lammps.book
  doc/src/pair_drip.txt
  doc/src/pair_ilp_graphene_hbn.txt
  doc/src/pair_kolmogorov_crespi_full.txt
  doc/src/pair_kolmogorov_crespi_z.txt
  doc/src/pair_lebedeva_z.txt
  doc/src/pair_style.txt
  doc/src/pairs.txt
  doc/utils/sphinx-config/false_positives.txt
  examples/USER/misc/drip/C.drip
  examples/USER/misc/drip/CH.rebo
  examples/USER/misc/drip/README.txt
  examples/USER/misc/drip/data.C
  examples/USER/misc/drip/data.CH
  examples/USER/misc/drip/in.CH_drip
  examples/USER/misc/drip/in.C_drip
  examples/USER/misc/drip/log.30Apr19.CH_drip.g++.1
  examples/USER/misc/drip/log.30Apr19.CH_drip.g++.4
  examples/USER/misc/drip/log.30Apr19.C_drip.g++.1
  examples/USER/misc/drip/log.30Apr19.C_drip.g++.4
  potentials/C.drip
  src/.gitignore
  src/USER-MISC/README
  src/USER-MISC/pair_drip.cpp
  src/USER-MISC/pair_drip.h
Labels: enhancement, user_misc_package

#1451 Add missing molecule_flag=1 in atom_vec_bond_kokkos
  src/KOKKOS/atom_vec_bond_kokkos.cpp
Labels: bugfix, kokkos_package

#1450 Pass more cmake settings to LATTE downloaded library build
  cmake/CMakeLists.txt
Labels: cmake, maintenance

#1428 E3B water model
  doc/src/Commands_pair.txt
  doc/src/Eqs/e3b.jpg
  doc/src/Eqs/e3b.tex
  doc/src/Howto_bioFF.txt
  doc/src/Howto_diffusion.txt
  doc/src/lammps.book
  doc/src/pair_e3b.txt
  doc/src/pair_style.txt
  doc/src/pairs.txt
  doc/utils/sphinx-config/false_positives.txt
  examples/USER/e3b/README
  examples/USER/e3b/e3b_box.data
  examples/USER/e3b/in.e3b-tip4p2005
  examples/USER/e3b/log.29Mar2019.e3b-tip4p2005.g++.1
  examples/USER/e3b/log.29Mar2019.e3b-tip4p2005.g++.4
  src/.gitignore
  src/USER-MISC/README
  src/USER-MISC/pair_e3b.cpp
  src/USER-MISC/pair_e3b.h
Labels: enhancement, user_misc_package

#1456 Fix element mapping and a few other issues for interlayer potentials
  doc/src/pair_ilp_graphene_hbn.txt
  doc/src/pair_kolmogorov_crespi_full.txt
  doc/src/pair_kolmogorov_crespi_z.txt
  doc/src/pair_lebedeva_z.txt
  src/USER-MISC/pair_ilp_graphene_hbn.cpp
  src/USER-MISC/pair_kolmogorov_crespi_full.cpp
  src/USER-MISC/pair_kolmogorov_crespi_z.cpp
  src/USER-MISC/pair_lebedeva_z.cpp
Labels: bugfix, maintenance, user_misc_package

#1457 Adding a cubic anisotropy in the SPIN package
  doc/src/Commands_all.txt
  doc/src/Eqs/fix_spin_cubic.jpg
  doc/src/Eqs/fix_spin_cubic.tex
  doc/src/Packages_details.txt
  doc/src/Tools.txt
  doc/src/fix_precession_spin.txt
  doc/src/neb_spin.txt
  doc/utils/sphinx-config/false_positives.txt
  examples/SPIN/iron/in.spin.iron_cubic
  examples/SPIN/nickel/in.spin.nickel_cubic
  src/.gitignore
  src/SPIN/fix_precession_spin.cpp
  src/SPIN/fix_precession_spin.h
  tools/README
Labels: documentation, spin_package, update

#1458 USER-INTEL: Changes to support LAMMPS_BIGBIG in USER-INTEL + fixed ch…
  cmake/CMakeLists.txt
  src/USER-INTEL/fix_intel.cpp
  src/USER-INTEL/fix_intel.h
  src/USER-INTEL/intel_buffers.cpp
  src/USER-INTEL/intel_buffers.h
  src/USER-INTEL/npair_full_bin_ghost_intel.cpp
  src/USER-INTEL/npair_intel.cpp
Labels: update, user_intel_package

#1460 Some more small changes
  doc/src/Examples.txt
  doc/src/Howto_drude2.txt
  doc/src/Install_git.txt
  doc/src/Install_svn.txt
  doc/src/Packages_details.txt
  doc/src/Python_library.txt
  doc/src/Run_options.txt
  doc/src/Run_output.txt
  doc/src/compute_chunk_atom.txt
  doc/src/compute_chunk_spread_atom.txt
  doc/src/compute_voronoi_atom.txt
  doc/src/dihedral_spherical.txt
  doc/src/dihedral_table_cut.txt
  doc/src/dump.txt
  doc/src/dump_modify.txt
  doc/src/fix_ave_chunk.txt
  doc/src/fix_halt.txt
  doc/src/fix_hyper_global.txt
  doc/src/fix_hyper_local.txt
  doc/src/lattice.txt
  doc/src/molecule.txt
  doc/src/neigh_modify.txt
  doc/src/neighbor.txt
  doc/src/package.txt
  doc/src/pair_fep_soft.txt
  doc/src/pair_lj_long.txt
  doc/src/pair_vashishta.txt
  doc/src/python.txt
  doc/src/read_data.txt
  doc/src/server_md.txt
  doc/src/tad.txt
  doc/src/variable.txt
  doc/src/velocity.txt
  doc/src/write_data.txt
  examples/SPIN/iron/log.11May18.spin.iron.g++.1
  examples/SPIN/iron/log.11May18.spin.iron.g++.4
  examples/SPIN/iron/log.30Apr19.spin.iron.g++.1
  examples/SPIN/iron/log.30Apr19.spin.iron.g++.4
  examples/SPIN/iron/log.30Apr19.spin.iron_cubic.g++.1
  examples/SPIN/iron/log.30Apr19.spin.iron_cubic.g++.4
  examples/SPIN/nickel/log.30Apr19.spin.nickel.g++.1
  examples/SPIN/nickel/log.30Apr19.spin.nickel.g++.4
  examples/SPIN/nickel/log.30Apr19.spin.nickel_cubic.g++.1
  examples/SPIN/nickel/log.30Apr19.spin.nickel_cubic.g++.4
  src/USER-MISC/pair_e3b.cpp
  src/USER-MISC/pair_ilp_graphene_hbn.cpp
  src/USER-MISC/pair_kolmogorov_crespi_full.cpp
Labels: documentation, maintenance

#1459 Step version string for next patch release
  doc/lammps.1
  doc/src/Manual.txt
  src/version.h
Labels: maintenance

#1467 Fix bug in pair_style eam/alloy/kk and pair_style eam/fs/kk
  src/KOKKOS/pair_eam_alloy_kokkos.cpp
  src/KOKKOS/pair_eam_fs_kokkos.cpp
Labels: bugfix, kokkos_package

#1464 Add option to restrict coordination number by group
  doc/src/compute_coord_atom.txt
  src/compute_coord_atom.cpp
  src/compute_coord_atom.h
Labels: enhancement

#1465 Collected small changes and bugfixes
  doc/Makefile
  doc/src/Build_extras.txt
  doc/src/Build_package.txt
  doc/src/Errors_messages.txt
  doc/src/Examples.txt
  doc/utils/sphinx-config/false_positives.txt
  examples/HEAT/README
  examples/README
  src/USER-OMP/pair_rebo_omp.cpp
  src/read_data.cpp
  src/read_data.h
Labels: documentation, maintenance

#1479 Correctly and fully support pair style hybrid and hybrid/overlay for pair style quip
  doc/src/pair_quip.txt
  src/USER-QUIP/pair_quip.cpp
  src/USER-QUIP/pair_quip.h
Labels: bugfix, maintenance

#1474 Don't reallocate views every time in neigh_bond_kokkos
  src/KOKKOS/neigh_bond_kokkos.cpp
  src/atom.h
Labels: bugfix, kokkos_package

#1419 Improved error messages when a style is not found
  cmake/CMakeLists.txt
  cmake/Modules/StyleHeaderUtils.cmake
  doc/src/Errors_messages.txt
  src/.gitignore
  src/Make.sh
  src/Makefile
  src/Purge.list
  src/atom.cpp
  src/atom.h
  src/atom_vec_body.cpp
  src/atom_vec_body.h
  src/domain.cpp
  src/domain.h
  src/force.cpp
  src/force.h
  src/lammps.cpp
  src/lammps.h
  src/modify.cpp
  src/modify.h
  src/output.cpp
  src/output.h
  src/read_dump.cpp
  src/read_dump.h
  src/utils.cpp
  src/utils.h
  src/write_dump.cpp
  src/write_dump.h
Labels: build_system, cmake, enhancement, maintenance

#1475 Collected small changes for stable release
  doc/src/Errors_messages.txt
  doc/src/Packages_details.txt
  src/STUBS/mpi.c
  src/USER-REAXC/reaxc_tool_box.cpp
  src/input.cpp
  src/input.h
  src/lmpwindows.h
  src/variable.cpp
  src/variable.h
Labels: documentation, maintenance

#1483 Do not enable OpenMP by default for gcc 9.x with CMake
  cmake/CMakeLists.txt
Labels: cmake, maintenance

#1484 Restart updates for fixes atom/swap, deposit, and gcmc
  doc/src/fix_atom_swap.txt
  doc/src/fix_deposit.txt
  doc/src/fix_gcmc.txt
  src/MC/fix_atom_swap.cpp
  src/MC/fix_gcmc.cpp
  src/MISC/fix_deposit.cpp
Labels: enhancement, mc_package, update

#1480 Step version string for next release
  doc/lammps.1
  doc/src/Manual.txt
  src/variable.cpp
  src/version.h
Labels: maintenance
