Repository lammps/lammps, pull requests merged in 2019-08, with the labels that each got.

#1605 Fix some compilation errors
  src/KOKKOS/kokkos.cpp
  src/USER-OMP/thr_data.h
  src/error.cpp
  src/info.cpp
  src/main.cpp
Labels: bugfix, el7, full-regression-test, maintenance

#1604 Add support for timeouts to temper commands and a few small fixes
  cmake/Modules/Packages/KIM.cmake
  cmake/Modules/Packages/VORONOI.cmake
  src/KOKKOS/kokkos.cpp
  src/REPLICA/temper.cpp
  src/USER-MISC/temper_grem.cpp
  src/USER-MISC/temper_npt.cpp
Labels: cmake, enhancement, update

#1611 small clean-up of fix.txt
  doc/src/fix.txt
  doc/src/fix_rhok.txt
Labels: documentation

#1610 Bug fixes for use of uninitialized variable and strict-aliasing in USER-INTEL
  src/USER-INTEL/fix_intel.cpp
  src/USER-INTEL/intel_intrinsics_airebo.h
Labels: bugfix, el7, user_intel_package

#1608 Bug fix for eam/intel per-atom energy calculation.
  src/USER-INTEL/pair_eam_intel.cpp
Labels: bugfix, el7, user_intel_package

#1607 Update Colvars to version 2019-08-01
  doc/src/PDF/colvars-refman-lammps.pdf
  lib/colvars/Makefile.common
  lib/colvars/colvar.cpp
  lib/colvars/colvar.h
  lib/colvars/colvar_geometricpath.h
  lib/colvars/colvarbias_meta.cpp
  lib/colvars/colvarbias_meta.h
  lib/colvars/colvarbias_restraint.cpp
  lib/colvars/colvarcomp.cpp
  lib/colvars/colvarcomp.h
  lib/colvars/colvarcomp_distances.cpp
  lib/colvars/colvarcomp_gpath.cpp
  lib/colvars/colvarcomp_protein.cpp
  lib/colvars/colvargrid.cpp
  lib/colvars/colvargrid.h
  lib/colvars/colvarparse.cpp
  lib/colvars/colvarparse.h
  lib/colvars/colvarproxy.cpp
  lib/colvars/colvarproxy.h
  lib/colvars/colvars_version.h
  src/USER-COLVARS/colvarproxy_lammps_version.h
Labels: bugfix, user_colvars_package

#1603 Iss1572clean: Clean fix for error handling, clarify data requirements for fix bocs input
  doc/src/fix_bocs.txt
  src/USER-BOCS/fix_bocs.cpp
Labels: bugfix, enhancement

#1613 Update CMake documentation
  cmake/README.md
  doc/src/Build.txt
  doc/src/Build_basics.txt
  doc/src/Build_cmake.txt
  doc/src/Build_development.txt
  doc/src/Build_extras.txt
  doc/src/Packages_details.txt
  doc/utils/sphinx-config/false_positives.txt
Labels: documentation

#1618 Bugfix for Colvars library (update to version 2019-08-05)
  lib/colvars/colvaratoms.cpp
  lib/colvars/colvaratoms.h
  lib/colvars/colvarcomp.h
  lib/colvars/colvarcomp_coordnums.cpp
  lib/colvars/colvars_version.h
Labels: bugfix, user_colvars_package

#1617 Mention LAMMPS_LIB_SUFFIX in docs
  cmake/README.md
  doc/src/Build_basics.txt
Labels: cmake, documentation

#1616 Collected small fixes for stable release
  cmake/CMakeLists.txt
  cmake/presets/mingw-cross.cmake
  lib/kim/Install.py
  src/USER-INTEL/verlet_lrt_intel.cpp
  src/info.cpp
Labels: maintenance

#1619 Update kim query url in docs
  doc/src/kim_commands.txt
Labels: kim_package

#1615 Step version string for stable release
  cmake/presets/mingw-cross.cmake
  doc/lammps.1
  doc/src/Manual.txt
  src/version.h
Labels: maintenance

#1620 fix formatting and augment explanation for bbox option
  doc/src/replicate.txt
Labels: documentation, maintenance

#1622 fix inconsistent enumerator bug in fix ave/histo vs fix ave/histo/weight
  src/fix_ave_histo_weight.cpp
Labels: bugfix

#1623 Step version string for stable release
  doc/lammps.1
  doc/src/Manual.txt
  src/version.h
Labels: maintenance

#1625 Added logs for examples/kim
  examples/kim/log.7Aug19.in.kim-ex.melt.clang.1
  examples/kim/log.7Aug19.in.kim-ex.melt.clang.4
  examples/kim/log.7Aug19.in.kim-pm-query.melt.clang.1
  examples/kim/log.7Aug19.in.kim-pm-query.melt.clang.4
  examples/kim/log.7Aug19.in.kim-pm.melt.clang.1
  examples/kim/log.7Aug19.in.kim-pm.melt.clang.4
  examples/kim/log.7Aug19.in.kim-sm.melt.clang.1
  examples/kim/log.7Aug19.in.kim-sm.melt.clang.4
  examples/kim/log.7Aug19.in.lammps.melt.clang.1
  examples/kim/log.7Aug19.in.lammps.melt.clang.4
Labels: kim_package

#1633 cmake: install chain.x as well
  cmake/CMakeLists.txt
Labels: cmake

#1632 Add user-agent setting to kim_query curl command
  src/KIM/kim_query.cpp
Labels: kim_package

#1638 bump kim-api to 2.1.3
  cmake/Modules/Packages/KIM.cmake
  lib/kim/Install.py
Labels: kim_package

#1626 New pair_style cosine/squared
  doc/src/Commands_pair.txt
  doc/src/Eqs/pair_cosine_squared.jpg
  doc/src/Eqs/pair_cosine_squared.tex
  doc/src/Eqs/pair_cosine_squared_wca.jpg
  doc/src/Eqs/pair_cosine_squared_wca.tex
  doc/src/JPG/pair_cosine_squared_graphs.jpg
  doc/src/fix.txt
  doc/src/lammps.book
  doc/src/pair_cosine_squared.txt
  doc/src/pair_style.txt
  doc/src/pairs.txt
  doc/utils/sphinx-config/false_positives.txt
  src/.gitignore
  src/USER-MISC/README
  src/USER-MISC/pair_cosine_squared.cpp
  src/USER-MISC/pair_cosine_squared.h
Labels: enhancement, user_misc_package

#1637 Bug fix for fix/wall/gran
  src/GRANULAR/fix_wall_gran.cpp
Labels: bugfix

#1503 Implement HMA compute in LAMMPS
  doc/src/compute.txt
  doc/src/compute_hma.txt
  doc/src/computes.txt
  doc/src/dynamical_matrix.txt
  doc/utils/sphinx-config/false_positives.txt
  examples/USER/misc/hma/README
  examples/USER/misc/hma/hma.in
  examples/USER/misc/hma/log.6Nov18.hma.g++.1
  examples/USER/misc/hma/log.6Nov18.hma.g++.4
  src/USER-MISC/README
  src/USER-MISC/compute_hma.cpp
  src/USER-MISC/compute_hma.h
  src/pair.cpp
  src/pair.h
  src/pair_lj_smooth_linear.cpp
  src/pair_lj_smooth_linear.h
Labels: enhancement

#1641 Extend lib interface to allow setting fix external callbacks
  examples/COUPLE/python/example.py
  examples/COUPLE/python/in.fix_external
  python/lammps.py
  src/library.cpp
  src/library.h
Labels: library_interface, python_module

#1628 Added "morse" style to the "wall/region" fix
  doc/src/fix_wall_region.txt
  src/fix_wall_region.cpp
  src/fix_wall_region.h
Labels: enhancement

#1640 Implement fix wall/morse
  doc/src/Commands_fix.txt
  doc/src/Howto_walls.txt
  doc/src/fix.txt
  doc/src/fix_wall.txt
  src/fix_wall.cpp
  src/fix_wall.h
  src/fix_wall_morse.cpp
  src/fix_wall_morse.h
Labels: enhancement

#1644 Add missing npair style for KOKKOS when using CMake
  cmake/Modules/Packages/KOKKOS.cmake
Labels: cmake, full-regression-test, kokkos_package, test-for-regression

#1642 add another example to Howto chunk doc page
  doc/src/Howto_chunk.txt
  doc/src/compute_chunk_spread_atom.txt
Labels: documentation
