Repository lammps/lammps, pull requests merged in 2019-03, with the labels that each got.

#1354 Collected small fixes and updates for the next patch release
  src/USER-ADIOS/dump_custom_adios.cpp
  src/USER-PHONON/dynamical_matrix.cpp
  src/USER-PHONON/dynamical_matrix.h
  src/USER-PTM/compute_ptm_atom.h
  src/USER-PTM/ptm_neighbour_ordering.h
Labels: bugfix, maintenance

#1356 Address Variable-Length-Array issue in USER-SMTBQ
  examples/USER/smtbq/data.Alpha
  examples/USER/smtbq/ffield.smtbq.Al
  examples/USER/smtbq/ffield.smtbq.Al2O3
  examples/USER/smtbq/ffield.smtbq.TiO2
  examples/USER/smtbq/in.smtbq.Al
  examples/USER/smtbq/in.smtbq.Al2O3
  examples/USER/smtbq/in.smtbq.TiO2
  src/USER-SMTBQ/pair_smtbq.cpp
  src/USER-SMTBQ/pair_smtbq.h
Labels: bugfix, maintenance

#1355 Bfo spin
  src/SPIN/pair_spin_dmi.cpp
  src/SPIN/pair_spin_exchange.cpp
  src/SPIN/pair_spin_magelec.cpp
  src/SPIN/pair_spin_magelec.h
  src/SPIN/pair_spin_neel.cpp
Labels: bugfix, spin_package, update

#1357 Embed git branch and revision info
  cmake/CMakeLists.txt
  src/Makefile
  src/Purge.list
  src/info.cpp
  src/lammps.cpp
  src/lammps.h
Labels: enhancement, maintenance

#1358 Update openkim.org urls in various places
  doc/src/Build_extras.txt
  doc/src/pair_kim.txt
  lib/kim/Install.py
Labels: documentation, kim_package, maintenance

#1352 A partial fix for ReaxFF failure when the number of atoms increases during a simulation
  src/USER-REAXC/fix_reaxc.cpp
  src/USER-REAXC/fix_reaxc.h
Labels: bugfix, enhancement, user_reaxc_package

#1361 Collected small changes for the next patch release
  .github/PULL_REQUEST_TEMPLATE.md
  cmake/CMakeLists.txt
  src/.gitignore
  src/Makefile
  src/USER-BOCS/fix_bocs.cpp
  src/group.cpp
Labels: bugfix, cmake, enhancement, github, maintenance

#1366 Bond/react: unfixing deletes internal groups
  doc/src/fix_bond_react.txt
  src/USER-MISC/fix_bond_react.cpp
Labels: enhancement, user_misc_package

#1370 Enable write data for dihedral styles and related corrections
  src/MOLECULE/dihedral_helix.cpp
  src/MOLECULE/dihedral_multi_harmonic.cpp
  src/USER-MISC/dihedral_cosine_shift_exp.cpp
  src/USER-MISC/dihedral_nharmonic.cpp
  src/USER-MISC/dihedral_quadratic.cpp
  src/USER-MISC/dihedral_spherical.cpp
  src/USER-MISC/dihedral_table_cut.cpp
  src/USER-MISC/dihedral_table_cut.h
Labels: bugfix, maintenance

#1359 Updates to dynamical_matrix
  src/USER-PHONON/dynamical_matrix.cpp
  src/USER-PHONON/dynamical_matrix.h
Labels: bugfix, enhancement

#1376 cmake: move lmpgitversion generation to build phase
  cmake/CMakeLists.txt
  cmake/Modules/generate_lmpgitversion.cmake
Labels: build_system, cmake, maintenance

#1372 Add min_post_force in fix_precession_spin
  src/SPIN/fix_precession_spin.cpp
  src/SPIN/fix_precession_spin.h
Labels: spin_package, update

#1371 Add kim_query command to KIM package
  cmake/CMakeLists.txt
  doc/src/Build_extras.txt
  doc/src/Commands_all.txt
  doc/src/Packages_details.txt
  doc/src/commands_list.txt
  doc/src/kim_query.txt
  doc/src/lammps.book
  doc/src/pair_kim.txt
  doc/utils/sphinx-config/false_positives.txt
  examples/kim/in.query
  examples/kim/log.22Mar2019.query.g++.1
  lib/kim/Makefile.lammps
  lib/kim/README
  src/.gitignore
  src/KIM/kim_query.cpp
  src/KIM/kim_query.h
Labels: enhancement, kim_package

#1374 Collected small changes for the next patch release
  cmake/CMakeLists.txt
  doc/src/Build_extras.txt
  lib/gpu/lal_device.cpp
  src/CLASS2/pair_lj_class2.cpp
  src/CLASS2/pair_lj_class2_coul_cut.cpp
  src/CLASS2/pair_lj_class2_coul_long.cpp
  src/KSPACE/pair_buck_coul_long.cpp
  src/KSPACE/pair_coul_long.cpp
  src/KSPACE/pair_lj_charmm_coul_long.cpp
  src/KSPACE/pair_lj_charmmfsw_coul_long.cpp
  src/MOLECULE/pair_lj_charmm_coul_charmm.cpp
  src/MOLECULE/pair_lj_charmmfsw_coul_charmmfsh.cpp
  src/USER-FEP/pair_lj_class2_coul_cut_soft.cpp
  src/USER-FEP/pair_lj_class2_coul_long_soft.cpp
  src/USER-FEP/pair_lj_class2_soft.cpp
  src/USER-MOFFF/pair_buck6d_coul_gauss_dsf.cpp
  src/USER-MOFFF/pair_buck6d_coul_gauss_long.cpp
  src/USER-SMTBQ/README
  src/dump.cpp
  src/pair.cpp
  src/pair_buck_coul_cut.cpp
  src/pair_hybrid.cpp
  src/pair_lj_cut_coul_dsf.cpp
  src/pair_lj_expand.cpp
  src/pair_lj_gromacs.cpp
  src/pair_lj_gromacs_coul_gromacs.cpp
Labels: bugfix, cmake, dump_feature, maintenance

#1238 Rendezvous
  src/RIGID/fix_rigid_small.cpp
  src/RIGID/fix_rigid_small.h
  src/RIGID/fix_shake.cpp
  src/RIGID/fix_shake.h
  src/comm.cpp
  src/comm.h
  src/create_atoms.cpp
  src/hashlittle.cpp
  src/hashlittle.h
  src/irregular.cpp
  src/irregular.h
  src/read_data.cpp
  src/read_restart.cpp
  src/replicate.cpp
  src/special.cpp
  src/special.h
Labels: communication_feature

#1382 Revert "Rendezvous"
  src/RIGID/fix_rigid_small.cpp
  src/RIGID/fix_rigid_small.h
  src/RIGID/fix_shake.cpp
  src/RIGID/fix_shake.h
  src/comm.cpp
  src/comm.h
  src/create_atoms.cpp
  src/hashlittle.cpp
  src/hashlittle.h
  src/irregular.cpp
  src/irregular.h
  src/read_data.cpp
  src/read_restart.cpp
  src/replicate.cpp
  src/special.cpp
  src/special.h
Labels: maintenance

#1380 Add a spin minimizer in the SPIN package
  doc/src/Commands_all.txt
  doc/src/Eqs/min_spin_damping.jpg
  doc/src/Eqs/min_spin_damping.tex
  doc/src/Eqs/min_spin_timestep.jpg
  doc/src/Eqs/min_spin_timestep.tex
  doc/src/commands_list.txt
  doc/src/lammps.book
  doc/src/min_modify.txt
  doc/src/min_spin.txt
  doc/src/min_style.txt
  doc/src/minimize.txt
  examples/SPIN/spinmin/in.spinmin.bfo
  examples/SPIN/spinmin/in.spinmin.iron
  src/SPIN/README
  src/SPIN/compute_spin.cpp
  src/SPIN/fix_langevin_spin.cpp
  src/SPIN/fix_nve_spin.cpp
  src/SPIN/fix_precession_spin.cpp
  src/SPIN/fix_precession_spin.h
  src/SPIN/min_spin.cpp
  src/SPIN/min_spin.h
  src/SPIN/pair_spin_dmi.cpp
  src/SPIN/pair_spin_exchange.cpp
  src/SPIN/pair_spin_magelec.cpp
  src/SPIN/pair_spin_neel.cpp
  src/min.cpp
  src/min.h
Labels: enhancement, spin_package, update

#1379 Hyper
  doc/src/compute.txt
  doc/src/fix.txt
  doc/src/fix_ave_histo.txt
  doc/src/fix_hyper_global.txt
  doc/src/fix_hyper_local.txt
  examples/hyper/global.000000.jpg
  examples/hyper/global.041000.jpg
  examples/hyper/global.045000.jpg
  examples/hyper/global.048000.jpg
  examples/hyper/global.089000.jpg
  examples/hyper/global.10Oct18.000000.jpg
  examples/hyper/global.10Oct18.003000.jpg
  examples/hyper/global.10Oct18.038000.jpg
  examples/hyper/global.10Oct18.059000.jpg
  examples/hyper/in.hyper.global
  examples/hyper/in.hyper.local
  examples/hyper/local.000000.jpg
  examples/hyper/local.001200.jpg
  examples/hyper/local.10Oct18.000700.jpg
  examples/hyper/local.10Oct18.000800.jpg
  examples/hyper/local.10Oct18.001100.jpg
  examples/hyper/log.10Oct18.hyper.global.g++.4
  examples/hyper/log.10Oct18.hyper.local.g++.16
  examples/hyper/log.25Mar19.hyper.global.g++.4
  examples/hyper/log.25Mar19.hyper.local.g++.16
  src/REPLICA/fix_hyper_global.cpp
  src/REPLICA/fix_hyper_global.h
  src/REPLICA/fix_hyper_local.cpp
  src/REPLICA/fix_hyper_local.h
  src/REPLICA/hyper.cpp
  src/comm_brick.cpp
  src/fix_ave_histo.cpp
  src/thermo.cpp
Labels: full-regression-test, replica_package, test-for-regression, update

#1375 Refactor python module installer and add install-python target to CMake
  cmake/CMakeLists.txt
  doc/src/Howto_pylammps.txt
  doc/src/Python_install.txt
  doc/src/Python_overview.txt
  doc/utils/sphinx-config/false_positives.txt
  python/README
  python/install.py
  src/Makefile
Labels: build_system, cmake, enhancement, python_module

#1383 Several small changes and tweaks for patch release
  cmake/Modules/generate_lmpgitversion.cmake
  doc/Makefile
  examples/micelle/data.micelle
  examples/micelle/in.micelle.rigid
  examples/micelle/log.27Nov18.micelle.g++.1
  examples/micelle/log.27Nov18.micelle.g++.4
  examples/micelle/log.28Feb2019.micelle.g++.1
  examples/micelle/log.28Feb2019.micelle.g++.4
  examples/micelle/log.28Feb2019.micelle.rigid.g++.1
  examples/micelle/log.28Feb2019.micelle.rigid.g++.4
  src/KIM/kim_query.cpp
  src/domain.cpp
  src/modify.cpp
Labels: bugfix, cmake, documentation

#1384 Rendezvous2
  src/RIGID/fix_rigid_small.cpp
  src/RIGID/fix_rigid_small.h
  src/RIGID/fix_shake.cpp
  src/RIGID/fix_shake.h
  src/comm.cpp
  src/comm.h
  src/create_atoms.cpp
  src/hashlittle.cpp
  src/hashlittle.h
  src/irregular.cpp
  src/irregular.h
  src/pair_table.cpp
  src/read_data.cpp
  src/read_dump.cpp
  src/read_dump.h
  src/read_restart.cpp
  src/replicate.cpp
  src/special.cpp
  src/special.h
Labels: communication_feature, enhancement

#1390 Fix typos in error checking
  src/USER-MISC/compute_pressure_cylinder.cpp
Labels: bugfix

#1391 Error out when per-atom stress is requested for USER-INTEL styles
  doc/src/Speed_intel.txt
  src/USER-INTEL/README
  src/USER-INTEL/angle_charmm_intel.cpp
  src/USER-INTEL/angle_harmonic_intel.cpp
  src/USER-INTEL/bond_fene_intel.cpp
  src/USER-INTEL/bond_harmonic_intel.cpp
  src/USER-INTEL/dihedral_charmm_intel.cpp
  src/USER-INTEL/dihedral_fourier_intel.cpp
  src/USER-INTEL/dihedral_harmonic_intel.cpp
  src/USER-INTEL/dihedral_opls_intel.cpp
  src/USER-INTEL/improper_cvff_intel.cpp
  src/USER-INTEL/improper_harmonic_intel.cpp
  src/USER-INTEL/pair_airebo_intel.cpp
  src/USER-INTEL/pair_buck_coul_cut_intel.cpp
  src/USER-INTEL/pair_buck_coul_long_intel.cpp
  src/USER-INTEL/pair_buck_intel.cpp
  src/USER-INTEL/pair_dpd_intel.cpp
  src/USER-INTEL/pair_eam_intel.cpp
  src/USER-INTEL/pair_gayberne_intel.cpp
  src/USER-INTEL/pair_lj_charmm_coul_charmm_intel.cpp
  src/USER-INTEL/pair_lj_charmm_coul_long_intel.cpp
  src/USER-INTEL/pair_lj_cut_coul_long_intel.cpp
  src/USER-INTEL/pair_lj_cut_intel.cpp
  src/USER-INTEL/pair_rebo_intel.cpp
  src/USER-INTEL/pair_sw_intel.cpp
  src/USER-INTEL/pair_tersoff_intel.cpp
Labels: bugfix

#1388 bug fix for tiled communication at cutoffs near box size
  src/balance.cpp
  src/comm_tiled.cpp
  src/fix_ave_histo.cpp
  src/fix_balance.cpp
Labels: bugfix, communication_feature

#1395 Set Coulomb summation cutoff radii when it is explicitly specified
  src/pair_lj_cut_coul_wolf.cpp
Labels: bugfix

#1392 Updates for kim-api-2.0.2 release
  cmake/CMakeLists.txt
  cmake/Modules/FindKIM-API.cmake.in
  doc/src/Build_extras.txt
  lib/kim/Install.py
  lib/kim/Makefile.lammps
  lib/kim/README
Labels: kim_package, update

#1393 Collected small changes
  cmake/CMakeLists.txt
  cmake/README.md
  doc/Makefile
  doc/src/Build_extras.txt
  doc/utils/sphinx-config/false_positives.txt
  src/comm.cpp
  src/compute_angle_local.cpp
  src/compute_bond_local.cpp
  src/compute_chunk_spread_atom.cpp
  src/compute_dihedral_local.cpp
  src/compute_property_atom.cpp
  src/compute_property_atom.h
  src/memory.h
  src/special.cpp
Labels: cmake, maintenance

#1387 Step version string for next patch release
  doc/src/Manual.txt
  src/version.h
Labels: maintenance

#1397 Rename FindKIM-API.cmake.in to FindKIM-API.cmake
  cmake/Modules/FindKIM-API.cmake
Labels: bugfix, cmake, kim_package
