Repository lammps/lammps, pull requests merged in 2019-01, with the labels that each got.

#1273 Rename pair style lebedeva to lebedeva/z
  doc/src/Commands_pair.txt
  doc/src/lammps.book
  doc/src/pair_ilp_graphene_hbn.txt
  doc/src/pair_kolmogorov_crespi_full.txt
  doc/src/pair_kolmogorov_crespi_z.txt
  doc/src/pair_lebedeva_z.txt
  doc/src/pair_style.txt
  doc/src/pairs.txt
  examples/USER/misc/lebedeva/2particles.in
  src/USER-MISC/README
  src/USER-MISC/pair_lebedeva.cpp
  src/USER-MISC/pair_lebedeva.h
Labels: user_misc_package

#1277 Fix memory issue in Kokkos Reax
  src/KOKKOS/pair_reaxc_kokkos.cpp
Labels: bugfix, kokkos_package

#1286 Bond/react: memory correction
  src/USER-MISC/fix_bond_react.cpp
Labels: bugfix

#1292 bond/react: strict reaction limit
  src/USER-MISC/fix_bond_react.cpp
  src/USER-MISC/fix_bond_react.h
Labels: bugfix, enhancement, user_misc_package

#1291 Fix mistake in virial calculation for impropers fourier and umbrella
  src/MOLECULE/improper_umbrella.cpp
  src/USER-MISC/improper_fourier.cpp
  src/USER-OMP/improper_fourier_omp.cpp
  src/USER-OMP/improper_umbrella_omp.cpp
Labels: bugfix

#1263 Optimize Kokkos SNAP energy calculation
  src/KOKKOS/pair_snap_kokkos_impl.h
  src/KOKKOS/sna_kokkos_impl.h
Labels: enhancement, kokkos_package

#1298 Bond/react: reaction constraints
  doc/src/fix_bond_react.txt
  src/USER-MISC/fix_bond_react.cpp
  src/USER-MISC/fix_bond_react.h
Labels: user_misc_package

#1301 Fix mistake in mixing rules for mm3/switch3
  src/USER-YAFF/pair_mm3_switch3_coulgauss_long.cpp
Labels: bugfix

#1303 ENH: Output computes/fixes of with arbitrary number of columns to NetCDF
  src/USER-NETCDF/dump_netcdf.cpp
  src/USER-NETCDF/dump_netcdf.h
  src/USER-NETCDF/dump_netcdf_mpiio.cpp
  src/USER-NETCDF/dump_netcdf_mpiio.h
Labels: dump_feature, enhancement

#1309 compute entropy/atom - enhancement
  examples/USER/misc/entropy/log.entropy
  src/USER-MISC/compute_entropy_atom.cpp
Labels: enhancement, user_misc_package

#1279 Optimize performance of create_atoms for large boxes and small regions
  src/create_atoms.cpp
Labels: enhancement

#1310 Support using fix qeq/shielded with pair style reax/c
  doc/src/fix_qeq.txt
  examples/reax/in.reaxc.rdx-shielded
  examples/reax/in.reaxc.tatb-shielded
  examples/reax/log.4Jan19.reaxc.rdx-shielded.g++.1
  examples/reax/log.4Jan19.reaxc.rdx-shielded.g++.4
  examples/reax/log.4Jan19.reaxc.tatb-shielded.g++.1
  examples/reax/log.4Jan19.reaxc.tatb-shielded.g++.4
  src/QEQ/fix_qeq.cpp
  src/QEQ/fix_qeq.h
  src/QEQ/fix_qeq_shielded.cpp
  src/QEQ/fix_qeq_shielded.h
  src/USER-REAXC/pair_reaxc.cpp
Labels: documentation, enhancement, user_reaxc_package
