Repository lammps/lammps, pull requests merged in 2020-06, with the labels that each got.

#2106 Bond/react: molecule fragment support
  doc/src/Packages_details.rst
  doc/src/fix_bond_react.rst
  doc/utils/sphinx-config/false_positives.txt
  src/USER-REACTION/README
  src/USER-REACTION/fix_bond_react.cpp
  src/USER-REACTION/fix_bond_react.h
Labels: enhancement, ready_for_merge, user_reaction_package

#2120 Update version strings for the next patch release
  doc/lammps.1
  src/version.h
Labels: maintenance, ready_for_merge

#2128 Use {fmt}, std::string and utils::logmesg() in more places
  src/KOKKOS/atom_kokkos.cpp
  src/KOKKOS/atom_kokkos.h
  src/MPIIO/restart_mpiio.cpp
  src/MPIIO/restart_mpiio.h
  src/RIGID/fix_rigid.cpp
  src/RIGID/fix_rigid.h
  src/RIGID/fix_rigid_small.cpp
  src/RIGID/fix_rigid_small.h
  src/angle_deprecated.cpp
  src/atom.cpp
  src/atom.h
  src/atom_vec.cpp
  src/balance.cpp
  src/bond_deprecated.cpp
  src/comm.cpp
  src/compute_deprecated.cpp
  src/create_atoms.cpp
  src/create_bonds.cpp
  src/delete_atoms.cpp
  src/delete_bonds.cpp
  src/dihedral_deprecated.cpp
  src/domain.cpp
  src/domain.h
  src/dump_deprecated.cpp
  src/fix.h
  src/fix_deprecated.cpp
  src/force.cpp
  src/force.h
  src/imbalance.h
  src/imbalance_group.cpp
  src/imbalance_group.h
  src/imbalance_neigh.cpp
  src/imbalance_neigh.h
  src/imbalance_store.cpp
  src/imbalance_store.h
  src/imbalance_time.cpp
  src/imbalance_time.h
  src/imbalance_var.cpp
  src/imbalance_var.h
  src/improper_deprecated.cpp
  src/info.cpp
  src/info.h
  src/kspace_deprecated.cpp
  src/lammps.cpp
  src/min.cpp
  src/mpiio.h
  src/output.cpp
  src/pair_deprecated.cpp
  src/read_data.cpp
  src/read_dump.cpp
  src/region_deprecated.cpp
  src/write_data.cpp
  src/write_data.h
  src/write_restart.cpp
  src/write_restart.h
Labels: maintenance

#2129 Collected small changes for the next patch release
  lib/kokkos/Makefile.kokkos
  src/KOKKOS/pair_kokkos.h
  src/MANYBODY/pair_bop.cpp
  src/MANYBODY/pair_tersoff.cpp
  src/MANYBODY/pair_tersoff_mod.cpp
  src/library.cpp
  src/pair_coul_dsf.cpp
  src/utils.cpp
  src/write_data.cpp
  src/write_data.h
  src/write_restart.cpp
Labels: bugfix, maintenance

#2133 Added missing "Syntax" label
  doc/src/fix_orient.rst
  doc/src/fix_poems.rst
  doc/src/fix_rhok.rst
  doc/src/pair_lubricate.rst
  doc/src/pair_lubricateU.rst
  doc/src/special_bonds.rst
Labels: documentation

#2135 Handle conflict between conventional build and CMake build in lib/gpu
  cmake/CMakeLists.txt
  cmake/Modules/Packages/GPU.cmake
  doc/src/Build_extras.rst
Labels: bugfix, build_system, cmake, ready_for_merge

#2126 Add fix orient/eco to USER-MISC
  doc/src/Commands_fix.rst
  doc/src/Modify_contribute.rst
  doc/src/fix.rst
  doc/src/fix_bond_react.rst
  doc/src/fix_orient_eco.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/USER/misc/orient_eco/Ni_u3.eam
  examples/USER/misc/orient_eco/data.sigma5
  examples/USER/misc/orient_eco/in.orient_eco
  examples/USER/misc/orient_eco/log.2Jun2020.orent_eco.g++.1
  examples/USER/misc/orient_eco/log.2Jun2020.orent_eco.g++.4
  examples/USER/misc/orient_eco/sigma5.ori
  src/.gitignore
  src/MAKE/Makefile.mpi
  src/USER-MISC/README
  src/USER-MISC/fix_orient_eco.cpp
  src/USER-MISC/fix_orient_eco.h
  src/potential_file_reader.cpp
Labels: enhancement, ready_for_merge, user_misc_package

#2137 Adding new ptemp keyword to fix/nh
  doc/src/fix_nh.rst
  doc/utils/sphinx-config/false_positives.txt
  src/fix_nh.cpp
  src/fix_nh.h
Labels: enhancement

#2147 Fix compile error with pair_sw_kokkos
  src/MANYBODY/pair_sw.h
Labels: bugfix, kokkos_package, ready_for_merge

#2148 KIM package echo/log refactor and bugfix
  src/KIM/kim_init.cpp
  src/KIM/kim_init.h
  src/KIM/kim_interactions.cpp
  src/KIM/kim_interactions.h
  src/KIM/kim_param.cpp
  src/KIM/kim_param.h
  src/KIM/kim_query.cpp
  src/KIM/kim_query.h
  src/KIM/kim_units.cpp
  src/KIM/kim_units.h
  src/input.cpp
  src/input.h
Labels: bugfix, kim_package, maintenance

#2141 Make kokkos configuration keywords with gmake case insensitive
  lib/kokkos/Makefile.kokkos
Labels: enhancement, kokkos_package, ready_for_merge

#2143 fix a bug with checking too early for ineligibilty for biasing
  examples/hyper/log.2Jun2020.hyper.global.g++.4
  examples/hyper/log.2Jun2020.hyper.local.g++.4
  examples/hyper/log.9Jan20.hyper.global.g++.4
  examples/hyper/log.9Jan20.hyper.local.g++.4
  src/REPLICA/fix_hyper_local.cpp
Labels: bugfix, replica_package

#2121 Document and fix store_contacts in fix gran/wall and gran/wall/region
  doc/src/fix_wall_gran.rst
  doc/src/fix_wall_gran_region.rst
  src/GRANULAR/fix_wall_gran.cpp
  src/GRANULAR/fix_wall_gran.h
  src/GRANULAR/fix_wall_gran_region.cpp
Labels: bugfix, documentation, ready_for_merge

#2144 Performance optimization of Tokenizer
  src/MANYBODY/pair_eim.cpp
  src/atom_vec.cpp
  src/atom_vec_hybrid.cpp
  src/potential_file_reader.cpp
  src/potential_file_reader.h
  src/text_file_reader.cpp
  src/text_file_reader.h
  src/tokenizer.cpp
  src/tokenizer.h
  src/utils.cpp
  src/utils.h
  unittest/utils/test_tokenizer.cpp
  unittest/utils/test_utils.cpp
Labels: enhancement

#2151 Move definition(s) of union ubuf to lmptype.h
  doc/src/reset_ids.rst
  src/MANYBODY/pair_adp.cpp
  src/MANYBODY/pair_airebo.cpp
  src/MANYBODY/pair_comb3.cpp
  src/MANYBODY/pair_eam.cpp
  src/MANYBODY/pair_eam_alloy.cpp
  src/MANYBODY/pair_eam_cd.cpp
  src/MANYBODY/pair_eam_fs.cpp
  src/RIGID/fix_rigid_small.cpp
  src/RIGID/fix_shake.cpp
  src/USER-OMP/pair_eam_alloy_omp.cpp
  src/USER-OMP/pair_eam_fs_omp.cpp
  src/atom_vec.h
  src/comm.cpp
  src/compute.h
  src/fix.cpp
  src/fix.h
  src/library.cpp
  src/lmptype.h
  src/pair.h
  src/reset_ids.cpp
  src/reset_ids.h
  src/table_file_reader.cpp
  src/utils.cpp
  unittest/utils/test_fmtlib.cpp
Labels: enhancement, maintenance, ready_for_merge

#2149 Sort atom callbacks
  src/atom.cpp
Labels: enhancement, granular_package

#2152 Remove unnecessary memory allocation in Kokkos PairSNAP
  src/KOKKOS/sna_kokkos_impl.h
Labels: enhancement, kokkos_package, ready_for_merge, snap_package

#2155 Portability improvement for src/Makefile
  src/Makefile
Labels: build_system, enhancement, maintenance, ready_for_merge

#2154 Add utilities for checking code
  cmake/CMakeLists.txt
  cmake/Modules/CodingStandard.cmake
  tools/coding_standard/permissions.py
  tools/coding_standard/whitespace.py
Labels: maintenance, ready_for_merge, tools

#2157 Demonstrate use of clang-format in LAMMPS
  cmake/Modules/CodingStandard.cmake
  cmake/Modules/FindClangFormat.cmake
  doc/src/Build_development.rst
  examples/USER/atc/elastic/in.no_atoms
  examples/USER/atc/elastic/in.no_atoms_cb
  examples/USER/atc/elastic/in.no_atoms_cb_linear
  examples/USER/atc/molecule/in.polarize
  examples/USER/dpd/dpdrx-shardlow/in.dpdrx-shardlow
  examples/USER/lb/confined_colloid/in.confined_colloids
  examples/USER/lb/dragforce/in.defaultgamma_drag
  examples/USER/lb/dragforce/in.setgamma_drag
  examples/USER/lb/fourspheres/in.fourspheres_default_gamma
  examples/USER/lb/fourspheres/in.fourspheres_set_gamma
  examples/USER/lb/microrheology/in.microrheology_default_gamma
  examples/USER/lb/microrheology/in.microrheology_set_gamma
  examples/USER/lb/planewall/in.planewall_default_gamma
  examples/USER/lb/planewall/in.planewall_set_gamma
  examples/USER/phonon/dynamical_matrix_command/Silicon/README.md
  examples/USER/phonon/dynamical_matrix_command/Silicon/in.silicon
  examples/USER/phonon/dynamical_matrix_command/python/README.md
  src/USER-AWPMD/README
  src/USER-CGSDK/README
  src/USER-DRUDE/README
  src/USER-INTEL/TEST/README
  src/USER-OMP/README
  src/USER-QTB/README
  src/USER-REAXC/README
  src/USER-UEF/README
  unittest/.clang-format
  unittest/CMakeLists.txt
  unittest/force-styles/CMakeLists.txt
  unittest/force-styles/angle_style.cpp
  unittest/force-styles/bond_style.cpp
  unittest/force-styles/error_stats.cpp
  unittest/force-styles/error_stats.h
  unittest/force-styles/pair_style.cpp
  unittest/force-styles/test_config.h
  unittest/force-styles/test_config_reader.cpp
  unittest/force-styles/test_config_reader.h
  unittest/force-styles/test_error_stats.cpp
  unittest/force-styles/test_main.cpp
  unittest/force-styles/test_main.h
  unittest/force-styles/yaml_reader.h
  unittest/force-styles/yaml_writer.cpp
  unittest/force-styles/yaml_writer.h
  unittest/formats/test_eim_potential_file_reader.cpp
  unittest/formats/test_potential_file_reader.cpp
  unittest/utils/test_fmtlib.cpp
  unittest/utils/test_tokenizer.cpp
  unittest/utils/test_utils.cpp
Labels: maintenance, ready_for_merge, unittest_feature

#2134 Update version strings for next patch release
  doc/lammps.1
  src/version.h
Labels: maintenance

#2163 Coding Standard tool updates
  doc/github-development-workflow.md
  doc/include-file-conventions.md
  doc/src/compute_mesont.rst
  doc/src/compute_orientorder_atom.rst
  doc/src/compute_property_atom.rst
  doc/src/pair_mesont_tpm.rst
  src/GPU/Install.sh
  src/KOKKOS/Install.sh
  src/Make.sh
  src/OPT/Install.sh
  src/SPIN/README
  src/USER-ADIOS/Install.sh
  src/USER-ADIOS/README
  src/USER-BOCS/README
  src/USER-CGDNA/README.md
  src/USER-DIFFRACTION/README
  src/USER-EFF/README
  src/USER-FEP/README
  src/USER-INTEL/TEST/run_benchmarks.sh
  src/USER-LB/README
  src/USER-MESONT/README
  src/USER-MGPT/README
  src/USER-MOFFF/README
  src/USER-PLUMED/README
  src/USER-QUIP/README
  src/USER-SCAFACOS/Install.sh
  src/USER-SPH/README
  src/USER-TALLY/README
  src/VORONOI/README
  tools/coding_standard/permissions.py
  tools/coding_standard/whitespace.py
Labels: bugfix, enhancement, tools

#1971 Chem snap
  doc/src/compute_sna_atom.rst
  doc/src/pair_snap.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/snap/InP_JCPA2020.snap
  examples/snap/InP_JCPA2020.snapcoeff
  examples/snap/InP_JCPA2020.snapparam
  examples/snap/in.snap.InP.JCPA2020
  examples/snap/log.15Jun20.snap.InP.JCPA2020.g++.1
  examples/snap/log.15Jun20.snap.InP.JCPA2020.g++.4
  potentials/InP_JCPA2020.snap
  potentials/InP_JCPA2020.snapcoeff
  potentials/InP_JCPA2020.snapparam
  src/KOKKOS/pair_snap_kokkos_impl.h
  src/KOKKOS/sna_kokkos.h
  src/KOKKOS/sna_kokkos_impl.h
  src/SNAP/compute_sna_atom.cpp
  src/SNAP/compute_sna_atom.h
  src/SNAP/compute_snad_atom.cpp
  src/SNAP/compute_snad_atom.h
  src/SNAP/compute_snap.cpp
  src/SNAP/compute_snap.h
  src/SNAP/compute_snav_atom.cpp
  src/SNAP/compute_snav_atom.h
  src/SNAP/pair_snap.cpp
  src/SNAP/pair_snap.h
  src/SNAP/sna.cpp
  src/SNAP/sna.h
Labels: enhancement, snap_package, update

#2168 Chem snap
  src/KOKKOS/pair_snap_kokkos_impl.h
Labels: bugfix, kokkos_package, snap_package

#2162 Collected small changes
  cmake/CMakeLists.txt
  cmake/Modules/Packages/USER-SCAFACOS.cmake
  doc/src/Build_development.rst
  doc/src/pair_mdf.rst
  examples/snap/in.snap.Mo_Chen
  examples/snap/in.snap.Ta06A
  examples/snap/in.snap.W.2940
  examples/snap/in.snap.WBe.PRB2019
  examples/snap/in.snap.hybrid.WSNAP.HePair
  examples/snap/log.15Jun20.snap.Mo_Chen.g++.1
  examples/snap/log.15Jun20.snap.Mo_Chen.g++.4
  examples/snap/log.15Jun20.snap.Ta06A.g++.1
  examples/snap/log.15Jun20.snap.Ta06A.g++.4
  examples/snap/log.15Jun20.snap.W.2940.g++.1
  examples/snap/log.15Jun20.snap.W.2940.g++.4
  examples/snap/log.15Jun20.snap.WBe.PRB2019.g++.1
  examples/snap/log.15Jun20.snap.WBe.PRB2019.g++.4
  examples/snap/log.15Jun20.snap.hybrid.WSNAP.HePair.g++.1
  examples/snap/log.15Jun20.snap.hybrid.WSNAP.HePair.g++.4
  src/KSPACE/msm.cpp
  src/MANYBODY/pair_bop.cpp
  src/MANYBODY/pair_bop.h
  src/MANYBODY/pair_comb.cpp
  src/MANYBODY/pair_comb3.cpp
  src/MANYBODY/pair_eam_cd.cpp
  src/MANYBODY/pair_polymorphic.cpp
  src/MANYBODY/pair_polymorphic.h
  src/MOLECULE/bond_fene.cpp
  src/USER-MISC/pair_tersoff_table.cpp
  src/atom.cpp
  src/atom_vec.cpp
  src/comm.cpp
  src/create_atoms.cpp
  src/error.cpp
  src/error.h
  src/force.cpp
  src/input.h
  unittest/CMakeLists.txt
  unittest/commands/CMakeLists.txt
  unittest/commands/test_simple_commands.cpp
  unittest/force-styles/CMakeLists.txt
  unittest/force-styles/angle_style.cpp
  unittest/force-styles/bond_style.cpp
  unittest/force-styles/pair_style.cpp
  unittest/force-styles/test_main.cpp
  unittest/force-styles/tests/atomic-pair-eim.yaml
  unittest/force-styles/tests/manybody-pair-airebo.yaml
  unittest/force-styles/tests/manybody-pair-polymorphic_tersoff.yaml
  unittest/force-styles/tests/manybody-pair-tersoff_mod.yaml
  unittest/force-styles/tests/manybody-pair-tersoff_mod_c.yaml
  unittest/force-styles/tests/manybody-pair-tersoff_table.yaml
  unittest/force-styles/tests/manybody-pair-tersoff_zbl.yaml
  unittest/force-styles/tests/mol-pair-coul_dsf.yaml
  unittest/force-styles/tests/mol-pair-lj_class2_coul_cut.yaml
  unittest/force-styles/tests/mol-pair-lj_class2_coul_long.yaml
  unittest/force-styles/tests/mol-pair-lj_class2_coul_table.yaml
  unittest/formats/CMakeLists.txt
  unittest/formats/test_atom_styles.cpp
  unittest/formats/test_eim_potential_file_reader.cpp
  unittest/formats/test_potential_file_reader.cpp
Labels: bugfix, documentation, maintenance, unittest_feature

#2169 Tweaks to local hyper dynamics
  src/REPLICA/fix_hyper_local.cpp
  src/REPLICA/fix_hyper_local.h
Labels: replica_package, update

#2171 Switched the sign of spherical harmonics for m odd
  doc/src/compute_orientorder_atom.rst
  src/KOKKOS/compute_orientorder_atom_kokkos.cpp
  src/compute_orientorder_atom.cpp
Labels: update

#2172 SNAP optimizations - AoSoA data layouts, chem snap indexing conventions, misc perf improvements
  src/KOKKOS/pair_snap_kokkos.h
  src/KOKKOS/pair_snap_kokkos_impl.h
  src/KOKKOS/sna_kokkos.h
  src/KOKKOS/sna_kokkos_impl.h
Labels: enhancement, kokkos_package, ready_for_merge, snap_package

#2180 Deallocate per-atom data less aggressively so replicate command keeps working
  src/atom_vec.cpp
  src/atom_vec.h
Labels: bugfix

#2181 Redo MSM leak fix with fewer modifications to the code
  src/KSPACE/msm.cpp
Labels: bugfix, kspace_package

#2182 Test program updates and related changes
  cmake/CMakeLists.txt
  cmake/Modules/Testing.cmake
  doc/src/Build_development.rst
  src/angle.cpp
  src/angle_hybrid.cpp
  src/atom.cpp
  src/atom_vec.cpp
  src/atom_vec.h
  src/bond.cpp
  src/bond_hybrid.cpp
  src/compute_hexorder_atom.cpp
  src/set.cpp
  src/thermo.cpp
  src/utils.cpp
  src/utils.h
  tools/valgrind/OpenMP.supp
  tools/valgrind/OpenMPI.supp
  tools/valgrind/Python3.supp
  unittest/commands/test_simple_commands.cpp
  unittest/force-styles/CMakeLists.txt
  unittest/force-styles/TestRunner.cmake
  unittest/force-styles/test_main.cpp
  unittest/force-styles/tests/manybody-pair-snap.yaml
  unittest/force-styles/tests/manybody-pair-snap_chem.yaml
  unittest/formats/test_atom_styles.cpp
  unittest/formats/test_eim_potential_file_reader.cpp
  unittest/formats/test_potential_file_reader.cpp
  unittest/utils/test_utils.cpp
Labels: bugfix, unittest_feature

#2097 Correct ghost atoms bug in fix adapt
  doc/src/fix_adapt.rst
  src/fix_adapt.cpp
  src/fix_adapt.h
  src/modify.cpp
Labels: bugfix

#2187 Fix virial computation in GPU accelerated TIP4P
  lib/gpu/lal_lj_tip4p_long.cu
  src/GPU/pair_lj_cut_tip4p_long_gpu.cpp
Labels: bugfix, gpu_package

#2190 Reduce use of local print buffers, simplify output handling with std::string and fmtlib
  examples/README
  lib/awpmd/ivutils/include/pairhash.h
  potentials/charmm22.cmap
  potentials/charmm36.cmap
  src/MANYBODY/pair_eam.cpp
  src/MOLECULE/bond_fene.cpp
  src/atom_vec_hybrid.cpp
  src/compute_cna_atom.cpp
  src/compute_group_group.cpp
  src/compute_orientorder_atom.cpp
  src/dump_cfg.cpp
  src/dump_movie.cpp
  src/finish.cpp
  src/fix_halt.cpp
  src/force.cpp
  src/group.cpp
  src/info.cpp
  src/input.cpp
  src/kspace.cpp
  src/lammps.cpp
  src/lattice.cpp
  src/min.cpp
  src/modify.cpp
  src/molecule.cpp
  src/neighbor.cpp
  src/ntopo_improper_partial.cpp
  src/pair_table.cpp
  src/read_data.cpp
  src/read_dump.cpp
  src/read_restart.cpp
  src/replicate.cpp
  src/reset_ids.cpp
  src/special.cpp
  src/thermo.cpp
  src/update.cpp
  src/utils.cpp
  tools/README
  tools/coding_standard/README
  tools/valgrind/README
Labels: bugfix, maintenance

#2167 Update GPU CMake and Makefile scripts for ROCm v3.5
  cmake/Modules/Packages/GPU.cmake
  doc/src/Speed_gpu.rst
  lib/gpu/Makefile.hip
  lib/gpu/lal_lj_tip4p_long.cpp
  tools/singularity/ubuntu18.04_amd_rocm.def
Labels: build_system, cmake, gpu_package, update

#2191 Simplify adding fixes and computes from inside LAMMPS
  src/balance.cpp
  src/compute_chunk_atom.cpp
  src/compute_displace_atom.cpp
  src/fix_box_relax.cpp
  src/fix_nph.cpp
  src/fix_nph_sphere.cpp
  src/fix_npt.cpp
  src/fix_npt_sphere.cpp
  src/fix_numdiff.cpp
  src/fix_nvt.cpp
  src/fix_nvt_sllod.cpp
  src/fix_nvt_sphere.cpp
  src/fix_press_berendsen.cpp
  src/fix_temp_berendsen.cpp
  src/fix_temp_csld.cpp
  src/fix_temp_csvr.cpp
  src/fix_temp_rescale.cpp
  src/modify.cpp
  src/modify.h
  src/neighbor.cpp
  src/output.cpp
  src/thermo.cpp
  src/variable.cpp
Labels: enhancement, maintenance

#2192 Simplify permission check tool: git only stores executable bit
  .github/CODEOWNERS
  tools/coding_standard/permissions.py
Labels: bugfix, tools

#2195 Bond/react reformat
  src/USER-REACTION/fix_bond_react.cpp
  src/group.cpp
  src/group.h
Labels: user_reaction_package

#2188 Add workaround in Kokkos PairSnap for gcc compiler bug
  src/KOKKOS/sna_kokkos_impl.h
Labels: enhancement, kokkos_package, ready_for_merge

#2198 Add metal2real or real2metal unit conversion support to a few more pair styles
  doc/src/pair_eim.rst
  examples/threebody/Si.sw
  potentials/MOH.nb3b.harmonic
  src/MANYBODY/pair_eim.cpp
  src/MANYBODY/pair_eim.h
  src/MANYBODY/pair_gw.cpp
  src/MANYBODY/pair_gw_zbl.cpp
  src/MANYBODY/pair_nb3b_harmonic.cpp
  src/pair_table.cpp
  unittest/formats/test_pair_unit_convert.cpp
Labels: enhancement, manybody_package

#2199 More application of fix/compute simplification
  src/ASPHERE/fix_nph_asphere.cpp
  src/ASPHERE/fix_npt_asphere.cpp
  src/ASPHERE/fix_nvt_asphere.cpp
  src/BODY/fix_nph_body.cpp
  src/BODY/fix_npt_body.cpp
  src/BODY/fix_nvt_body.cpp
  src/CORESHELL/compute_temp_cs.cpp
  src/GRANULAR/pair_gran_hooke_history.cpp
  src/GRANULAR/pair_granular.cpp
  src/KIM/kim_init.cpp
  src/MC/fix_bond_swap.cpp
  src/PERI/pair_peri_eps.cpp
  src/PERI/pair_peri_lps.cpp
  src/PERI/pair_peri_pmb.cpp
  src/PERI/pair_peri_ves.cpp
  src/REPLICA/fix_neb.cpp
  src/REPLICA/hyper.cpp
  src/REPLICA/prd.cpp
  src/USER-COLVARS/ndx_group.cpp
  src/balance.cpp
  src/compute_msd.cpp
  src/compute_msd_chunk.cpp
  src/compute_vacf.cpp
  src/dump_custom.cpp
  src/fix_adapt.cpp
  src/fix_nph_sphere.cpp
  src/fix_npt_sphere.cpp
  src/fix_nvt_sphere.cpp
  src/force.cpp
  src/group.cpp
  src/min.cpp
  src/modify.cpp
  src/modify.h
  src/read_restart.cpp
  src/respa.cpp
  src/thermo.cpp
Labels: enhancement, maintenance

#2201 Make more use of fmtlib and utils::logmesg()
  src/CLASS2/dihedral_class2.cpp
  src/CLASS2/improper_class2.cpp
  src/KSPACE/ewald.cpp
  src/KSPACE/ewald_dipole.cpp
  src/KSPACE/ewald_dipole_spin.cpp
  src/KSPACE/ewald_disp.cpp
  src/KSPACE/fix_tune_kspace.cpp
  src/KSPACE/msm_cg.cpp
  src/KSPACE/pppm.cpp
  src/KSPACE/pppm_cg.cpp
  src/KSPACE/pppm_dipole.cpp
  src/KSPACE/pppm_dipole_spin.cpp
  src/KSPACE/pppm_disp.cpp
  src/MANYBODY/fix_qeq_comb.cpp
  src/MANYBODY/pair_bop.cpp
  src/MANYBODY/pair_comb.cpp
  src/MANYBODY/pair_comb3.cpp
  src/MC/pair_dsmc.cpp
  src/MISC/fix_deposit.cpp
  src/MISC/fix_orient_bcc.cpp
  src/MISC/fix_orient_fcc.cpp
  src/MISC/fix_ttm.cpp
  src/MLIAP/mliap_descriptor_snap.cpp
  src/MLIAP/mliap_model.cpp
  src/MOLECULE/fix_cmap.cpp
  src/POEMS/fix_poems.cpp
  src/REPLICA/fix_hyper_local.cpp
  src/REPLICA/hyper.cpp
  src/REPLICA/prd.cpp
  src/REPLICA/tad.cpp
  unittest/force-styles/pair_style.cpp
  unittest/force-styles/tests/manybody-pair-nb3b_harmonic.yaml
  unittest/formats/test_potential_file_reader.cpp
Labels: maintenance

#2200 Update version strings for next patch release
  doc/lammps.1
  src/version.h
Labels: maintenance
