Repository lammps/lammps, pull requests merged in 2020-10, with the labels that each got.

#2398 Documentation updates plus a few small bugfixes
  cmake/CMakeLists.txt
  doc/src/Bibliography.rst
  doc/src/Build_basics.rst
  doc/src/Classes.rst
  doc/src/Classes_atom.rst
  doc/src/Classes_input.rst
  doc/src/Classes_lammps.rst
  doc/src/Cplusplus.rst
  doc/src/Developer.rst
  doc/src/Developer_flow.rst
  doc/src/Developer_org.rst
  doc/src/Developer_utils.rst
  doc/src/Developer_write.rst
  doc/src/Errors_messages.rst
  doc/src/Fortran.rst
  doc/src/Howto.rst
  doc/src/Howto_couple.rst
  doc/src/Howto_library.rst
  doc/src/Install_windows.rst
  doc/src/Library.rst
  doc/src/Library_add.rst
  doc/src/Library_config.rst
  doc/src/Library_create.rst
  doc/src/Library_execute.rst
  doc/src/Library_neighbor.rst
  doc/src/Library_objects.rst
  doc/src/Library_properties.rst
  doc/src/Library_scatter.rst
  doc/src/Library_utility.rst
  doc/src/Manual.rst
  doc/src/Python_head.rst
  doc/src/Python_module.rst
  doc/src/compute_centro_atom.rst
  doc/src/dump_cfg_uef.rst
  doc/src/dump_image.rst
  doc/src/pair_mesocnt.rst
  doc/src/pair_mesont_tpm.rst
  doc/src/pair_resquared.rst
  doc/src/pg_lib_create.rst
  doc/src/pg_lib_properties.rst
  doc/src/pg_lib_scatter.rst
  doc/src/restart.rst
  doc/utils/sphinx-config/_static/css/lammps.css
  python/lammps.py
  src/dump_image.cpp
  src/dump_image.h
  src/library.cpp
  tools/msi2lmp/src/msi2lmp.c
  unittest/c-library/test_library_properties.cpp
Labels: bugfix, documentation, library_interface, python_module

#2400 A few more static code analysis fixes
  src/USER-DIFFRACTION/fix_saed_vtk.cpp
  src/USER-MISC/compute_viscosity_cos.cpp
  src/compute_slice.cpp
  src/dump_custom.cpp
  src/fix_ave_histo.cpp
  src/fix_ave_histo_weight.cpp
  src/fix_ave_time.cpp
  src/min.cpp
  src/update.cpp
  src/variable.cpp
Labels: bugfix, maintenance

#2406 bond/react: rmsd constraint bugfix
  src/USER-REACTION/fix_bond_react.cpp
Labels: bugfix, user_reaction_package

#2409 PR to relate "math_eigen_impl.h" with an author
  src/math_eigen_impl.h
Labels: maintenance

#2408 Add a LAMMPS shell tool as alternative to the LAMMPS executable for interactive use
  .gitignore
  cmake/CMakeLists.txt
  doc/src/Build_basics.rst
  doc/src/Howto_cmake.rst
  doc/src/Library_config.rst
  doc/src/Library_utility.rst
  doc/src/Tools.rst
  src/library.cpp
  src/library.h
  src/variable.h
  tools/README
  tools/lammps-shell/.gitignore
  tools/lammps-shell/Makefile
  tools/lammps-shell/README
  tools/lammps-shell/lammps-shell.cpp
  unittest/c-library/test_library_config.cpp
Labels: library_interface, tools

#2411 Corrections for fix wall/gran and wall/gran/region
  doc/src/fix_wall_gran.rst
  doc/src/fix_wall_gran_region.rst
  src/GRANULAR/fix_wall_gran_region.cpp
Labels: bugfix, documentation

#2407 Collected small changes and bugfixes for the next patch release
  cmake/CMakeLists.txt
  cmake/presets/all_off.cmake
  cmake/presets/all_on.cmake
  doc/src/Tools.rst
  doc/src/if.rst
  src/SPIN/fix_neb_spin.cpp
  src/library.cpp
  src/timer.cpp
  src/variable.cpp
  tools/lammps-shell/README
  tools/lammps-shell/lammps-shell.cpp
  tools/singularity/centos7.def
  tools/singularity/centos8.def
  tools/singularity/fedora32_mingw.def
  tools/singularity/ubuntu16.04.def
  tools/singularity/ubuntu18.04.def
  tools/singularity/ubuntu18.04_amd_rocm.def
  tools/singularity/ubuntu18.04_gpu.def
  tools/singularity/ubuntu18.04_intel_opencl.def
  tools/singularity/ubuntu18.04_nvidia.def
  tools/singularity/ubuntu20.04.def
  tools/singularity/ubuntu20.04_amd_rocm.def
  tools/singularity/ubuntu20.04_gpu.def
  tools/singularity/ubuntu20.04_intel_opencl.def
  tools/singularity/ubuntu20.04_nvidia.def
Labels: bugfix, maintenance, work_in_progress

#2389 Pair style for charge-dipole damping with Tang-Toennies function
  doc/src/Commands_pair.rst
  doc/src/pair_coul_tt.rst
  doc/src/pair_style.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/USER/drude/README
  examples/USER/drude/ethylene_glycol/data.ethylene_glycol
  examples/USER/drude/ethylene_glycol/in.ethylene_glycol
  examples/USER/drude/ethylene_glycol/log.18Sep20.ethylene_glycol.g++.1
  examples/USER/drude/ethylene_glycol/log.18Sep20.ethylene_glycol.g++.4
  src/USER-DRUDE/README
  src/USER-DRUDE/pair_coul_tt.cpp
  src/USER-DRUDE/pair_coul_tt.h
Labels: enhancement, user_drude_package

#2403 Update of fortran2 interface for recent changes in the C-library interface
  examples/COUPLE/fortran2/LAMMPS.F90
  examples/COUPLE/fortran2/Makefile
  examples/COUPLE/fortran2/README
  examples/COUPLE/fortran2/simple.f90
Labels: fortran_interface, library_interface

#2404 Make f2c_string utility function of the new Fortran module portable across Fortran compilers
  doc/src/Fortran.rst
  fortran/lammps.f90
Labels: bugfix, fortran_interface

#2412 Updates to the Programmer Guide part of the Manual
  doc/graphviz/lammps-invoke-python.dot
  doc/graphviz/pylammps-invoke-lammps.dot
  doc/graphviz/python-invoke-lammps.dot
  doc/src/Build_basics.rst
  doc/src/Fortran.rst
  doc/src/Howto_pylammps.rst
  doc/src/Install_patch.rst
  doc/src/JPG/lammps-classes.png
  doc/src/JPG/lammps-invoke-python.png
  doc/src/JPG/pylammps-invoke-lammps.png
  doc/src/JPG/python-invoke-lammps.png
  doc/src/Library_add.rst
  doc/src/Library_config.rst
  doc/src/Library_neighbor.rst
  doc/src/Library_objects.rst
  doc/src/Library_scatter.rst
  doc/src/Library_utility.rst
  doc/src/Python_call.rst
  doc/src/Python_config.rst
  doc/src/Python_error.rst
  doc/src/Python_examples.rst
  doc/src/Python_ext.rst
  doc/src/Python_head.rst
  doc/src/Python_install.rst
  doc/src/Python_library.rst
  doc/src/Python_module.rst
  doc/src/Python_mpi.rst
  doc/src/Python_neighbor.rst
  doc/src/Python_overview.rst
  doc/src/Python_pylammps.rst
  doc/src/Python_run.rst
  doc/src/Python_shlib.rst
  doc/src/Python_test.rst
  doc/src/Python_trouble.rst
  doc/src/Python_usage.rst
  doc/src/compute_tally.rst
  doc/src/python.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/python/in.fix_python_invoke_neighlist
  python/lammps.py
  src/library.cpp
  unittest/python/python-commands.py
  unittest/python/python-numpy.py
  unittest/python/python-open.py
Labels: documentation, doxygen, python_module

#2414 Update version strings for next patch release
  doc/lammps.1
  src/version.h
Labels: maintenance

#2421 Remove outdated or obsolete files
  bench/KEPLER/Makefile.cpu
  bench/KEPLER/Makefile.cuda
  bench/KEPLER/Makefile.gpu
  bench/KEPLER/Makefile.gpu.double
  bench/KEPLER/Makefile.gpu.mixed
  bench/KEPLER/Makefile.gpu.single
  bench/KEPLER/Makefile.intel.cpu
  bench/KEPLER/Makefile.kokkos.cuda
  bench/KEPLER/Makefile.kokkos.omp
  bench/KEPLER/Makefile.omp
  bench/KEPLER/Makefile.opt
  bench/KEPLER/README
  bench/KEPLER/build.py
  bench/KEPLER/in.lj
  bench/KEPLER/run_cpu.sh
  bench/KEPLER/run_cuda.sh
  bench/KEPLER/run_gpu.sh
  bench/KEPLER/run_intel_cpu.sh
  bench/KEPLER/run_kokkos_cuda.sh
  bench/KEPLER/run_kokkos_omp.sh
  bench/KEPLER/run_omp.sh
  bench/KEPLER/run_opt.sh
  bench/KEPLER/run_strong.sh
  bench/KEPLER/run_weak.sh
  examples/accelerate/Make.list
  examples/accelerate/README
  examples/accelerate/data.phosphate
  examples/accelerate/in.lc
  examples/accelerate/in.lj
  examples/accelerate/in.lj.5.0
  examples/accelerate/in.phosphate
  examples/accelerate/in.rhodo
  examples/accelerate/log.lj.1Feb14.gpu.1
  examples/accelerate/log.lj.1Feb14.gpu.4
  examples/accelerate/log.lj.1Feb14.kokkos.cuda.1
  examples/accelerate/log.lj.1Feb14.kokkos.cuda.2
  examples/accelerate/log.lj.1Feb14.kokkos.omp.1
  examples/accelerate/log.lj.1Feb14.kokkos.omp.4
  examples/accelerate/log.lj.5.0.1Feb14.gpu.1
  examples/accelerate/log.lj.5.0.1Feb14.gpu.4
  examples/accelerate/log.phosphate.1Feb14.gpu.1
  examples/accelerate/log.phosphate.1Feb14.gpu.4
  examples/accelerate/log.rhodo.1Feb14.gpu.1
  examples/accelerate/log.rhodo.1Feb14.gpu.4
  src/MAKE/MACHINES/Makefile.astra_gcc
  src/MAKE/MACHINES/Makefile.bgl
  src/MAKE/MACHINES/Makefile.chama
  src/MAKE/MACHINES/Makefile.glory
  src/MAKE/MACHINES/Makefile.icex
  src/MAKE/MACHINES/Makefile.mingw32-cross
  src/MAKE/MACHINES/Makefile.mingw32-cross-mpi
  src/MAKE/MACHINES/Makefile.mingw64-cross
  src/MAKE/MACHINES/Makefile.mingw64-cross-mpi
  src/MAKE/MACHINES/Makefile.myrinet
  src/MAKE/MACHINES/Makefile.redsky
  src/MAKE/MACHINES/Makefile.storm
  src/MAKE/MACHINES/Makefile.tacc
  src/MAKE/MACHINES/Makefile.xt3
  src/MAKE/MACHINES/Makefile.xt5
Labels: maintenance

#2422 Update fix_widom.rst
  doc/src/fix_widom.rst
Labels: documentation, mc_package

#2425 More updates/reorganization of the programmer part of the manual
  doc/doxygen/lammps-logo.png
  doc/graphviz/Makefile
  doc/graphviz/lammps-classes.dot
  doc/src/Build_windows.rst
  doc/src/Classes.rst
  doc/src/Developer.rst
  doc/src/Developer_org.rst
  doc/src/Developer_utils.rst
  doc/src/Developer_write.rst
  doc/src/Fortran.rst
  doc/src/Howto_library.rst
  doc/src/JPG/lammps-classes.png
  doc/src/Manual.rst
  doc/src/Modify_bond.rst
  doc/src/Python_atoms.rst
  doc/src/Python_call.rst
  doc/src/Python_config.rst
  doc/src/Python_create.rst
  doc/src/Python_error.rst
  doc/src/Python_examples.rst
  doc/src/Python_execute.rst
  doc/src/Python_ext.rst
  doc/src/Python_head.rst
  doc/src/Python_launch.rst
  doc/src/Python_neighbor.rst
  doc/src/Python_objects.rst
  doc/src/Python_overview.rst
  doc/src/Python_properties.rst
  doc/src/Python_run.rst
  doc/src/Python_scatter.rst
  doc/src/Python_usage.rst
  doc/utils/sphinx-config/_static/css/lammps.css
  doc/utils/sphinx-config/_static/lammps-logo.png
  doc/utils/sphinx-config/_static/lammps.ico
  doc/utils/sphinx-config/conf.py.in
  examples/COUPLE/simple/simple.f90
  python/lammps.py
Labels: documentation

#2427 A few more tweaks for the LAMMPS Shell
  tools/lammps-shell/lammps-shell.cpp
Labels: tools

#2432 Collected small changes for the stable release
  doc/src/Tools.rst
  examples/USER/smd/aluminum_strip_pull/in.aluminum_strip_pull
  examples/USER/smd/aluminum_strip_pull/log.9Oct20.aluminum_strip_pull.g++.1
  examples/USER/smd/aluminum_strip_pull/log.9Oct20.aluminum_strip_pull.g++.4
  examples/USER/smd/fluid_structure_interaction/in.fluid_structure_interaction
  examples/USER/smd/fluid_structure_interaction/log.9Oct20.fluid_structure_interaction.g++.1
  examples/USER/smd/fluid_structure_interaction/log.9Oct20.fluid_structure_interaction.g++.4
  examples/USER/smd/funnel_flow/in.funnel_flow
  examples/USER/smd/funnel_flow/log.9Oct20.funnel_flow.g++.1
  examples/USER/smd/funnel_flow/log.9Oct20.funnel_flow.g++.4
  examples/USER/smd/rubber_rings_3d/in.rubber_rings_3d
  examples/USER/smd/rubber_rings_3d/log.9Oct20.rubber_rings_3d.g++.1
  examples/USER/smd/rubber_rings_3d/log.9Oct20.rubber_rings_3d.g++.4
  examples/USER/smd/rubber_strip_pull/in.rubber_strip_pull
  examples/USER/smd/rubber_strip_pull/log.9Oct20.rubber_strip_pull.g++.1
  examples/USER/smd/rubber_strip_pull/log.9Oct20.rubber_strip_pull.g++.4
  examples/micelle/in.micelle.rigid
  src/USER-SMD/pair_smd_tlsph.cpp
  tools/lammps-shell/lammps-shell.cpp
Labels: documentation, tools

#2433 Clarified order of rho_alpha_beta density functions
  doc/src/pair_eam.rst
Labels: documentation, update

#2429 Minor updates to the Python docs
  doc/src/Python_examples.rst
  doc/src/Python_execute.rst
  doc/src/Python_launch.rst
  doc/src/Python_run.rst
Labels: documentation, python_module

#2434 Provide an interface file for creating script wrappers for LAMMPS with SWIG
  cmake/CMakeLists.txt
  cmake/presets/mingw-cross.cmake
  doc/src/Modify_compute.rst
  doc/src/Python_examples.rst
  doc/src/Tools.rst
  doc/src/compute_angle.rst
  doc/src/fix_nh_uef.rst
  doc/src/pair_eam.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/COUPLE/README
  examples/COUPLE/lammps_mc/README
  examples/COUPLE/lammps_nwchem/README
  examples/COUPLE/lammps_spparks/README
  examples/COUPLE/lammps_vasp/README
  examples/README
  examples/USER/misc/ipi/README
  examples/message/README
  examples/peptide/README
  src/USER-MISC/README
  tools/README
  tools/swig/CMakeLists.txt
  tools/swig/README
  tools/swig/lammps.i
  tools/swig/lammps_shell.i
  tools/swig/run_java_example.sh
  tools/swig/run_lua_example.sh
  tools/swig/run_perl_example.sh
  tools/swig/run_python_example.sh
  tools/swig/run_ruby_example.sh
  tools/swig/run_tcl_example.sh
  tools/swig/tcldummy.c
Labels: library_interface, tools

#2438 Small updates to SWIG tool for increased portability and correctness
  tools/README
  tools/swig/CMakeLists.txt
  tools/swig/run_java_example.sh.in
  tools/swig/run_lua_example.sh.in
  tools/swig/run_perl_example.sh.in
  tools/swig/run_python_example.sh.in
  tools/swig/run_ruby_example.sh.in
  tools/swig/run_tcl_example.sh.in
Labels: cmake, tools

#2439 Collected small changes for the next release
  doc/src/Library_create.rst
  doc/src/Library_utility.rst
  src/library.cpp
  src/library.h
  tools/swig/CMakeLists.txt
  unittest/tools/test_lammps_shell.py
Labels: documentation, library_interface, unittest_feature

#2443 Step version strings for next release
  doc/lammps.1
  src/version.h
Labels: maintenance

#2445 Add desktop integration for LAMMPS shell
  cmake/Modules/Tools.cmake
  src/utils.cpp
  src/utils.h
  tools/lammps-shell/README
  tools/lammps-shell/icons/hicolor/128x128/apps/lammps.png
  tools/lammps-shell/icons/hicolor/16x16/apps/lammps.png
  tools/lammps-shell/icons/hicolor/22x22/apps/lammps.png
  tools/lammps-shell/icons/hicolor/32x32/apps/lammps.png
  tools/lammps-shell/icons/hicolor/48x48/apps/lammps.png
  tools/lammps-shell/icons/hicolor/64x64/apps/lammps.png
  tools/lammps-shell/icons/lammps.ico
  tools/lammps-shell/icons/lmpfile.ico
  tools/lammps-shell/lammps-shell.cpp
  tools/lammps-shell/lammps-shell.desktop
  tools/lammps-shell/lmpicons.rc
  unittest/utils/test_utils.cpp
Labels: ready_for_merge, tools

#2444 Add support for extra global DOFs to Kokkos minimize
  src/KOKKOS/min_cg_kokkos.cpp
  src/KOKKOS/min_kokkos.cpp
  src/KOKKOS/min_linesearch_kokkos.cpp
  src/KOKKOS/min_linesearch_kokkos.h
Labels: enhancement, kokkos_package, ready_for_merge

#2453 Enable gathering of git info with git v1.8.3.1
  cmake/Modules/generate_lmpgitversion.cmake
Labels: bugfix, cmake

#2452 Bond/react: docs clarifications
  doc/src/fix_bond_react.rst
  src/USER-REACTION/README
Labels: documentation, user_reaction_package

#2442 Create logic in parsing KIM Simulator Models to treat periodic vs. aperiodic simulations differently
  src/KIM/kim_interactions.cpp
Labels: kim_package

#2447 Fix bugs and update implementation of atom style template
  cmake/Modules/Tools.cmake
  doc/src/atom_style.rst
  doc/src/create_atoms.rst
  doc/src/molecule.rst
  doc/src/read_data.rst
  doc/utils/sphinx-config/_themes/lammps_theme/layout.html
  examples/README
  examples/gcmc/data.spce
  examples/template/co2.mol
  examples/template/cyclohexane.mol
  examples/template/h2o-co2.data
  examples/template/h2o.mol
  examples/template/in.hybrid
  examples/template/in.mol-data-mix
  examples/template/in.mol-restart-mix
  examples/template/in.molecular-mix
  examples/template/in.template-mix
  examples/template/in.tmpl-data-mix
  examples/template/in.tmpl-restart-mix
  examples/template/log.22Oct20.hybrid.g++.1
  examples/template/log.22Oct20.hybrid.g++.4
  examples/template/log.22Oct20.mol-data-mix.g++.1
  examples/template/log.22Oct20.mol-data-mix.g++.4
  examples/template/log.22Oct20.mol-restart-mix.g++.1
  examples/template/log.22Oct20.mol-restart-mix.g++.4
  examples/template/log.22Oct20.molecular-mix.g++.1
  examples/template/log.22Oct20.molecular-mix.g++.4
  examples/template/log.22Oct20.template-mix.g++.1
  examples/template/log.22Oct20.template-mix.g++.4
  examples/template/log.22Oct20.tmpl-data-mix.g++.1
  examples/template/log.22Oct20.tmpl-data-mix.g++.4
  examples/template/log.22Oct20.tmpl-restart-mix.g++.1
  examples/template/log.22Oct20.tmpl-restart-mix.g++.4
  examples/template/molecular-mix.data
  examples/template/template-mix.data
  src/MISC/fix_deposit.cpp
  src/MOLECULE/atom_vec_template.cpp
  src/MOLECULE/atom_vec_template.h
  src/RIGID/fix_shake.cpp
  src/atom.cpp
  src/info.cpp
  src/molecule.cpp
  src/read_data.cpp
  src/read_restart.cpp
  src/write_data.cpp
Labels: bugfix, documentation

#2460 Kokkos bugfix for pair forward comm
  src/KOKKOS/comm_kokkos.cpp
Labels: bugfix, kokkos_package, ready_for_merge

#2448 Fix a couple issues related to read dump
  src/dump_dcd.cpp
  src/read_dump.cpp
Labels: bugfix, dump_feature, ready_for_merge

#2455 Add non-numeric pressure check to fix box/relax
  src/fix_box_relax.cpp
Labels: enhancement, ready_for_merge

#2456 Final changes for stable release
  cmake/Modules/Documentation.cmake
  doc/Makefile
  doc/src/Build_manual.rst
  doc/src/Manual.rst
  doc/utils/sphinx-config/_themes/lammps_theme/layout.html
  src/RIGID/fix_rigid.cpp
  src/RIGID/fix_rigid_small.cpp
  src/delete_atoms.cpp
  src/replicate.cpp
  unittest/formats/test_atom_styles.cpp
  unittest/tools/test_lammps_shell.py
Labels: bugfix, documentation, unittest_feature

#2458 Step version string for next LAMMPS release
  doc/lammps.1
  src/version.h
Labels: maintenance
