Repository lammps/lammps, pull requests merged in 2020-04, with the labels that each got.

#1973 Small extension of bonds supported by fix adapt
  doc/src/fix_adapt.rst
  src/CLASS2/bond_class2.cpp
  src/CLASS2/bond_class2.h
  src/MOLECULE/bond_fene.cpp
  src/MOLECULE/bond_fene.h
  src/MOLECULE/bond_morse.cpp
  src/MOLECULE/bond_morse.h
  src/MOLECULE/bond_nonlinear.cpp
  src/MOLECULE/bond_nonlinear.h
Labels: enhancement

#1969 Work around team_size issue in npair_kokkos
  src/KOKKOS/npair_kokkos.cpp
Labels: enhancement, kokkos_package

#1974 Fix MPI environment variable issue in Makefile.kokkos
  lib/kokkos/Makefile.kokkos
Labels: bugfix, kokkos_package

#1956 cmake: major refactor
  cmake/CMakeLists.txt
  cmake/FindLAMMPS.cmake.in
  cmake/LAMMPSConfig.cmake.in
  cmake/Modules/FindFFTW3.cmake
  cmake/Modules/FindFFTW3F.cmake
  cmake/Modules/FindKIM-API.cmake
  cmake/Modules/FindLATTE.cmake
  cmake/Modules/FindMKL.cmake
  cmake/Modules/FindMSCG.cmake
  cmake/Modules/FindNetCDF.cmake
  cmake/Modules/FindPNetCDF.cmake
  cmake/Modules/FindQUIP.cmake
  cmake/Modules/FindTBB.cmake
  cmake/Modules/FindTBB_MALLOC.cmake
  cmake/Modules/FindVORO.cmake
  cmake/Modules/FindZMQ.cmake
  cmake/Modules/MPI4WIN.cmake
  cmake/Modules/Packages/COMPRESS.cmake
  cmake/Modules/Packages/CORESHELL.cmake
  cmake/Modules/Packages/GPU.cmake
  cmake/Modules/Packages/KIM.cmake
  cmake/Modules/Packages/KOKKOS.cmake
  cmake/Modules/Packages/KSPACE.cmake
  cmake/Modules/Packages/LATTE.cmake
  cmake/Modules/Packages/MESSAGE.cmake
  cmake/Modules/Packages/MSCG.cmake
  cmake/Modules/Packages/OPT.cmake
  cmake/Modules/Packages/PYTHON.cmake
  cmake/Modules/Packages/QEQ.cmake
  cmake/Modules/Packages/USER-COLVARS.cmake
  cmake/Modules/Packages/USER-H5MD.cmake
  cmake/Modules/Packages/USER-INTEL.cmake
  cmake/Modules/Packages/USER-MOLFILE.cmake
  cmake/Modules/Packages/USER-NETCDF.cmake
  cmake/Modules/Packages/USER-OMP.cmake
  cmake/Modules/Packages/USER-PLUMED.cmake
  cmake/Modules/Packages/USER-QMMM.cmake
  cmake/Modules/Packages/USER-QUIP.cmake
  cmake/Modules/Packages/USER-SCAFACOS.cmake
  cmake/Modules/Packages/USER-SDPD.cmake
  cmake/Modules/Packages/USER-SMD.cmake
  cmake/Modules/Packages/USER-VTK.cmake
  cmake/Modules/Packages/VORONOI.cmake
  cmake/pkgconfig/liblammps.pc.in
  examples/COUPLE/simple/CMakeLists.txt
  examples/COUPLE/simple/simple.c
Labels: cmake, ready_for_merge

#1937 fix adapt: implement scale keyword for diameter/charge and 2d compatibility
  doc/src/fix_adapt.rst
  src/fix_adapt.cpp
  src/fix_adapt.h
Labels: enhancement

#1988 Fix typo in latex formula (cosine was not squared)
  doc/src/pair_cosine_squared.rst
Labels: documentation

#1983 cmake: small corrections and updates
  cmake/CMakeLists.txt
  cmake/LAMMPSConfig.cmake.in
  cmake/Modules/Packages/KIM.cmake
  cmake/Modules/Packages/KOKKOS.cmake
  cmake/Modules/Packages/LATTE.cmake
  cmake/Modules/Packages/MSCG.cmake
  cmake/Modules/Packages/USER-PLUMED.cmake
  cmake/Modules/Packages/USER-SCAFACOS.cmake
  cmake/Modules/Packages/USER-SMD.cmake
  cmake/Modules/Packages/VORONOI.cmake
  cmake/Modules/Testing.cmake
Labels: cmake

#1993 Use utils::strmatch() in USER-DPD and KOKKOS for safer style matches
  src/KOKKOS/fix_rx_kokkos.cpp
  src/KOKKOS/pair_table_rx_kokkos.cpp
  src/USER-DPD/fix_eos_table_rx.cpp
  src/USER-DPD/fix_rx.cpp
  src/USER-DPD/fix_shardlow.cpp
  src/USER-DPD/pair_dpd_fdt.cpp
  src/USER-DPD/pair_dpd_fdt_energy.cpp
  src/USER-DPD/pair_exp6_rx.cpp
  src/USER-DPD/pair_multi_lucy_rx.cpp
  src/USER-DPD/pair_table_rx.cpp
Labels: bugfix, kokkos_package, maintenance, user_dpd_package

#1992 Recover cross compilation with MinGW
  lib/colvars/lepton/src/MSVC_erfc.h
  src/GRANULAR/fix_wall_gran.cpp
  src/PERI/pair_peri_eps.cpp
  src/USER-INTEL/pair_airebo_intel.cpp
  src/USER-MISC/fix_pimd.cpp
  src/USER-MISC/fix_rhok.cpp
  src/USER-QTB/fix_qbmsst.cpp
  src/USER-QTB/fix_qtb.cpp
Labels: bugfix, maintenance

#1995 Update CMake scripts to build the HTML docs correctly
  cmake/Modules/Documentation.cmake
  doc/src/JPG/bow_tutorial_01.png
  doc/src/JPG/bow_tutorial_01_small.png
  doc/src/JPG/bow_tutorial_02.png
  doc/src/JPG/bow_tutorial_02_small.png
  doc/src/JPG/bow_tutorial_03.png
  doc/src/JPG/bow_tutorial_03_small.png
  doc/src/JPG/bow_tutorial_04.png
  doc/src/JPG/bow_tutorial_04_small.png
  doc/src/JPG/bow_tutorial_05.png
  doc/src/JPG/bow_tutorial_06.png
  doc/src/JPG/bow_tutorial_07.png
  doc/src/JPG/bow_tutorial_08.png
  doc/src/JPG/bow_tutorial_09.png
  doc/src/JPG/bow_tutorial_10.png
  doc/src/JPG/offload_knc.png
  doc/src/JPG/rhodo_staggered.jpg
  doc/src/JPG/saed_ewald_intersect.jpg
  doc/src/JPG/saed_ewald_intersect_small.jpg
  doc/src/JPG/saed_mesh.jpg
  doc/src/JPG/saed_mesh_small.jpg
  doc/src/JPG/user_intel.png
  doc/src/JPG/xrd_mesh.jpg
  doc/src/JPG/xrd_mesh_small.jpg
Labels: cmake, ready_for_merge

#1998 Fix installation of lammps.py with CMake
  cmake/CMakeLists.txt
Labels: build_system, cmake

#1996 cmake: improve exported target
  cmake/CMakeLists.txt
  cmake/LAMMPSConfig.cmake.in
Labels: cmake

#1874 Refactor handling of box change information from fixes
  doc/src/Errors_messages.rst
  src/RIGID/fix_rigid_nh.cpp
  src/RIGID/fix_rigid_nh_small.cpp
  src/RIGID/fix_rigid_nph.cpp
  src/RIGID/fix_rigid_nph_small.cpp
  src/RIGID/fix_rigid_npt.cpp
  src/RIGID/fix_rigid_npt_small.cpp
  src/SHOCK/fix_append_atoms.cpp
  src/SHOCK/fix_msst.cpp
  src/SRD/fix_srd.cpp
  src/USER-BOCS/fix_bocs.cpp
  src/USER-MISC/fix_npt_cauchy.cpp
  src/USER-OMP/fix_rigid_nph_omp.cpp
  src/USER-OMP/fix_rigid_npt_omp.cpp
  src/USER-QTB/fix_qbmsst.cpp
  src/USER-UEF/fix_nh_uef.cpp
  src/domain.cpp
  src/domain.h
  src/fix.cpp
  src/fix.h
  src/fix_balance.cpp
  src/fix_box_relax.cpp
  src/fix_deform.cpp
  src/fix_nh.cpp
  src/fix_press_berendsen.cpp
Labels: enhancement, ready_for_merge

#1999 Add support for "internal" kim_match_pairs command
  src/KIM/kim_interactions.cpp
  src/KIM/kim_interactions.h
Labels: kim_package, maintenance

#1957 Restrain lbound
  doc/src/fix_restrain.rst
  src/KOKKOS/min_kokkos.cpp
  src/fix_restrain.cpp
  src/fix_restrain.h
Labels: enhancement

#1997 Defines to build and link the Lepton library with MSVC
  cmake/Modules/Packages/USER-COLVARS.cmake
  lib/colvars/Makefile.common
Labels: build_system, cmake

#2003 Remove unnecessary error check in USER-DPD fix rx
  .github/CODEOWNERS
  src/USER-DPD/fix_rx.cpp
Labels: bugfix, ready_for_merge, user_dpd_package

#2000 Update for pair style polymorphic from Xiaowang Zhou
  doc/src/pair_momb.rst
  doc/src/pair_polymorphic.rst
  doc/utils/sphinx-config/false_positives.txt
  potentials/FeCH_BOP_I.poly
  potentials/FeCH_BOP_II.poly
  potentials/TlBr_msw.poly
  src/MANYBODY/pair_polymorphic.cpp
  src/MANYBODY/pair_polymorphic.h
  src/USER-MISC/dihedral_nharmonic.cpp
Labels: manybody_package, ready_for_merge, update

#2022 github templates: turn comments in real comments
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/generic.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/bug_fix.md
  .github/PULL_REQUEST_TEMPLATE/maintenance_refactoring.md
  .github/PULL_REQUEST_TEMPLATE/new_feature.md
  .github/PULL_REQUEST_TEMPLATE/update_enhancement.md
Labels: github

#2018 cmake: move kim-api detection to cmake config
  cmake/LAMMPSConfig.cmake.in
  cmake/Modules/Packages/KIM.cmake
Labels: cmake, kim_package, ready_for_merge

#2014 Added changes to support SMs setting charges in kim_interactions
  src/KIM/kim_interactions.cpp
  src/KIM/kim_interactions.h
Labels: kim_package, ready_for_merge

#2010 Collected bug fixes and small updates
  .github/CODEOWNERS
  doc/include-file-conventions.md
  doc/src/compute_stress_atom.rst
  doc/src/fix_heat.rst
  src/KSPACE/pair_buck_long_coul_long.cpp
  src/KSPACE/pair_lj_long_coul_long.cpp
  src/fix_heat.cpp
  src/hashlittle.h
  src/info.cpp
  src/math_special.cpp
  src/replicate.cpp
  src/timer.cpp
  tools/singularity/ubuntu16.04.def
  tools/singularity/ubuntu18.04.def
  tools/singularity/ubuntu18.04_amd_rocm.def
  tools/singularity/ubuntu18.04_intel_opencl.def
  tools/singularity/ubuntu18.04_nvidia.def
  tools/singularity/ubuntu20.04.def
Labels: bugfix, documentation, ready_for_merge, tools

#2006 Fixed the doc page for fix wall/body/polyhedron
  doc/src/fix_wall_body_polyhedron.rst
Labels: documentation, ready_for_merge

#2032 Reset image flag(s) when changing from periodic to non-periodic
  doc/src/change_box.rst
  src/domain.cpp
Labels: bugfix

#2027 USER-PLUMED: remove unused defines
  cmake/Modules/Packages/USER-PLUMED.cmake
  lib/plumed/Makefile.lammps.runtime
  lib/plumed/Makefile.lammps.runtime.macosx
  lib/plumed/Makefile.lammps.static
Labels: cmake

#2026 Fixed bugs with special bonds for ellipsoid gpu pair styles
  lib/gpu/lal_atom.cu
  lib/gpu/lal_beck.cu
  lib/gpu/lal_born.cu
  lib/gpu/lal_born_coul_long.cu
  lib/gpu/lal_born_coul_long_cs.cu
  lib/gpu/lal_born_coul_wolf.cu
  lib/gpu/lal_born_coul_wolf_cs.cu
  lib/gpu/lal_buck.cu
  lib/gpu/lal_buck_coul.cu
  lib/gpu/lal_buck_coul_long.cu
  lib/gpu/lal_charmm_long.cu
  lib/gpu/lal_colloid.cu
  lib/gpu/lal_coul.cu
  lib/gpu/lal_coul_debye.cu
  lib/gpu/lal_coul_dsf.cu
  lib/gpu/lal_coul_long.cu
  lib/gpu/lal_coul_long_cs.cu
  lib/gpu/lal_dipole_lj.cu
  lib/gpu/lal_dipole_lj_sf.cu
  lib/gpu/lal_dipole_long_lj.cu
  lib/gpu/lal_dpd.cu
  lib/gpu/lal_eam.cu
  lib/gpu/lal_ellipsoid_nbor.cu
  lib/gpu/lal_gauss.cu
  lib/gpu/lal_gayberne.cu
  lib/gpu/lal_gayberne_lj.cu
  lib/gpu/lal_lj.cu
  lib/gpu/lal_lj96.cu
  lib/gpu/lal_lj_class2_long.cu
  lib/gpu/lal_lj_coul.cu
  lib/gpu/lal_lj_coul_debye.cu
  lib/gpu/lal_lj_coul_long.cu
  lib/gpu/lal_lj_coul_msm.cu
  lib/gpu/lal_lj_cubic.cu
  lib/gpu/lal_lj_dsf.cu
  lib/gpu/lal_lj_expand.cu
  lib/gpu/lal_lj_expand_coul_long.cu
  lib/gpu/lal_lj_gromacs.cu
  lib/gpu/lal_lj_sdk.cu
  lib/gpu/lal_lj_sdk_long.cu
  lib/gpu/lal_mie.cu
  lib/gpu/lal_morse.cu
  lib/gpu/lal_neighbor_cpu.cu
  lib/gpu/lal_neighbor_gpu.cu
  lib/gpu/lal_pppm.cu
  lib/gpu/lal_re_squared.cu
  lib/gpu/lal_re_squared_lj.cu
  lib/gpu/lal_soft.cu
  lib/gpu/lal_sw.cu
  lib/gpu/lal_table.cu
  lib/gpu/lal_tersoff.cu
  lib/gpu/lal_tersoff_mod.cu
  lib/gpu/lal_tersoff_zbl.cu
  lib/gpu/lal_ufm.cu
  lib/gpu/lal_vashishta.cu
  lib/gpu/lal_yukawa.cu
  lib/gpu/lal_yukawa_colloid.cu
  lib/gpu/lal_zbl.cu
Labels: bugfix, gpu_package

#2030 Revert "cmake: move kim-api detection to cmake config"
  cmake/LAMMPSConfig.cmake.in
  cmake/Modules/Packages/KIM.cmake
Labels: cmake, kim_package

#1895 Add Kokkos version of compute orientorder/atom
  doc/src/compute_orientorder_atom.rst
  src/KOKKOS/Install.sh
  src/KOKKOS/compute_orientorder_atom_kokkos.cpp
  src/KOKKOS/compute_orientorder_atom_kokkos.h
  src/KOKKOS/compute_temp_kokkos.cpp
  src/KOKKOS/kokkos_type.h
  src/KOKKOS/sna_kokkos.h
  src/compute.cpp
  src/compute.h
  src/compute_orientorder_atom.cpp
  src/compute_orientorder_atom.h
Labels: enhancement, kokkos_package, ready_for_merge

#2013 small modification to fix bond/react to allow equal style variables as probability input
  doc/src/fix_bond_react.rst
  examples/USER/reaction/nylon,6-6_melt/large_nylon_melt.data.gz
  examples/USER/reaction/tiny_nylon/in.tiny_nylon.stabilized_variable_probability
  examples/USER/reaction/tiny_nylon/log.22Apr20.tiny_nylon.stabilized_variable_probability.g++.1
  examples/USER/reaction/tiny_nylon/log.22Apr20.tiny_nylon.stabilized_variable_probability.g++.4
  src/USER-REACTION/fix_bond_react.cpp
  src/USER-REACTION/fix_bond_react.h
Labels: enhancement, ready_for_merge, user_reaction_package

#2016 cmake: add support for latte super-build
  cmake/Modules/Packages/LATTE.cmake
Labels: cmake

#1906 Add method to copy Kokkos neighbor list to CPU list
  src/KOKKOS/neigh_list_kokkos.cpp
  src/KOKKOS/neigh_list_kokkos.h
  src/KOKKOS/npair_copy_kokkos.cpp
  src/KOKKOS/npair_copy_kokkos.h
  src/KOKKOS/npair_halffull_kokkos.cpp
  src/KOKKOS/npair_kokkos.cpp
  src/KOKKOS/npair_ssa_kokkos.cpp
  src/neigh_list.cpp
  src/neigh_list.h
  src/neighbor.cpp
Labels: enhancement, kokkos_package, neighborlist_feature, test-for-regression

#2043 Update ubuntu ppa install docs
  doc/src/Commands_compute.rst
  doc/src/Howto_cmake.rst
  doc/src/Install_linux.rst
  doc/src/compute_orientorder_atom.rst
Labels: documentation

#2035 Fix UVM compile issues
  src/KOKKOS/angle_charmm_kokkos.cpp
  src/KOKKOS/angle_charmm_kokkos.h
  src/KOKKOS/bond_harmonic_kokkos.cpp
  src/KOKKOS/bond_harmonic_kokkos.h
  src/KOKKOS/dihedral_charmm_kokkos.cpp
  src/KOKKOS/dihedral_charmm_kokkos.h
  src/KOKKOS/improper_harmonic_kokkos.cpp
  src/KOKKOS/improper_harmonic_kokkos.h
  src/KOKKOS/pppm_kokkos.cpp
  src/KOKKOS/pppm_kokkos.h
Labels: enhancement, kokkos_package, ready_for_merge

#2041 Fix Kokkos issue and remove N2 neigh list option
  src/KOKKOS/kokkos.cpp
  src/KOKKOS/kokkos_type.h
  src/KOKKOS/pair_buck_coul_cut_kokkos.cpp
  src/KOKKOS/pair_buck_kokkos.cpp
  src/KOKKOS/pair_buck_kokkos.h
  src/KOKKOS/pair_coul_debye_kokkos.cpp
  src/KOKKOS/pair_kokkos.h
  src/KOKKOS/pair_lj_class2_coul_cut_kokkos.cpp
  src/KOKKOS/pair_lj_class2_kokkos.cpp
  src/KOKKOS/pair_lj_class2_kokkos.h
  src/KOKKOS/pair_lj_cut_coul_cut_kokkos.cpp
  src/KOKKOS/pair_lj_cut_coul_debye_kokkos.cpp
  src/KOKKOS/pair_lj_cut_coul_dsf_kokkos.cpp
  src/KOKKOS/pair_lj_cut_kokkos.cpp
  src/KOKKOS/pair_lj_cut_kokkos.h
  src/KOKKOS/pair_lj_expand_kokkos.cpp
  src/KOKKOS/pair_lj_expand_kokkos.h
  src/KOKKOS/pair_lj_sdk_kokkos.cpp
  src/KOKKOS/pair_lj_sdk_kokkos.h
  src/KOKKOS/pair_morse_kokkos.cpp
  src/KOKKOS/pair_morse_kokkos.h
  src/KOKKOS/pair_table_kokkos.cpp
  src/KOKKOS/pair_table_kokkos.h
  src/KOKKOS/pair_table_rx_kokkos.cpp
  src/KOKKOS/pair_table_rx_kokkos.h
  src/KOKKOS/pair_yukawa_kokkos.h
  src/KOKKOS/pair_zbl_kokkos.cpp
Labels: bugfix, kokkos_package, ready_for_merge

#2036 Fix issues in dihedral_charmm_kokkos
  src/KOKKOS/dihedral_charmm_kokkos.cpp
Labels: bugfix, kokkos_package, ready_for_merge

#2044 Remove full neigh list option in Kokkos ReaxFF
  src/KOKKOS/fix_qeq_reax_kokkos.cpp
  src/KOKKOS/pair_reaxc_kokkos.cpp
  src/KOKKOS/pair_reaxc_kokkos.h
Labels: bugfix, kokkos_package, ready_for_merge, user_reaxc_package

#2045 Fix issue in Kokkos "team" energy
  src/KOKKOS/atom_vec_kokkos.h
  src/KOKKOS/pair_kokkos.h
Labels: bugfix, kokkos_package, ready_for_merge

#2048 cmake: disable installing of static libs
  cmake/CMakeLists.txt
  cmake/LAMMPSConfig.cmake.in
  cmake/Modules/Packages/GPU.cmake
  cmake/Modules/Packages/KIM.cmake
  cmake/Modules/Packages/KOKKOS.cmake
  cmake/Modules/Packages/LATTE.cmake
  cmake/Modules/Packages/MESSAGE.cmake
  cmake/Modules/Packages/MSCG.cmake
  cmake/Modules/Packages/USER-COLVARS.cmake
  cmake/Modules/Packages/USER-MOLFILE.cmake
  cmake/Modules/Packages/USER-PLUMED.cmake
  cmake/Modules/Packages/USER-QMMM.cmake
  cmake/Modules/Packages/USER-SCAFACOS.cmake
  cmake/Modules/Packages/USER-SMD.cmake
  cmake/Modules/Packages/VORONOI.cmake
Labels: cmake

#2047 Clarifying AMD quote from review paper for 3 AMD methods in LAMMPS
  doc/src/hyper.rst
  doc/src/prd.rst
  doc/src/tad.rst
Labels: documentation

#2046 Fix rare issue in Kokkos neighlist
  src/KOKKOS/npair_kokkos.cpp
Labels: bugfix, kokkos_package, ready_for_merge

#1760 added internal fix dummy command to enable more control of fix ordering
  src/GRANULAR/pair_gran_hooke_history.cpp
  src/GRANULAR/pair_gran_hooke_history.h
  src/GRANULAR/pair_granular.cpp
  src/GRANULAR/pair_granular.h
  src/KOKKOS/fix_neigh_history_kokkos.cpp
  src/KOKKOS/pair_gran_hooke_history_kokkos.cpp
  src/USER-BOCS/fix_bocs.cpp
  src/USER-MISC/fix_srp.cpp
  src/USER-MISC/pair_srp.cpp
  src/fix.cpp
  src/fix.h
  src/fix_balance.cpp
  src/fix_deform.cpp
  src/fix_dummy.cpp
  src/fix_dummy.h
  src/fix_neigh_history.cpp
  src/fix_nh.cpp
  src/modify.cpp
  src/modify.h
Labels: enhancement, fix_feature, ready_for_merge
