Repository lammps/lammps, pull requests merged in 2020-08, with the labels that each got.

#2266 Fix handling of CL_DEVICE_TYPE flags
  lib/gpu/geryon/ocl_device.h
Labels: gpu_package

#2267 unit tests for beck, morse, few LJ derivatives, few buck/coul and born/coul
  src/USER-OMP/pair_buck_coul_cut_omp.cpp
  src/pair_buck_coul_cut.cpp
  src/pair_lj_cubic.cpp
  src/pair_lj_cut_coul_wolf.cpp
  src/pair_zbl.cpp
  unittest/force-styles/tests/mol-pair-beck.yaml
  unittest/force-styles/tests/mol-pair-born_coul_long.yaml
  unittest/force-styles/tests/mol-pair-born_coul_long_cs.yaml
  unittest/force-styles/tests/mol-pair-born_coul_msm.yaml
  unittest/force-styles/tests/mol-pair-buck.yaml
  unittest/force-styles/tests/mol-pair-buck_coul_cut.yaml
  unittest/force-styles/tests/mol-pair-buck_coul_long.yaml
  unittest/force-styles/tests/mol-pair-buck_coul_msm.yaml
  unittest/force-styles/tests/mol-pair-lj_cubic.yaml
  unittest/force-styles/tests/mol-pair-lj_cut_coul_debye.yaml
  unittest/force-styles/tests/mol-pair-lj_cut_coul_dsf.yaml
  unittest/force-styles/tests/mol-pair-lj_cut_coul_wolf.yaml
  unittest/force-styles/tests/mol-pair-lj_expand.yaml
  unittest/force-styles/tests/mol-pair-lj_smooth.yaml
  unittest/force-styles/tests/mol-pair-lj_smooth_linear.yaml
  unittest/force-styles/tests/mol-pair-morse.yaml
  unittest/force-styles/tests/mol-pair-zbl.yaml
Labels: bugfix, ready_for_merge, unittest_feature

#2270 Add utility to check for missing force style tests
  doc/utils/check-packages.py
  doc/utils/check-styles.py
  unittest/force-styles/CMakeLists.txt
  unittest/force-styles/check_tests.py
Labels: maintenance, unittest_feature

#2271 Unit tests for born/coul, ufm, yukawa, soft
  doc/src/pair_ufm.rst
  lib/gpu/lal_ufm.cpp
  lib/gpu/lal_ufm.h
  lib/gpu/lal_ufm_ext.cpp
  src/GPU/pair_ufm_gpu.cpp
  src/OPT/pair_ufm_opt.cpp
  src/USER-OMP/pair_gauss_omp.cpp
  src/pair_ufm.cpp
  src/pair_ufm.h
  unittest/force-styles/tests/mol-pair-born_coul_dsf.yaml
  unittest/force-styles/tests/mol-pair-born_coul_wolf.yaml
  unittest/force-styles/tests/mol-pair-gauss.yaml
  unittest/force-styles/tests/mol-pair-soft.yaml
  unittest/force-styles/tests/mol-pair-ufm.yaml
  unittest/force-styles/tests/mol-pair-yukawa.yaml
Labels: bugfix, unittest_feature

#2260 Collected small changes
  .github/codecov.yml
  cmake/Modules/Testing.cmake
  doc/src/Errors_warnings.rst
  src/MC/fix_widom.h
  src/USER-MISC/pair_lennard_mdf.cpp
  src/USER-MISC/pair_lennard_mdf.h
  src/USER-OMP/reaxc_init_md_omp.cpp
  src/USER-REAXC/reaxc_init_md.cpp
  src/balance.cpp
  src/change_box.cpp
  src/comm.h
  src/comm_tiled.cpp
  src/delete_atoms.cpp
  src/delete_bonds.cpp
  src/displace_atoms.cpp
  src/read_dump.cpp
  src/read_restart.cpp
  src/replicate.cpp
  src/set.cpp
  src/utils.cpp
  src/utils.h
  src/write_data.cpp
  src/write_restart.cpp
  unittest/force-styles/tests/atomic-pair-born.yaml
  unittest/force-styles/tests/mol-pair-lennard_mdf.yaml
  unittest/formats/test_atom_styles.cpp
Labels: maintenance, ready_for_merge, unittest_feature, user_reaxc_package

#2276 Upgrades the fmt library to version 7.0.2
  src/fmt/LICENSE
  src/fmt/chrono.h
  src/fmt/color.h
  src/fmt/compile.h
  src/fmt/core.h
  src/fmt/format-inl.h
  src/fmt/format.h
  src/fmt/locale.h
  src/fmt/os.h
  src/fmt/ostream.h
  src/fmt/printf.h
  src/fmt/ranges.h
  src/fmtlib_format.cpp
  src/fmtlib_os.cpp
Labels: maintenance, ready_for_merge, update

#1296 updated comm tiled to have multi style ghost communication
  doc/src/pair_colloid.rst
  src/atom_vec.cpp
  src/comm_tiled.cpp
  src/comm_tiled.h
  unittest/force-styles/test_pair_style.cpp
  unittest/force-styles/tests/atomic-pair-colloid.yaml
  unittest/force-styles/tests/atomic-pair-colloid_multi.yaml
  unittest/force-styles/tests/atomic-pair-colloid_multi_tri.yaml
  unittest/force-styles/tests/atomic-pair-colloid_tiled.yaml
  unittest/force-styles/tests/atomic-pair-colloid_tiled_tri.yaml
  unittest/force-styles/tests/data.colloid
  unittest/force-styles/tests/in.colloid
Labels: communication_feature, ready_for_merge, unittest_feature

#2273 Bunch of units tests for pair-style, angle-style, bond-style
  doc/src/pair_buck.rst
  doc/src/pair_cosine_squared.rst
  doc/src/pair_mdf.rst
  src/USER-MISC/pair_buck_mdf.cpp
  src/USER-MISC/pair_cosine_squared.cpp
  src/USER-OMP/ewald_omp.cpp
  unittest/force-styles/tests/angle-class2_p6.yaml
  unittest/force-styles/tests/angle-cross.yaml
  unittest/force-styles/tests/angle-mm3.yaml
  unittest/force-styles/tests/bond-fene.yaml
  unittest/force-styles/tests/bond-fene_expand.yaml
  unittest/force-styles/tests/kspace-ewald_nozforce.yaml
  unittest/force-styles/tests/kspace-ewald_slab.yaml
  unittest/force-styles/tests/kspace-pppm_ad.yaml
  unittest/force-styles/tests/kspace-pppm_cg_ad.yaml
  unittest/force-styles/tests/kspace-pppm_disp_ad.yaml
  unittest/force-styles/tests/kspace-pppm_nozforce.yaml
  unittest/force-styles/tests/kspace-pppm_slab.yaml
  unittest/force-styles/tests/kspace-pppm_stagger.yaml
  unittest/force-styles/tests/kspace-pppm_tip4p_nozforce.yaml
  unittest/force-styles/tests/kspace-pppm_tip4p_slab.yaml
  unittest/force-styles/tests/mol-pair-born_coul_table_cs.yaml
  unittest/force-styles/tests/mol-pair-buck_mdf.yaml
  unittest/force-styles/tests/mol-pair-cosine_squared.yaml
  unittest/force-styles/tests/mol-pair-lj_cut_tip4p_cut.yaml
  unittest/force-styles/tests/mol-pair-lj_cut_tip4p_long.yaml
  unittest/force-styles/tests/mol-pair-lj_cut_tip4p_table.yaml
Labels: bugfix, ready_for_merge, unittest_feature

#2279 Collected small changes and fixes
  doc/src/pair_dpd.rst
  src/CORESHELL/pair_buck_coul_long_cs.cpp
  src/DIPOLE/pair_lj_long_dipole_long.cpp
  src/KSPACE/pair_buck_long_coul_long.cpp
  src/KSPACE/pppm_tip4p.cpp
  src/USER-MISC/pair_ilp_graphene_hbn.cpp
  src/USER-MISC/pair_kolmogorov_crespi_full.cpp
  src/USER-OMP/pair_buck_coul_long_omp.cpp
  src/USER-OMP/pppm_tip4p_omp.cpp
  src/replicate.cpp
  src/variable.cpp
  unittest/force-styles/CMakeLists.txt
  unittest/force-styles/check_tests.py
  unittest/force-styles/tests/kspace-pppm_ad.yaml
  unittest/force-styles/tests/kspace-pppm_cg_ad.yaml
  unittest/force-styles/tests/kspace-pppm_tip4p_ad.yaml
  unittest/force-styles/tests/kspace-pppm_tri.yaml
  unittest/force-styles/tests/mol-pair-born_coul_dsf_cs.yaml
  unittest/force-styles/tests/mol-pair-born_coul_long_cs.yaml
  unittest/force-styles/tests/mol-pair-born_coul_table_cs.yaml
  unittest/force-styles/tests/mol-pair-born_coul_wolf_cs.yaml
  unittest/force-styles/tests/mol-pair-buck_coul_long_cs.yaml
  unittest/force-styles/tests/mol-pair-buck_coul_table.yaml
  unittest/force-styles/tests/mol-pair-buck_coul_table_cs.yaml
  unittest/force-styles/tests/mol-pair-buck_long_coul_long.yaml
  unittest/force-styles/tests/mol-pair-buck_table_coul_table.yaml
  unittest/force-styles/tests/mol-pair-python_hybrid.yaml
  unittest/force-styles/tests/mol-pair-python_lj.yaml
  unittest/force-styles/tests/mol-pair-tip4p_cut.yaml
  unittest/force-styles/tests/py_pot.py
  unittest/formats/test_atom_styles.cpp
Labels: bugfix, documentation, maintenance

#2282 Add more unit tests for pair and kspace styles
  src/USER-CGSDK/pair_lj_sdk_coul_long.cpp
  src/USER-CGSDK/pair_lj_sdk_coul_msm.cpp
  src/USER-MISC/pair_coul_diel.cpp
  src/USER-MISC/pair_coul_shield.cpp
  src/USER-MISC/pair_meam_spline.cpp
  src/USER-OMP/ewald_omp.cpp
  src/USER-OMP/ewald_omp.h
  src/USER-OMP/pair_edip_omp.cpp
  src/pair_coul_streitz.cpp
  unittest/force-styles/test_pair_style.cpp
  unittest/force-styles/tests/atomic-pair-colloid.yaml
  unittest/force-styles/tests/atomic-pair-colloid_multi.yaml
  unittest/force-styles/tests/atomic-pair-colloid_multi_tri.yaml
  unittest/force-styles/tests/atomic-pair-colloid_tiled.yaml
  unittest/force-styles/tests/atomic-pair-colloid_tiled_tri.yaml
  unittest/force-styles/tests/atomic-pair-edip.yaml
  unittest/force-styles/tests/atomic-pair-meam_c.yaml
  unittest/force-styles/tests/atomic-pair-meam_spline.yaml
  unittest/force-styles/tests/atomic-pair-meam_sw_spline.yaml
  unittest/force-styles/tests/atomic-pair-yukawa_colloid.yaml
  unittest/force-styles/tests/dump.colloid
  unittest/force-styles/tests/in.colloid
  unittest/force-styles/tests/in.empty
  unittest/force-styles/tests/kspace-ewald_tri.yaml
  unittest/force-styles/tests/manybody-pair-meam_c.yaml
  unittest/force-styles/tests/manybody-pair_edip_multi.yaml
  unittest/force-styles/tests/mol-pair-born_coul_msm.yaml
  unittest/force-styles/tests/mol-pair-buck_coul_msm.yaml
  unittest/force-styles/tests/mol-pair-coul_diel.yaml
  unittest/force-styles/tests/mol-pair-coul_msm.yaml
  unittest/force-styles/tests/mol-pair-coul_shield.yaml
  unittest/force-styles/tests/mol-pair-coul_slater_cut.yaml
  unittest/force-styles/tests/mol-pair-coul_slater_long.yaml
  unittest/force-styles/tests/mol-pair-coul_streitz_long.yaml
  unittest/force-styles/tests/mol-pair-coul_streitz_wolf.yaml
  unittest/force-styles/tests/mol-pair-gauss_cut.yaml
  unittest/force-styles/tests/mol-pair-lj_charmm_coul_msm.yaml
  unittest/force-styles/tests/mol-pair-lj_cut_coul_msm.yaml
  unittest/force-styles/tests/mol-pair-lj_sdk.yaml
  unittest/force-styles/tests/mol-pair-lj_sdk_coul_long.yaml
  unittest/force-styles/tests/mol-pair-lj_sdk_coul_msm.yaml
  unittest/force-styles/tests/mol-pair-lj_sdk_coul_table.yaml
  unittest/force-styles/tests/mol-pair-lj_smooth_linear.yaml
Labels: bugfix, unittest_feature

#2281 Patch fix store
  src/GRANULAR/fix_wall_gran.cpp
  src/GRANULAR/fix_wall_gran_region.cpp
  src/MISC/fix_gld.cpp
  src/MISC/fix_ttm.cpp
  src/MOLECULE/fix_cmap.cpp
  src/PERI/fix_peri_neigh.cpp
  src/USER-MISC/fix_gle.cpp
  src/USER-MISC/fix_pimd.cpp
  src/USER-MISC/fix_srp.cpp
  src/USER-MISC/fix_ti_spring.cpp
  src/USER-MISC/fix_ttm_mod.cpp
  src/USER-SDPD/fix_meso_move.cpp
  src/USER-SMD/fix_smd_tlsph_reference_configuration.cpp
  src/fix_move.cpp
  src/fix_neigh_history.cpp
  src/fix_property_atom.cpp
  src/fix_spring_self.cpp
  src/fix_store.cpp
  src/fix_store_state.cpp
Labels: bugfix

#2283 unit tests for /soft pair styles
  doc/src/pair_fep_soft.rst
  src/KSPACE/pair_lj_charmm_coul_long.cpp
  src/KSPACE/pair_lj_cut_coul_long.cpp
  src/USER-FEP/pair_lj_charmm_coul_long_soft.cpp
  src/USER-FEP/pair_lj_cut_coul_long_soft.cpp
  src/USER-FEP/pair_lj_cut_soft.cpp
  src/USER-FEP/pair_morse_soft.cpp
  src/USER-FEP/pair_morse_soft.h
  src/pair_lj_cut.cpp
  unittest/force-styles/tests/mol-pair-coul_cut_soft.yaml
  unittest/force-styles/tests/mol-pair-coul_long_soft.yaml
  unittest/force-styles/tests/mol-pair-lj_charmm_coul_long_soft.yaml
  unittest/force-styles/tests/mol-pair-lj_class2_coul_cut_soft.yaml
  unittest/force-styles/tests/mol-pair-lj_class2_coul_long_soft.yaml
  unittest/force-styles/tests/mol-pair-lj_class2_soft.yaml
  unittest/force-styles/tests/mol-pair-lj_cut_coul_cut_soft.yaml
  unittest/force-styles/tests/mol-pair-lj_cut_coul_long_soft.yaml
  unittest/force-styles/tests/mol-pair-lj_cut_soft.yaml
  unittest/force-styles/tests/mol-pair-lj_cut_tip4p_long_soft.yaml
  unittest/force-styles/tests/mol-pair-morse_soft.yaml
  unittest/force-styles/tests/mol-pair-tip4p_long_soft.yaml
Labels: bugfix, ready_for_merge, unittest_feature

#2285 Move comm destruction to after modify to leave available for fixes
  src/lammps.cpp
Labels: enhancement

#2287 Add unittest tool for lattice and region (/w create_box/create_atoms)
  doc/src/lattice.rst
  src/create_atoms.cpp
  src/lattice.cpp
  src/lattice.h
  unittest/commands/CMakeLists.txt
  unittest/commands/test_lattice_region.cpp
Labels: unittest_feature

#2291 fix typos and indentations
  doc/src/bond_none.rst
  doc/src/compute_saed.rst
  doc/src/pair_meam_spline.rst
Labels: documentation, maintenance

#2286 Kokkos SNAP optimizations – Pre-computing Cayley-Klein parameters, symmetrized data layouts for host and device backends, reducing number of atomics
  src/KOKKOS/kokkos_type.h
  src/KOKKOS/pair_snap_kokkos.h
  src/KOKKOS/pair_snap_kokkos_impl.h
  src/KOKKOS/sna_kokkos.h
  src/KOKKOS/sna_kokkos_impl.h
Labels: kokkos_package, snap_package

#2292 Print warning when writing PairCoeff section in data file may not sufficiently reproduce all pair coefficients
  src/pair.cpp
  src/pair.h
  src/write_data.cpp
Labels: enhancement

#2136 Refactor value parsing code segments and add dump tests
  src/dump_atom.cpp
  src/dump_atom.h
  src/dump_custom.cpp
  src/dump_custom.h
  src/info.cpp
  src/info.h
  src/library.cpp
  src/molecule.cpp
  src/molecule.h
  src/pair_coul_streitz.cpp
  src/pair_coul_streitz.h
  src/reader_native.cpp
  src/reader_native.h
  src/thermo.cpp
  src/timer.cpp
  src/tokenizer.cpp
  src/tokenizer.h
  src/utils.cpp
  src/utils.h
  tools/binary2txt.cpp
  unittest/formats/CMakeLists.txt
  unittest/formats/test_dump_atom.cpp
  unittest/formats/test_dump_cfg.cpp
  unittest/formats/test_dump_custom.cpp
  unittest/testing/core.h
  unittest/testing/systems/melt.h
  unittest/testing/utils.h
  unittest/utils/test_tokenizer.cpp
  unittest/utils/test_utils.cpp
Labels: full-regression-test, test-for-regression

#2293 Collected small changes and fixes
  cmake/Modules/Packages/USER-SMD.cmake
  lib/smd/Install.py
  src/GRANULAR/pair_granular.cpp
  src/KIM/kim_interactions.cpp
  src/KIM/kim_units.cpp
  src/MISC/dump_xtc.cpp
  src/USER-DPD/fix_rx.cpp
  src/USER-MANIFOLD/manifold_thylakoid.cpp
  src/USER-MISC/bond_special.cpp
  src/USER-REAXC/reaxc_lookup.cpp
  src/USER-TALLY/README
  src/VORONOI/compute_voronoi_atom.cpp
  src/fix_temp_csld.cpp
  src/fix_temp_csvr.cpp
  unittest/commands/test_lattice_region.cpp
  unittest/force-styles/tests/mol-pair-lj_charmm_coul_long_soft.yaml
Labels: build_system, cmake, maintenance

#2297 Add a few more unit tests for fixes and fix some issues related to it
  doc/src/fix_npt_cauchy.rst
  doc/src/fix_spring_chunk.rst
  doc/src/fix_spring_rg.rst
  doc/src/fix_temp_rescale.rst
  src/RIGID/fix_rigid_nh.h
  src/fix_spring_chunk.cpp
  src/fix_spring_chunk.h
  src/fix_spring_rg.cpp
  src/fix_spring_rg.h
  src/fix_temp_rescale.cpp
  src/fix_temp_rescale.h
  unittest/force-styles/tests/fix-timestep-addforce_const.yaml
  unittest/force-styles/tests/fix-timestep-addforce_variable.yaml
  unittest/force-styles/tests/fix-timestep-aveforce_const.yaml
  unittest/force-styles/tests/fix-timestep-aveforce_variable.yaml
  unittest/force-styles/tests/fix-timestep-drag.yaml
  unittest/force-styles/tests/fix-timestep-efield_const.yaml
  unittest/force-styles/tests/fix-timestep-efield_region.yaml
  unittest/force-styles/tests/fix-timestep-efield_variable.yaml
  unittest/force-styles/tests/fix-timestep-heat.yaml
  unittest/force-styles/tests/fix-timestep-heat_region.yaml
  unittest/force-styles/tests/fix-timestep-oneway.yaml
  unittest/force-styles/tests/fix-timestep-rigid_group.yaml
  unittest/force-styles/tests/fix-timestep-rigid_molecule.yaml
  unittest/force-styles/tests/fix-timestep-rigid_molecule_tri.yaml
  unittest/force-styles/tests/fix-timestep-rigid_nph.yaml
  unittest/force-styles/tests/fix-timestep-rigid_nph_small.yaml
  unittest/force-styles/tests/fix-timestep-rigid_npt.yaml
  unittest/force-styles/tests/fix-timestep-rigid_npt_small.yaml
  unittest/force-styles/tests/fix-timestep-rigid_nve_group.yaml
  unittest/force-styles/tests/fix-timestep-rigid_nve_molecule.yaml
  unittest/force-styles/tests/fix-timestep-rigid_nve_single.yaml
  unittest/force-styles/tests/fix-timestep-rigid_nve_small.yaml
  unittest/force-styles/tests/fix-timestep-rigid_nvt.yaml
  unittest/force-styles/tests/fix-timestep-rigid_nvt_small.yaml
  unittest/force-styles/tests/fix-timestep-rigid_single.yaml
  unittest/force-styles/tests/fix-timestep-rigid_small.yaml
  unittest/force-styles/tests/fix-timestep-setforce_const.yaml
  unittest/force-styles/tests/fix-timestep-setforce_region.yaml
  unittest/force-styles/tests/fix-timestep-setforce_variable.yaml
  unittest/force-styles/tests/fix-timestep-smd_couple.yaml
  unittest/force-styles/tests/fix-timestep-smd_tether.yaml
  unittest/force-styles/tests/fix-timestep-spring_chunk.yaml
  unittest/force-styles/tests/fix-timestep-spring_couple.yaml
  unittest/force-styles/tests/fix-timestep-spring_rg.yaml
  unittest/force-styles/tests/fix-timestep-spring_self.yaml
  unittest/force-styles/tests/fix-timestep-spring_tether.yaml
  unittest/force-styles/tests/fix-timestep-temp_rescale.yaml
  unittest/force-styles/tests/fix-timestep-wall_harmonic_const.yaml
  unittest/force-styles/tests/fix-timestep-wall_lj1043_const.yaml
  unittest/force-styles/tests/fix-timestep-wall_lj126_const.yaml
  unittest/force-styles/tests/fix-timestep-wall_lj93_const.yaml
  unittest/force-styles/tests/fix-timestep-wall_morse_const.yaml
Labels: bugfix, enhancement, unittest_feature

#2280 Support for tiled decompositions in PPPM
  doc/src/bond_special.rst
  src/GPU/pppm_gpu.cpp
  src/GPU/pppm_gpu.h
  src/GRANULAR/fix_wall_gran.cpp
  src/GRANULAR/fix_wall_gran_region.cpp
  src/KOKKOS/gridcomm_kokkos.cpp
  src/KOKKOS/gridcomm_kokkos.h
  src/KOKKOS/kokkos_base_fft.h
  src/KOKKOS/pair_snap_kokkos_impl.h
  src/KOKKOS/pppm_kokkos.cpp
  src/KOKKOS/pppm_kokkos.h
  src/KOKKOS/sna_kokkos.h
  src/KOKKOS/sna_kokkos_impl.h
  src/KSPACE/fft3d.cpp
  src/KSPACE/gridcomm.cpp
  src/KSPACE/gridcomm.h
  src/KSPACE/msm.cpp
  src/KSPACE/msm.h
  src/KSPACE/msm_cg.cpp
  src/KSPACE/pppm.cpp
  src/KSPACE/pppm.h
  src/KSPACE/pppm_cg.cpp
  src/KSPACE/pppm_dipole.cpp
  src/KSPACE/pppm_dipole.h
  src/KSPACE/pppm_dipole_spin.cpp
  src/KSPACE/pppm_dipole_spin.h
  src/KSPACE/pppm_disp.cpp
  src/KSPACE/pppm_disp.h
  src/KSPACE/pppm_stagger.cpp
  src/KSPACE/pppm_stagger.h
  src/MISC/fix_gld.cpp
  src/MISC/fix_ttm.cpp
  src/MOLECULE/fix_cmap.cpp
  src/USER-INTEL/pppm_disp_intel.cpp
  src/USER-INTEL/pppm_disp_intel.h
  src/USER-INTEL/pppm_intel.cpp
  src/USER-MISC/fix_gle.cpp
  src/USER-MISC/fix_srp.cpp
  src/USER-MISC/pair_meam_spline.cpp
  src/USER-OMP/ewald_omp.cpp
  src/USER-OMP/msm_cg_omp.cpp
  src/balance.cpp
  src/fix_neigh_history.cpp
  src/force.cpp
  src/kspace.h
  unittest/force-styles/tests/kspace-pppm_cg_tiled.yaml
  unittest/force-styles/tests/kspace-pppm_disp_ad_only.yaml
  unittest/force-styles/tests/kspace-pppm_disp_only.yaml
  unittest/force-styles/tests/kspace-pppm_stagger_tiled.yaml
  unittest/force-styles/tests/kspace-pppm_tiled.yaml
Labels: enhancement, full-regression-test, kspace_package, ready_for_merge, test-for-regression

#2304 Collected small changes for the next patch release
  doc/src/fix_restrain.rst
  src/KSPACE/pair_buck_long_coul_long.cpp
  src/KSPACE/pair_lj_long_coul_long.cpp
  src/KSPACE/pair_lj_long_tip4p_long.cpp
  src/image.cpp
  src/math_extra.h
  src/molecule.cpp
  unittest/force-styles/test_pair_style.cpp
  unittest/force-styles/tests/atomic-pair-momb.yaml
  unittest/force-styles/tests/atomic-pair-reax_c.yaml
  unittest/force-styles/tests/atomic-pair-reax_c_lgvdw.yaml
  unittest/force-styles/tests/atomic-pair-reax_c_noqeq.yaml
  unittest/force-styles/tests/fix-timestep-lineforce.yaml
  unittest/force-styles/tests/fix-timestep-nve_noforce.yaml
  unittest/force-styles/tests/fix-timestep-planeforce.yaml
  unittest/force-styles/tests/fix-timestep-restrain.yaml
  unittest/force-styles/tests/manybody-pair-edip_multi.yaml
  unittest/force-styles/tests/mol-pair-born_coul_msm_table.yaml
  unittest/force-styles/tests/mol-pair-buck_coul_msm_table.yaml
  unittest/force-styles/tests/mol-pair-buck_long_coul_off.yaml
  unittest/force-styles/tests/mol-pair-buck_long_cut_coul_long.yaml
  unittest/force-styles/tests/mol-pair-buck_table_coul_long.yaml
  unittest/force-styles/tests/mol-pair-buck_table_coul_off.yaml
  unittest/force-styles/tests/mol-pair-coul_msm_table.yaml
  unittest/force-styles/tests/mol-pair-dpd.yaml
  unittest/force-styles/tests/mol-pair-dpd_tstat.yaml
  unittest/force-styles/tests/mol-pair-lj_charmm_coul_msm_table.yaml
  unittest/force-styles/tests/mol-pair-lj_cut_coul_msm_table.yaml
  unittest/force-styles/tests/mol-pair-lj_long_coul_off.yaml
  unittest/force-styles/tests/mol-pair-lj_long_cut_coul_long.yaml
  unittest/force-styles/tests/mol-pair-lj_long_cut_tip4p_long.yaml
  unittest/force-styles/tests/mol-pair-lj_sdk_coul_msm_table.yaml
  unittest/force-styles/tests/mol-pair-lj_table_coul_long.yaml
  unittest/force-styles/tests/mol-pair-lj_table_coul_off.yaml
  unittest/force-styles/tests/mol-pair-lj_table_coul_table.yaml
  unittest/force-styles/tests/mol-pair-lj_table_tip4p_long.yaml
  unittest/force-styles/tests/mol-pair-lj_table_tip4p_table.yaml
Labels: bugfix, maintenance, unittest_feature

#2305 Update version strings for updated patch release
  doc/lammps.1
  src/version.h
Labels: maintenance

#2240 Bond/react reset mol ids
  doc/src/Errors_messages.rst
  doc/src/fix_bond_react.rst
  src/USER-REACTION/fix_bond_react.cpp
  src/USER-REACTION/fix_bond_react.h
  src/reset_mol_ids.cpp
  src/reset_mol_ids.h
Labels: maintenance, user_reaction_package

#2196 Implement force history in Mindlin granular pair styles
  doc/src/pair_granular.rst
  doc/utils/sphinx-config/false_positives.txt
  src/GRANULAR/pair_granular.cpp
Labels: granular_package

#2309 Add doxygen and graphviz processing into the documentation build
  cmake/Modules/Documentation.cmake
  doc/.gitignore
  doc/Makefile
  doc/README
  doc/documentation_conventions.md
  doc/doxygen/.gitignore
  doc/doxygen/Doxyfile.in
  doc/doxygen/lammps-logo.png
  doc/graphviz/.gitignore
  doc/graphviz/Makefile
  doc/graphviz/lammps-classes.dot
  doc/requirements.txt
  doc/src/Build_development.rst
  doc/src/Errors_messages.rst
  doc/src/Howto_cmake.rst
  doc/src/JPG/lammps-classes.png
  doc/src/Manual.rst
  doc/src/pair_mesodpd.rst
  doc/src/pg_developer.rst
  doc/utils/requirements.txt
  doc/utils/sphinx-config/_static/css/lammps.css
  doc/utils/sphinx-config/_static/lammps-logo.png
  doc/utils/sphinx-config/_themes/lammps_theme/layout.html
  doc/utils/sphinx-config/conf.py.in
  doc/utils/sphinx-config/false_positives.txt
  doc/utils/sphinx-config/lammps-logo.png
  src/reset_mol_ids.cpp
  src/utils.cpp
  src/utils.h
  unittest/force-styles/tests/atomic-pair-reax_c.yaml
  unittest/force-styles/tests/atomic-pair-reax_c_lgvdw.yaml
Labels: build_system, cmake, documentation, doxygen

#2307 Fix NaN in Tersoffs GPU-accelerated with OpenCL backend
  lib/gpu/lal_tersoff.cu
  lib/gpu/lal_tersoff_mod.cu
  lib/gpu/lal_tersoff_zbl.cu
Labels: bugfix, gpu_package

#2313 Fixed bugs in the GPU kernels for beck/gpu and gauss/gpu
  doc/src/Packages_details.rst
  doc/src/Packages_user.rst
  doc/src/pair_cosine_squared.rst
  doc/src/pair_coul_diel.rst
  doc/src/pair_coul_slater.rst
  doc/src/pair_gauss.rst
  lib/gpu/lal_gauss.cu
  src/KSPACE/pair_buck_coul_long.cpp
  src/USER-OMP/pair_beck_omp.cpp
  src/pair_beck.cpp
  unittest/force-styles/tests/atomic-pair-gauss.yaml
  unittest/force-styles/tests/mol-pair-beck.yaml
Labels: bugfix, gpu_package, user_omp_package

#2317 removal of a few duplicated lines
  tools/drude/polarizer.py
Labels: tools

#2314 Bond/react: RMSD constraint
  doc/src/fix_bond_react.rst
  src/USER-REACTION/fix_bond_react.cpp
  src/USER-REACTION/math_eigen.h
  src/USER-REACTION/superpose3d.h
Labels: user_reaction_package

#2312 Integrate text from developer.tex file to the manual
  doc/Makefile
  doc/src/Build_basics.rst
  doc/src/Developer/.gitignore
  doc/src/Developer/classes.fig
  doc/src/Developer/classes.pdf
  doc/src/Developer/developer.tex
  doc/src/Intro_website.rst
  doc/src/Manual.rst
  doc/src/Manual_build.rst
  doc/src/pg_developer.rst
  doc/utils/sphinx-config/false_positives.txt
  src/.gitignore
Labels: documentation

#2310 LAMMPS C library interface and python module refactor
  python/lammps.py
  src/.gitignore
  src/library.cpp
  src/library.h
  unittest/CMakeLists.txt
  unittest/c-library/CMakeLists.txt
  unittest/c-library/library-commands.cpp
  unittest/c-library/library-open.cpp
  unittest/c-library/library-properties.cpp
  unittest/cplusplus/CMakeLists.txt
  unittest/cplusplus/input-class.cpp
  unittest/cplusplus/lammps-class.cpp
  unittest/python/CMakeLists.txt
  unittest/python/python-commands.py
  unittest/python/python-numpy.py
  unittest/python/python-open.py
Labels: documentation, doxygen, library_interface, python_module

#2318 Programmer guide part 1
  doc/src/Howto_couple.rst
  doc/src/Howto_library.rst
  doc/src/Manual.rst
  doc/src/Modify.rst
  doc/src/pg_developer.rst
  doc/src/pg_fortran.rst
  doc/src/pg_library.rst
  doc/src/pg_python.rst
  doc/utils/sphinx-config/false_positives.txt
  src/utils.cpp
  src/utils.h
  unittest/python/python-numpy.py
Labels: documentation, doxygen

#2320 Programmer guide part 2
  doc/doxygen/Doxyfile.in
  doc/src/pg_cplusplus.rst
  doc/src/pg_developer.rst
  doc/src/pg_lib_add.rst
  doc/src/pg_lib_config.rst
  doc/src/pg_lib_create.rst
  doc/src/pg_lib_execute.rst
  doc/src/pg_lib_neighbor.rst
  doc/src/pg_lib_objects.rst
  doc/src/pg_lib_properties.rst
  doc/src/pg_lib_scatter.rst
  doc/src/pg_lib_utility.rst
  doc/src/pg_library.rst
  doc/src/pg_python.rst
  doc/utils/sphinx-config/false_positives.txt
  src/Makefile
  src/USER-REACTION/fix_bond_react.cpp
  src/library.cpp
  src/potential_file_reader.cpp
  src/text_file_reader.cpp
  src/text_file_reader.h
  src/tokenizer.cpp
  src/tokenizer.h
  src/utils.cpp
Labels: bugfix, build_system, documentation, doxygen, maintenance, ready_for_merge

#2322 Fix CMake building for CUDA 11
  cmake/Modules/Packages/GPU.cmake
Labels: cmake, gpu_package, ready_for_merge

#2326 update makefiles in lib/gpu for more recent architectures
  lib/gpu/Makefile.linux
  lib/gpu/Makefile.linux.double
  lib/gpu/Makefile.linux.mixed
  lib/gpu/Makefile.linux.single
  lib/gpu/Makefile.linux_multi
  lib/gpu/Makefile.serial
Labels: gpu_package, ready_for_merge, update

#2327 Remove doxygen tool folder and references to it in the manual
  doc/src/Manual_build.rst
  doc/src/Tools.rst
  tools/doxygen/Developer.dox.lammps
  tools/doxygen/Doxyfile.lammps
  tools/doxygen/README
  tools/doxygen/doxygen.sh
Labels: doxygen, ready_for_merge
