Repository lammps/lammps, pull requests merged in 2020-11, with the labels that each got.

#2451 Update bundled fmtlib to version 7.1.2
  src/fmt/chrono.h
  src/fmt/color.h
  src/fmt/compile.h
  src/fmt/core.h
  src/fmt/format-inl.h
  src/fmt/format.h
  src/fmt/locale.h
  src/fmt/os.h
  src/fmt/ostream.h
  src/fmt/printf.h
  src/fmt/ranges.h
  src/fmtlib_format.cpp
  src/fmtlib_os.cpp
  unittest/force-styles/test_error_stats.cpp
Labels: maintenance, ready_for_merge

#2466 Collection of bugfixes
  src/USER-NETCDF/dump_netcdf.cpp
  src/integrate.cpp
  src/library.cpp
  src/update.cpp
Labels: bugfix, ready_for_merge

#2474 Fix typos in documentation
  .github/CONTRIBUTING.md
  doc/github-development-workflow.md
  doc/src/Errors_warnings.rst
  doc/src/Howto_github.rst
  doc/src/Howto_walls.rst
  doc/src/atc_output.rst
  doc/src/fix_filter_corotate.rst
  doc/src/fix_rx.rst
  doc/utils/sphinx-config/false_positives.txt
  lib/kokkos/README.md
  lib/quip/README
  lib/scafacos/README
  src/USER-PLUMED/README
Labels: documentation, ready_for_merge

#2476 Add CMake code to download and compile a suitable version of libyaml in case it is not found locally
  cmake/Modules/YAML.cmake
  doc/src/Build_development.rst
  unittest/force-styles/CMakeLists.txt
Labels: cmake, ready_for_merge, unittest_feature

#2482 Fix memory bug in Kokkos KISS FFT
  src/KOKKOS/fft3d_kokkos.cpp
Labels: bugfix, kokkos_package, ready_for_merge

#2464 bug fix in pair_mesont_tpm.cpp
  src/USER-MESONT/pair_mesont_tpm.cpp
  src/USER-MESONT/pair_mesont_tpm.h
Labels: bugfix, enhancement, maintenance

#2441 Add Kokkos support for fix shake and forward comm on Device for fixes
  doc/src/Commands_fix.rst
  doc/src/fix_shake.rst
  src/Depend.sh
  src/KOKKOS/Install.sh
  src/KOKKOS/comm_kokkos.cpp
  src/KOKKOS/comm_kokkos.h
  src/KOKKOS/fix_qeq_reax_kokkos.cpp
  src/KOKKOS/fix_qeq_reax_kokkos.h
  src/KOKKOS/fix_shake_kokkos.cpp
  src/KOKKOS/fix_shake_kokkos.h
  src/KOKKOS/kokkos_base.h
  src/RIGID/fix_shake.cpp
  src/RIGID/fix_shake.h
  src/fix.cpp
  src/fix.h
Labels: enhancement, kokkos_package, ready_for_merge

#2462 Preserve molecule templates when using "replicate"
  src/MOLECULE/atom_vec_template.cpp
  src/replicate.cpp
  unittest/formats/test_atom_styles.cpp
Labels: bugfix

#2450 molecule: use user-provided IDs in molecule files
  doc/src/molecule.rst
  src/molecule.cpp
Labels: ready_for_merge

#2420 Add MPI-enabled unit tests (C/C++ only)
  doc/src/Run_options.rst
  doc/utils/sphinx-config/false_positives.txt
  src/input.cpp
  src/lammps.cpp
  src/library.cpp
  src/library.h
  src/universe.cpp
  unittest/CMakeLists.txt
  unittest/c-library/CMakeLists.txt
  unittest/c-library/test_library_mpi.cpp
  unittest/c-library/test_library_properties.cpp
  unittest/testing/mpitesting.h
  unittest/testing/test_mpi_main.h
Labels: library_interface, ready_for_merge, unittest_feature

#2469 Fix a bug in pair_kim
  src/KIM/pair_kim.cpp
Labels: bugfix, kim_package, ready_for_merge

#2491 Collected small changes and fixes
  src/create_atoms.cpp
  src/molecule.cpp
  src/pair.cpp
Labels: bugfix, ready_for_merge

#2485 Kokkos ReaxFF tweaks
  doc/src/package.rst
  src/KOKKOS/kokkos.cpp
  src/KOKKOS/kokkos_type.h
Labels: enhancement, kokkos_package, ready_for_merge, user_reaxc_package

#2391 Added an electronic stopping fix to USER-MISC
  doc/src/Commands_fix.rst
  doc/src/compute_stress_atom.rst
  doc/src/fix.rst
  doc/src/fix_electron_stopping.rst
  examples/USER/misc/electron_stopping/in.cascade_AlCu
  examples/USER/misc/electron_stopping/in.cascade_SiSi
  examples/USER/misc/electron_stopping/log.18Sep2020.cascade_AlCu.intel.1
  examples/USER/misc/electron_stopping/log.18Sep2020.cascade_AlCu.intel.4
  examples/USER/misc/electron_stopping/log.18Sep2020.cascade_SiSi.intel.1
  examples/USER/misc/electron_stopping/log.18Sep2020.cascade_SiSi.intel.4
  src/USER-MISC/README
  src/USER-MISC/fix_electron_stopping_fit.cpp
  src/USER-MISC/fix_electron_stopping_fit.h
Labels: ready_for_merge, user_misc_package

#2477 Misc. KIM updates
  src/KIM/kim_init.cpp
  src/KIM/kim_interactions.cpp
  src/KIM/kim_param.cpp
  src/KIM/kim_param.h
  src/KIM/kim_property.cpp
  src/KIM/kim_query.cpp
  src/KIM/kim_query.h
  src/KIM/pair_kim.cpp
  unittest/commands/test_kim_commands.cpp
Labels: enhancement, kim_package

#2488 Update KIM.cmake for kim-api-2.2.0
  cmake/Modules/Packages/KIM.cmake
  lib/kim/Install.py
Labels: kim_package, update

#2478 Add Python unit tests to increase test coverage
  python/lammps.py
  unittest/python/python-commands.py
  unittest/python/python-numpy.py
Labels: library_interface, python_module, ready_for_merge, unittest_feature

#2492 separate cut planes by neigh skin for balance shift
  doc/src/balance.rst
  src/balance.cpp
Labels: bugfix

#2495 add LAMMPS_LIB_MPI flag to COUPLE-fortran2
  examples/COUPLE/fortran2/Makefile
Labels: fortran_interface, ready_for_merge

#2419 Reset invalid image flags on read_data
  doc/src/change_box.rst
  doc/src/read_data.rst
  src/atom.cpp
  unittest/formats/CMakeLists.txt
  unittest/formats/test_image_flags.cpp
Labels: ready_for_merge, update

#2486 Very minor bug fix for NEB
  src/REPLICA/neb.cpp
Labels: bugfix, ready_for_merge

#2467 Bond/react: molecule keyword + bugfixes
  doc/src/fix_bond_react.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/USER/reaction/nylon,6-6_melt/rxn1_stp1_map
  examples/USER/reaction/nylon,6-6_melt/rxn1_stp2_map
  examples/USER/reaction/tiny_epoxy/rxn1_stp1.map
  examples/USER/reaction/tiny_epoxy/rxn1_stp2.map
  examples/USER/reaction/tiny_epoxy/rxn2_stp1.map
  examples/USER/reaction/tiny_epoxy/rxn2_stp2.map
  examples/USER/reaction/tiny_nylon/rxn1_stp1_map
  examples/USER/reaction/tiny_nylon/rxn1_stp2_map
  examples/USER/reaction/tiny_polystyrene/2styrene_map
  examples/USER/reaction/tiny_polystyrene/chain_chain_map
  examples/USER/reaction/tiny_polystyrene/chain_plus_styrene_map
  src/USER-REACTION/fix_bond_react.cpp
  src/USER-REACTION/fix_bond_react.h
Labels: bugfix, ready_for_merge

#2497 Update Kokkos library in LAMMPS to v3.2.1
  cmake/Modules/Packages/KOKKOS.cmake
  lib/kokkos/BUILD.md
  lib/kokkos/CHANGELOG.md
  lib/kokkos/CMakeLists.txt
  lib/kokkos/Makefile.kokkos
  lib/kokkos/README.md
  lib/kokkos/cmake/fake_tribits.cmake
  lib/kokkos/cmake/kokkos_arch.cmake
  lib/kokkos/cmake/kokkos_enable_options.cmake
  lib/kokkos/cmake/kokkos_functions.cmake
  lib/kokkos/cmake/kokkos_tpls.cmake
  lib/kokkos/cmake/kokkos_tribits.cmake
  lib/kokkos/containers/src/Kokkos_DynamicView.hpp
  lib/kokkos/core/src/Cuda/Kokkos_CudaSpace.cpp
  lib/kokkos/core/src/Cuda/Kokkos_Cuda_Instance.cpp
  lib/kokkos/core/src/Cuda/Kokkos_Cuda_Instance.hpp
  lib/kokkos/core/src/Cuda/Kokkos_Cuda_KernelLaunch.hpp
  lib/kokkos/core/src/Cuda/Kokkos_Cuda_Parallel.hpp
  lib/kokkos/core/src/HIP/Kokkos_HIP_Parallel_Range.hpp
  lib/kokkos/core/src/HIP/Kokkos_HIP_Parallel_Team.hpp
  lib/kokkos/core/src/Kokkos_HPX.hpp
  lib/kokkos/core/src/OpenMP/Kokkos_OpenMP_Parallel.hpp
  lib/kokkos/core/src/Threads/Kokkos_Threads_Parallel.hpp
  lib/kokkos/core/src/impl/Kokkos_ViewMapping.hpp
  lib/kokkos/core/unit_test/CMakeLists.txt
Labels: kokkos_package, ready_for_merge, update

#2436 Kokkos EAM tweaks for V100
  src/KOKKOS/pair_eam_alloy_kokkos.cpp
  src/KOKKOS/pair_eam_alloy_kokkos.h
  src/KOKKOS/pair_eam_fs_kokkos.cpp
  src/KOKKOS/pair_eam_fs_kokkos.h
  src/KOKKOS/pair_eam_kokkos.cpp
  src/KOKKOS/pair_eam_kokkos.h
Labels: enhancement, kokkos_package, manybody_package, ready_for_merge

#2499 Small changes before next release
  doc/src/fix_electron_stopping.rst
  src/KIM/kim_init.cpp
  src/KIM/kim_interactions.cpp
  src/KIM/kim_param.cpp
  src/KIM/kim_query.cpp
  src/KOKKOS/pair_eam_alloy_kokkos.cpp
  src/KOKKOS/pair_eam_fs_kokkos.cpp
  src/USER-MISC/fix_electron_stopping_fit.cpp
  src/USER-MISC/fix_electron_stopping_fit.h
  src/balance.cpp
  tools/singularity/ubuntu18.04_gpu.def
  tools/singularity/ubuntu20.04_gpu.def
  unittest/force-styles/tests/atomic-pair-reax_c.yaml
Labels: ready_for_merge, update

#2498 Step version string for next LAMMPS release
  doc/lammps.1
  src/version.h
Labels: ready_for_merge
