Repository lammps/lammps, pull requests merged in 2020-07, with the labels that each got.

#2203 Various small fixes and cleanups. Bugfixes for atom style hybrid
  doc/src/compute_orientorder_atom.rst
  doc/src/pair_mliap.rst
  doc/src/pair_snap.rst
  src/BODY/pair_body_rounded_polygon.cpp
  src/KOKKOS/atom_vec_kokkos.h
  src/KOKKOS/kokkos_type.h
  src/KOKKOS/pair_snap_kokkos_impl.h
  src/KOKKOS/sna_kokkos.h
  src/KOKKOS/sna_kokkos_impl.h
  src/KSPACE/fix_tune_kspace.cpp
  src/KSPACE/pppm_disp.cpp
  src/MLIAP/mliap_descriptor_snap.cpp
  src/MLIAP/mliap_model.cpp
  src/MLIAP/mliap_model_linear.cpp
  src/MLIAP/mliap_model_quadratic.cpp
  src/MLIAP/pair_mliap.cpp
  src/MLIAP/pair_mliap.h
  src/REPLICA/fix_hyper_local.cpp
  src/RIGID/fix_rigid_small.cpp
  src/RIGID/fix_shake.cpp
  src/SNAP/compute_sna_atom.cpp
  src/USER-CGDNA/bond_oxdna_fene.cpp
  src/USER-MISC/pair_tersoff_table.cpp
  src/atom_vec_hybrid.cpp
  src/domain.cpp
  src/fix_adapt.cpp
  src/info.cpp
  src/lattice.cpp
  src/neighbor.cpp
  src/pair_table.cpp
  src/read_data.cpp
  src/read_restart.cpp
  src/replicate.cpp
  src/special.cpp
  src/utils.cpp
  unittest/force-styles/pair_style.cpp
  unittest/force-styles/tests/atomic-pair-eam.yaml
Labels: bugfix, full-regression-test, maintenance, test-for-regression

#2204 Documentation Changes
  doc/src/Commands_pair.rst
  doc/src/Howto_bioFF.rst
  doc/src/Howto_tip4p.rst
  doc/src/compute_fep.rst
  doc/src/fix_adapt.rst
  doc/src/fix_adapt_fep.rst
  doc/src/fix_qbmsst.rst
  doc/src/fix_tune_kspace.rst
  doc/src/kspace_style.rst
  doc/src/minimize.rst
  doc/src/pair_cs.rst
  doc/src/pair_lj.rst
  doc/src/pair_lj_cut_coul.rst
  doc/src/pair_lj_cut_tip4p.rst
  doc/src/pair_style.rst
  doc/src/pair_table.rst
  doc/src/pair_thole.rst
Labels: documentation

#2210 Update of example input and log files
  examples/USER/cgdna/examples/oxDNA/duplex1/in.duplex1
  examples/USER/cgdna/examples/oxDNA/duplex1/log.30Jun20.duplex1.g++.1
  examples/USER/cgdna/examples/oxDNA/duplex1/log.30Jun20.duplex1.g++.4
  examples/USER/cgdna/examples/oxDNA/duplex2/in.duplex2
  examples/USER/cgdna/examples/oxDNA/duplex2/log.07Aug19.duplex2.g++.1
  examples/USER/cgdna/examples/oxDNA/duplex2/log.07Aug19.duplex2.g++.4
  examples/USER/cgdna/examples/oxDNA/duplex2/log.30Jun20.duplex2.g++.1
  examples/USER/cgdna/examples/oxDNA/duplex2/log.30Jun20.duplex2.g++.4
  examples/USER/cgdna/examples/oxDNA2/duplex1/in.duplex1
  examples/USER/cgdna/examples/oxDNA2/duplex1/log.30Jun20.duplex1.g++.1
  examples/USER/cgdna/examples/oxDNA2/duplex1/log.30Jun20.duplex1.g++.4
  examples/USER/cgdna/examples/oxDNA2/duplex2/in.duplex2
  examples/USER/cgdna/examples/oxDNA2/duplex2/log.07Aug19.duplex2.g++.1
  examples/USER/cgdna/examples/oxDNA2/duplex2/log.07Aug19.duplex2.g++.4
  examples/USER/cgdna/examples/oxDNA2/duplex2/log.30Jun20.duplex2.g++.1
  examples/USER/cgdna/examples/oxDNA2/duplex2/log.30Jun20.duplex2.g++.4
  examples/USER/cgdna/examples/oxDNA2/duplex3/in.duplex3
  examples/USER/cgdna/examples/oxDNA2/duplex3/log.30Jun20.duplex3.g++.1
  examples/USER/cgdna/examples/oxDNA2/duplex3/log.30Jun20.duplex3.g++.4
  examples/USER/cgdna/examples/oxDNA2/unique_bp/in.duplex4.4type
  examples/USER/cgdna/examples/oxDNA2/unique_bp/in.duplex4.8type
  examples/USER/cgdna/examples/oxDNA2/unique_bp/log.30Jun20.duplex4.4type.g++1
  examples/USER/cgdna/examples/oxDNA2/unique_bp/log.30Jun20.duplex4.4type.g++4
  examples/USER/cgdna/examples/oxDNA2/unique_bp/log.30Jun20.duplex4.8type.g++1
  examples/USER/cgdna/examples/oxDNA2/unique_bp/log.30Jun20.duplex4.8type.g++4
  examples/USER/cgdna/examples/oxRNA2/duplex4/in.duplex4
  examples/USER/cgdna/examples/oxRNA2/duplex4/log.30Jun20.duplex4.g++.1
  examples/USER/cgdna/examples/oxRNA2/duplex4/log.30Jun20.duplex4.g++.4
  examples/USER/cgdna/examples/oxRNA2/duplex4/log.30Oct19.duplex4.g++.1
  examples/USER/cgdna/examples/oxRNA2/duplex4/log.30Oct19.duplex4.g++.4
  src/.gitignore
  src/USER-CGDNA/bond_oxdna_fene.cpp
Labels: maintenance, ready_for_merge

#2214 Add unit tests for some kspace styles and more pair styles
  src/CORESHELL/pair_born_coul_long_cs.cpp
  src/CORESHELL/pair_coul_long_cs.cpp
  src/CORESHELL/pair_lj_class2_coul_long_cs.cpp
  src/CORESHELL/pair_lj_cut_coul_long_cs.cpp
  src/KIM/pair_kim.cpp
  src/KOKKOS/fftdata_kokkos.h
  src/KSPACE/pair_lj_long_coul_long.cpp
  src/USER-OMP/pair_nm_cut_omp.cpp
  unittest/force-styles/CMakeLists.txt
  unittest/force-styles/pair_style.cpp
  unittest/force-styles/tests/kspace-ewald.yaml
  unittest/force-styles/tests/kspace-ewald_disp.yaml
  unittest/force-styles/tests/kspace-msm.yaml
  unittest/force-styles/tests/kspace-msm_cg.yaml
  unittest/force-styles/tests/kspace-pppm.yaml
  unittest/force-styles/tests/kspace-pppm_cg.yaml
  unittest/force-styles/tests/kspace-pppm_disp.yaml
  unittest/force-styles/tests/kspace-pppm_disp_tip4p.yaml
  unittest/force-styles/tests/kspace-pppm_tip4p.yaml
  unittest/force-styles/tests/mol-pair-coul_long.yaml
  unittest/force-styles/tests/mol-pair-coul_long_cs.yaml
  unittest/force-styles/tests/mol-pair-coul_msm.yaml
  unittest/force-styles/tests/mol-pair-coul_table.yaml
  unittest/force-styles/tests/mol-pair-coul_table_cs.yaml
  unittest/force-styles/tests/mol-pair-coul_wolf_cs.yaml
  unittest/force-styles/tests/mol-pair-lj_charmm_coul_long.yaml
  unittest/force-styles/tests/mol-pair-lj_charmm_coul_table.yaml
  unittest/force-styles/tests/mol-pair-lj_charmmfsw_coul_long.yaml
  unittest/force-styles/tests/mol-pair-lj_charmmfsw_coul_table.yaml
  unittest/force-styles/tests/mol-pair-lj_class2_coul_long.yaml
  unittest/force-styles/tests/mol-pair-lj_class2_coul_long_cs.yaml
  unittest/force-styles/tests/mol-pair-lj_class2_coul_table.yaml
  unittest/force-styles/tests/mol-pair-lj_class2_coul_table_cs.yaml
  unittest/force-styles/tests/mol-pair-lj_cut_coul_long.yaml
  unittest/force-styles/tests/mol-pair-lj_cut_coul_long_cs.yaml
  unittest/force-styles/tests/mol-pair-lj_cut_coul_table.yaml
  unittest/force-styles/tests/mol-pair-lj_cut_coul_table_cs.yaml
  unittest/force-styles/tests/mol-pair-lj_long_coul_long.yaml
  unittest/force-styles/tests/mol-pair-lj_long_tip4p_long.yaml
  unittest/force-styles/tests/mol-pair-lj_mdf.yaml
  unittest/force-styles/tests/mol-pair-lj_table_coul_table.yaml
  unittest/force-styles/tests/mol-pair-lj_table_tip4p_table.yaml
  unittest/force-styles/tests/mol-pair-nm_cut.yaml
  unittest/force-styles/tests/mol-pair-nm_cut_coul_cut.yaml
  unittest/force-styles/tests/mol-pair-nm_cut_coul_long.yaml
  unittest/force-styles/tests/mol-pair-nm_cut_coul_table.yaml
Labels: bugfix, ready_for_merge, unittest_feature

#2216 Cleanup and bugfixes for some 3-body pair styles in the GPU package
  lib/gpu/lal_sw.cu
  lib/gpu/lal_tersoff.cpp
  lib/gpu/lal_tersoff.cu
  lib/gpu/lal_tersoff_mod.cpp
  lib/gpu/lal_tersoff_mod.cu
  lib/gpu/lal_tersoff_zbl.cpp
  lib/gpu/lal_tersoff_zbl.cu
  lib/gpu/lal_vashishta.cpp
  lib/gpu/lal_vashishta.cu
Labels: bugfix, gpu_package, maintenance, ready_for_merge

#2220 clarify units for energy terms with angles
  doc/src/angle_charmm.rst
  doc/src/angle_class2.rst
  doc/src/angle_cross.rst
  doc/src/angle_harmonic.rst
  doc/src/angle_mm3.rst
  doc/src/angle_quartic.rst
  doc/src/angle_sdk.rst
  doc/src/dihedral_class2.rst
  doc/src/dihedral_quadratic.rst
  doc/src/fix_restrain.rst
  doc/src/improper_class2.rst
  doc/src/improper_harmonic.rst
Labels: documentation

#2226 Update documentation to recommend lammps-stable packages for Ubuntu
  doc/src/Install_linux.rst
Labels: documentation, update

#2227 Collected small updates and bugfixes
  doc/utils/check-styles.py
  examples/threebody/CdTeZnSeHgS0.sw
  python/lammps.py
  src/KIM/pair_kim.cpp
  src/KSPACE/ewald_disp.cpp
  src/KSPACE/pair_lj_long_coul_long.cpp
  src/KSPACE/pair_lj_long_tip4p_long.cpp
  src/MANYBODY/pair_comb.cpp
  src/MANYBODY/pair_comb3.cpp
  src/MANYBODY/pair_gw.cpp
  src/MANYBODY/pair_gw_zbl.cpp
  src/MANYBODY/pair_nb3b_harmonic.cpp
  src/MANYBODY/pair_sw.cpp
  src/MANYBODY/pair_tersoff.cpp
  src/MANYBODY/pair_tersoff_mod.cpp
  src/MANYBODY/pair_tersoff_mod_c.cpp
  src/MANYBODY/pair_tersoff_zbl.cpp
  src/MANYBODY/pair_vashishta.cpp
  src/MOLECULE/pair_hbond_dreiding_lj.cpp
  src/MOLECULE/pair_hbond_dreiding_morse.cpp
  src/MPIIO/dump_atom_mpiio.cpp
  src/MPIIO/dump_cfg_mpiio.cpp
  src/MPIIO/dump_custom_mpiio.cpp
  src/MPIIO/dump_xyz_mpiio.cpp
  src/USER-DPD/pair_exp6_rx.cpp
  src/USER-INTEL/intel_buffers.cpp
  src/USER-INTEL/pair_sw_intel.cpp
  src/USER-INTEL/pair_sw_intel.h
  src/USER-MISC/pair_drip.cpp
  src/USER-MISC/pair_edip.cpp
  src/USER-MISC/pair_edip_multi.cpp
  src/USER-MISC/pair_extep.cpp
  src/USER-MISC/pair_ilp_graphene_hbn.cpp
  src/USER-MISC/pair_kolmogorov_crespi_full.cpp
  src/USER-MISC/pair_kolmogorov_crespi_z.cpp
  src/USER-MISC/pair_lebedeva_z.cpp
  src/USER-MISC/pair_tersoff_table.cpp
  src/USER-OMP/pair_tersoff_zbl_omp.cpp
  src/input.cpp
  src/lammps.cpp
  src/main.cpp
  tools/valgrind/GTest.supp
  tools/valgrind/OpenMPI.supp
  tools/valgrind/README
  unittest/commands/test_simple_commands.cpp
  unittest/force-styles/tests/kspace-pppm_tip4p.yaml
  unittest/formats/test_potential_file_reader.cpp
  unittest/utils/test_utils.cpp
Labels: bugfix, build_system, documentation, maintenance, tools

#2229 Update pair_kim.cpp so settings() may come before box is defined
  src/KIM/pair_kim.cpp
Labels: bugfix, kim_package

#2231 Fix issue with Kokkos ReaxFF and pair hybrid
  src/KOKKOS/fix_qeq_reax_kokkos.cpp
  src/KOKKOS/fix_qeq_reax_kokkos.h
  src/KOKKOS/pair_reaxc_kokkos.cpp
  src/KOKKOS/pair_reaxc_kokkos.h
  src/USER-REAXC/fix_qeq_reax.cpp
Labels: bugfix, kokkos_package, ready_for_merge, user_reaxc_package

#2212 Get number of chunks from compute chunk/atom
  doc/src/Howto_output.rst
  doc/src/compute_chunk_atom.rst
  src/compute_chunk_atom.cpp
  src/compute_chunk_atom.h
Labels: chunk_feature, enhancement, ready_for_merge

#2236 Fix issues in Kokkos fix qeq/reax
  src/KOKKOS/fix_qeq_reax_kokkos.cpp
  src/KOKKOS/fix_qeq_reax_kokkos.h
Labels: bugfix, kokkos_package, ready_for_merge

#2237 Fix the system-dependent function call to `malloc_usable_size`.
  src/memory.cpp
Labels: maintenance, user_intel_package

#2206 New fix_bond_create_angle class
  doc/src/Commands_fix.rst
  doc/src/fix.rst
  doc/src/fix_bond_create.rst
  src/MC/fix_bond_create.cpp
  src/MC/fix_bond_create.h
  src/MC/fix_bond_create_angle.cpp
  src/MC/fix_bond_create_angle.h
  src/Makefile.list
Labels: enhancement, mc_package

#2219 enable write_data for atom styles with bonus data
  cmake/CMakeLists.txt
  doc/src/Build_basics.rst
  doc/src/Howto_body.rst
  doc/src/Howto_cmake.rst
  doc/src/compute_mliap.rst
  doc/src/compute_sna_atom.rst
  doc/src/pair_lj_cut_coul.rst
  doc/src/pair_mliap.rst
  src/BODY/body_nparticle.cpp
  src/BODY/body_nparticle.h
  src/BODY/body_rounded_polygon.cpp
  src/BODY/body_rounded_polygon.h
  src/BODY/body_rounded_polyhedron.cpp
  src/BODY/body_rounded_polyhedron.h
  src/BODY/fix_nph_body.cpp
  src/BODY/fix_npt_body.cpp
  src/BODY/fix_nvt_body.cpp
  src/MLIAP/README
  src/MLIAP/compute_mliap.cpp
  src/MLIAP/compute_mliap.h
  src/MLIAP/mliap_descriptor.h
  src/MLIAP/mliap_descriptor_snap.cpp
  src/MLIAP/mliap_descriptor_snap.h
  src/MLIAP/mliap_model_linear.cpp
  src/MLIAP/mliap_model_quadratic.cpp
  src/MOLECULE/atom_vec_angle.cpp
  src/USER-MESONT/pair_mesocnt.h
  src/atom.cpp
  src/atom.h
  src/atom_vec.cpp
  src/atom_vec.h
  src/atom_vec_body.cpp
  src/atom_vec_body.h
  src/atom_vec_ellipsoid.cpp
  src/atom_vec_ellipsoid.h
  src/atom_vec_hybrid.cpp
  src/atom_vec_hybrid.h
  src/atom_vec_line.cpp
  src/atom_vec_line.h
  src/atom_vec_tri.cpp
  src/atom_vec_tri.h
  src/body.h
  src/lmprestart.h
  src/read_data.cpp
  src/read_restart.cpp
  src/replicate.cpp
  src/write_data.cpp
  src/write_data.h
  src/write_restart.cpp
  unittest/formats/test_atom_styles.cpp
Labels: enhancement, unittest_feature, work_in_progress

#2228 Compute mliap updates
  doc/src/Howto_body.rst
  doc/src/compute_mliap.rst
  doc/src/dihedral_quadratic.rst
  doc/src/pair_mliap.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/mliap/in.mliap.quadratic.compute
  examples/mliap/in.mliap.snap.compute
  examples/mliap/log.03Jul20.mliap.quadratic.compute.g++.1
  examples/mliap/log.03Jul20.mliap.quadratic.compute.g++.4
  examples/mliap/log.03Jul20.mliap.snap.compute.g++.1
  examples/mliap/log.03Jul20.mliap.snap.compute.g++.4
  examples/mliap/log.21Jun20.mliap.snap.WBe.PRB2019.g++.1
  examples/mliap/log.21Jun20.mliap.snap.WBe.PRB2019.g++.4
  src/KIM/kim_interactions.cpp
  src/MC/fix_bond_create.cpp
  src/MC/fix_bond_create_angle.cpp
  src/MLIAP/compute_mliap.cpp
  src/MLIAP/compute_mliap.h
  src/MLIAP/mliap_data.cpp
  src/MLIAP/mliap_data.h
  src/MLIAP/mliap_descriptor.h
  src/MLIAP/mliap_descriptor_snap.cpp
  src/MLIAP/mliap_descriptor_snap.h
  src/MLIAP/mliap_model.cpp
  src/MLIAP/mliap_model.h
  src/MLIAP/mliap_model_linear.cpp
  src/MLIAP/mliap_model_linear.h
  src/MLIAP/mliap_model_quadratic.cpp
  src/MLIAP/mliap_model_quadratic.h
  src/MLIAP/pair_mliap.cpp
  src/MLIAP/pair_mliap.h
  src/SNAP/compute_snap.cpp
  src/USER-MISC/fix_npt_cauchy.cpp
Labels: enhancement, mliap_package

#2230 Implementation of Widom insertions through a new fix widom command
  doc/src/Commands_fix.rst
  doc/src/fix.rst
  doc/src/fix_gcmc.rst
  doc/src/fix_widom.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/README
  examples/gcmc/data.spce
  examples/gcmc/data.widom.lj
  examples/gcmc/in.widom.lj
  examples/gcmc/in.widom.spce
  examples/gcmc/log.30Jun20.widom.lj.g++.1
  examples/gcmc/log.30Jun20.widom.lj.g++.4
  examples/gcmc/log.30Jun20.widom.spce.g++.1
  src/MC/fix_gcmc.cpp
  src/MC/fix_widom.cpp
  src/MC/fix_widom.h
  src/group.cpp
  src/group.h
Labels: enhancement, user_misc_package

#2202 Collected small fixes
  cmake/CMakeLists.txt
  tools/singularity/fedora32_mingw.def
  tools/singularity/ubuntu18.04_gpu.def
Labels: bugfix

#2241 Update the deprecated property and fix the empty value on macOS
  cmake/Modules/GTest.cmake
Labels: bugfix, cmake, maintenance

#2238 KIM package corrections and refactoring
  doc/src/Python_test.rst
  src/KIM/fix_store_kim.cpp
  src/KIM/kim_init.cpp
  src/KIM/kim_init.h
  src/KIM/kim_interactions.cpp
  src/KIM/kim_interactions.h
  src/KIM/kim_param.cpp
  src/KIM/kim_property.cpp
  src/KIM/kim_query.cpp
  src/KIM/kim_units.h
  src/KIM/pair_kim.cpp
  src/variable.cpp
  src/variable.h
  unittest/commands/CMakeLists.txt
  unittest/commands/test_kim_commands.cpp
Labels: bug, enhancement, kim_package

#2242 Update version strings for next patch release
  doc/lammps.1
  src/version.h
Labels: maintenance

#2246 Update lammps_theme (based on latest sphinx_rtd_theme)
  doc/Makefile
  doc/requirements.txt
  doc/utils/sphinx-config/_static/css/lammps.css
  doc/utils/sphinx-config/_themes/lammps_theme/Apache-License-2.0.txt
  doc/utils/sphinx-config/_themes/lammps_theme/LICENSE
  doc/utils/sphinx-config/_themes/lammps_theme/OFL-License.txt
  doc/utils/sphinx-config/_themes/lammps_theme/__init__.py
  doc/utils/sphinx-config/_themes/lammps_theme/breadcrumbs.html
  doc/utils/sphinx-config/_themes/lammps_theme/footer.html
  doc/utils/sphinx-config/_themes/lammps_theme/layout.html
  doc/utils/sphinx-config/_themes/lammps_theme/layout_old.html
  doc/utils/sphinx-config/_themes/lammps_theme/locale/de/LC_MESSAGES/sphinx.mo
  doc/utils/sphinx-config/_themes/lammps_theme/locale/de/LC_MESSAGES/sphinx.po
  doc/utils/sphinx-config/_themes/lammps_theme/locale/en/LC_MESSAGES/sphinx.mo
  doc/utils/sphinx-config/_themes/lammps_theme/locale/en/LC_MESSAGES/sphinx.po
  doc/utils/sphinx-config/_themes/lammps_theme/locale/es/LC_MESSAGES/sphinx.mo
  doc/utils/sphinx-config/_themes/lammps_theme/locale/es/LC_MESSAGES/sphinx.po
  doc/utils/sphinx-config/_themes/lammps_theme/locale/et/LC_MESSAGES/sphinx.mo
  doc/utils/sphinx-config/_themes/lammps_theme/locale/et/LC_MESSAGES/sphinx.po
  doc/utils/sphinx-config/_themes/lammps_theme/locale/fr/LC_MESSAGES/sphinx.mo
  doc/utils/sphinx-config/_themes/lammps_theme/locale/fr/LC_MESSAGES/sphinx.po
  doc/utils/sphinx-config/_themes/lammps_theme/locale/nl/LC_MESSAGES/sphinx.mo
  doc/utils/sphinx-config/_themes/lammps_theme/locale/nl/LC_MESSAGES/sphinx.po
  doc/utils/sphinx-config/_themes/lammps_theme/locale/pt_BR/LC_MESSAGES/sphinx.mo
  doc/utils/sphinx-config/_themes/lammps_theme/locale/pt_BR/LC_MESSAGES/sphinx.po
  doc/utils/sphinx-config/_themes/lammps_theme/locale/ru/LC_MESSAGES/sphinx.mo
  doc/utils/sphinx-config/_themes/lammps_theme/locale/ru/LC_MESSAGES/sphinx.po
  doc/utils/sphinx-config/_themes/lammps_theme/locale/sphinx.pot
  doc/utils/sphinx-config/_themes/lammps_theme/locale/sv/LC_MESSAGES/sphinx.mo
  doc/utils/sphinx-config/_themes/lammps_theme/locale/sv/LC_MESSAGES/sphinx.po
  doc/utils/sphinx-config/_themes/lammps_theme/locale/tr/LC_MESSAGES/sphinx.mo
  doc/utils/sphinx-config/_themes/lammps_theme/locale/tr/LC_MESSAGES/sphinx.po
  doc/utils/sphinx-config/_themes/lammps_theme/locale/zh_CN/LC_MESSAGES/sphinx.mo
  doc/utils/sphinx-config/_themes/lammps_theme/locale/zh_CN/LC_MESSAGES/sphinx.po
  doc/utils/sphinx-config/_themes/lammps_theme/searchbox.html
  doc/utils/sphinx-config/_themes/lammps_theme/static/css/badge_only.css
  doc/utils/sphinx-config/_themes/lammps_theme/static/css/fonts/Roboto-Slab-Bold.woff
  doc/utils/sphinx-config/_themes/lammps_theme/static/css/fonts/Roboto-Slab-Bold.woff2
  doc/utils/sphinx-config/_themes/lammps_theme/static/css/fonts/Roboto-Slab-Regular.woff
  doc/utils/sphinx-config/_themes/lammps_theme/static/css/fonts/Roboto-Slab-Regular.woff2
  doc/utils/sphinx-config/_themes/lammps_theme/static/css/fonts/fontawesome-webfont.eot
  doc/utils/sphinx-config/_themes/lammps_theme/static/css/fonts/fontawesome-webfont.svg
  doc/utils/sphinx-config/_themes/lammps_theme/static/css/fonts/fontawesome-webfont.ttf
  doc/utils/sphinx-config/_themes/lammps_theme/static/css/fonts/fontawesome-webfont.woff
  doc/utils/sphinx-config/_themes/lammps_theme/static/css/fonts/fontawesome-webfont.woff2
  doc/utils/sphinx-config/_themes/lammps_theme/static/css/fonts/lato-bold-italic.woff
  doc/utils/sphinx-config/_themes/lammps_theme/static/css/fonts/lato-bold-italic.woff2
  doc/utils/sphinx-config/_themes/lammps_theme/static/css/fonts/lato-bold.woff
  doc/utils/sphinx-config/_themes/lammps_theme/static/css/fonts/lato-bold.woff2
  doc/utils/sphinx-config/_themes/lammps_theme/static/css/fonts/lato-normal-italic.woff
  doc/utils/sphinx-config/_themes/lammps_theme/static/css/fonts/lato-normal-italic.woff2
  doc/utils/sphinx-config/_themes/lammps_theme/static/css/fonts/lato-normal.woff
  doc/utils/sphinx-config/_themes/lammps_theme/static/css/fonts/lato-normal.woff2
  doc/utils/sphinx-config/_themes/lammps_theme/static/css/lammps.css
  doc/utils/sphinx-config/_themes/lammps_theme/static/css/theme.css
  doc/utils/sphinx-config/_themes/lammps_theme/static/js/badge_only.js
  doc/utils/sphinx-config/_themes/lammps_theme/static/js/theme.js
  doc/utils/sphinx-config/_themes/lammps_theme/theme.conf
  doc/utils/sphinx-config/_themes/lammps_theme/versions.html
  doc/utils/sphinx-config/conf.py
Labels: documentation, maintenance

#2250 Remove unnecessary thumbnails
  doc/src/JPG/balance_nonuniform_small.jpg
  doc/src/JPG/balance_rcb_small.jpg
  doc/src/JPG/balance_uniform_small.jpg
  doc/src/JPG/dump1_small.jpg
  doc/src/JPG/dump2_small.jpg
  doc/src/JPG/gran_funnel.png
  doc/src/JPG/gran_funnel_small.jpg
  doc/src/JPG/gran_mixer.png
  doc/src/JPG/gran_mixer_small.jpg
  doc/src/JPG/hop1_small.jpg
  doc/src/JPG/hop2_small.jpg
  doc/src/JPG/saed_ewald_intersect_small.jpg
  doc/src/JPG/saed_mesh_small.jpg
  doc/src/JPG/screenshot_atomeye_small.jpg
  doc/src/JPG/screenshot_gl_small.jpg
  doc/src/JPG/screenshot_pymol_small.jpg
  doc/src/JPG/screenshot_vmd_small.jpg
  doc/src/JPG/sinusoid_small.jpg
  doc/src/JPG/xrd_mesh_small.jpg
  doc/src/Python_examples.rst
  doc/src/balance.rst
  doc/src/compute_saed.rst
  doc/src/compute_xrd.rst
  doc/src/create_atoms.rst
  doc/src/dump_image.rst
  doc/src/fix_balance.rst
  doc/src/fix_wall_gran_region.rst
  doc/src/img/balance_nonuniform.jpg
  doc/src/img/balance_rcb.jpg
  doc/src/img/balance_uniform.jpg
  doc/src/img/dump1.jpg
  doc/src/img/dump2.jpg
  doc/src/img/gran_funnel.png
  doc/src/img/gran_mixer.png
  doc/src/img/hop1.jpg
  doc/src/img/hop2.jpg
  doc/src/img/saed_ewald_intersect.jpg
  doc/src/img/saed_mesh.jpg
  doc/src/img/screenshot_atomeye.jpg
  doc/src/img/screenshot_gl.jpg
  doc/src/img/screenshot_pymol.jpg
  doc/src/img/screenshot_vmd.jpg
  doc/src/img/sinusoid.jpg
  doc/src/img/xrd_mesh.jpg
  doc/src/neb.rst
  doc/src/pair_extep.rst
Labels: documentation, maintenance, ready_for_merge

#2252 Collected small changes and bugfixes
  src/comm.cpp
  src/compute_orientorder_atom.cpp
  src/fix_print.cpp
  src/force.cpp
  src/kspace.cpp
  src/read_data.cpp
  src/reset_atom_ids.cpp
  src/special.cpp
  src/verlet.cpp
  unittest/commands/test_reset_ids.cpp
Labels: bugfix, enhancement, unittest_feature

#2253 Fix issue in pair_snap_kokkos
  src/KOKKOS/pair_snap_kokkos_impl.h
Labels: bugfix, kokkos_package, ready_for_merge, snap_package

#2255 Charset cleanup in (most) source files
  lib/awpmd/ivutils/include/cerf.h
  lib/awpmd/ivutils/include/cvector_3.h
  lib/awpmd/ivutils/include/refobj.h
  lib/awpmd/ivutils/include/vector_3.h
  lib/awpmd/systems/interact/TCP/wpmd.h
  lib/colvars/colvar_arithmeticpath.h
  lib/colvars/colvarcomp.h
  lib/colvars/colvargrid.h
  lib/gpu/cudpp_mini/cudpp_plan.h
  lib/gpu/cudpp_mini/cutil.h
  lib/gpu/lal_soft.h
  lib/message/cslib/src/STUBS_MPI/mpi_dummy.h
  lib/poems/POEMSChain.h
  lib/poems/SystemProcessor.h
  lib/poems/body23joint.h
  lib/poems/colmatrix.h
  lib/poems/defines.h
  lib/poems/joint.h
  lib/poems/matrixfun.h
  lib/poems/mixedjoint.h
  lib/poems/onbody.h
  lib/poems/onsolver.h
  lib/poems/poemslist.h
  lib/poems/poemsnodelib.h
  lib/poems/poemstree.h
  lib/poems/poemstreenode.h
  lib/poems/points.h
  lib/poems/system.h
  lib/poems/virtualcolmatrix.h
  lib/poems/virtualmatrix.h
  lib/poems/workspace.h
Labels: maintenance

#2254 Fix corrupted character in GPU package
  lib/gpu/lal_preprocessor.h
Labels: bugfix, gpu_package

#2258 Update phana tool for USER-PHONON from GitHub repo
  tools/phonon/Makefile
  tools/phonon/README
  tools/phonon/disp.cpp
  tools/phonon/dynmat.cpp
  tools/phonon/dynmat.h
  tools/phonon/green.cpp
  tools/phonon/green.h
  tools/phonon/interpolate.cpp
  tools/phonon/interpolate.h
  tools/phonon/kpath.cpp
  tools/phonon/kpath.h
  tools/phonon/phonon.cpp
  tools/phonon/phonon.h
  tools/phonon/phonopy.cpp
  tools/phonon/phonopy.h
  tools/phonon/qnodes.cpp
  tools/phonon/qnodes.h
  tools/phonon/timer.cpp
  tools/phonon/version.h
Labels: tools, update

#1426 comm_tiled_sendself_fix
  src/comm_tiled.cpp
Labels: bugfix, communication_feature

#2259 enable CommStyle tiled and load-balancing to work for triclinic
  doc/src/comm_style.rst
  src/balance.cpp
  src/comm_tiled.cpp
  src/comm_tiled.h
Labels: communication_feature

#2256 Use alternate/faster linker if available
  cmake/CMakeLists.txt
  cmake/Modules/Testing.cmake
  doc/src/Build_development.rst
  doc/utils/sphinx-config/false_positives.txt
Labels: cmake, ready_for_merge, unittest_feature

#2263 Add .gitattributes
  .gitattributes
Labels: github, maintenance

#2265 Unit tests for born, buck, lj96 and mie cut
  unittest/force-styles/tests/mol-pair-born.yaml
  unittest/force-styles/tests/mol-pair-buck.yaml
  unittest/force-styles/tests/mol-pair-lj96_cut.yaml
  unittest/force-styles/tests/mol-pair-mie_cut.yaml
Labels: ready_for_merge, unittest_feature

#2264 Refactor parsing of input files in fix ttm and fix ttm/mod
  src/MISC/fix_ttm.cpp
  src/MISC/fix_ttm.h
  src/USER-MISC/fix_ttm_mod.cpp
  src/USER-MISC/fix_ttm_mod.h
  src/utils.cpp
  src/utils.h
  unittest/utils/test_utils.cpp
Labels: maintenance, unittest_feature
