Repository lammps/lammps, pull requests merged in 2020-05, with the labels that each got.

#2015 Fix spline meam binning
  src/USER-MISC/pair_meam_spline.cpp
  src/USER-MISC/pair_meam_spline.h
  src/USER-MISC/pair_meam_sw_spline.cpp
  src/USER-MISC/pair_meam_sw_spline.h
Labels: ready_for_merge, user_misc_package

#2054 Add change missed in #2004
  src/KOKKOS/npair_kokkos.cpp
Labels: bugfix, kokkos_package, ready_for_merge

#2053 Allow Kokkos remap to turn off CUDA-aware MPI
  src/KOKKOS/fft3d_kokkos.cpp
  src/KOKKOS/fft3d_kokkos.h
  src/KOKKOS/pppm_kokkos.cpp
  src/KOKKOS/remap_kokkos.cpp
  src/KOKKOS/remap_kokkos.h
Labels: bugfix, kokkos_package, ready_for_merge

#1902 Add Kokkos version of compute coord/atom
  doc/src/Commands_compute.rst
  doc/src/compute_coord_atom.rst
  doc/src/compute_orientorder_atom.rst
  src/KOKKOS/Install.sh
  src/KOKKOS/compute_coord_atom_kokkos.cpp
  src/KOKKOS/compute_coord_atom_kokkos.h
  src/compute_coord_atom.cpp
  src/compute_coord_atom.h
Labels: enhancement, kokkos_package, ready_for_merge

#2051 Collected small changes for the next patch release
  cmake/CMakeLists.txt
  cmake/Modules/Packages/VORONOI.cmake
  cmake/presets/most.cmake
  doc/src/fix_ave_correlate_long.rst
  doc/src/fix_halt.rst
  lib/atc/Function.cpp
  lib/voronoi/voro-make.patch
  src/KIM/pair_kim.cpp
  src/MISC/xdr_compat.h
  src/USER-INTEL/verlet_lrt_intel.cpp
  src/USER-MEAMC/meam_setup_global.cpp
  src/USER-MISC/fix_ave_correlate_long.cpp
  src/USER-MISC/fix_imd.cpp
  src/fix_halt.cpp
  src/fix_restrain.cpp
  src/info.cpp
  src/random_mars.cpp
  src/utils.cpp
Labels: bugfix, cmake, maintenance, voronoi_package

#2055 Make MIN_HBONDS define for reax/c configurable via an input option
  doc/src/pair_reaxc.rst
  doc/utils/sphinx-config/false_positives.txt
  src/USER-OMP/pair_reaxc_omp.cpp
  src/USER-OMP/reaxc_forces_omp.cpp
  src/USER-OMP/reaxc_init_md_omp.cpp
  src/USER-REAXC/fix_qeq_reax.cpp
  src/USER-REAXC/pair_reaxc.cpp
  src/USER-REAXC/reaxc_allocate.cpp
  src/USER-REAXC/reaxc_defs.h
  src/USER-REAXC/reaxc_forces.cpp
  src/USER-REAXC/reaxc_init_md.cpp
  src/USER-REAXC/reaxc_lookup.cpp
  src/USER-REAXC/reaxc_traj.cpp
  src/USER-REAXC/reaxc_types.h
Labels: enhancement, user_reaxc_package

#2049 Singularity container update
  cmake/Modules/Packages/USER-H5MD.cmake
  cmake/Modules/Packages/USER-NETCDF.cmake
  tools/singularity/centos7.def
  tools/singularity/centos8.def
  tools/singularity/fedora30_mingw.def
  tools/singularity/fedora32_mingw.def
  tools/singularity/ubuntu18.04.def
  tools/singularity/ubuntu18.04_amd_rocm.def
  tools/singularity/ubuntu18.04_amd_rocm_cuda.def
  tools/singularity/ubuntu18.04_gpu.def
  tools/singularity/ubuntu18.04_intel_opencl.def
  tools/singularity/ubuntu18.04_nvidia.def
  tools/singularity/ubuntu20.04.def
Labels: tools

#2019 Fix and compute styles for calculating viscosity with periodic perturbation method
  doc/src/Commands_compute.rst
  doc/src/Commands_fix.rst
  doc/src/Howto_viscosity.rst
  doc/src/compute.rst
  doc/src/compute_viscosity_cos.rst
  doc/src/fix.rst
  doc/src/fix_accelerate_cos.rst
  examples/VISCOSITY/README
  examples/VISCOSITY/data.cos.1000SPCE
  examples/VISCOSITY/in.cos.1000SPCE
  examples/VISCOSITY/log.30Apr20.cos.1000SPCE.g++.1
  src/USER-MISC/README
  src/USER-MISC/compute_viscosity_cos.cpp
  src/USER-MISC/compute_viscosity_cos.h
  src/USER-MISC/fix_accelerate_cos.cpp
  src/USER-MISC/fix_accelerate_cos.h
Labels: enhancement, ready_for_merge, user_misc_package

#2064 Update version strings for the next patch release
  doc/lammps.1
  src/version.h
Labels: maintenance

#2068 cmake: enable Fortran before checking for the compiler
  cmake/CMakeLists.txt
  cmake/Modules/FindTBB_MALLOC.cmake
Labels: cmake, ready_for_merge

#2070 cmake: bump kokkos to v3.1.01
  cmake/Modules/Packages/KOKKOS.cmake
  lib/kokkos/CHANGELOG.md
  lib/kokkos/CMakeLists.txt
  lib/kokkos/Makefile.kokkos
  lib/kokkos/cmake/kokkos_install.cmake
  lib/kokkos/cmake/kokkos_tribits.cmake
  lib/kokkos/core/src/Cuda/Kokkos_Cuda_ReduceScan.hpp
  lib/kokkos/core/src/Cuda/Kokkos_Cuda_Vectorization.hpp
  lib/kokkos/core/src/Kokkos_CudaSpace.hpp
  lib/kokkos/core/src/Kokkos_OpenMPTarget.hpp
  lib/kokkos/core/src/impl/Kokkos_ViewMapping.hpp
  lib/kokkos/master_history.txt
Labels: kokkos_package, update

#2069 latte: bump to v1.2.2
  cmake/Modules/FindLATTE.cmake
  cmake/Modules/Packages/LATTE.cmake
  lib/latte/Install.py
Labels: update

#2071 Partial Cleanup of Conventional Build Makefiles.
  src/MAKE/MACHINES/Makefile.beacon
  src/MAKE/MACHINES/Makefile.cori2
  src/MAKE/MACHINES/Makefile.jaguar
  src/MAKE/MACHINES/Makefile.stampede
  src/MAKE/MACHINES/Makefile.theta
  src/MAKE/OPTIONS/Makefile.intel_coprocessor
  src/MAKE/OPTIONS/Makefile.intel_cpu
Labels: build_system, maintenance, ready_for_merge

#2073 GPU package pair styles to support neighbor list builds on the GPU with triclinic boxes
  src/GPU/fix_gpu.cpp
  src/GPU/pair_beck_gpu.cpp
  src/GPU/pair_born_coul_long_cs_gpu.cpp
  src/GPU/pair_born_coul_long_gpu.cpp
  src/GPU/pair_born_coul_wolf_cs_gpu.cpp
  src/GPU/pair_born_coul_wolf_gpu.cpp
  src/GPU/pair_born_gpu.cpp
  src/GPU/pair_buck_coul_cut_gpu.cpp
  src/GPU/pair_buck_coul_long_gpu.cpp
  src/GPU/pair_buck_gpu.cpp
  src/GPU/pair_colloid_gpu.cpp
  src/GPU/pair_coul_cut_gpu.cpp
  src/GPU/pair_coul_debye_gpu.cpp
  src/GPU/pair_coul_dsf_gpu.cpp
  src/GPU/pair_coul_long_cs_gpu.cpp
  src/GPU/pair_coul_long_gpu.cpp
  src/GPU/pair_dpd_gpu.cpp
  src/GPU/pair_dpd_tstat_gpu.cpp
  src/GPU/pair_eam_alloy_gpu.cpp
  src/GPU/pair_eam_fs_gpu.cpp
  src/GPU/pair_eam_gpu.cpp
  src/GPU/pair_gauss_gpu.cpp
  src/GPU/pair_gayberne_gpu.cpp
  src/GPU/pair_lj96_cut_gpu.cpp
  src/GPU/pair_lj_charmm_coul_long_gpu.cpp
  src/GPU/pair_lj_class2_coul_long_gpu.cpp
  src/GPU/pair_lj_class2_gpu.cpp
  src/GPU/pair_lj_cubic_gpu.cpp
  src/GPU/pair_lj_cut_coul_cut_gpu.cpp
  src/GPU/pair_lj_cut_coul_debye_gpu.cpp
  src/GPU/pair_lj_cut_coul_dsf_gpu.cpp
  src/GPU/pair_lj_cut_coul_long_gpu.cpp
  src/GPU/pair_lj_cut_coul_msm_gpu.cpp
  src/GPU/pair_lj_cut_dipole_cut_gpu.cpp
  src/GPU/pair_lj_cut_dipole_long_gpu.cpp
  src/GPU/pair_lj_cut_gpu.cpp
  src/GPU/pair_lj_cut_tip4p_long_gpu.cpp
  src/GPU/pair_lj_expand_coul_long_gpu.cpp
  src/GPU/pair_lj_expand_gpu.cpp
  src/GPU/pair_lj_gromacs_gpu.cpp
  src/GPU/pair_lj_sdk_coul_long_gpu.cpp
  src/GPU/pair_lj_sdk_gpu.cpp
  src/GPU/pair_lj_sf_dipole_sf_gpu.cpp
  src/GPU/pair_mie_cut_gpu.cpp
  src/GPU/pair_morse_gpu.cpp
  src/GPU/pair_resquared_gpu.cpp
  src/GPU/pair_soft_gpu.cpp
  src/GPU/pair_sw_gpu.cpp
  src/GPU/pair_table_gpu.cpp
  src/GPU/pair_tersoff_gpu.cpp
  src/GPU/pair_tersoff_mod_gpu.cpp
  src/GPU/pair_tersoff_zbl_gpu.cpp
  src/GPU/pair_ufm_gpu.cpp
  src/GPU/pair_vashishta_gpu.cpp
  src/GPU/pair_yukawa_colloid_gpu.cpp
  src/GPU/pair_yukawa_gpu.cpp
  src/GPU/pair_zbl_gpu.cpp
  src/GPU/pppm_gpu.cpp
Labels: enhancement, gpu_package

#2077 Fix issue when generating lmpgitversion.h
  cmake/CMakeLists.txt
  cmake/Modules/generate_lmpgitversion.cmake
Labels: bugfix, cmake, ready_for_merge

#2074 Updates for singularity definition files
  .github/CODEOWNERS
  tools/singularity/README.md
  tools/singularity/centos7.def
  tools/singularity/centos8.def
  tools/singularity/fedora30_mingw.def
  tools/singularity/fedora32_mingw.def
  tools/singularity/ubuntu16.04.def
  tools/singularity/ubuntu18.04.def
  tools/singularity/ubuntu18.04_amd_rocm.def
  tools/singularity/ubuntu18.04_amd_rocm_cuda.def
  tools/singularity/ubuntu18.04_gpu.def
  tools/singularity/ubuntu18.04_intel_opencl.def
  tools/singularity/ubuntu18.04_nvidia.def
  tools/singularity/ubuntu20.04.def
Labels: ready_for_merge, tools

#2080 Collected small changes for the next patch release
  doc/src/Build_extras.rst
  src/STUBS/mpi.c
  src/atom.cpp
  src/atom_vec.cpp
  src/atom_vec.h
  src/atom_vec_ellipsoid.cpp
  src/lmptype.h
  src/variable.cpp
Labels: bugfix, documentation, maintenance

#2082 Fix 32-bit integer overflow in Kokkos neighlist build on GPUs
  src/KOKKOS/neigh_list_kokkos.h
Labels: bugfix, kokkos_package, ready_for_merge

#2092 Initialize omega and angmom when reading a data file
  src/PERI/atom_vec_peri.cpp
  src/SPIN/atom_vec_spin.cpp
  src/atom_vec_ellipsoid.cpp
  src/atom_vec_ellipsoid.h
  src/atom_vec_sphere.cpp
  src/atom_vec_sphere.h
Labels: bugfix

#2091 Rename Kokkos Makefile
  src/MAKE/MACHINES/Makefile.summit_kokkos
Labels: build_system, kokkos_package, ready_for_merge

#2093 remove fftw_cleanup() from main()
  cmake/CMakeLists.txt
  cmake/LAMMPSConfig.cmake.in
  cmake/Modules/Packages/KSPACE.cmake
  src/main.cpp
Labels: maintenance, ready_for_merge

#2094 Collected small changes and bug fixes for the next patch release
  cmake/CMakeLists.txt
  cmake/Modules/FindTBB_MALLOC.cmake
  cmake/Modules/Packages/USER-H5MD.cmake
  cmake/Modules/Packages/USER-NETCDF.cmake
  src/CLASS2/bond_class2.cpp
  src/CLASS2/bond_class2.h
  src/MOLECULE/bond_fene.cpp
  src/MOLECULE/bond_fene.h
  src/MOLECULE/bond_gromos.cpp
  src/MOLECULE/bond_gromos.h
  src/MOLECULE/bond_harmonic.cpp
  src/MOLECULE/bond_harmonic.h
  src/MOLECULE/bond_morse.cpp
  src/MOLECULE/bond_morse.h
  src/MOLECULE/bond_nonlinear.cpp
  src/MOLECULE/bond_nonlinear.h
  src/USER-INTEL/pair_eam_intel.cpp
  src/USER-OMP/fix_omp.cpp
  src/USER-OMP/fix_omp.h
  src/USER-OMP/pair_lj_class2_coul_long_omp.cpp
  src/atom_vec.cpp
  src/bond.h
  src/bond_zero.cpp
  src/bond_zero.h
  src/dihedral.cpp
  src/random_mars.cpp
  tools/singularity/centos7.def
  tools/singularity/centos8.def
  tools/singularity/fedora32_mingw.def
  tools/singularity/ubuntu16.04.def
  tools/singularity/ubuntu18.04.def
  tools/singularity/ubuntu18.04_amd_rocm.def
  tools/singularity/ubuntu18.04_gpu.def
  tools/singularity/ubuntu18.04_intel_opencl.def
  tools/singularity/ubuntu18.04_nvidia.def
  tools/singularity/ubuntu20.04.def
Labels: bugfix, enhancement, maintenance, ready_for_merge

#2095 Fix redundant computation in Kokkos Pair SNAP on GPUs
  src/KOKKOS/pair_snap_kokkos.h
  src/KOKKOS/pair_snap_kokkos_impl.h
Labels: enhancement, kokkos_package, ready_for_merge, snap_package

#2100 Add basic unit test for r-RESPA and some related bugfixes
  .github/CODEOWNERS
  doc/src/compute_gyration_shape_chunk.rst
  doc/src/dump_modify.rst
  doc/src/fix_deform.rst
  doc/src/fix_heat.rst
  doc/src/fix_langevin_drude.rst
  doc/src/fix_meso_move.rst
  doc/src/fix_move.rst
  doc/src/fix_nh.rst
  doc/src/fix_npt_cauchy.rst
  doc/src/fix_nve_dotc_langevin.rst
  doc/src/fix_press_berendsen.rst
  doc/src/fix_rigid.rst
  doc/src/fix_temp_berendsen.rst
  doc/src/fix_temp_csvr.rst
  doc/src/fix_ti_spring.rst
  doc/src/kspace_modify.rst
  doc/src/run_style.rst
  doc/src/timestep.rst
  doc/src/units.rst
  doc/src/velocity.rst
  doc/utils/sphinx-config/false_positives.txt
  src/compute_centroid_stress_atom.cpp
  src/compute_pe_atom.cpp
  src/compute_stress_atom.cpp
  src/write_coeff.cpp
  unittest/force-styles/angle_style.cpp
  unittest/force-styles/bond_style.cpp
  unittest/force-styles/pair_style.cpp
  unittest/force-styles/tests/angle-charmm.yaml
  unittest/force-styles/tests/angle-harmonic.yaml
Labels: bugfix, maintenance

#2101 Make sure include directories are passed to test binaries
  unittest/force-styles/CMakeLists.txt
Labels: bugfix

#2110 Explicitly set the pValue pointer to NULL.
  src/KIM/kim_property.cpp
Labels: bugfix, kim_package

#2108 Add unit tests for manybody pair styles
  doc/src/Build_development.rst
  doc/src/Commands_pair.rst
  doc/src/pair_eam.rst
  doc/utils/sphinx-config/false_positives.txt
  src/MANYBODY/pair_comb3.cpp
  src/USER-OMP/pair_eam_cd_omp.cpp
  src/USER-OMP/pair_eam_cd_omp.h
  src/USER-OMP/pair_tersoff_zbl_omp.cpp
  unittest/force-styles/CMakeLists.txt
  unittest/force-styles/bond_style.cpp
  unittest/force-styles/pair_style.cpp
  unittest/force-styles/tests/angle-zero.yaml
  unittest/force-styles/tests/atomic-pair-adp.yaml
  unittest/force-styles/tests/atomic-pair-atm.yaml
  unittest/force-styles/tests/atomic-pair-eam_cd.yaml
  unittest/force-styles/tests/atomic-pair-eim.yaml
  unittest/force-styles/tests/atomic-pair-hybrid-eam.yaml
  unittest/force-styles/tests/atomic-pair-hybrid-eam_fs.yaml
  unittest/force-styles/tests/bond-class2.yaml
  unittest/force-styles/tests/bond-zero.yaml
  unittest/force-styles/tests/data.airebo
  unittest/force-styles/tests/data.manybody
  unittest/force-styles/tests/data.manybody-charge
  unittest/force-styles/tests/in.airebo
  unittest/force-styles/tests/in.manybody
  unittest/force-styles/tests/in.manybody-charge
  unittest/force-styles/tests/manybody-pair-airebo.yaml
  unittest/force-styles/tests/manybody-pair-airebo_00.yaml
  unittest/force-styles/tests/manybody-pair-airebo_m.yaml
  unittest/force-styles/tests/manybody-pair-airebo_m00.yaml
  unittest/force-styles/tests/manybody-pair-bop.yaml
  unittest/force-styles/tests/manybody-pair-comb.yaml
  unittest/force-styles/tests/manybody-pair-comb3.yaml
  unittest/force-styles/tests/manybody-pair-gw.yaml
  unittest/force-styles/tests/manybody-pair-gw_zbl.yaml
  unittest/force-styles/tests/manybody-pair-lcbop.yaml
  unittest/force-styles/tests/manybody-pair-nb3b_harmonic.yaml
  unittest/force-styles/tests/manybody-pair-rebo.yaml
  unittest/force-styles/tests/manybody-pair-sw-multi.yaml
  unittest/force-styles/tests/manybody-pair-sw.yaml
  unittest/force-styles/tests/manybody-pair-tersoff.yaml
  unittest/force-styles/tests/manybody-pair-tersoff_mod.yaml
  unittest/force-styles/tests/manybody-pair-tersoff_mod_c.yaml
  unittest/force-styles/tests/manybody-pair-tersoff_table.yaml
  unittest/force-styles/tests/manybody-pair-tersoff_zbl.yaml
  unittest/force-styles/tests/manybody-pair-vashishta.yaml
  unittest/force-styles/tests/manybody-pair-vashishta_table.yaml
Labels: bugfix, maintenance

#2116 Test to avoid bad delete and Seg Fault
  src/USER-MISC/dihedral_nharmonic.cpp
Labels: bugfix

#2114 More updates and corrections for unit tests
  cmake/Modules/CodeCoverage.cmake
  doc/src/Build_development.rst
  doc/src/JPG/coverage-file-branches.png
  doc/src/JPG/coverage-file-top.png
  doc/src/JPG/coverage-overview-manybody.png
  doc/src/JPG/coverage-overview-top.png
  src/MANYBODY/pair_bop.cpp
  src/MANYBODY/pair_bop.h
  unittest/force-styles/angle_style.cpp
  unittest/force-styles/bond_style.cpp
  unittest/force-styles/pair_style.cpp
  unittest/force-styles/test_config.h
  unittest/force-styles/test_config_reader.cpp
  unittest/force-styles/test_config_reader.h
  unittest/force-styles/tests/angle-charmm.yaml
  unittest/force-styles/tests/angle-harmonic.yaml
  unittest/force-styles/tests/angle-zero.yaml
  unittest/force-styles/tests/atomic-pair-eam_cd_old.yaml
  unittest/force-styles/tests/atomic-pair-polymorphic_eam.yaml
  unittest/force-styles/tests/bond-class2.yaml
  unittest/force-styles/tests/bond-harmonic.yaml
  unittest/force-styles/tests/bond-hybrid.yaml
  unittest/force-styles/tests/bond-morse.yaml
  unittest/force-styles/tests/bond-zero.yaml
  unittest/force-styles/tests/manybody-pair-airebo.yaml
  unittest/force-styles/tests/manybody-pair-bop.yaml
  unittest/force-styles/tests/manybody-pair-bop_save.yaml
  unittest/force-styles/tests/manybody-pair-polymorphic_sw.yaml
  unittest/force-styles/tests/manybody-pair-polymorphic_tersoff.yaml
  unittest/force-styles/tests/manybody-pair-tersoff_mod.yaml
Labels: enhancement, maintenance

#2118 Better argument parsing of pair style hybrid
  src/pair_hybrid.cpp
Labels: enhancement

#2105 Fixed an issue with fix rigid/nve for bodies with very small values of inertia moments
  src/math_extra.cpp
Labels: bugfix, ready_for_merge, rigid_package

#2103 Use {fmt} in LAMMPS to simplify formatted output
  src/MANYBODY/pair_comb.cpp
  src/MANYBODY/pair_comb3.cpp
  src/MANYBODY/pair_eim.cpp
  src/MANYBODY/pair_gw.cpp
  src/MANYBODY/pair_gw_zbl.cpp
  src/MANYBODY/pair_nb3b_harmonic.cpp
  src/MANYBODY/pair_sw.cpp
  src/MANYBODY/pair_tersoff.cpp
  src/MANYBODY/pair_tersoff_mod.cpp
  src/MANYBODY/pair_tersoff_mod_c.cpp
  src/MANYBODY/pair_tersoff_zbl.cpp
  src/MANYBODY/pair_vashishta.cpp
  src/create_atoms.cpp
  src/fmt/chrono.h
  src/fmt/color.h
  src/fmt/compile.h
  src/fmt/core.h
  src/fmt/format-inl.h
  src/fmt/format.h
  src/fmt/locale.h
  src/fmt/os.h
  src/fmt/ostream.h
  src/fmt/printf.h
  src/fmt/ranges.h
  src/fmtlib_format.cpp
  src/fmtlib_os.cpp
  src/force.cpp
  src/input.cpp
  src/input.h
  src/lammps.cpp
  src/read_restart.cpp
  src/replicate.cpp
  src/reset_ids.cpp
  src/respa.cpp
  src/set.cpp
  src/special.cpp
  src/tokenizer.cpp
  src/tokenizer.h
  src/utils.cpp
  src/utils.h
  src/verlet.cpp
  unittest/utils/test_utils.cpp
Labels: enhancement, full-regression-test, test-for-regression
