Repository lammps/lammps, pull requests merged in 2020-03, with the labels that each got.

#1912 add EPYC to KOKKOS_ARCH_LIST
  lib/kokkos/cmake/kokkos_options.cmake
Labels: cmake, kokkos_package

#1910 Some more conversions and corrections for the LAMMPS manual
  doc/src/Build_extras.rst
  doc/src/Commands_all.rst
  doc/src/Commands_category.rst
  doc/src/Commands_compute.rst
  doc/src/Commands_fix.rst
  doc/src/Commands_pair.rst
  doc/src/Howto_drude2.rst
  doc/src/Howto_triclinic.rst
  doc/src/Install_git.rst
  doc/src/Manual.rst
  doc/src/Modify_overview.rst
  doc/src/Python_mpi.rst
  doc/src/Python_test.rst
  doc/src/Run_options.rst
  doc/src/angle_sdk.rst
  doc/src/compute_ke.rst
  doc/src/compute_ke_atom_eff.rst
  doc/src/compute_ke_eff.rst
  doc/src/compute_pressure.rst
  doc/src/dump_image.rst
  doc/src/fix_hyper_local.rst
  doc/src/fix_langevin.rst
  doc/src/fix_langevin_eff.rst
  doc/src/fix_lb_fluid.rst
  doc/src/fix_msst.rst
  doc/src/fix_nve_dotc_langevin.rst
  doc/src/fix_qbmsst.rst
  doc/src/fix_qtb.rst
  doc/src/fix_srd.rst
  doc/src/fix_viscous.rst
  doc/src/fix_wall.rst
  doc/src/kspace_style.rst
  doc/src/pair_buck6d_coul_gauss.rst
  doc/src/pair_comb.rst
  doc/src/pair_coul.rst
  doc/src/pair_edip.rst
  doc/src/pair_line_lj.rst
  doc/src/pair_lj.rst
  doc/src/pair_local_density.rst
  doc/src/pair_modify.rst
  doc/src/pair_morse.rst
  doc/src/pair_peri.rst
  doc/src/pair_smtbq.rst
  doc/src/pair_snap.rst
  doc/src/pair_thole.rst
  doc/src/thermo_style.rst
  doc/src/units.rst
  doc/utils/sphinx-config/false_positives.txt
Labels: documentation

#1914 Step version string for next patch and stable version
  doc/lammps.1
  src/version.h
Labels: maintenance

#1915 Require C++11 and CMake 3.10
  cmake/CMakeLists.txt
  cmake/Modules/Packages/GPU.cmake
  cmake/Modules/Packages/LATTE.cmake
  cmake/Modules/Packages/MSCG.cmake
  cmake/Modules/Packages/USER-MOLFILE.cmake
  doc/src/Build_cmake.rst
  doc/src/Build_settings.rst
  src/lmptype.h
Labels: maintenance

#1909 Update Colvars to version 2020-02-27
  doc/src/PDF/colvars-refman-lammps.pdf
  lib/colvars/Makefile.deps
  lib/colvars/colvar.cpp
  lib/colvars/colvar.h
  lib/colvars/colvarbias.cpp
  lib/colvars/colvarbias.h
  lib/colvars/colvarbias_abf.cpp
  lib/colvars/colvarbias_alb.cpp
  lib/colvars/colvarbias_histogram.cpp
  lib/colvars/colvarbias_meta.cpp
  lib/colvars/colvarbias_meta.h
  lib/colvars/colvarbias_restraint.cpp
  lib/colvars/colvarbias_restraint.h
  lib/colvars/colvardeps.cpp
  lib/colvars/colvardeps.h
  lib/colvars/colvargrid.h
  lib/colvars/colvarmodule.cpp
  lib/colvars/colvarmodule.h
  lib/colvars/colvarparse.cpp
  lib/colvars/colvarparse.h
  lib/colvars/colvars_version.h
  src/USER-COLVARS/colvarproxy_lammps.cpp
  src/USER-COLVARS/colvarproxy_lammps.h
  src/USER-COLVARS/fix_colvars.cpp
Labels: user_colvars_package

#1918 Collected small fixes for the next patch
  .github/CONTRIBUTING.md
  cmake/CMakeLists.txt
  doc/src/Manual_build.rst
  doc/src/Modify_contribute.rst
  doc/utils/sphinx-config/false_positives.txt
  lib/gpu/cudpp_mini/cudpp_maximal_launch.cpp
  lib/gpu/geryon/nvd_kernel.h
  src/MANYBODY/pair_adp.cpp
  src/MANYBODY/pair_eam.cpp
Labels: bugfix, cmake, documentation, gpu_package, maintenance

#1924 Rename USER-MESO package to USER-MESODPD
  cmake/CMakeLists.txt
  doc/src/Commands_pair.rst
  doc/src/Packages_details.rst
  doc/src/Packages_user.rst
  doc/src/atom_style.rst
  doc/src/compute_edpd_temp_atom.rst
  doc/src/compute_tdpd_cc_atom.rst
  doc/src/fix_dpd_source.rst
  doc/src/fix_mvv_dpd.rst
  doc/src/pair_mesodpd.rst
  doc/src/pair_style.rst
  doc/src/set.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/USER/mesodpd/README
  examples/USER/mesodpd/edpd/in.edpd
  examples/USER/mesodpd/edpd/log.16Aug17.edpd.g++.1
  examples/USER/mesodpd/edpd/log.16Aug17.edpd.g++.4
  examples/USER/mesodpd/edpd/temp.profile.16Aug17.edpd.g++.1
  examples/USER/mesodpd/edpd/temp.profile.16Aug17.edpd.g++.4
  examples/USER/mesodpd/mdpd/in.mdpd
  examples/USER/mesodpd/mdpd/log.16Aug17.mdpd.g++.1
  examples/USER/mesodpd/mdpd/log.16Aug17.mdpd.g++.4
  examples/USER/mesodpd/tdpd/cc.profile.16Aug17.tdpd.g++.1
  examples/USER/mesodpd/tdpd/cc.profile.16Aug17.tdpd.g++.4
  examples/USER/mesodpd/tdpd/in.tdpd
  examples/USER/mesodpd/tdpd/log.16Aug17.tdpd.g++.1
  examples/USER/mesodpd/tdpd/log.16Aug17.tdpd.g++.4
  src/Makefile
  src/USER-MESODPD/README
  src/USER-MESODPD/atom_vec_edpd.cpp
  src/USER-MESODPD/atom_vec_edpd.h
  src/USER-MESODPD/atom_vec_mdpd.cpp
  src/USER-MESODPD/atom_vec_mdpd.h
  src/USER-MESODPD/atom_vec_tdpd.cpp
  src/USER-MESODPD/atom_vec_tdpd.h
  src/USER-MESODPD/compute_edpd_temp_atom.cpp
  src/USER-MESODPD/compute_edpd_temp_atom.h
  src/USER-MESODPD/compute_tdpd_cc_atom.cpp
  src/USER-MESODPD/compute_tdpd_cc_atom.h
  src/USER-MESODPD/fix_edpd_source.cpp
  src/USER-MESODPD/fix_edpd_source.h
  src/USER-MESODPD/fix_mvv_dpd.cpp
  src/USER-MESODPD/fix_mvv_dpd.h
  src/USER-MESODPD/fix_mvv_edpd.cpp
  src/USER-MESODPD/fix_mvv_edpd.h
  src/USER-MESODPD/fix_mvv_tdpd.cpp
  src/USER-MESODPD/fix_mvv_tdpd.h
  src/USER-MESODPD/fix_tdpd_source.cpp
  src/USER-MESODPD/fix_tdpd_source.h
  src/USER-MESODPD/pair_edpd.cpp
  src/USER-MESODPD/pair_edpd.h
  src/USER-MESODPD/pair_mdpd.cpp
  src/USER-MESODPD/pair_mdpd.h
  src/USER-MESODPD/pair_mdpd_rhosum.cpp
  src/USER-MESODPD/pair_mdpd_rhosum.h
  src/USER-MESODPD/pair_tdpd.cpp
  src/USER-MESODPD/pair_tdpd.h
Labels: el7, maintenance, test-for-regression

#1922 SNAP optimizations - hierarchical parallelism, scratch memory, data layout transformations
  src/KOKKOS/pair_snap_kokkos.h
  src/KOKKOS/pair_snap_kokkos_impl.h
  src/KOKKOS/sna_kokkos.h
  src/KOKKOS/sna_kokkos_impl.h
Labels: enhancement, kokkos_package, snap_package

#1920 fire bug fix
  doc/src/min_style.rst
  src/min_fire.cpp
  src/min_fire.h
Labels: bugfix, enhancement

#1923 Collected small fixes for the next patch
  cmake/presets/all_off.cmake
  cmake/presets/all_on.cmake
  cmake/presets/most.cmake
  doc/src/pair_dpd.rst
  doc/src/pair_srp.rst
  python/lammps.py
  src/KOKKOS/pair_snap_kokkos.h
  src/KOKKOS/sna_kokkos.h
  src/library.cpp
  src/min_cg.cpp
Labels: bugfix, documentation, enhancement, library_interface, python_module

#1930 Remove now unneeded check for C++11 in Lepton CMake build
  cmake/Modules/Packages/USER-COLVARS.cmake
Labels: build_system, cmake

#1936 Documentation updates
  doc/utils/sphinx-config/conf.py
Labels: documentation

#1928 Collected small fixes and updates for the next patch release
  doc/src/kspace_style.rst
  doc/src/server_md.txt
  src/KIM/kim_init.h
  src/MESSAGE/fix_client_md.cpp
  src/MESSAGE/server_mc.cpp
  src/MESSAGE/server_md.cpp
  src/USER-INTEL/pppm_disp_intel.cpp
  src/USER-INTEL/pppm_intel.cpp
  src/min_fire.cpp
  src/pair_hybrid.cpp
Labels: bugfix, user_intel_package

#1940 cmake: fix package download with ninja
  cmake/CMakeLists.txt
  cmake/Modules/CheckGeneratorSupport.cmake
  cmake/Modules/Packages/KIM.cmake
  cmake/Modules/Packages/LATTE.cmake
  cmake/Modules/Packages/MSCG.cmake
  cmake/Modules/Packages/USER-PLUMED.cmake
  cmake/Modules/Packages/USER-SCAFACOS.cmake
  cmake/Modules/Packages/VORONOI.cmake
Labels: build_system, cmake

#1913 Molecule template: molecule-IDs and fragments
  doc/src/Errors_messages.rst
  doc/src/molecule.rst
  src/GRANULAR/fix_pour.cpp
  src/MISC/fix_deposit.cpp
  src/create_atoms.cpp
  src/molecule.cpp
  src/molecule.h
Labels: enhancement, ready_for_merge

#1883 smeared charges for DPD
  doc/src/Commands_pair.rst
  doc/src/pair_coul_slater.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/USER/misc/slater/data.after_equilibration
  examples/USER/misc/slater/data.after_production_run
  examples/USER/misc/slater/in.slater
  examples/USER/misc/slater/log.lammps
  examples/USER/misc/slater/tmp_1_1.rdf
  examples/USER/misc/slater/tmp_1_2.rdf
  examples/USER/misc/slater/tmp_1_3.rdf
  examples/USER/misc/slater/tmp_2_2.rdf
  examples/USER/misc/slater/tmp_2_3.rdf
  examples/USER/misc/slater/tmp_3_3.rdf
  src/USER-MISC/README
  src/USER-MISC/pair_coul_slater_cut.cpp
  src/USER-MISC/pair_coul_slater_cut.h
  src/USER-MISC/pair_coul_slater_long.cpp
  src/USER-MISC/pair_coul_slater_long.h
Labels: enhancement

#1891 New fix to compute properties by numerical differences
  doc/src/Commands_fix.rst
  doc/src/Errors_messages.rst
  doc/src/dynamical_matrix.rst
  doc/src/fix.rst
  doc/src/fix_numdiff.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/numdiff/README.md
  examples/numdiff/in.numdiff
  src/fix_numdiff.cpp
  src/fix_numdiff.h
Labels: enhancement

#1945 Collected small changes
  cmake/CMakeLists.txt
  cmake/Modules/Packages/USER-INTEL.cmake
  cmake/presets/clang.cmake
  cmake/presets/intel.cmake
  cmake/presets/most.cmake
  doc/src/Build_basics.rst
  doc/src/Build_cmake.rst
  doc/src/Build_development.rst
  doc/src/Build_package.rst
  doc/src/Tools.rst
  doc/src/pair_coul_slater.rst
  doc/src/pair_granular.rst
  doc/utils/sphinx-config/_themes/lammps_theme/breadcrumbs.html
  doc/utils/sphinx-config/_themes/lammps_theme/footer.html
  doc/utils/sphinx-config/_themes/lammps_theme/layout.html
  doc/utils/sphinx-config/_themes/lammps_theme/static/css/theme.css
  doc/utils/sphinx-config/false_positives.txt
  src/KSPACE/pppm_disp.cpp
  src/MANYBODY/pair_bop.cpp
  src/USER-MEAMC/meam.h
  src/USER-MEAMC/meam_setup_done.cpp
  src/atom.cpp
  src/fix_numdiff.cpp
  src/molecule.cpp
  src/molecule.h
  src/utils.cpp
  src/utils.h
  tools/README
  tools/cmake/cmbuild
  tools/singularity/centos8.def
Labels: build_system, cmake, documentation, el7, test-for-regression, tools

#1862 Add support to detect incomplete restart files and insufficient diskspace conditions
  doc/src/Errors_messages.rst
  doc/src/Errors_warnings.rst
  doc/src/Install_conda.rst
  doc/src/fix_halt.rst
  doc/utils/sphinx-config/false_positives.txt
  src/fix_halt.cpp
  src/fix_halt.h
  src/lmprestart.h
  src/read_restart.cpp
  src/read_restart.h
  src/write_restart.cpp
Labels: el7, enhancement, ready_for_merge, restart_feature, test-for-regression

#1949 Improved CMake support for cross-compilation with MinGW
  cmake/CMakeLists.txt
  cmake/Modules/MPI4WIN.cmake
  cmake/Modules/Packages/GPU.cmake
  cmake/Modules/Packages/KIM.cmake
  cmake/Modules/Packages/LATTE.cmake
  cmake/Modules/Packages/MSCG.cmake
  cmake/presets/mingw-cross.cmake
  doc/src/Build_package.rst
  doc/src/Build_windows.rst
  doc/src/pair_style.rst
Labels: build_system, maintenance

#1950 cmake: remove hard-coded liblinalg
  cmake/CMakeLists.txt
Labels: build_system, cmake

#1947 Step version string for next patch release
  doc/lammps.1
  src/version.h
Labels: maintenance

#1958 SNAP optimizations - kernel fusion, memory reduction, misc perf improvements
  src/KOKKOS/pair_snap_kokkos.h
  src/KOKKOS/pair_snap_kokkos_impl.h
  src/KOKKOS/sna_kokkos.h
  src/KOKKOS/sna_kokkos_impl.h
Labels: enhancement, kokkos_package, snap_package

#1962 Small fixes
  doc/src/Howto_bash.rst
  src/KSPACE/msm.cpp
  src/USER-INTEL/pair_tersoff_intel.cpp
  src/USER-SMTBQ/pair_smtbq.cpp
Labels: documentation, maintenance

#1963 Collected small changes for the next patch
  cmake/CMakeLists.txt
  cmake/Modules/Packages/USER-INTEL.cmake
  doc/src/bond_oxdna.rst
  doc/src/pair_bop.rst
  doc/src/pair_class2.rst
  doc/src/pair_coeff.rst
  doc/src/pair_cosine_squared.rst
  doc/src/pair_meam_sw_spline.rst
  doc/src/pair_nb3b_harmonic.rst
  doc/src/pair_polymorphic.rst
  doc/src/pair_python.rst
  doc/src/pair_spin_magelec.rst
  src/KOKKOS/sna_kokkos_impl.h
  src/USER-INTEL/verlet_lrt_intel.cpp
  src/atom_vec.cpp
  src/variable.cpp
Labels: bugfix, cmake, documentation

#1966 Allow query of available styles from lib interface
  python/lammps.py
  src/info.cpp
  src/info.h
  src/library.cpp
  src/library.h
Labels: library_interface

#1965 MEAM/C: Improve documentation, error messages
  doc/src/Errors_messages.rst
  doc/src/pair_meamc.rst
  src/USER-MEAMC/meam_setup_param.cpp
  src/USER-MEAMC/pair_meamc.cpp
  src/USER-MEAMC/pair_meamc.h
Labels: enhancement

#1968 cmake: fix up kokkos-3.0 update
  cmake/2826.patch
  cmake/Modules/Packages/KOKKOS.cmake
Labels: cmake, ready_for_merge
