Repository lammps/lammps, pull requests merged in 2020-09, with the labels that each got.

#2333 Update for PR #2274
  src/USER-BOCS/compute_pressure_bocs.cpp
  src/USER-BOCS/compute_pressure_bocs.h
  src/USER-BOCS/fix_bocs.cpp
  src/USER-BOCS/fix_bocs.h
Labels: bugfix

#1472 USER-PAFI
  doc/src/Commands_fix.rst
  doc/src/Errors_messages.rst
  doc/src/fix.rst
  doc/src/fix_pafi.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/USER/misc/pafi/.gitignore
  examples/USER/misc/pafi/README
  examples/USER/misc/pafi/in.pafi
  examples/USER/misc/pafi/log.15Apr20.pafi.g++.1
  examples/USER/misc/pafi/log.15Apr20.pafi.g++.4
  examples/USER/misc/pafi/pafipath.4.data
  python/lammps.py
  src/.gitignore
  src/USER-MISC/README
  src/USER-MISC/fix_pafi.cpp
  src/USER-MISC/fix_pafi.h
  src/library.cpp
  src/library.h
Labels: enhancement, ready_for_merge, user_misc_package

#2341 Revised links and related descriptions in the manual
  doc/src/Build_basics.rst
  doc/src/Build_development.rst
  doc/src/Build_extras.rst
  doc/src/Build_link.rst
  doc/src/Build_make.rst
  doc/src/Build_settings.rst
  doc/src/Build_windows.rst
  doc/src/Commands_removed.rst
  doc/src/Errors_bugs.rst
  doc/src/Errors_common.rst
  doc/src/Examples.rst
  doc/src/Howto.rst
  doc/src/Howto_2d.rst
  doc/src/Howto_body.rst
  doc/src/Howto_chunk.rst
  doc/src/Howto_drude.rst
  doc/src/Howto_drude2.rst
  doc/src/Howto_github.rst
  doc/src/Howto_spherical.rst
  doc/src/Howto_thermostat.rst
  doc/src/Howto_viscosity.rst
  doc/src/Install_git.rst
  doc/src/Install_patch.rst
  doc/src/Intro_features.rst
  doc/src/Intro_nonfeatures.rst
  doc/src/Intro_overview.rst
  doc/src/Intro_website.rst
  doc/src/Manual.rst
  doc/src/Modify.rst
  doc/src/Modify_atom.rst
  doc/src/Modify_contribute.rst
  doc/src/Modify_thermo.rst
  doc/src/Packages_details.rst
  doc/src/Packages_standard.rst
  doc/src/Run_basics.rst
  doc/src/Run_options.rst
  doc/src/Speed_bench.rst
  doc/src/Speed_kokkos.rst
  doc/src/Speed_measure.rst
  doc/src/Speed_omp.rst
  doc/src/pg_developer.rst
  doc/src/pg_lib_add.rst
  doc/src/pg_python.rst
Labels: documentation, maintenance, ready_for_merge

#2336 Collected small changes for the next patch release
  cmake/CMakeLists.txt
  cmake/Modules/Packages/USER-PLUMED.cmake
  doc/src/fix_property_atom.rst
  doc/src/fix_store_state.rst
  doc/src/pg_developer.rst
  doc/src/write_data.rst
  lib/plumed/Install.py
  src/REPLICA/fix_neb.cpp
  src/universe.cpp
  src/utils.cpp
  src/utils.h
  unittest/c-library/CMakeLists.txt
  unittest/c-library/test_library_commands.cpp
  unittest/c-library/test_library_open.cpp
  unittest/c-library/test_library_properties.cpp
  unittest/cplusplus/CMakeLists.txt
  unittest/cplusplus/test_input_class.cpp
  unittest/cplusplus/test_lammps_class.cpp
  unittest/force-styles/tests/mol-pair-coul_streitz_long.yaml
  unittest/formats/test_dump_cfg_zstd.cpp
  unittest/fortran/CMakeLists.txt
  unittest/fortran/test_fortran_commands.f90
  unittest/fortran/test_fortran_create.f90
  unittest/fortran/wrap_commands.cpp
  unittest/fortran/wrap_create.cpp
  unittest/utils/test_utils.cpp
Labels: bugfix, maintenance, ready_for_merge, unittest_feature

#2344 Use modernized version of sphinx-fortran
  doc/utils/requirements.txt
Labels: documentation, enhancement

#2348 Enable sphinx-tabs extension with the html version of the documentation
  doc/src/Build_basics.rst
  doc/src/Build_extras.rst
  doc/src/Build_link.rst
  doc/src/Build_package.rst
  doc/src/Build_settings.rst
  doc/src/_ext/tab_or_note.py
  doc/utils/requirements.txt
  doc/utils/sphinx-config/conf.py.in
  doc/utils/sphinx-config/false_positives.txt
  lib/compress/Makefile.lammps
Labels: documentation

#2353 cmake: consistent usage of find variable
  cmake/CMakeLists.txt
  cmake/Modules/Packages/KSPACE.cmake
  cmake/Modules/Packages/MSCG.cmake
  cmake/Modules/Packages/PYTHON.cmake
  cmake/Modules/Packages/USER-MOLFILE.cmake
  doc/src/Build_extras.rst
  doc/src/Build_settings.rst
Labels: cmake, maintenance

#2349 More Programmer docs updates and related code refactoring
  doc/doxygen/Doxyfile.in
  doc/src/Manual.rst
  doc/src/pg_atom.rst
  doc/src/pg_dev_classes.rst
  doc/src/pg_dev_flow.rst
  doc/src/pg_dev_org.rst
  doc/src/pg_dev_utils.rst
  doc/src/pg_dev_write.rst
  doc/src/pg_developer.rst
  doc/src/pg_input.rst
  doc/src/pg_lammps.rst
  doc/utils/sphinx-config/_themes/lammps_theme/static/css/lammps.css
  doc/utils/sphinx-config/false_positives.txt
  fortran/lammps.f90
  src/Purge.list
  src/REPLICA/fix_hyper_local.cpp
  src/REPLICA/fix_hyper_local.h
  src/atom.cpp
  src/atom_vec_body.cpp
  src/dump.cpp
  src/input.cpp
  src/irregular.cpp
  src/lammps.cpp
  src/lammps.h
  src/library.cpp
  src/library.h
  src/mergesort.h
  src/my_page.cpp
  src/my_page.h
  src/my_pool_chunk.cpp
  src/my_pool_chunk.h
  src/reset_atom_ids.cpp
  src/utils.cpp
  src/utils.h
  unittest/c-library/test_library_open.cpp
  unittest/utils/CMakeLists.txt
  unittest/utils/test_mempool.cpp
Labels: documentation, doxygen, maintenance, test-for-regression, unittest_feature

#2357 Add ability to retrieve the MPI communicator from LAMMPS instance via library/python interface
  doc/src/pg_lib_properties.rst
  python/lammps.py
  src/library.cpp
  src/library.h
  unittest/c-library/test_library_properties.cpp
Labels: enhancement, library_interface, python_module

#2354 qeq/reax refactor
  doc/src/fix_qeq_reax.rst
  src/KOKKOS/fix_qeq_reax_kokkos.cpp
  src/USER-OMP/fix_qeq_reax_omp.cpp
  src/USER-REAXC/fix_qeq_reax.cpp
  src/USER-REAXC/fix_qeq_reax.h
Labels: enhancement, maintenance, user_reaxc_package

#2361 Collected small changes for the next patch release
  .github/CONTRIBUTING.md
  doc/Makefile
  doc/github-development-workflow.md
  doc/src/Build_extras.rst
  doc/src/Build_settings.rst
  doc/src/compute_reduce.rst
  doc/src/compute_stress_mop.rst
  doc/src/dump.rst
  doc/src/fix_nh.rst
  doc/src/min_modify.rst
  doc/utils/sphinx-config/_static/css/lammps.css
  doc/utils/sphinx-config/false_positives.txt
  src/KSPACE/msm.cpp
  src/KSPACE/msm_cg.cpp
  src/MC/fix_widom.cpp
  src/USER-EFF/pair_eff_cut.cpp
  src/USER-OMP/msm_cg_omp.cpp
  src/USER-SMD/fix_smd_adjust_dt.cpp
  src/finish.cpp
  src/fix_dt_reset.cpp
  src/input.cpp
  src/read_data.cpp
  src/update.cpp
  src/update.h
  unittest/force-styles/tests/kspace-msm_nopbc.yaml
Labels: bugfix, documentation, maintenance, ready_for_merge

#2362 Updates to C-Library interface progammer guide and reference
  doc/src/pg_lib_config.rst
  doc/src/pg_lib_properties.rst
  src/atom.cpp
  src/atom.h
  src/library.cpp
  src/library.h
  unittest/c-library/CMakeLists.txt
  unittest/c-library/data.fourmol
  unittest/c-library/in.fourmol
  unittest/c-library/test_library_commands.cpp
  unittest/c-library/test_library_config.cpp
  unittest/c-library/test_library_open.cpp
  unittest/c-library/test_library_properties.cpp
  unittest/c-library/test_main.cpp
  unittest/c-library/test_main.h
Labels: documentation, library_interface, unittest_feature

#2366 Apply alternate bugfix to KSpace style MSM that avoids grid level overflow
  src/KSPACE/msm.cpp
  unittest/force-styles/tests/kspace-msm_nopbc.yaml
Labels: bugfix, kspace_package

#2367 Fixed a bug in computing the langevin torques applied to rigid bodies
  src/RIGID/fix_rigid.cpp
  src/RIGID/fix_rigid_small.cpp
Labels: bugfix, rigid_package

#2356 Update Colvars to version 2020-07-07
  cmake/Modules/Packages/USER-COLVARS.cmake
  doc/src/PDF/colvars-refman-lammps.pdf
  examples/USER/colvars/out.colvars.state
  examples/USER/colvars/out.colvars.state.old
  examples/USER/colvars/out2.colvars.state
  examples/USER/colvars/peptide2.colvars.state
  lib/colvars/Makefile.common
  lib/colvars/Makefile.deps
  lib/colvars/colvar.cpp
  lib/colvars/colvar.h
  lib/colvars/colvar_UIestimator.h
  lib/colvars/colvaratoms.cpp
  lib/colvars/colvarbias.cpp
  lib/colvars/colvarbias.h
  lib/colvars/colvarbias_abf.cpp
  lib/colvars/colvarbias_abf.h
  lib/colvars/colvarbias_histogram.cpp
  lib/colvars/colvarbias_meta.cpp
  lib/colvars/colvarbias_meta.h
  lib/colvars/colvarcomp.cpp
  lib/colvars/colvarcomp.h
  lib/colvars/colvarcomp_distances.cpp
  lib/colvars/colvarcomp_volmaps.cpp
  lib/colvars/colvardeps.cpp
  lib/colvars/colvardeps.h
  lib/colvars/colvargrid.h
  lib/colvars/colvarmodule.cpp
  lib/colvars/colvarmodule.h
  lib/colvars/colvarparse.cpp
  lib/colvars/colvarproxy.cpp
  lib/colvars/colvarproxy.h
  lib/colvars/colvarproxy_tcl.cpp
  lib/colvars/colvarproxy_tcl.h
  lib/colvars/colvarproxy_volmaps.cpp
  lib/colvars/colvarproxy_volmaps.h
  lib/colvars/colvars_version.h
  lib/colvars/colvarscript.cpp
  lib/colvars/colvarscript.h
  lib/colvars/colvarscript_commands.cpp
  lib/colvars/colvarscript_commands.h
  lib/colvars/colvarscript_commands_bias.cpp
  lib/colvars/colvarscript_commands_bias.h
  lib/colvars/colvarscript_commands_colvar.cpp
  lib/colvars/colvarscript_commands_colvar.h
  lib/colvars/colvartypes.cpp
  lib/colvars/colvartypes.h
  src/USER-COLVARS/colvarproxy_lammps.cpp
  src/USER-COLVARS/colvarproxy_lammps.h
  src/USER-COLVARS/colvarproxy_lammps_version.h
  src/USER-COLVARS/fix_colvars.cpp
Labels: user_colvars_package

#2347 Replace eigensolver code in LAMMPS with math_eigen.h and updated docs
  doc/doxygen/Doxyfile.in
  doc/src/pg_dev_utils.rst
  doc/utils/sphinx-config/false_positives.txt
  src/.gitignore
  src/BODY/body_nparticle.cpp
  src/BODY/body_rounded_polygon.cpp
  src/BODY/body_rounded_polyhedron.cpp
  src/POEMS/fix_poems.cpp
  src/POEMS/fix_poems.h
  src/RIGID/fix_rigid.cpp
  src/RIGID/fix_rigid_small.cpp
  src/USER-MISC/compute_gyration_shape.cpp
  src/USER-MISC/compute_gyration_shape_chunk.cpp
  src/USER-REACTION/superpose3d.h
  src/atom_vec_tri.cpp
  src/compute_omega_chunk.cpp
  src/group.cpp
  src/math_eigen.cpp
  src/math_eigen.h
  src/math_eigen_impl.h
  src/math_extra.cpp
  src/math_extra.h
  src/molecule.cpp
  unittest/force-styles/tests/fix-timestep-rigid_group.yaml
  unittest/force-styles/tests/fix-timestep-rigid_molecule.yaml
  unittest/force-styles/tests/fix-timestep-rigid_molecule_tri.yaml
  unittest/force-styles/tests/fix-timestep-rigid_nph.yaml
  unittest/force-styles/tests/fix-timestep-rigid_nph_small.yaml
  unittest/force-styles/tests/fix-timestep-rigid_npt.yaml
  unittest/force-styles/tests/fix-timestep-rigid_npt_small.yaml
  unittest/force-styles/tests/fix-timestep-rigid_nve_group.yaml
  unittest/force-styles/tests/fix-timestep-rigid_nve_molecule.yaml
  unittest/force-styles/tests/fix-timestep-rigid_nve_single.yaml
  unittest/force-styles/tests/fix-timestep-rigid_nve_small.yaml
  unittest/force-styles/tests/fix-timestep-rigid_nvt.yaml
  unittest/force-styles/tests/fix-timestep-rigid_nvt_small.yaml
  unittest/force-styles/tests/fix-timestep-rigid_single.yaml
  unittest/force-styles/tests/fix-timestep-rigid_small.yaml
  unittest/formats/CMakeLists.txt
  unittest/formats/test_atom_styles.cpp
  unittest/utils/CMakeLists.txt
  unittest/utils/test_math_eigen_impl.cpp
Labels: enhancement, maintenance, ready_for_merge

#2371 Additional Kokkos/HIP porting work
  src/KOKKOS/atom_vec_kokkos.h
  src/KOKKOS/comm_kokkos.cpp
  src/KOKKOS/gridcomm_kokkos.cpp
  src/KOKKOS/kokkos.cpp
  src/KOKKOS/kokkos.h
  src/KOKKOS/kokkos_type.h
  src/KOKKOS/npair_kokkos.cpp
  src/KOKKOS/npair_kokkos.h
  src/KOKKOS/pair_dpd_fdt_energy_kokkos.cpp
  src/KOKKOS/pppm_kokkos.cpp
Labels: enhancement, kokkos_package, ready_for_merge

#2373 Add workaround for performance regression in Kokkos Package
  src/KOKKOS/kokkos_type.h
  src/KOKKOS/neigh_list_kokkos.cpp
  src/KOKKOS/neigh_list_kokkos.h
  src/KOKKOS/npair_copy_kokkos.cpp
  src/KOKKOS/npair_halffull_kokkos.cpp
  src/KOKKOS/npair_kokkos.cpp
  src/KOKKOS/npair_ssa_kokkos.cpp
  src/KOKKOS/sna_kokkos_impl.h
Labels: kokkos_package

#2375 Update bundled fmtlib to version 7.0.3
  src/fmt/core.h
  src/fmt/format.h
Labels: update

#2359 Library interface updates and Python documentation
  cmake/Modules/CodeCoverage.cmake
  doc/src/pg_lib_objects.rst
  doc/src/pg_lib_properties.rst
  doc/src/pg_python.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/python/in.fix_python_invoke
  examples/python/in.fix_python_invoke_neighlist
  examples/python/py_nve.py
  python/examples/demo.py
  python/examples/mc.py
  python/examples/simple.py
  python/examples/split.py
  python/lammps.py
  src/atom.cpp
  src/atom.h
  src/library.cpp
  src/library.h
  src/lmptype.h
  unittest/c-library/test_library_properties.cpp
  unittest/formats/CMakeLists.txt
  unittest/python/CMakeLists.txt
  unittest/python/python-capabilities.py
  unittest/python/python-commands.py
  unittest/python/python-numpy.py
  unittest/python/python-pylammps.py
Labels: documentation, full-regression-test, python_module, test-for-regression, unittest_feature

#2368 Bond/react update all charges by default
  doc/src/fix_bond_react.rst
  src/USER-REACTION/fix_bond_react.cpp
  src/USER-REACTION/fix_bond_react.h
Labels: bugfix, maintenance, user_reaction_package

#2376 Update Colvars to version 2020-09-17
  doc/src/PDF/colvars-refman-lammps.pdf
  lib/colvars/Makefile.common
  lib/colvars/Makefile.deps
  lib/colvars/colvar.cpp
  lib/colvars/colvar.h
  lib/colvars/colvarcomp.h
  lib/colvars/colvarcomp_gpath.cpp
  lib/colvars/colvars_version.h
  lib/colvars/colvartypes.cpp
  lib/colvars/colvartypes.h
Labels: update, user_colvars_package

#2374 Step version strings for the next patch release
  doc/lammps.1
  python/lammps.py
  src/version.h
Labels: maintenance

#2377 Move the members `version` and `num_ver` form Universe class to LAMMPS class
  doc/src/pg_cplusplus.rst
  src/KIM/kim_init.cpp
  src/USER-ADIOS/dump_atom_adios.cpp
  src/USER-ADIOS/dump_custom_adios.cpp
  src/USER-NETCDF/dump_netcdf.cpp
  src/USER-NETCDF/dump_netcdf_mpiio.cpp
  src/info.cpp
  src/lammps.cpp
  src/lammps.h
  src/library.cpp
  src/read_restart.cpp
  src/universe.cpp
  src/universe.h
  src/variable.cpp
  src/write_coeff.cpp
  src/write_data.cpp
  src/write_restart.cpp
  unittest/force-styles/test_angle_style.cpp
  unittest/force-styles/test_bond_style.cpp
  unittest/force-styles/test_fix_timestep.cpp
  unittest/force-styles/test_pair_style.cpp
Labels: maintenance

#2382 cmake: install missing utils.h
  cmake/CMakeLists.txt
Labels: cmake

#2390 Fix atomicAdd in PPPM/GPU for the HIP backend
  lib/gpu/lal_pppm.cu
Labels: gpu_package

#2378 cmake: do not install mpi.h without library
  cmake/CMakeLists.txt
Labels: cmake

#2388 molecule: findfragments correction
  doc/src/Errors_messages.rst
  src/molecule.cpp
  src/molecule.h
Labels: bugfix, user_reaction_package

#2397 Remove specializations using cilk array notation from USER-INTEL
  src/USER-INTEL/intel_intrinsics.h
Labels: user_intel_package

#2396 Autodetect OpenMP compatibility setting for known compiler signatures
  doc/src/Build_basics.rst
  src/omp_compat.h
Labels: maintenance, user_intel_package, user_omp_package

#2395 Fixes issues found via Static Code Analysis
  .github/CODEOWNERS
  cmake/presets/intel.cmake
  doc/src/Tools.rst
  src/ASPHERE/pair_line_lj.cpp
  src/ASPHERE/pair_tri_lj.cpp
  src/BODY/compute_body_local.cpp
  src/BODY/compute_temp_body.cpp
  src/CLASS2/angle_class2.cpp
  src/SPIN/neb_spin.cpp
  src/SPIN/pair_spin_dipole_cut.cpp
  src/SPIN/pair_spin_dipole_long.cpp
  src/USER-INTEL/fix_intel.cpp
  src/USER-MISC/bond_special.cpp
  src/USER-MISC/fix_propel_self.cpp
  src/USER-MISC/pair_coul_slater_cut.cpp
  src/USER-OMP/fix_omp.cpp
  src/USER-UEF/compute_pressure_uef.cpp
  src/change_box.cpp
  src/compute_pressure.cpp
  src/input.cpp
  src/math_eigen_impl.h
  src/reset_atom_ids.cpp
  tools/singularity/README.md
  unittest/commands/test_simple_commands.cpp
Labels: bugfix, maintenance
