Repository lammps/lammps, pull requests merged in 2020-12, with the labels that each got.

#2510 Fixed error in Wurtzite script and added more explanation
  doc/src/lattice.rst
Labels: bugfix, documentation

#2507 USER-CGDNA: Introduced ellipsoid pointer in quaternion data access
  src/USER-CGDNA/bond_oxdna_fene.cpp
  src/USER-CGDNA/pair_oxdna2_coaxstk.cpp
  src/USER-CGDNA/pair_oxdna2_dh.cpp
  src/USER-CGDNA/pair_oxdna_coaxstk.cpp
  src/USER-CGDNA/pair_oxdna_excv.cpp
  src/USER-CGDNA/pair_oxdna_hbond.cpp
  src/USER-CGDNA/pair_oxdna_stk.cpp
  src/USER-CGDNA/pair_oxdna_xstk.cpp
  src/USER-CGDNA/pair_oxrna2_stk.cpp
  src/USER-CGDNA/pair_oxrna2_xstk.cpp
Labels: bugfix, full-regression-test

#2518 update for kim-api-2.2.1
  cmake/Modules/Packages/KIM.cmake
  lib/kim/Install.py
Labels: kim_package

#2523 build_one() should update parent of skiplist
  src/neighbor.cpp
Labels: neighborlist_feature

#2522 Kim improvement
  cmake/Modules/Packages/KIM.cmake
  doc/src/Build_extras.rst
  src/KIM/pair_kim.cpp
  unittest/commands/CMakeLists.txt
  unittest/commands/test_kim_commands.cpp
Labels: enhancement, kim_package

#2520 Add a CMake preset and some workarounds for using PGI (Nvidia) compilers with LAMMPS
  cmake/CMakeLists.txt
  cmake/presets/pgi.cmake
  doc/src/Build_basics.rst
  doc/src/Build_package.rst
  src/fmt/os.h
  src/info.cpp
  src/lmptype.h
  unittest/formats/test_atom_styles.cpp
  unittest/fortran/test_fortran_commands.f90
  unittest/fortran/test_fortran_create.f90
  unittest/python/CMakeLists.txt
Labels: build_system, cmake, documentation, maintenance

#2515 Update temp/csvr manual
  doc/src/fix_temp_csvr.rst
Labels: documentation

#2521 Turn LAMMPS Python module into Python package
  cmake/CMakeLists.txt
  doc/src/Howto_pylammps.rst
  doc/src/Python_ext.rst
  doc/src/Python_install.rst
  doc/src/Python_module.rst
  doc/src/Python_overview.rst
  doc/src/Python_trouble.rst
  doc/src/python.rst
  examples/COUPLE/python/example.py
  lib/python/Makefile.lammps
  lib/python/Makefile.lammps.python3
  python/install.py
  python/lammps/__init__.py
  python/lammps/constants.py
  python/lammps/core.py
  python/lammps/data.py
  python/lammps/numpy.py
  python/lammps/pylammps.py
  python/setup.py
  src/Makefile
  src/PYTHON/python_impl.cpp
  src/library.h
  unittest/python/CMakeLists.txt
Labels: build_system, cmake, python_module

#2502 Fix invalid result when dihedral quadratic angle is > pi or < -pi
  src/USER-MISC/dihedral_quadratic.cpp
  src/USER-OMP/dihedral_quadratic_omp.cpp
Labels: bugfix

#2423 Extend multi style to finite-sized particles
  doc/src/comm_modify.rst
  doc/src/neighbor.rst
  src/USER-OMP/npair_half_size_multi_newtoff_omp.cpp
  src/USER-OMP/npair_half_size_multi_newtoff_omp.h
  src/USER-OMP/npair_half_size_multi_newton_omp.cpp
  src/USER-OMP/npair_half_size_multi_newton_omp.h
  src/USER-OMP/npair_half_size_multi_newton_tri_omp.cpp
  src/USER-OMP/npair_half_size_multi_newton_tri_omp.h
  src/npair_half_size_multi_newtoff.cpp
  src/npair_half_size_multi_newtoff.h
  src/npair_half_size_multi_newton.cpp
  src/npair_half_size_multi_newton.h
  src/npair_half_size_multi_newton_tri.cpp
  src/npair_half_size_multi_newton_tri.h
Labels: neighborlist_feature

#2530 Collected small changes and bugfixes for the next patch release
  doc/src/Build_extras.rst
  doc/src/comm_modify.rst
  doc/src/fix_temp_csvr.rst
  doc/src/neighbor.rst
  python/lammps/core.py
  src/GPU/pair_lj_cubic_gpu.cpp
  src/KIM/pair_kim.cpp
  src/KOKKOS/compute_orientorder_atom_kokkos.cpp
  src/KOKKOS/pair_zbl_kokkos.cpp
  src/MANYBODY/pair_comb.h
  src/MANYBODY/pair_comb3.h
  src/MANYBODY/pair_gw.h
  src/MANYBODY/pair_gw_zbl.h
  src/MANYBODY/pair_nb3b_harmonic.h
  src/MANYBODY/pair_sw.h
  src/MANYBODY/pair_tersoff.h
  src/MANYBODY/pair_tersoff_mod.h
  src/MANYBODY/pair_tersoff_mod_c.h
  src/MANYBODY/pair_tersoff_zbl.h
  src/MANYBODY/pair_vashishta.h
  src/RIGID/rigid_const.h
  src/SNAP/sna.cpp
  src/SNAP/sna.h
  src/USER-MISC/pair_edip.cpp
  src/USER-MISC/pair_edip_multi.cpp
  src/USER-MISC/pair_edip_multi.h
  src/USER-MISC/pair_tersoff_table.h
  src/USER-OMP/pair_edip_omp.cpp
  src/USER-OMP/pair_lj_cubic_omp.cpp
  src/USER-OMP/pair_zbl_omp.cpp
  src/USER-SMTBQ/pair_smtbq.cpp
  src/balance.cpp
  src/compute_orientorder_atom.cpp
  src/compute_orientorder_atom.h
  src/fix.h
  src/fix_temp_csld.cpp
  src/fix_temp_csvr.cpp
  src/math_const.h
  src/math_special.cpp
  src/math_special.h
  src/neighbor.h
  src/npair_half_size_multi_newton.cpp
  src/npair_half_size_multi_newton_tri.cpp
  src/pair_coul_streitz.h
  src/pair_lj_cubic.cpp
  src/pair_lj_cubic.h
  src/pair_lj_cubic_const.h
  src/pair_zbl.cpp
  src/pair_zbl.h
  src/pair_zbl_const.h
  src/text_file_reader.h
  unittest/c-library/test_library_mpi.cpp
  unittest/force-styles/tests/fix-timestep-oneway.yaml
  unittest/force-styles/tests/mol-pair-lj_cubic.yaml
Labels: bugfix, documentation, full-regression-test, test-for-regression, unittest_feature

#2517 Fix Kokkos performance regression for small systems
  src/KOKKOS/atom_vec_angle_kokkos.cpp
  src/KOKKOS/atom_vec_atomic_kokkos.cpp
  src/KOKKOS/atom_vec_bond_kokkos.cpp
  src/KOKKOS/atom_vec_charge_kokkos.cpp
  src/KOKKOS/atom_vec_dpd_kokkos.cpp
  src/KOKKOS/atom_vec_full_kokkos.cpp
  src/KOKKOS/atom_vec_kokkos.cpp
  src/KOKKOS/atom_vec_kokkos.h
  src/KOKKOS/atom_vec_molecular_kokkos.cpp
  src/KOKKOS/atom_vec_sphere_kokkos.cpp
  src/KOKKOS/kokkos_type.h
  src/atom_vec.cpp
Labels: kokkos_package, ready_for_merge

#2539 new Developer_notes doc page
  doc/src/Developer.rst
  doc/src/Developer_notes.rst
Labels: documentation

#2483 Temperature-grouped Nose-Hoover thermostat for Drude polarizable model
  doc/src/Commands_fix.rst
  doc/src/Howto_drude.rst
  doc/src/Howto_drude2.rst
  doc/src/fix.rst
  doc/src/fix_drude.rst
  doc/src/fix_tgnh_drude.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/USER/drude/README
  examples/USER/drude/butane/in.butane.tgnh
  examples/USER/drude/butane/log.12Nov20.butane.tgnh.g++.1
  examples/USER/drude/butane/log.12Nov20.butane.tgnh.g++.4
  examples/USER/drude/ethanol/in.ethanol.tgnh
  examples/USER/drude/ethanol/log.12Nov20.ethanol.tgnh.g++.1
  examples/USER/drude/ethanol/log.12Nov20.ethanol.tgnh.g++.4
  src/USER-DRUDE/fix_tgnh_drude.cpp
  src/USER-DRUDE/fix_tgnh_drude.h
  src/USER-DRUDE/fix_tgnpt_drude.cpp
  src/USER-DRUDE/fix_tgnpt_drude.h
  src/USER-DRUDE/fix_tgnvt_drude.cpp
  src/USER-DRUDE/fix_tgnvt_drude.h
Labels: ready_for_merge, user_drude_package

#2533 Add pair/only option for accelerator styles
  doc/src/package.rst
  src/GPU/fix_gpu.cpp
  src/KOKKOS/kokkos.cpp
  src/force.cpp
  src/input.cpp
  src/lammps.cpp
  src/lammps.h
Labels: gpu_package, kokkos_package

#2504 Bond/react: add logic to constraints
  doc/src/fix_bond_react.rst
  src/USER-REACTION/fix_bond_react.cpp
  src/USER-REACTION/fix_bond_react.h
Labels: user_reaction_package

#2542 Add support plumed2 library version 2.7.0
  cmake/Modules/Packages/USER-PLUMED.cmake
  lib/plumed/Install.py
  src/RIGID/fix_shake.cpp
  src/USER-PLUMED/fix_plumed.cpp
Labels: update

#2538 Step version strings for the next patch release
  doc/lammps.1
  src/version.h
Labels: maintenance
