Repository lammps/lammps, pull requests merged in 2021-02, with the labels that each got.

#2572 Move definition of INVOKED_* constants as enumerator to compute.h
  src/KOKKOS/compute_coord_atom_kokkos.cpp
  src/LATTE/fix_latte.cpp
  src/REPLICA/compute_event_displace.cpp
  src/USER-DIFFRACTION/fix_saed_vtk.cpp
  src/USER-MISC/fix_ave_correlate_long.cpp
  src/USER-PHONON/fix_phonon.cpp
  src/USER-PLUMED/fix_plumed.cpp
  src/USER-VTK/dump_vtk.cpp
  src/compute.cpp
  src/compute.h
  src/compute_chunk_atom.cpp
  src/compute_chunk_spread_atom.cpp
  src/compute_coord_atom.cpp
  src/compute_global_atom.cpp
  src/compute_heat_flux.cpp
  src/compute_reduce.cpp
  src/compute_reduce_chunk.cpp
  src/compute_reduce_region.cpp
  src/compute_slice.cpp
  src/dump_custom.cpp
  src/dump_local.cpp
  src/fix_ave_atom.cpp
  src/fix_ave_chunk.cpp
  src/fix_ave_correlate.cpp
  src/fix_ave_histo.cpp
  src/fix_ave_histo_weight.cpp
  src/fix_ave_time.cpp
  src/fix_controller.cpp
  src/fix_store_state.cpp
  src/fix_vector.cpp
  src/modify.cpp
  src/thermo.cpp
  src/variable.cpp
Labels: maintenance, refactor

#2569 Collected small changes for the next patch release
  doc/Makefile
  doc/src/Developer_org.rst
  doc/src/Python_install.rst
  python/lammps/core.py
  src/KOKKOS/atom_vec_dpd_kokkos.cpp
  src/MLIAP/mliap_model.cpp
  src/MLIAP/mliap_model_python.cpp
  src/SPIN/pair_spin_exchange_biquadratic.cpp
  src/USER-MISC/pair_agni.h
  src/USER-REAXC/reaxc_types.h
  src/thermo.cpp
  src/utils.cpp
  unittest/force-styles/tests/angle-quartic.yaml
  unittest/force-styles/tests/atomic-pair-reax_c_lgvdw.yaml
  unittest/force-styles/tests/fix-timestep-momentum.yaml
  unittest/force-styles/tests/fix-timestep-temp_csvr.yaml
  unittest/force-styles/tests/mol-pair-tip4p_table.yaml
  unittest/python/python-open.py
Labels: kokkos_package, mliap_package, python_module, spin_package, unittest_feature, user_reaxc_package

#2401 Enable some CI checks via GitHub actions
  .github/workflows/codeql-analysis.yml
  .github/workflows/unittest-macos.yml
  doc/Makefile
Labels: github, maintenance, ready_for_merge, unittest_feature

#2579 Clarify one of the outputs of fix ti/spring
  doc/src/fix_ti_spring.rst
Labels: documentation

#2582 Pair kim refactor
  src/KIM/pair_kim.cpp
  unittest/commands/test_kim_commands.cpp
Labels: kim_package, maintenance

#2571 Add ArgInfo class for simpler processing of compute, fix, and variable references
  doc/doxygen/Doxyfile.in
  doc/src/Developer_utils.rst
  doc/utils/sphinx-config/false_positives.txt
  src/USER-DIFFRACTION/fix_saed_vtk.cpp
  src/USER-DIFFRACTION/fix_saed_vtk.h
  src/USER-MISC/fix_ave_correlate_long.cpp
  src/USER-VTK/dump_vtk.cpp
  src/USER-VTK/dump_vtk.h
  src/arg_info.cpp
  src/arg_info.h
  src/compute_chunk_atom.cpp
  src/compute_chunk_spread_atom.cpp
  src/compute_global_atom.cpp
  src/compute_reduce.cpp
  src/compute_reduce.h
  src/compute_reduce_chunk.cpp
  src/compute_reduce_region.cpp
  src/compute_slice.cpp
  src/dump_cfg.cpp
  src/dump_custom.cpp
  src/dump_custom.h
  src/dump_local.cpp
  src/dump_local.h
  src/fix_ave_atom.cpp
  src/fix_ave_chunk.cpp
  src/fix_ave_correlate.cpp
  src/fix_ave_histo.cpp
  src/fix_ave_histo_weight.cpp
  src/fix_ave_time.cpp
  src/fix_controller.cpp
  src/fix_halt.cpp
  src/fix_store_state.cpp
  src/fix_vector.cpp
  src/thermo.cpp
  unittest/utils/CMakeLists.txt
  unittest/utils/test_argutils.cpp
Labels: refactor

#2591 Correct some inconsistencies
  examples/SPIN/nickel/in.spin.nickel
  examples/SPIN/nickel/in.spin.nickel_cubic
  examples/USER/misc/gle/in.h2o-quantum
  examples/USER/misc/gle/in.h2o-smart
  examples/USER/qtb/alpha_quartz_qbmsst/in.alpha_quartz_qbmsst
  examples/USER/qtb/alpha_quartz_qbmsst/log.09Feb21.alpha_quartz_qbmsst.g++.1
  examples/USER/qtb/alpha_quartz_qbmsst/log.09Feb21.alpha_quartz_qbmsst.g++.4
  examples/tersoff/in.hBN_shift
  examples/tersoff/in.tersoff
  examples/tersoff/log.09Feb21.tersoff.g++.1
  examples/tersoff/log.09Feb21.tersoff.g++.4
  src/KSPACE/msm.cpp
  src/SPIN/pair_spin_dipole_cut.cpp
  src/USER-MISC/pair_cosine_squared.cpp
  src/USER-MISC/pair_coul_slater_cut.cpp
  src/USER-MISC/pair_coul_slater_long.cpp
  src/USER-MISC/pair_e3b.cpp
  src/USER-MISC/pair_local_density.cpp
  src/USER-MISC/pair_wf_cut.cpp
  src/USER-OMP/pair_buck_long_coul_long_omp.cpp
  src/USER-OMP/pair_lj_long_coul_long_omp.cpp
  src/USER-OMP/pair_lj_long_tip4p_long_omp.cpp
Labels: maintenance

#2589 Add version check for liblammps vs. python module
  cmake/CMakeLists.txt
  doc/src/Developer_notes.rst
  doc/src/Python_module.rst
  doc/src/fix_cmap.rst
  doc/src/fix_colvars.rst
  doc/src/fix_flow_gauss.rst
  doc/src/fix_modify.rst
  doc/src/fix_orient.rst
  doc/src/fix_orient_eco.rst
  doc/src/fix_precession_spin.rst
  doc/src/fix_tgnh_drude.rst
  doc/src/fix_wall_ees.rst
  doc/utils/sphinx-config/false_positives.txt
  python/lammps/__init__.py
  python/lammps/core.py
  src/Makefile
Labels: python_module, ready_for_merge

#2592 Fix a few python module/interface issues with python2.x
  cmake/Modules/Packages/MLIAP.cmake
  doc/src/Packages_details.rst
  python/install.py
  python/lammps/core.py
  python/lammps/numpy_wrapper.py
  src/PYTHON/fix_python_invoke.cpp
  src/PYTHON/fix_python_move.cpp
Labels: python_module

#2545 Refactor citation handling in LAMMPS
  doc/src/Intro_citing.rst
  doc/src/Modify_contribute.rst
  doc/src/Run_options.rst
  doc/src/fix_bond_react.rst
  doc/src/kim_commands.rst
  src/citeme.cpp
  src/citeme.h
  src/integrate.cpp
  src/lammps.cpp
  src/lammps.h
  src/minimize.cpp
Labels: maintenance, ready_for_merge, refactor

#2596 fix issues with multiple uses of create_bonds command
  doc/src/create_bonds.rst
  src/USER-INTEL/npair_skip_intel.cpp
  src/create_bonds.cpp
  src/neigh_request.cpp
Labels: bugfix

#2587 Step version strings for next patch release
  doc/lammps.1
  src/version.h
Labels: maintenance

#2601 Fix docs of python module after refactor
  doc/src/Python_atoms.rst
  doc/src/Python_module.rst
  doc/src/Python_neighbor.rst
  doc/src/Python_objects.rst
  python/lammps/core.py
Labels: documentation

#2600 bond/react: same-type initiators fix
  src/USER-REACTION/fix_bond_react.cpp
Labels: user_reaction_package

#2602 Fixup errors/issues in cmake/Modules/Packages/KIM.cmake
  cmake/Modules/Packages/KIM.cmake
Labels: cmake, kim_package

#2604 Correct a few small issues
  cmake/Modules/Documentation.cmake
  doc/Makefile
  doc/src/Build_manual.rst
  doc/src/Install_tarball.rst
  doc/utils/requirements.txt
  src/dump_cfg.cpp
Labels: bugfix, documentation, maintenance

#2609 Python MPI compatibility improvements
  cmake/CMakeLists.txt
  cmake/Modules/Packages/MESSAGE.cmake
  doc/src/Build_basics.rst
  doc/src/Build_link.rst
  python/lammps/core.py
  src/STUBS/Makefile
  src/STUBS/Makefile.mingw32-cross
  src/STUBS/Makefile.mingw64-cross
  src/STUBS/mpi.cpp
  src/STUBS/mpi.h
  src/library.cpp
  unittest/c-library/test_library_config.cpp
  unittest/python/python-open.py
Labels: library_interface, maintenance, python_module

#2612 Use mallinfo2 with glibc >= 2.33
  src/info.cpp
Labels: update

#2613 Fix bug in dump image SSAO depth shading
  src/image.cpp
  src/image.h
Labels: bugfix, ready_for_merge

#2610 Fixing issue from recent GPU package update with OMP_NUM_THREADS env …
  doc/src/package.rst
  lib/gpu/lal_answer.cpp
  lib/gpu/lal_base_ellipsoid.cpp
  lib/gpu/lal_device.cpp
  lib/gpu/lal_device.h
  src/GPU/fix_gpu.cpp
Labels: gpu_package

#2615 Fix for hybrid pair style with certain combinations of USER-INTEL styles
  src/USER-INTEL/fix_intel.cpp
Labels: user_intel_package

#2618 Make PyLammps command history feature optional
  python/lammps/pylammps.py
Labels: python_module

#2616 Bond/react updates
  examples/USER/reaction/tiny_nylon/in.tiny_nylon.stabilized_variable_probability
  src/USER-REACTION/fix_bond_react.cpp
  src/USER-REACTION/fix_bond_react.h
Labels: user_reaction_package

#2614 Collected small changes and bugfixes
  cmake/CMakeLists.txt
  cmake/Modules/GTest.cmake
  cmake/Modules/YAML.cmake
  doc/src/compute_temp_chunk.rst
  src/atom.cpp
  src/citeme.cpp
  src/compute_reduce.cpp
  src/fix_addforce.cpp
  src/fix_property_atom.cpp
  src/kspace.cpp
Labels: bugfix, maintenance

#2617 Build and link a static OpenCL ICD loader library by default instead of system OpenCL lib
  cmake/Modules/OpenCLLoader.cmake
  cmake/Modules/Packages/GPU.cmake
  doc/src/Build_extras.rst
Labels: cmake, gpu_package

#2622 Correct compilation of GPU package when using HIP
  cmake/Modules/Packages/GPU.cmake
  lib/gpu/geryon/hip_device.h
  lib/gpu/geryon/hip_kernel.h
  lib/gpu/lal_charmm.cu
Labels: bugfix, gpu_package

#2599 Kokkos SNAP cleanup/optimizations --- templating, Kokkos::LaunchBounds, tuning
  src/KOKKOS/pair_snap_kokkos.h
  src/KOKKOS/pair_snap_kokkos_impl.h
  src/KOKKOS/sna_kokkos.h
  src/KOKKOS/sna_kokkos_impl.h
Labels: enhancement, kokkos_package, ready_for_merge, snap_package

#2290 Tester for dihedrals and impropers with their unit-tests
  src/CLASS2/dihedral_class2.cpp
  src/MOLECULE/dihedral_helix.cpp
  src/USER-MISC/dihedral_fourier.cpp
  src/USER-MISC/dihedral_nharmonic.cpp
  src/USER-MISC/improper_cossq.cpp
  src/USER-MISC/improper_fourier.cpp
  src/USER-OMP/dihedral_class2_omp.cpp
  src/USER-OMP/dihedral_helix_omp.cpp
  src/USER-OMP/dihedral_nharmonic_omp.cpp
  src/USER-OMP/improper_cossq_omp.cpp
  src/dihedral_zero.cpp
  src/improper_zero.cpp
  unittest/force-styles/CMakeLists.txt
  unittest/force-styles/test_config_reader.cpp
  unittest/force-styles/test_config_reader.h
  unittest/force-styles/test_dihedral_style.cpp
  unittest/force-styles/test_improper_style.cpp
  unittest/force-styles/tests/data.fourmol
  unittest/force-styles/tests/dihedral-charmm.yaml
  unittest/force-styles/tests/dihedral-charmmfsw.yaml
  unittest/force-styles/tests/dihedral-class2.yaml
  unittest/force-styles/tests/dihedral-cosine_shift_exp.yaml
  unittest/force-styles/tests/dihedral-fourier.yaml
  unittest/force-styles/tests/dihedral-harmonic.yaml
  unittest/force-styles/tests/dihedral-helix.yaml
  unittest/force-styles/tests/dihedral-hybrid.yaml
  unittest/force-styles/tests/dihedral-multi_harmonic.yaml
  unittest/force-styles/tests/dihedral-nharmonic.yaml
  unittest/force-styles/tests/dihedral-opls.yaml
  unittest/force-styles/tests/dihedral-quadratic.yaml
  unittest/force-styles/tests/dihedral-zero.yaml
  unittest/force-styles/tests/improper-class2.yaml
  unittest/force-styles/tests/improper-cossq.yaml
  unittest/force-styles/tests/improper-cvff.yaml
  unittest/force-styles/tests/improper-distance.yaml
  unittest/force-styles/tests/improper-distharm.yaml
  unittest/force-styles/tests/improper-fourier.yaml
  unittest/force-styles/tests/improper-harmonic.yaml
  unittest/force-styles/tests/improper-hybrid.yaml
  unittest/force-styles/tests/improper-inversion_harmonic.yaml
  unittest/force-styles/tests/improper-ring.yaml
  unittest/force-styles/tests/improper-sqdistharm.yaml
  unittest/force-styles/tests/improper-umbrella.yaml
  unittest/force-styles/tests/improper-zero.yaml
  unittest/force-styles/tests/in.fourmol
Labels: bugfix, unittest_feature

#2629 Use a 64-bit hash in the CiteMe class to identify unique citations
  src/citeme.cpp
  src/citeme.h
  unittest/commands/test_simple_commands.cpp
Labels: maintenance

#2632 Add new utils::strfind() function and update mini-regex code
  doc/src/Developer_utils.rst
  doc/src/Packages_details.rst
  doc/utils/sphinx-config/false_positives.txt
  src/utils.cpp
  src/utils.h
  unittest/utils/test_utils.cpp
Labels: update

#2633 Make regex code in utils thread-safe
  src/utils.cpp
Labels: maintenance

#2631 Add LAMMPS output readers to Python package
  doc/src/Python_formats.rst
  doc/src/Python_head.rst
  examples/VISCOSITY/profile.13Oct16.mp.2d.g++.1
  examples/VISCOSITY/profile.13Oct16.nemd.2d.g++.1
  examples/VISCOSITY/profile.13Oct16.wall.2d.g++.1
  python/lammps/formats.py
  src/fix_ave_chunk.cpp
  src/fix_ave_chunk.h
  unittest/python/CMakeLists.txt
  unittest/python/python-formats.py
Labels: bugfix, enhancement, python_module

#2627 Bond/react performance improvement
  src/USER-REACTION/fix_bond_react.cpp
Labels: user_reaction_package

#2625 Updating the kim citation report to lammps conventions
  examples/kim/log.10Feb21.in.kim-ex.melt.clang.1
  examples/kim/log.10Feb21.in.kim-ex.melt.clang.4
  examples/kim/log.10Feb21.in.kim-pm-property.clang.1
  examples/kim/log.10Feb21.in.kim-pm-property.clang.4
  examples/kim/log.10Feb21.in.kim-pm-query.melt.clang.1
  examples/kim/log.10Feb21.in.kim-pm-query.melt.clang.4
  examples/kim/log.10Feb21.in.kim-pm.melt.clang.1
  examples/kim/log.10Feb21.in.kim-pm.melt.clang.4
  examples/kim/log.10Feb21.in.kim-query.clang.1
  examples/kim/log.10Feb21.in.kim-sm.melt.clang.1
  examples/kim/log.10Feb21.in.kim-sm.melt.clang.4
  examples/kim/log.10Feb21.in.lammps.melt.clang.1
  examples/kim/log.10Feb21.in.lammps.melt.clang.4
  src/KIM/fix_store_kim.cpp
  src/KIM/fix_store_kim.h
  src/KIM/kim_command.cpp
  src/KIM/kim_init.cpp
  src/KIM/kim_interactions.cpp
  src/KIM/kim_param.cpp
  src/KIM/kim_property.cpp
  src/KIM/kim_query.cpp
  src/KIM/pair_kim.cpp
  unittest/commands/test_kim_commands.cpp
Labels: enhancement, kim_package

#2624 Collection of small changes
  cmake/Modules/OpenCLLoader.cmake
  doc/src/fix_wall_body_polygon.rst
  doc/src/fix_wall_gran.rst
  doc/src/fix_wall_gran_region.rst
  src/BODY/fix_wall_body_polygon.cpp
  src/BODY/fix_wall_body_polyhedron.cpp
  src/BODY/pair_body_rounded_polygon.cpp
  src/BODY/pair_body_rounded_polyhedron.cpp
  src/COLLOID/pair_colloid.cpp
  src/GPU/fix_gpu.cpp
  src/MC/fix_tfmc.cpp
  src/SHOCK/fix_append_atoms.cpp
  src/SHOCK/fix_wall_piston.cpp
  src/USER-REACTION/fix_bond_react.cpp
  src/compute_chunk_atom.cpp
  src/compute_global_atom.cpp
  src/error.cpp
  src/fix_ave_histo_weight.cpp
  src/main.cpp
  src/update.cpp
Labels: cmake, documentation, gpu_package
