Repository lammps/lammps, pull requests merged in 2021-05, with the labels that each got.

#2748 Collected small changes and fixes for the next patch release
  cmake/Modules/OpenCLLoader.cmake
  src/info.cpp
  unittest/cplusplus/test_lammps_class.cpp
  unittest/force-styles/tests/dihedral-table_cut_linear.yaml
  unittest/force-styles/tests/dihedral-table_cut_spline.yaml
Labels: maintenance

#2750 Updated pair style bop
  potentials/CdTe.bop.table
  potentials/CdTeZn.bop.table
  potentials/GaAs.bop.table
  src/.gitignore
  src/MANYBODY/pair_bop.cpp
  src/MANYBODY/pair_bop.h
  src/tabular_function.cpp
  src/tabular_function.h
  unittest/force-styles/tests/manybody-pair-bop.yaml
  unittest/force-styles/tests/manybody-pair-bop_save.yaml
Labels: manybody_package, refactor, update

#2742 Add tool to support offline builds
  doc/src/Tools.rst
  tools/README
  tools/offline/README.md
  tools/offline/init_caches.sh
  tools/offline/scripts/init_git_cache.sh
  tools/offline/scripts/init_http_cache.sh
  tools/offline/scripts/init_pip_cache.sh
  tools/offline/scripts/use_git_cache.sh
  tools/offline/scripts/use_http_cache.sh
  tools/offline/scripts/use_pip_cache.sh
  tools/offline/use_caches.sh
Labels: build_system, documentation, tools

#2756 Collected small changes and bugfixes for the next patch release
  .github/workflows/unittest-macos.yml
  cmake/Modules/Packages/GPU.cmake
  doc/src/pair_hybrid.rst
  examples/python/in.fix_python_invoke_neighlist
  lib/gpu/lal_device.cpp
  lib/gpu/lal_eam.cu
  python/lammps/numpy_wrapper.py
  src/GRANULAR/fix_pour.cpp
  src/MISC/fix_deposit.cpp
  src/USER-MISC/fix_ttm_mod.cpp
  src/bond.cpp
  src/dump_dcd.cpp
  src/irregular.cpp
  src/pair.cpp
  tools/swig/lammps.i
Labels: bugfix, cmake, maintenance, tools

#2753 Refactor pair style polymorphic to use the TabularFunction class shared with pair style bop
  src/MANYBODY/pair_bop.cpp
  src/MANYBODY/pair_polymorphic.cpp
  src/MANYBODY/pair_polymorphic.h
  src/tabular_function.cpp
  src/tabular_function.h
  unittest/force-styles/tests/atomic-pair-polymorphic_eam.yaml
  unittest/force-styles/tests/manybody-pair-bop.yaml
  unittest/force-styles/tests/manybody-pair-bop_save.yaml
  unittest/force-styles/tests/manybody-pair-polymorphic_sw.yaml
  unittest/force-styles/tests/manybody-pair-polymorphic_tersoff.yaml
Labels: manybody_package, ready_for_merge, refactor

#2706 GPU version of pair_style lj/smooth
  doc/src/Commands_pair.rst
  doc/src/pair_lj_smooth.rst
  lib/gpu/lal_lj_smooth.cpp
  lib/gpu/lal_lj_smooth.cu
  lib/gpu/lal_lj_smooth.h
  lib/gpu/lal_lj_smooth_ext.cpp
  src/GPU/Install.sh
  src/GPU/pair_lj_smooth_gpu.cpp
  src/GPU/pair_lj_smooth_gpu.h
  src/MOLECULE/bond_fene_expand.h
Labels: gpu_package, ready_for_merge

#2760 Bond/react: custom constraint
  doc/src/fix_bond_react.rst
  src/USER-REACTION/fix_bond_react.cpp
  src/USER-REACTION/fix_bond_react.h
Labels: user_reaction_package

#2611 Add MolSSI Driver Interface Support
  cmake/CMakeLists.txt
  cmake/Modules/Packages/USER-MDI.cmake
  doc/src/Build_extras.rst
  doc/src/Commands_all.rst
  doc/src/Commands_fix.rst
  doc/src/Howto.rst
  doc/src/Howto_mdi.rst
  doc/src/Packages_details.rst
  doc/src/Packages_user.rst
  doc/src/comm_modify.rst
  doc/src/commands_list.rst
  doc/src/fix_mdi_engine.rst
  doc/src/mdi_engine.rst
  doc/src/neigh_modify.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/USER/mdi/README
  examples/USER/mdi/Script.sh
  examples/USER/mdi/driver.py
  examples/USER/mdi/lammps.data
  examples/USER/mdi/lammps.in
  lib/mdi/.gitignore
  lib/mdi/Install.py
  lib/mdi/Makefile.g++
  lib/mdi/Makefile.gcc
  lib/mdi/Makefile.icc
  lib/mdi/Makefile.lammps.empty
  lib/mdi/Makefile.mpi
  src/.gitignore
  src/Makefile
  src/USER-MDI/Install.sh
  src/USER-MDI/README
  src/USER-MDI/fix_mdi_engine.cpp
  src/USER-MDI/fix_mdi_engine.h
  src/USER-MDI/library_mdi.cpp
  src/USER-MDI/library_mdi.h
  src/USER-MDI/mdi_engine.cpp
  src/USER-MDI/mdi_engine.h
  src/library.cpp
  src/main.cpp
  tools/offline/scripts/init_http_cache.sh
  unittest/c-library/test_library_properties.cpp
Labels: enhancement, ready_for_merge

#2761 Collected small changes and fixes for the next patch release
  SECURITY.md
  doc/src/fix_grem.rst
  src/USER-BROWNIAN/fix_brownian_asphere.cpp
  src/USER-BROWNIAN/fix_brownian_base.cpp
  src/USER-BROWNIAN/fix_propel_self.cpp
  src/USER-REACTION/fix_bond_react.cpp
  src/fix_temp_csvr.cpp
  src/utils.h
Labels: bugfix, maintenance, ready_for_merge

#2769 fix bug with mis-indexing of neighbor build copyflag check
  src/neighbor.cpp
Labels: bugfix, neighborlist_feature

#2765 Fix compiling the SNAP module with Kokkos and SYCL
  src/KOKKOS/sna_kokkos.h
Labels: kokkos_package

#2766 Step version strings for the next patch release
  doc/lammps.1
  doc/src/Manual.rst
  doc/src/fix.rst
  doc/src/fix_mdi_engine.rst
  doc/src/mdi_engine.rst
  doc/utils/sphinx-config/_static/css/lammps.css
  doc/utils/sphinx-config/conf.py.in
  doc/utils/sphinx-config/false_positives.txt
  src/version.h
Labels: maintenance

#2772 Fix issues in last patch
  examples/ASPHERE/box/in.box
  examples/ASPHERE/box/in.box.mp
  examples/ASPHERE/dimer/in.dimer
  examples/ASPHERE/dimer/in.dimer.mp
  examples/ASPHERE/ellipsoid/in.ellipsoid
  examples/ASPHERE/ellipsoid/in.ellipsoid.mp
  examples/ASPHERE/line/in.line.srd
  examples/ASPHERE/poly/in.poly
  examples/ASPHERE/poly/in.poly.mp
  examples/ASPHERE/star/in.star
  examples/ASPHERE/star/in.star.mp
  examples/ASPHERE/tri/in.tri.srd
  examples/USER/cgsdk/sds-monolayer/in.sds-hybrid
  src/KOKKOS/memory_kokkos.h
  src/KOKKOS/pair_table_kokkos.cpp
  src/KOKKOS/pair_table_rx_kokkos.cpp
  src/KOKKOS/sna_kokkos_impl.h
Labels: bugfix, examples, kokkos_package, ready_for_merge

#2771 CMake and documentation updates for USER-MDI
  cmake/Modules/Packages/USER-MDI.cmake
  cmake/Modules/Packages/USER-PACE.cmake
  cmake/presets/all_off.cmake
  cmake/presets/all_on.cmake
  cmake/presets/download.cmake
  cmake/presets/mingw-cross.cmake
  cmake/presets/nolib.cmake
  doc/src/Howto_mdi.rst
  doc/src/Run_options.rst
  src/USER-QTB/fix_qbmsst.cpp
  src/lammps.cpp
Labels: cmake, documentation, user_mdi_package

#2773 Fix angle_style table doc
  doc/src/angle_table.rst
Labels: documentation

#2775 Print warning when a tip4p pair style may cause incorrect results
  doc/src/pair_lj_cut_tip4p.rst
  src/compute_dipole_chunk.cpp
  src/pair_hybrid.cpp
Labels: documentation, update

#2776 Address issues detected by static code analysis with clang-tidy
  cmake/CMakeLists.txt
  doc/src/Build_development.rst
  src/SPIN/compute_spin.cpp
  src/USER-MISC/compute_gyration_shape.cpp
  src/USER-MISC/compute_gyration_shape_chunk.cpp
  src/arg_info.cpp
  src/compute_angmom_chunk.cpp
  src/compute_com_chunk.cpp
  src/compute_dipole_chunk.cpp
  src/compute_gyration_chunk.cpp
  src/compute_inertia_chunk.cpp
  src/compute_msd_chunk.cpp
  src/compute_omega_chunk.cpp
  src/compute_property_chunk.cpp
  src/compute_temp_chunk.cpp
  src/compute_torque_chunk.cpp
  src/compute_vcm_chunk.cpp
  src/utils.cpp
Labels: cmake, documentation, maintenance

#2777 Collected small changes and fixes
  .github/CODEOWNERS
  cmake/CMakeLists.txt
  cmake/Modules/YAML.cmake
  cmake/presets/clang.cmake
  cmake/presets/intel.cmake
  cmake/presets/oneapi.cmake
  doc/src/Packages_details.rst
  src/PYTHON/python_compat.h
  src/RIGID/fix_rigid_nh.cpp
  src/USER-BROWNIAN/fix_brownian_asphere.cpp
  src/force.cpp
  src/lmptype.h
  unittest/cplusplus/test_lammps_class.cpp
  unittest/force-styles/CMakeLists.txt
  unittest/fortran/CMakeLists.txt
Labels: bugfix, cmake, documentation

#2626 Contribution: package USER-HDNNP for high-dimensional neural network potentials
  cmake/CMakeLists.txt
  cmake/Modules/FindN2P2.cmake
  cmake/Modules/Packages/USER-HDNNP.cmake
  cmake/presets/all_off.cmake
  cmake/presets/all_on.cmake
  cmake/presets/mingw-cross.cmake
  cmake/presets/nolib.cmake
  doc/src/Build_extras.rst
  doc/src/Build_package.rst
  doc/src/Commands_pair.rst
  doc/src/Packages_details.rst
  doc/src/Packages_user.rst
  doc/src/pair_hdnnp.rst
  doc/src/pair_style.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/USER/hdnnp/data.H2O-360mol
  examples/USER/hdnnp/hdnnp-data/input.nn
  examples/USER/hdnnp/hdnnp-data/scaling.data
  examples/USER/hdnnp/hdnnp-data/weights.001.data
  examples/USER/hdnnp/hdnnp-data/weights.008.data
  examples/USER/hdnnp/in.hdnnp
  lib/README
  lib/hdnnp/Install.py
  lib/hdnnp/README
  src/.gitignore
  src/Makefile
  src/USER-HDNNP/Install.sh
  src/USER-HDNNP/README
  src/USER-HDNNP/pair_hdnnp.cpp
  src/USER-HDNNP/pair_hdnnp.h
Labels: enhancement

#2782 Bond/react doc tweaks
  doc/src/fix_bond_react.rst
Labels: documentation, user_reaction_package

#2768 Prepare LAMMPS manual to show multiple versions and downloads
  doc/src/Manual.rst
  doc/utils/sphinx-config/_themes/lammps_theme/layout.html
  doc/utils/sphinx-config/_themes/lammps_theme/versions.html
  doc/utils/sphinx-config/conf.py.in
Labels: documentation, maintenance

#2783 Update Kokkos library in LAMMPS to v3.4.1
  cmake/Modules/Packages/KOKKOS.cmake
  doc/src/Build_extras.rst
  lib/kokkos/BUILD.md
  lib/kokkos/CHANGELOG.md
  lib/kokkos/CMakeLists.txt
  lib/kokkos/Makefile.kokkos
  lib/kokkos/algorithms/CMakeLists.txt
  lib/kokkos/algorithms/src/Kokkos_Random.hpp
  lib/kokkos/algorithms/unit_tests/CMakeLists.txt
  lib/kokkos/algorithms/unit_tests/TestRandom.hpp
  lib/kokkos/algorithms/unit_tests/TestSort.hpp
  lib/kokkos/bin/nvcc_wrapper
  lib/kokkos/cmake/KokkosCore_config.h.in
  lib/kokkos/cmake/kokkos_arch.cmake
  lib/kokkos/cmake/kokkos_compiler_id.cmake
  lib/kokkos/cmake/kokkos_enable_devices.cmake
  lib/kokkos/cmake/kokkos_functions.cmake
  lib/kokkos/containers/src/impl/Kokkos_StaticCrsGraph_factory.hpp
  lib/kokkos/core/src/Kokkos_OpenMPTargetSpace.hpp
  lib/kokkos/core/src/Kokkos_SYCL.hpp
  lib/kokkos/core/src/OpenMPTarget/Kokkos_OpenMPTargetSpace.cpp
  lib/kokkos/core/src/SYCL/Kokkos_SYCL.cpp
  lib/kokkos/core/src/impl/Kokkos_Atomic_Windows.hpp
  lib/kokkos/core/unit_test/configuration/test-code/test_config_arch_list.bash
  lib/kokkos/generate_makefile.bash
  lib/kokkos/gnu_generate_makefile.bash
  lib/kokkos/master_history.txt
Labels: kokkos_package, ready_for_merge, update

#2784 Internally set PYTHONHOME for LAMMPS on Windows
  cmake/presets/mingw-cross.cmake
  doc/src/Intro_opensource.rst
  doc/src/Manual.rst
  src/lammps.cpp
Labels: maintenance

#2785 Step version string for next patch release
  doc/lammps.1
  src/version.h
Labels: maintenance
