Repository lammps/lammps, pull requests merged in 2021-08, with the labels that each got.

#2863 Update Colvars library to version 2021-08-03
  lib/colvars/Makefile.common
  lib/colvars/Makefile.deps
  lib/colvars/colvar.cpp
  lib/colvars/colvar.h
  lib/colvars/colvar_arithmeticpath.h
  lib/colvars/colvaratoms.cpp
  lib/colvars/colvaratoms.h
  lib/colvars/colvarbias_abf.cpp
  lib/colvars/colvarbias_abf.h
  lib/colvars/colvarbias_histogram.cpp
  lib/colvars/colvarbias_histogram.h
  lib/colvars/colvarbias_meta.cpp
  lib/colvars/colvarbias_meta.h
  lib/colvars/colvarcomp.cpp
  lib/colvars/colvarcomp.h
  lib/colvars/colvarcomp_alchlambda.cpp
  lib/colvars/colvarcomp_apath.cpp
  lib/colvars/colvarcomp_distances.cpp
  lib/colvars/colvarcomp_gpath.cpp
  lib/colvars/colvarcomp_rotations.cpp
  lib/colvars/colvarcomp_volmaps.cpp
  lib/colvars/colvardeps.cpp
  lib/colvars/colvardeps.h
  lib/colvars/colvargrid.cpp
  lib/colvars/colvargrid.h
  lib/colvars/colvarmodule.cpp
  lib/colvars/colvarmodule.h
  lib/colvars/colvarmodule_utils.h
  lib/colvars/colvarparse.cpp
  lib/colvars/colvarparse.h
  lib/colvars/colvarproxy.cpp
  lib/colvars/colvarproxy.h
  lib/colvars/colvarproxy_tcl.cpp
  lib/colvars/colvarproxy_tcl.h
  lib/colvars/colvarproxy_volmaps.cpp
  lib/colvars/colvarproxy_volmaps.h
  lib/colvars/colvars_version.h
  lib/colvars/colvarscript.cpp
  lib/colvars/colvarscript.h
  lib/colvars/colvarscript_commands.cpp
  lib/colvars/colvarscript_commands.h
  lib/colvars/colvarscript_commands_bias.h
  lib/colvars/colvarscript_commands_colvar.h
  lib/colvars/colvartypes.cpp
  lib/colvars/colvarvalue.cpp
  lib/colvars/colvarvalue.h
  src/COLVARS/colvarproxy_lammps_version.h
  src/COLVARS/fix_colvars.cpp
Labels: bugfix, user_colvars_package

#2862 Make ForceConst::set_ntypes() more robust and fix related bug in pair style sw/intel
  src/INTEL/pair_buck_coul_cut_intel.cpp
  src/INTEL/pair_buck_coul_long_intel.cpp
  src/INTEL/pair_buck_intel.cpp
  src/INTEL/pair_dpd_intel.cpp
  src/INTEL/pair_eam_intel.cpp
  src/INTEL/pair_gayberne_intel.cpp
  src/INTEL/pair_lj_charmm_coul_charmm_intel.cpp
  src/INTEL/pair_lj_charmm_coul_long_intel.cpp
  src/INTEL/pair_lj_cut_coul_long_intel.cpp
  src/INTEL/pair_lj_cut_intel.cpp
  src/INTEL/pair_sw_intel.cpp
  src/INTEL/pair_tersoff_intel.cpp
Labels: bugfix, user_intel_package, refactor

#2861 Address issues flagged by running unit tests with valgrind and sanitizer instrumentation
  doc/src/dihedral_hybrid.rst
  doc/src/improper_hybrid.rst
  src/PYTHON/python_impl.cpp
  src/PYTHON/python_impl.h
  src/REPLICA/fix_grem.cpp
  src/angle_hybrid.cpp
  src/bond_hybrid.cpp
  src/dihedral_hybrid.cpp
  src/fix_deposit.cpp
  src/improper_hybrid.cpp
  src/pair.h
  src/pair_hybrid.cpp
  src/pair_hybrid_scaled.cpp
  src/utils.cpp
  src/variable.cpp
  tools/valgrind/FlexiBLAS.supp
  tools/valgrind/OpenMP.supp
  tools/valgrind/README
  tools/valgrind/readline.supp
  unittest/utils/test_utils.cpp
Labels: bugfix, tools, maintenance, unittest_feature

#2866 Update Colvars to version 2021-08-06 (silence Coverity Scan warnings)
  doc/src/PDF/colvars-refman-lammps.pdf
  lib/colvars/colvarcomp_volmaps.cpp
  lib/colvars/colvargrid.cpp
  lib/colvars/colvars_version.h
Labels: bugfix, user_colvars_package

#2865 Python package update
  python/lammps/core.py
  src/PYTHON/fix_python_move.cpp
  src/PYTHON/pair_python.cpp
  src/PYTHON/python_impl.cpp
Labels: python_module, update

#2868 Collected small changes
  cmake/Modules/Packages/INTEL.cmake
  cmake/Modules/Packages/MDI.cmake
  cmake/Modules/Packages/OPENMP.cmake
  src/GRANULAR/pair_gran_hooke_history.cpp
  src/INTEL/Install.sh
  src/INTEL/intel_preprocess.h
  src/MDI/Install.sh
  src/OPENMP/Install.sh
  src/REAXFF/reaxff_api.h
  src/REAXFF/reaxff_tool_box.cpp
  src/accelerator_omp.h
  src/atom.cpp
  src/finish.cpp
  src/info.cpp
  src/lammps.cpp
  src/main.cpp
  src/memory.cpp
  src/modify.cpp
  src/my_page.cpp
  src/my_pool_chunk.cpp
  unittest/force-styles/tests/atomic-pair-buck_coul_cut_qeq_point.yaml
  unittest/force-styles/tests/atomic-pair-buck_coul_cut_qeq_shielded.yaml
Labels: user_reaxc_package, bugfix, build_system, cmake, granular_package, unittest_feature

#2869 Have add_fix(), replace_fix() and add_compute() in Modify return class instance and refactor/simplify code
  cmake/Modules/Packages/MACHDYN.cmake
  lib/machdyn/Install.py
  lib/machdyn/Makefile.lammps
  src/CORESHELL/compute_temp_cs.cpp
  src/DPD-REACT/fix_rx.cpp
  src/DPD-REACT/fix_rx.h
  src/EXTRA-COMPUTE/compute_hma.cpp
  src/FEP/fix_adapt_fep.cpp
  src/GPU/Install.sh
  src/GRANULAR/pair_gran_hooke_history.cpp
  src/GRANULAR/pair_granular.cpp
  src/KOKKOS/fix_rx_kokkos.cpp
  src/KOKKOS/pair_gran_hooke_history_kokkos.cpp
  src/MISC/pair_srp.cpp
  src/OPENMP/pair_reaxff_omp.cpp
  src/REACTION/fix_bond_react.cpp
  src/REAXFF/fix_reaxff_species.cpp
  src/REAXFF/fix_reaxff_species.h
  src/REAXFF/pair_reaxff.cpp
  src/REPLICA/hyper.cpp
  src/REPLICA/prd.cpp
  src/REPLICA/tad.cpp
  src/balance.cpp
  src/compute_chunk_atom.cpp
  src/compute_displace_atom.cpp
  src/compute_msd.cpp
  src/compute_msd_chunk.cpp
  src/compute_vacf.cpp
  src/dump_custom.cpp
  src/fix_adapt.cpp
  src/min.cpp
  src/modify.cpp
  src/modify.h
  src/respa.cpp
  src/variable.cpp
  src/velocity.cpp
Labels: refactor

#2876 Address code quality issues flagged by lgtm.com
  src/ASPHERE/pair_resquared.cpp
  src/BODY/pair_body_rounded_polygon.cpp
  src/BODY/pair_body_rounded_polyhedron.cpp
  src/DPD-REACT/pair_exp6_rx.cpp
  src/EXTRA-FIX/fix_gld.cpp
  src/GPU/pppm_gpu.cpp
  src/GRANULAR/fix_wall_gran.cpp
  src/GRANULAR/fix_wall_gran_region.cpp
  src/GRANULAR/pair_granular.cpp
  src/MANYBODY/pair_tersoff_table.cpp
  src/OPENMP/pair_tersoff_table_omp.cpp
  src/REAXFF/fix_qeq_reaxff.cpp
  src/REPLICA/fix_pimd.cpp
  src/REPLICA/fix_pimd.h
  src/REPLICA/neb.cpp
  src/SPIN/neb_spin.cpp
  src/compute_dipole.cpp
  src/read_restart.cpp
Labels: bugfix, refactor

#2880 Collected bugfixes and small update for ArgInfo class
  doc/src/Developer_utils.rst
  src/ASPHERE/pair_resquared.cpp
  src/arg_info.cpp
  src/utils.cpp
  unittest/formats/test_file_operations.cpp
  unittest/utils/test_argutils.cpp
Labels: bugfix, unittest_feature, refactor

#2881 Fix issue when building Kokkos with CMake
  cmake/Modules/Packages/KOKKOS.cmake
Labels: kokkos_package, cmake, ready_for_merge

#2879 Unit tests, bugfixes and file reader refactor for some INTERLAYER pair styles
  examples/PACKAGES/interlayer/kolmogorov_crespi_full/CC.KC-full
  examples/PACKAGES/interlayer/kolmogorov_crespi_full/CH.KC
  examples/PACKAGES/interlayer/lebedeva/lebedeva00.plot
  potentials/BNCH-old.ILP
  potentials/BNCH.ILP
  potentials/BNC_MBD_bulk.ILP
  potentials/BNC_TS_bulk.ILP
  potentials/C.drip
  potentials/CC.KC
  potentials/CC.KC-full
  potentials/CC.Lebedeva
  potentials/CH.KC
  potentials/CH_taper.KC
  src/INTERLAYER/interlayer_taper.h
  src/INTERLAYER/pair_coul_shield.cpp
  src/INTERLAYER/pair_coul_shield.h
  src/INTERLAYER/pair_drip.cpp
  src/INTERLAYER/pair_drip.h
  src/INTERLAYER/pair_ilp_graphene_hbn.cpp
  src/INTERLAYER/pair_ilp_graphene_hbn.h
  src/INTERLAYER/pair_kolmogorov_crespi_full.cpp
  src/INTERLAYER/pair_kolmogorov_crespi_full.h
  src/INTERLAYER/pair_kolmogorov_crespi_z.cpp
  src/INTERLAYER/pair_kolmogorov_crespi_z.h
  src/INTERLAYER/pair_lebedeva_z.cpp
  src/INTERLAYER/pair_lebedeva_z.h
  src/MANYBODY/pair_sw.cpp
  tools/valgrind/OpenMP.supp
  unittest/force-styles/test_pair_style.cpp
  unittest/force-styles/tests/data.bilayer
  unittest/force-styles/tests/in.bilayer
  unittest/force-styles/tests/manybody-pair-drip.yaml
  unittest/force-styles/tests/manybody-pair-drip_real.yaml
  unittest/force-styles/tests/manybody-pair-ilp-graphene-hbn.yaml
  unittest/force-styles/tests/manybody-pair-ilp-graphene-hbn_notaper.yaml
  unittest/force-styles/tests/manybody-pair-kolmogorov_crespi_full.yaml
  unittest/force-styles/tests/manybody-pair-kolmogorov_crespi_full_notaper.yaml
Labels: bugfix, unittest_feature, refactor, interlayer_package

#2886 Add a pair style coul/exclude for removing excluded coulomb interactions
  doc/src/Commands_pair.rst
  doc/src/Developer_utils.rst
  doc/src/pair_coul.rst
  doc/src/pair_style.rst
  src/EXTRA-PAIR/pair_coul_exclude.cpp
  src/EXTRA-PAIR/pair_coul_exclude.h
  src/KSPACE/pair_coul_long.cpp
  src/ML-RANN/rann_fingerprint_bond.cpp
  src/ML-RANN/rann_fingerprint_bondscreened.cpp
  src/OPENMP/npair_full_multi_omp.cpp
  src/OPENMP/npair_half_multi_newtoff_omp.cpp
  src/OPENMP/npair_half_multi_newton_omp.cpp
  src/OPENMP/npair_half_multi_newton_tri_omp.cpp
  src/OPENMP/npair_half_size_multi_newtoff_omp.cpp
  src/OPENMP/npair_half_size_multi_newton_omp.cpp
  src/OPENMP/npair_half_size_multi_newton_tri_omp.cpp
  src/SCAFACOS/scafacos.cpp
  src/nbin_multi.cpp
  src/neighbor.cpp
  src/npair_full_multi.cpp
  src/npair_half_multi_newtoff.cpp
  src/npair_half_multi_newton.cpp
  src/npair_half_multi_newton_tri.cpp
  src/npair_half_size_multi_newtoff.cpp
  src/npair_half_size_multi_newton.cpp
  src/npair_half_size_multi_newton_tri.cpp
  src/nstencil.cpp
  src/nstencil_full_multi_2d.cpp
  src/nstencil_full_multi_3d.cpp
  src/nstencil_half_multi_2d.cpp
  src/nstencil_half_multi_2d_tri.cpp
  src/nstencil_half_multi_3d.cpp
  src/nstencil_half_multi_3d_tri.cpp
  src/pair.h
  src/pair_hybrid.cpp
  src/pair_hybrid.h
  src/special.cpp
  unittest/force-styles/tests/mol-pair-coul_exclude.yaml
Labels: enhancement

#2890 Fix bug with v remap option in Kokkos fix deform
  src/KOKKOS/domain_kokkos.cpp
  src/KOKKOS/domain_kokkos.h
  src/KOKKOS/fix_deform_kokkos.cpp
  src/domain.cpp
Labels: bugfix, kokkos_package, ready_for_merge

#2889 property/atom group bugfix
  src/fix_group.cpp
Labels: bugfix

#2885 Grid adjust
  src/KSPACE/msm.cpp
  src/KSPACE/pppm.cpp
  src/KSPACE/pppm_disp.cpp
  src/comm.cpp
  src/comm.h
  src/domain.h
Labels: enhancement

#2895 Use .coveragerc to configure Python coverage reporting
  cmake/.coveragerc.in
  cmake/Modules/CodeCoverage.cmake
  unittest/python/CMakeLists.txt
Labels: bugfix, unittest_feature

#2908 Bond/react: memory leak
  src/REACTION/fix_bond_react.cpp
Labels: bugfix, user_reaction_package

#2909 Override any OpenCL fast math JIT settings for born/coul/wolf{/cs}/gpu…
  lib/gpu/lal_base_charge.cpp
  lib/gpu/lal_base_charge.h
  lib/gpu/lal_born_coul_wolf.cpp
  lib/gpu/lal_born_coul_wolf_cs.cpp
  lib/gpu/lal_device.cpp
  lib/gpu/lal_device.h
Labels: bugfix

#2910 Fix (the fix) for _MM_SCALE preprocessor defines for future Intel compilers
  src/INTEL/intel_preprocess.h
  src/INTEL/intel_simd.h
Labels: bugfix

#2911 Fix minor GPU package issues for the stable release
  lib/gpu/lal_base_ellipsoid.cpp
  lib/gpu/lal_device.cpp
  src/GPU/fix_gpu.cpp
Labels: gpu_package, maintenance

#2900 Fix issues in KOKKOS package
  doc/src/pair_snap.rst
  lib/kokkos/Makefile.kokkos
  src/GRANULAR/fix_freeze.h
  src/KOKKOS/compute_temp_deform_kokkos.h
  src/KOKKOS/fix_freeze_kokkos.cpp
  src/KOKKOS/fix_freeze_kokkos.h
  src/KOKKOS/fix_neigh_history_kokkos.cpp
  src/KOKKOS/fix_neigh_history_kokkos.h
  src/KOKKOS/fix_nve_sphere_kokkos.cpp
  src/KOKKOS/fix_nve_sphere_kokkos.h
  src/KOKKOS/fix_nvt_sllod_kokkos.cpp
  src/KOKKOS/fix_nvt_sllod_kokkos.h
  src/KOKKOS/fix_property_atom_kokkos.cpp
  src/KOKKOS/pair_gran_hooke_history_kokkos.cpp
  src/KOKKOS/pair_gran_hooke_history_kokkos.h
  src/KOKKOS/pair_lj_charmm_coul_charmm_kokkos.cpp
  src/KOKKOS/pppm_kokkos.cpp
  src/KOKKOS/verlet_kokkos.cpp
  src/MAKE/OPTIONS/Makefile.kokkos_cuda_mpi
Labels: bugfix, kokkos_package, ready_for_merge

#2912 Add missing Kokkos sync-to-host to fix false-positive warning
  src/KOKKOS/comm_kokkos.cpp
  src/KOKKOS/comm_kokkos.h
  src/comm_brick.h
Labels: bugfix, kokkos_package, ready_for_merge

#2914 Minor documentation updates
  doc/src/Howto.rst
  doc/src/Howto_structured_data.rst
  doc/src/fix_ttm.rst
Labels: documentation

#2913 Some last minute fixes for the next patch release
  cmake/presets/hip.cmake
  doc/src/Commands_fix.rst
  doc/src/Howto_structured_data.rst
  doc/src/fix.rst
  doc/src/fix_ttm.rst
  doc/utils/sphinx-config/false_positives.txt
  lib/gpu/geryon/hip_device.h
  lib/gpu/geryon/hip_texture.h
  lib/gpu/geryon/ucl_h_vec.h
  lib/gpu/lal_neighbor.h
  lib/gpu/lal_pppm.h
  src/MISC/fix_srp.cpp
  src/OPENMP/Install.sh
  src/fix_adapt.cpp
  unittest/force-styles/tests/fix-timestep-adapt_hybrid.yaml
Labels: bugfix, build_system

#2899 Step version strings for the next patch release
  doc/lammps.1
  src/version.h
Labels: maintenance
