Repository lammps/lammps, pull requests merged in 2021-12, with the labels that each got.

#2867 Enabled newton pair on for gpu pair styles
  src/GPU/Install.sh
  src/GPU/fix_gpu.cpp
  src/GPU/pair_beck_gpu.cpp
  src/GPU/pair_born_coul_long_cs_gpu.cpp
  src/GPU/pair_born_coul_long_gpu.cpp
  src/GPU/pair_born_coul_wolf_cs_gpu.cpp
  src/GPU/pair_born_coul_wolf_gpu.cpp
  src/GPU/pair_born_gpu.cpp
  src/GPU/pair_buck_coul_cut_gpu.cpp
  src/GPU/pair_buck_coul_long_gpu.cpp
  src/GPU/pair_buck_gpu.cpp
  src/GPU/pair_colloid_gpu.cpp
  src/GPU/pair_coul_cut_gpu.cpp
  src/GPU/pair_coul_debye_gpu.cpp
  src/GPU/pair_coul_dsf_gpu.cpp
  src/GPU/pair_coul_long_cs_gpu.cpp
  src/GPU/pair_coul_long_gpu.cpp
  src/GPU/pair_dpd_gpu.cpp
  src/GPU/pair_dpd_tstat_gpu.cpp
  src/GPU/pair_eam_alloy_gpu.cpp
  src/GPU/pair_eam_fs_gpu.cpp
  src/GPU/pair_eam_gpu.cpp
  src/GPU/pair_gauss_gpu.cpp
  src/GPU/pair_gayberne_gpu.cpp
  src/GPU/pair_lj96_cut_gpu.cpp
  src/GPU/pair_lj_charmm_coul_charmm_gpu.cpp
  src/GPU/pair_lj_charmm_coul_long_gpu.cpp
  src/GPU/pair_lj_class2_coul_long_gpu.cpp
  src/GPU/pair_lj_class2_gpu.cpp
  src/GPU/pair_lj_cubic_gpu.cpp
  src/GPU/pair_lj_cut_coul_cut_gpu.cpp
  src/GPU/pair_lj_cut_coul_debye_gpu.cpp
  src/GPU/pair_lj_cut_coul_dsf_gpu.cpp
  src/GPU/pair_lj_cut_coul_long_gpu.cpp
  src/GPU/pair_lj_cut_coul_msm_gpu.cpp
  src/GPU/pair_lj_cut_dipole_cut_gpu.cpp
  src/GPU/pair_lj_cut_dipole_long_gpu.cpp
  src/GPU/pair_lj_cut_gpu.cpp
  src/GPU/pair_lj_cut_tip4p_long_gpu.cpp
  src/GPU/pair_lj_expand_coul_long_gpu.cpp
  src/GPU/pair_lj_expand_gpu.cpp
  src/GPU/pair_lj_gromacs_gpu.cpp
  src/GPU/pair_lj_sdk_coul_long_gpu.cpp
  src/GPU/pair_lj_sdk_gpu.cpp
  src/GPU/pair_lj_sf_dipole_sf_gpu.cpp
  src/GPU/pair_lj_smooth_gpu.cpp
  src/GPU/pair_mie_cut_gpu.cpp
  src/GPU/pair_morse_gpu.cpp
  src/GPU/pair_resquared_gpu.cpp
  src/GPU/pair_soft_gpu.cpp
  src/GPU/pair_sw_gpu.cpp
  src/GPU/pair_table_gpu.cpp
  src/GPU/pair_tersoff_gpu.cpp
  src/GPU/pair_tersoff_mod_gpu.cpp
  src/GPU/pair_tersoff_zbl_gpu.cpp
  src/GPU/pair_ufm_gpu.cpp
  src/GPU/pair_vashishta_gpu.cpp
  src/GPU/pair_yukawa_colloid_gpu.cpp
  src/GPU/pair_yukawa_gpu.cpp
  src/GPU/pair_zbl_gpu.cpp
Labels: enhancement, gpu_package

#3044 Adjustments to lib/kim/Install.py and docs
  doc/src/Build_extras.rst
  lib/kim/Install.py
Labels: build_system, kim_package

#2984 Add new group arg for delete_atoms porosity
  doc/src/delete_atoms.rst
  src/delete_atoms.cpp
Labels: enhancement

#3049 Use SYCL pinned host memory from Kokkos.
  src/KOKKOS/kokkos_type.h
Labels: enhancement, kokkos_package, ready_for_merge

#2958 nm split styles
  doc/src/Commands_bond.rst
  doc/src/Commands_pair.rst
  doc/src/bond_fene.rst
  doc/src/bond_style.rst
  doc/src/pair_nm.rst
  doc/src/pair_style.rst
  doc/utils/sphinx-config/false_positives.txt
  src/.gitignore
  src/EXTRA-MOLECULE/bond_fene_nm.cpp
  src/EXTRA-MOLECULE/bond_fene_nm.h
  src/EXTRA-PAIR/pair_nm_cut_split.cpp
  src/EXTRA-PAIR/pair_nm_cut_split.h
  unittest/force-styles/tests/bond-fene_nm.yaml
  unittest/force-styles/tests/mol-pair-nm_cut_split.yaml
Labels: enhancement

#3040 Collected small changes and bugfixes
  cmake/Modules/Packages/PLUMED.cmake
  doc/src/pair_local_density.rst
  doc/src/pair_tersoff.rst
  doc/src/pair_thole.rst
  doc/src/pair_vashishta.rst
  examples/PACKAGES/local_density/benzene_water/benzene_water.localdensity.table
  examples/PACKAGES/local_density/benzene_water/benzene_water.pair.table
  examples/PACKAGES/local_density/benzene_water/in.benzene_water
  examples/PACKAGES/local_density/benzene_water/log.04Sep19.g++.1
  examples/PACKAGES/local_density/benzene_water/log.27Oct21.benzene_water.g++.1
  examples/PACKAGES/local_density/benzene_water/log.27Oct21.benzene_water.g++.4
  examples/PACKAGES/local_density/methanol_implicit_water/in.methanol_implicit_water
  examples/PACKAGES/local_density/methanol_implicit_water/log.04Sep19.g++.1
  examples/PACKAGES/local_density/methanol_implicit_water/log.27Oct21.methanol_implicit_water.g++.1
  examples/PACKAGES/local_density/methanol_implicit_water/log.27Oct21.methanol_implicit_water.g++.4
  examples/PACKAGES/local_density/methanol_implicit_water/methanol_implicit_water.localdensity.table
  examples/PACKAGES/local_density/methanol_implicit_water/methanol_implicit_water.pair.table
  lib/plumed/Install.py
  src/EXTRA-FIX/fix_ave_correlate_long.cpp
  src/MANYBODY/pair_local_density.cpp
  src/MANYBODY/pair_local_density.h
  src/MC/fix_charge_regulation.cpp
  src/MC/fix_charge_regulation.h
  src/PLUMED/fix_plumed.cpp
  src/atom.cpp
  src/fix_ave_atom.cpp
  src/fix_ave_chunk.cpp
  src/fix_ave_correlate.cpp
  src/fix_ave_histo.cpp
  src/fix_ave_histo_weight.cpp
  src/fix_ave_time.cpp
  src/pair.cpp
  unittest/c-library/test_library_commands.cpp
  unittest/c-library/test_library_mpi.cpp
  unittest/commands/test_groups.cpp
  unittest/commands/test_variables.cpp
  unittest/cplusplus/test_input_class.cpp
Labels: documentation, mc_package, bugfix

#3053 Enable Kokkos Desul atomics in Makefile to match CMake settings
  lib/kokkos/Makefile.kokkos
  src/KOKKOS/bond_fene_kokkos.cpp
  src/KOKKOS/comm_kokkos.cpp
  src/KOKKOS/dihedral_charmm_kokkos.cpp
  src/KOKKOS/dihedral_class2_kokkos.cpp
  src/KOKKOS/dihedral_harmonic_kokkos.cpp
  src/KOKKOS/dihedral_opls_kokkos.cpp
  src/KOKKOS/improper_class2_kokkos.cpp
  src/KOKKOS/improper_harmonic_kokkos.cpp
  src/KOKKOS/nbin_ssa_kokkos.cpp
  src/KOKKOS/neigh_bond_kokkos.cpp
  src/KOKKOS/npair_ssa_kokkos.cpp
Labels: kokkos_package, build_system

#2809 Upgrades fmtlib to v8.0.1
  src/fmt/args.h
  src/fmt/chrono.h
  src/fmt/color.h
  src/fmt/compile.h
  src/fmt/core.h
  src/fmt/format-inl.h
  src/fmt/format.h
  src/fmt/locale.h
  src/fmt/os.h
  src/fmt/ostream.h
  src/fmt/printf.h
  src/fmt/ranges.h
  src/fmt/xchar.h
  src/fmtlib_format.cpp
  src/fmtlib_os.cpp
  unittest/commands/test_lattice_region.cpp
Labels: maintenance, update, ready_for_merge

#3058 Fixing some references to MISC package in documentation
  doc/src/dump.rst
  doc/src/fix_addtorque.rst
  doc/src/fix_oneway.rst
  doc/src/fix_smd.rst
Labels: documentation

#3054 Support binary native dump files with read_dump and rerun
  doc/src/read_dump.rst
  src/reader.cpp
  src/reader.h
  src/reader_native.cpp
  src/reader_native.h
  unittest/formats/test_dump_atom.cpp
  unittest/formats/test_dump_custom.cpp
Labels: dump_feature, ready_for_merge

#3055 Final changes for next patch release
  cmake/Modules/LAMMPSUtils.cmake
  examples/ELASTIC_T/potential.mod
Labels: cmake, maintenance, examples

#3059 [BUGFIX] Wrong block reading in ReaderNative::read_atoms when binary is True and natom > 1024
  src/reader_native.cpp
  src/reader_native.h
Labels: bugfix, dump_feature

#3057 Step version strings for the next patch release
  doc/lammps.1
  src/version.h
Labels: maintenance

#3060 Bugfix for binary dump reader heap corruption
  src/reader_native.cpp
  src/reader_native.h
Labels: bugfix

#3065 Angle class2 update
  doc/src/angle_class2.rst
  src/CLASS2/angle_class2.cpp
  src/KOKKOS/angle_class2_kokkos.cpp
  src/MOFFF/angle_class2_p6.cpp
  src/OPENMP/angle_class2_omp.cpp
  unittest/force-styles/tests/angle-class2.yaml
  unittest/force-styles/tests/angle-class2_p6.yaml
Labels: bugfix, ready_for_merge

#3021 Allow dump sort to work with more than 2 billion atoms
  doc/src/Errors_messages.rst
  doc/src/dump_modify.rst
  src/H5MD/dump_h5md.cpp
  src/H5MD/dump_h5md.h
  src/dump.cpp
  src/dump.h
Labels: enhancement, bugfix, dump_feature, ready_for_merge

#2996 Add compute ave/sphere/atom
  doc/src/Commands_compute.rst
  doc/src/compute.rst
  doc/src/compute_ave_sphere_atom.rst
  src/.gitignore
  src/Depend.sh
  src/EXTRA-COMPUTE/compute_ave_sphere_atom.cpp
  src/EXTRA-COMPUTE/compute_ave_sphere_atom.h
  src/KOKKOS/Install.sh
  src/KOKKOS/compute_ave_sphere_atom_kokkos.cpp
  src/KOKKOS/compute_ave_sphere_atom_kokkos.h
Labels: enhancement, kokkos_package, compute_feature, ready_for_merge

#3064 Collected small changes and fixes
  cmake/CMakeLists.txt
  cmake/Modules/Packages/PHONON.cmake
  doc/src/Packages_details.rst
  doc/src/dump.rst
  src/MC/fix_gcmc.cpp
  src/MC/fix_widom.cpp
  src/MOLECULE/fix_cmap.cpp
  src/MPIIO/dump_atom_mpiio.cpp
  src/MPIIO/dump_cfg_mpiio.cpp
  src/MPIIO/dump_custom_mpiio.cpp
  src/MPIIO/dump_xyz_mpiio.cpp
  src/PHONON/Install.sh
  src/REAXFF/fix_reaxff_species.cpp
  src/REAXFF/reaxff_ffield.cpp
  src/dump.cpp
  src/fix_nve_sphere.cpp
  src/info.cpp
  src/lammps.cpp
  src/min_linesearch.cpp
  src/output.cpp
  src/reader_native.cpp
  src/reader_native.h
  src/write_restart.cpp
Labels: build_system, cmake, ready_for_merge, refactor

#3052 Time-dependent dumps for variable timestep (alternate implementation)
  doc/src/dump.rst
  doc/src/dump_modify.rst
  doc/src/fix_dt_reset.rst
  src/COMPRESS/dump_xyz_gz.cpp
  src/COMPRESS/dump_xyz_zstd.cpp
  src/EXTRA-DUMP/dump_dcd.cpp
  src/EXTRA-DUMP/dump_xtc.cpp
  src/dump.cpp
  src/dump.h
  src/dump_xyz.cpp
  src/fix_dt_reset.cpp
  src/input.cpp
  src/integrate.cpp
  src/output.cpp
  src/output.h
  src/update.cpp
  unittest/formats/test_dump_atom.cpp
  unittest/formats/test_dump_custom.cpp
Labels: dump_feature
