Repository lammps/lammps, pull requests merged in 2021-04, with the labels that each got.

#2691 Fixing bug with GPU neighboring when using builds supporting CUDPP.
  lib/gpu/lal_neighbor.cpp
Labels: bugfix, gpu_package, ready_for_merge

#2690 USER-CGDNA: Corrected error message
  src/USER-CGDNA/pair_oxdna2_coaxstk.cpp
  src/USER-CGDNA/pair_oxdna2_dh.cpp
  src/USER-CGDNA/pair_oxrna2_stk.cpp
  src/USER-CGDNA/pair_oxrna2_xstk.cpp
Labels: bugfix

#2686 Better handling of incorrect boundary conditions for KIM models with Coulomb interactions
  src/KIM/kim_interactions.cpp
Labels: enhancement, kim_package

#2682 Python package unit tests
  doc/src/Developer_utils.rst
  python/lammps/__init__.py
  python/lammps/core.py
  src/PYTHON/python_impl.cpp
  src/library.cpp
  src/utils.cpp
  src/utils.h
  unittest/force-styles/CMakeLists.txt
  unittest/force-styles/tests/fix-timestep-python_move_nve.yaml
  unittest/force-styles/tests/py_nve.py
  unittest/python/CMakeLists.txt
  unittest/python/func.py
  unittest/python/python-commands.py
  unittest/python/run.py
  unittest/python/test_python_package.cpp
  unittest/testing/core.h
  unittest/testing/systems/melt.h
  unittest/utils/test_utils.cpp
Labels: bugfix, python_module, unittest_feature

#2650 New PLUGIN package with a LAMMPS plugin loader command
  cmake/CMakeLists.txt
  cmake/Modules/Packages/USER-MOLFILE.cmake
  cmake/presets/most.cmake
  doc/src/Commands_all.rst
  doc/src/Developer.rst
  doc/src/Developer_plugins.rst
  doc/src/Packages_details.rst
  doc/src/commands_list.rst
  doc/src/plugin.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/plugins/.gitignore
  examples/plugins/CMakeLists.txt
  examples/plugins/LAMMPSInterfaceCXX.cmake
  examples/plugins/Makefile
  examples/plugins/Makefile.common
  examples/plugins/Makefile.macos
  examples/plugins/Makefile.serial
  examples/plugins/angle_zero2.cpp
  examples/plugins/angle_zero2.h
  examples/plugins/bond_zero2.cpp
  examples/plugins/bond_zero2.h
  examples/plugins/dihedral_zero2.cpp
  examples/plugins/dihedral_zero2.h
  examples/plugins/fix_nve2.cpp
  examples/plugins/fix_nve2.h
  examples/plugins/helloplugin.cpp
  examples/plugins/improper_zero2.cpp
  examples/plugins/improper_zero2.h
  examples/plugins/morse2plugin.cpp
  examples/plugins/nve2plugin.cpp
  examples/plugins/pair_morse2.cpp
  examples/plugins/pair_morse2.h
  examples/plugins/pair_morse2_omp.cpp
  examples/plugins/pair_morse2_omp.h
  examples/plugins/pair_zero2.cpp
  examples/plugins/pair_zero2.h
  examples/plugins/zero2plugin.cpp
  lib/README
  lib/plugin/Makefile.lammps
  lib/plugin/README
  python/lammps/core.py
  src/.gitignore
  src/MAKE/Makefile.mpi
  src/MAKE/Makefile.serial
  src/Makefile
  src/PLUGIN/Install.sh
  src/PLUGIN/README
  src/PLUGIN/plugin.cpp
  src/PLUGIN/plugin.h
  src/domain.cpp
  src/domain.h
  src/input.h
  src/lammpsplugin.h
  src/library.cpp
  src/library.h
  src/modify.cpp
  src/modify.h
  tools/lammps-shell/lammps-shell.cpp
  unittest/commands/CMakeLists.txt
  unittest/commands/test_simple_commands.cpp
Labels: build_system, cmake, documentation, enhancement, ready_for_merge, unittest_feature

#2689 Update units.rst (documentation for units commands)
  doc/src/units.rst
Labels: documentation

#2661 [BUGFIX] Scaling of cdof for fix ave/chunk norm all
  doc/src/fix_ave_chunk.rst
  src/fix_ave_chunk.cpp
Labels: bugfix

#2696 CMake: Improve support for offline builds
  cmake/CMakeLists.txt
  cmake/Modules/Documentation.cmake
  cmake/Modules/GTest.cmake
  cmake/Modules/LAMMPSUtils.cmake
  cmake/Modules/MPI4WIN.cmake
  cmake/Modules/OpenCLLoader.cmake
  cmake/Modules/Packages/GPU.cmake
  cmake/Modules/Packages/KIM.cmake
  cmake/Modules/Packages/KOKKOS.cmake
  cmake/Modules/Packages/LATTE.cmake
  cmake/Modules/Packages/MSCG.cmake
  cmake/Modules/Packages/USER-PLUMED.cmake
  cmake/Modules/Packages/USER-SCAFACOS.cmake
  cmake/Modules/Packages/USER-SMD.cmake
  cmake/Modules/Packages/VORONOI.cmake
  cmake/Modules/YAML.cmake
Labels: build_system, cmake

#2695 Collected small changes and fixes
  .github/workflows/unittest-macos.yml
  doc/src/Developer_unittest.rst
  doc/src/Packages_standard.rst
  doc/src/rerun.rst
  src/KSPACE/pair_lj_cut_coul_long.cpp
  src/USER-REAXC/reaxc_tool_box.cpp
  src/USER-REAXC/reaxc_traj.h
  src/USER-YAFF/pair_lj_switch3_coulgauss_long.cpp
  src/USER-YAFF/pair_mm3_switch3_coulgauss_long.cpp
  src/random_mars.cpp
  src/rerun.cpp
  src/tokenizer.h
  src/velocity.cpp
  unittest/commands/test_simple_commands.cpp
  unittest/force-styles/tests/fix-timestep-adapt_coul.yaml
  unittest/formats/test_dump_atom.cpp
  unittest/formats/test_dump_custom.cpp
  unittest/formats/test_potential_file_reader.cpp
  unittest/utils/test_tokenizer.cpp
  unittest/utils/test_utils.cpp
Labels: bugfix, maintenance

#2692 Porting to new default platform for AMD/HIP in ROCm 4.1
  cmake/Modules/Packages/GPU.cmake
  doc/src/Build_extras.rst
  lib/gpu/Makefile.hip
  lib/gpu/README
  lib/gpu/lal_pre_cuda_hip.h
  tools/singularity/ubuntu18.04_amd_rocm.def
  tools/singularity/ubuntu20.04_amd_rocm.def
Labels: gpu_package, maintenance

#2697 Fixed a bug with rigid/{nvt,npt,nve,nph}/small when used with fix deposit
  examples/deposit/in.deposit.molecule.rigid-nve-small
  examples/deposit/in.deposit.molecule.rigid-nvt-small
  examples/deposit/log.10Mar21.deposit.molecule.rigid-nve-small.g++.1
  examples/deposit/log.10Mar21.deposit.molecule.rigid-nve-small.g++.4
  examples/deposit/log.10Mar21.deposit.molecule.rigid-nvt-small.g++.1
  examples/deposit/log.10Mar21.deposit.molecule.rigid-nvt-small.g++.4
  src/RIGID/fix_rigid_nh.cpp
  src/RIGID/fix_rigid_nh.h
  src/RIGID/fix_rigid_nh_small.cpp
  src/RIGID/fix_rigid_nh_small.h
Labels: bugfix, rigid_package

#2700 Python package refactor
  src/PYTHON/fix_python_invoke.cpp
  src/PYTHON/fix_python_invoke.h
  src/PYTHON/fix_python_move.cpp
  src/PYTHON/pair_python.cpp
  src/PYTHON/pair_python.h
  src/PYTHON/python_impl.cpp
  src/PYTHON/python_utils.h
  unittest/formats/test_atom_styles.cpp
  unittest/formats/test_potential_file_reader.cpp
Labels: python_module, refactor

#2698 New option for granular pairstyles and updates to granular walls
  doc/src/fix_wall_gran.rst
  doc/src/fix_wall_gran_region.rst
  doc/src/pair_gran.rst
  doc/src/pair_granular.rst
  src/GRANULAR/fix_wall_gran.cpp
  src/GRANULAR/fix_wall_gran.h
  src/GRANULAR/pair_gran_hertz_history.cpp
  src/GRANULAR/pair_gran_hooke.cpp
  src/GRANULAR/pair_gran_hooke_history.cpp
  src/GRANULAR/pair_gran_hooke_history.h
  src/GRANULAR/pair_granular.cpp
  src/GRANULAR/pair_granular.h
  src/KOKKOS/pair_gran_hooke_history_kokkos.cpp
  src/USER-OMP/pair_gran_hertz_history_omp.cpp
  src/USER-OMP/pair_gran_hooke_history_omp.cpp
  src/USER-OMP/pair_gran_hooke_omp.cpp
Labels: enhancement, granular_package

#2694 Neighbor list library/python interface improvements
  doc/src/Library_scatter.rst
  doc/src/Python_module.rst
  doc/src/Python_neighbor.rst
  doc/src/fix_ave_histo.rst
  doc/utils/sphinx-config/false_positives.txt
  python/lammps/core.py
  python/lammps/data.py
  python/lammps/numpy_wrapper.py
  src/USER-QUIP/pair_quip.cpp
  src/library.cpp
  src/library.h
  src/neigh_list.cpp
  src/neigh_list.h
  unittest/c-library/CMakeLists.txt
  unittest/c-library/test_library_properties.cpp
  unittest/python/CMakeLists.txt
  unittest/python/python-commands.py
  unittest/python/python-numpy.py
Labels: documentation, library_interface, python_module, unittest_feature

#2701 Step version strings for next patch release
  doc/lammps.1
  src/version.h
Labels: maintenance

#2703 Collected small changes and bugfixes
  doc/src/compute_pressure.rst
  examples/melt/in.melt
  examples/melt/log.27Nov18.melt.g++.4
  examples/melt/log.8Apr21.melt.g++.1
  examples/melt/log.8Apr21.melt.g++.4
  src/GRANULAR/fix_wall_gran.cpp
  src/MOLECULE/angle_cosine_periodic.cpp
  src/RIGID/fix_rattle.cpp
  src/RIGID/fix_rigid.cpp
  src/RIGID/fix_rigid_nh.cpp
  src/RIGID/fix_rigid_nvt_small.cpp
  src/RIGID/fix_shake.cpp
  src/USER-YAFF/pair_lj_switch3_coulgauss_long.cpp
  src/USER-YAFF/pair_mm3_switch3_coulgauss_long.cpp
  src/dump.cpp
  src/finish.cpp
  src/fix_tmd.cpp
  src/input.cpp
  src/library.cpp
  src/pair.cpp
  src/pair_hybrid.cpp
  src/pair_hybrid_overlay.cpp
  src/read_data.cpp
  src/reader.cpp
  src/variable.cpp
  unittest/commands/test_simple_commands.cpp
  unittest/commands/test_variables.cpp
  unittest/force-styles/tests/angle-cosine_periodic.yaml
  unittest/force-styles/yaml_writer.cpp
  unittest/python/python-formats.py
Labels: bugfix, documentation, maintenance, refactor

#2699 USER-PACE pair_style integration into LAMMPS
  cmake/CMakeLists.txt
  cmake/Modules/Packages/USER-PACE.cmake
  doc/src/Build_extras.rst
  doc/src/Build_package.rst
  doc/src/Commands_pair.rst
  doc/src/Packages_details.rst
  doc/src/Packages_user.rst
  doc/src/pair_pace.rst
  doc/src/pair_style.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/USER/pace/Cu-PBE-core-rep.ace
  examples/USER/pace/in.pace.product
  examples/USER/pace/in.pace.recursive
  examples/USER/pace/log.03Feb2021.pace.product.g++.1
  examples/USER/pace/log.03Feb2021.pace.product.g++.4
  examples/USER/pace/log.03Feb2021.pace.recursive.g++.1
  examples/USER/pace/log.03Feb2021.pace.recursive.g++.4
  lib/pace/.gitignore
  lib/pace/Install.py
  lib/pace/Makefile
  lib/pace/Makefile.lammps
  lib/pace/README
  potentials/Cu-PBE-core-rep.ace
  src/.gitignore
  src/Makefile
  src/USER-PACE/Install.sh
  src/USER-PACE/README
  src/USER-PACE/pair_pace.cpp
  src/USER-PACE/pair_pace.h
  unittest/force-styles/tests/manybody-pair-pace_product.yaml
  unittest/force-styles/tests/manybody-pair-pace_recursive.yaml
Labels: enhancement

#2585 Charge regulation2
  doc/src/Commands_fix.rst
  doc/src/Packages_details.rst
  doc/src/fix.rst
  doc/src/fix_charge_regulation.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/USER/misc/charge_regulation/README
  examples/USER/misc/charge_regulation/data.chreg-acid
  examples/USER/misc/charge_regulation/data.chreg-acid-real
  examples/USER/misc/charge_regulation/data.chreg-polymer
  examples/USER/misc/charge_regulation/in.chreg-acid
  examples/USER/misc/charge_regulation/in.chreg-acid-real
  examples/USER/misc/charge_regulation/in.chreg-polymer
  examples/USER/misc/charge_regulation/log.10Feb21.chreg-acid.g++.1
  examples/USER/misc/charge_regulation/log.10Feb21.chreg-acid.g++.4
  examples/USER/misc/charge_regulation/log.10Feb21.chreg-polymer.g++.1
  examples/USER/misc/charge_regulation/log.10Feb21.chreg-polymer.g++.4
  examples/USER/misc/charge_regulation/log.11Apr21.chreg-acid-real.g++.1
  examples/USER/misc/charge_regulation/log.11Apr21.chreg-acid-real.g++.4
  src/MC/fix_charge_regulation.cpp
  src/MC/fix_charge_regulation.h
Labels: mc_package

#2693 Adding a spin/kokkos atom style
  doc/src/Howto_spins.rst
  doc/src/atom_style.rst
  examples/SPIN/test_problems/validation_damped_exchange/llg_exchange.py
  examples/SPIN/test_problems/validation_damped_exchange/run-test-exchange.sh
  examples/SPIN/test_problems/validation_damped_exchange/test-spin-precession.in
  examples/SPIN/test_problems/validation_damped_precession/run-test-prec.sh
  examples/SPIN/test_problems/validation_damped_precession/test-spin-precession.in
  examples/SPIN/test_problems/validation_langevin_precession/run-test-prec.sh
  examples/SPIN/test_problems/validation_langevin_precession/test-prec-spin.template
  examples/SPIN/test_problems/validation_nve/in.spin.iron-nve
  examples/SPIN/test_problems/validation_nve/run-test-nve.sh
  examples/SPIN/test_problems/validation_nvt/in.spin.nvt_lattice
  examples/SPIN/test_problems/validation_nvt/in.spin.nvt_spin
  examples/SPIN/test_problems/validation_nvt/run-test-nvt.sh
  src/KOKKOS/Install.sh
  src/KOKKOS/atom_kokkos.cpp
  src/KOKKOS/atom_kokkos.h
  src/KOKKOS/atom_vec_spin_kokkos.cpp
  src/KOKKOS/atom_vec_spin_kokkos.h
  src/KOKKOS/kokkos_type.h
  src/KOKKOS/verlet_kokkos.cpp
  src/SPIN/fix_nve_spin.cpp
  src/SPIN/pair_spin_exchange_biquadratic.cpp
Labels: bugfix, enhancement, kokkos_package, ready_for_merge, spin_package

#2712 [BUGFIX] compute chunk/atom bound xxx upper
  src/compute_chunk_atom.cpp
Labels: bugfix, ready_for_merge

#2711 Fixes issue from Feb 2021 GPU package update for tersoff styles using multiple types
  cmake/CMakeLists.txt
  doc/src/pair_hybrid.rst
  lib/gpu/lal_charmm.cpp
  lib/gpu/lal_charmm.cu
  lib/gpu/lal_tersoff.cpp
  lib/gpu/lal_tersoff.cu
  lib/gpu/lal_tersoff.h
  lib/gpu/lal_tersoff_extra.h
  lib/gpu/lal_tersoff_mod.cpp
  lib/gpu/lal_tersoff_mod.cu
  lib/gpu/lal_tersoff_mod.h
  lib/gpu/lal_tersoff_zbl.cpp
  lib/gpu/lal_tersoff_zbl.cu
  lib/gpu/lal_tersoff_zbl.h
  src/pair_hybrid.cpp
  unittest/force-styles/tests/atomic-pair-hybrid-eam.yaml
  unittest/force-styles/tests/atomic-pair-hybrid-eam_fs.yaml
  unittest/force-styles/tests/manybody-pair-tersoff.yaml
  unittest/force-styles/tests/manybody-pair-tersoff_zbl.yaml
  unittest/force-styles/tests/mol-pair-hybrid-overlay.yaml
  unittest/force-styles/tests/mol-pair-hybrid-scaled.yaml
  unittest/force-styles/tests/mol-pair-hybrid.yaml
  unittest/force-styles/tests/mol-pair-hybrid_multiple.yaml
  unittest/force-styles/tests/mol-pair-lj_charmm_coul_charmm.yaml
  unittest/force-styles/tests/mol-pair-python_hybrid.yaml
Labels: bugfix, gpu_package, ready_for_merge

#2713 Collected small changes
  src/KSPACE/fft3d.cpp
  src/atom_vec.cpp
  src/atom_vec.h
  src/force.cpp
  src/group.cpp
  src/modify.cpp
  src/pair_coul_streitz.cpp
  src/run.cpp
  src/variable.cpp
  unittest/CMakeLists.txt
  unittest/commands/test_groups.cpp
  unittest/formats/test_atom_styles.cpp
  unittest/formats/test_molecule_file.cpp
  unittest/testing/core.h
Labels: bugfix, maintenance, refactor, unittest_feature

#2714 Improvement of the SPIN package by removing a limitation
  doc/src/fix_precession_spin.rst
  examples/SPIN/test_problems/README
  examples/SPIN/test_problems/run_all.sh
  examples/SPIN/test_problems/validation_nvt/in.spin.nvt_lattice
  examples/SPIN/test_problems/validation_nvt/in.spin.nvt_spin
  src/SPIN/fix_langevin_spin.cpp
  src/SPIN/fix_langevin_spin.h
  src/SPIN/fix_nve_spin.cpp
  src/SPIN/fix_nve_spin.h
  src/SPIN/fix_precession_spin.cpp
  src/SPIN/fix_precession_spin.h
Labels: bugfix, enhancement, spin_package

#2715 Fix compile error in Kokkos package
  src/KOKKOS/kokkos_type.h
Labels: bugfix, kokkos_package, ready_for_merge

#2642 MPI balancing testing
  doc/src/balance.rst
  doc/src/fix_balance.rst
  doc/utils/sphinx-config/false_positives.txt
  unittest/commands/CMakeLists.txt
  unittest/commands/test_mpi_load_balancing.cpp
Labels: ready_for_merge, unittest_feature

#2720 Update GPU package to allow using CUDA 11.3 drivers
  lib/gpu/geryon/ocl_device.h
  lib/gpu/lal_base_atomic.cpp
  lib/gpu/lal_base_charge.cpp
  lib/gpu/lal_base_dipole.cpp
  lib/gpu/lal_base_dpd.cpp
  lib/gpu/lal_base_ellipsoid.cpp
  lib/gpu/lal_base_three.cpp
  lib/gpu/lal_neighbor.h
  lib/gpu/lal_neighbor_gpu.cu
Labels: bugfix, gpu_package

#2723 CMake: Add missing defines to GPU kernel compilation
  cmake/Modules/Packages/GPU.cmake
  lib/gpu/geryon/nvd_kernel.h
Labels: bugfix, cmake, gpu_package

#2727 Move "read_lines_from_file" utility function from Comm class to utils namespace
  doc/src/Developer_utils.rst
  doc/utils/sphinx-config/false_positives.txt
  lib/atc/LammpsInterface.cpp
  src/REPLICA/neb.cpp
  src/RIGID/fix_rigid.cpp
  src/RIGID/fix_rigid_small.cpp
  src/SPIN/neb_spin.cpp
  src/comm.cpp
  src/comm.h
  src/read_data.cpp
  src/utils.cpp
  src/utils.h
  src/variable.cpp
  unittest/formats/test_file_operations.cpp
Labels: ready_for_merge, refactor

#2729 Update the GitHub contributing guide to include the MatSci forum
  .github/CONTRIBUTING.md
Labels: github, ready_for_merge

#2725 Add more unit tests
  cmake/Modules/generate_lmpgitversion.cmake
  src/compute_chunk_atom.cpp
  src/read_data.cpp
  src/text_file_reader.cpp
  src/text_file_reader.h
  src/tokenizer.cpp
  src/tokenizer.h
  unittest/CMakeLists.txt
  unittest/commands/test_simple_commands.cpp
  unittest/commands/test_variables.cpp
  unittest/cplusplus/CMakeLists.txt
  unittest/cplusplus/test_lammps_class.cpp
  unittest/force-styles/CMakeLists.txt
  unittest/force-styles/tests/atomic-pair-yukawa_colloid.yaml
  unittest/formats/CMakeLists.txt
  unittest/formats/test_dump_cfg.cpp
  unittest/formats/test_file_operations.cpp
  unittest/formats/test_text_file_reader.cpp
  unittest/testing/utils.h
  unittest/utils/test_tokenizer.cpp
Labels: bugfix, unittest_feature

#2739 Fix typo in MVAPICH flag for Kokkos CUDA-Aware MPI
  src/KOKKOS/kokkos.cpp
Labels: bugfix, kokkos_package, ready_for_merge

#2738 Make read_data compatible with files that have lines longer than 256 chars
  doc/src/Developer_utils.rst
  doc/src/read_data.rst
  doc/src/variable.rst
  src/read_data.cpp
  src/utils.cpp
  src/utils.h
  unittest/cplusplus/test_lammps_class.cpp
  unittest/formats/test_file_operations.cpp
Labels: bugfix, refactor

#2737 Update USER-INTEL.cmake
  cmake/Modules/Packages/USER-INTEL.cmake
Labels: cmake

#2741 Add missing code in Kokkos neighborlist to use custom cutoff
  src/KOKKOS/npair_kokkos.cpp
Labels: bugfix, kokkos_package, ready_for_merge

#2743 bond/react: create atoms bugfix
  src/USER-REACTION/fix_bond_react.cpp
Labels: bugfix, user_reaction_package

#2721 New examples for FEP calculation and references in doc pages
  doc/src/Howto_drude2.rst
  doc/src/compute_fep.rst
  doc/src/compute_temp_drude.rst
  doc/src/fix_adapt_fep.rst
  doc/src/fix_drude.rst
  doc/src/fix_drude_transform.rst
  doc/src/fix_langevin_drude.rst
  doc/src/fix_tgnh_drude.rst
  doc/src/pair_coul_tt.rst
  doc/src/pair_fep_soft.rst
  doc/src/pair_thole.rst
  doc/utils/requirements.txt
  examples/USER/fep/README.md
  examples/USER/fep/SPCEhyd/README.md
  examples/USER/fep/SPCEhyd/fep01/fep01-lj.fep
  examples/USER/fep/SPCEhyd/fep01/fep01-lj.out
  examples/USER/fep/SPCEhyd/fep01/fep01-q.fep
  examples/USER/fep/SPCEhyd/fep01/fep01-q.out
  examples/USER/fep/SPCEhyd/fep01/in-fep01-lj.lmp
  examples/USER/fep/SPCEhyd/fep01/in-fep01-q.lmp
  examples/USER/fep/SPCEhyd/fep10/fep10-lj.fep
  examples/USER/fep/SPCEhyd/fep10/fep10-lj.out
  examples/USER/fep/SPCEhyd/fep10/fep10-q.fep
  examples/USER/fep/SPCEhyd/fep10/fep10-q.out
  examples/USER/fep/SPCEhyd/fep10/in-fep10-lj.lmp
  examples/USER/fep/SPCEhyd/fep10/in-fep10-q.lmp
  examples/USER/fep/SPCEhyd/mols/data.lmp
  examples/USER/fep/SPCEhyd/mols/spce.ff
  examples/USER/fep/SPCEhyd/mols/spce.zmat
  examples/USER/fep/SPCEhyd/mols/spce_h.ff
  examples/USER/fep/SPCEhyd/mols/spce_h.zmat
Labels: ready_for_merge, user_fep_package

#2710 Generalized DPD pair styles: dpd/ext and dpd/ext/tstat
  doc/src/Commands_pair.rst
  doc/src/pair_dpd_ext.rst
  doc/src/pair_style.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/USER/misc/dpd_ext/README
  examples/USER/misc/dpd_ext/dpdext/dpdext.data
  examples/USER/misc/dpd_ext/dpdext/in.dpdext
  examples/USER/misc/dpd_ext/dpdext/log.10Mar21.dpdext.g++.1
  examples/USER/misc/dpd_ext/dpdext/log.10Mar21.dpdext.g++.4
  examples/USER/misc/dpd_ext/dpdext_tstat/cg_spce.data
  examples/USER/misc/dpd_ext/dpdext_tstat/cg_spce_table.pot
  examples/USER/misc/dpd_ext/dpdext_tstat/in.cg_spce
  examples/USER/misc/dpd_ext/dpdext_tstat/log.10Mar21.dpdext.g++.1
  examples/USER/misc/dpd_ext/dpdext_tstat/log.10Mar21.dpdext.g++.4
  src/USER-MISC/README
  src/USER-MISC/pair_dpd_ext.cpp
  src/USER-MISC/pair_dpd_ext.h
  src/USER-MISC/pair_dpd_ext_tstat.cpp
  src/USER-MISC/pair_dpd_ext_tstat.h
Labels: enhancement, ready_for_merge

#2744 Update OpenCL ICD loader library to OpenCL specifications version 3.0.7
  cmake/Modules/OpenCLLoader.cmake
  lib/gpu/geryon/ocl_device.h
  lib/gpu/geryon/ocl_macros.h
Labels: gpu_package, update

#2745 Updates to the GPU package
  cmake/Modules/GenerateOpenCLHeader.cmake
  cmake/Modules/OpenCLUtils.cmake
  lib/gpu/geryon/nvd_device.h
  lib/gpu/lal_neighbor_gpu.cu
Labels: bugfix, gpu_package, ready_for_merge
