Repository lammps/lammps, pull requests merged in 2021-03, with the labels that each got.

#2635 [BUGFIX] Correct return values for FixNH::extract()
  src/fix_nh.cpp
Labels: bugfix

#2634 Small extension of extract method in Buckingham pair styles
  doc/src/compute_fep.rst
  doc/src/fix_adapt.rst
  doc/src/fix_adapt_fep.rst
  src/KSPACE/pair_buck_coul_long.cpp
  src/KSPACE/pair_buck_coul_msm.cpp
  src/pair_buck_coul_cut.cpp
  src/pair_buck_coul_cut.h
  src/utils.cpp
  unittest/force-styles/tests/mol-pair-buck_coul_cut.yaml
  unittest/force-styles/tests/mol-pair-buck_coul_long.yaml
  unittest/force-styles/tests/mol-pair-buck_coul_msm.yaml
  unittest/force-styles/tests/mol-pair-buck_coul_msm_table.yaml
  unittest/force-styles/tests/mol-pair-buck_coul_table.yaml
Labels: enhancement

#2637 Collected small changes and fixes
  cmake/CMakeLists.txt
  doc/src/Build_basics.rst
  doc/src/Howto_cmake.rst
  doc/src/create_box.rst
  examples/USER/fep/C7inEthanol/fep01/data.init_conf_with_heptane
  examples/USER/fep/C7inEthanol/fep01/in.insertion
  examples/USER/fep/C7inEthanol/fep01/log.insertion
  examples/USER/fep/C7inEthanol/fep01/log.lammps
  examples/USER/fep/C7inEthanol/fep10/data.init_conf_with_heptane
  examples/USER/fep/C7inEthanol/fep10/in.deletion
  examples/USER/fep/C7inEthanol/fep10/log.deletion
  examples/USER/fep/C7inEthanol/fep10/log.lammps
  python/lammps/core.py
  src/GRANULAR/fix_pour.cpp
  src/GRANULAR/fix_pour.h
  src/MISC/fix_deposit.cpp
  src/MISC/fix_deposit.h
  src/imbalance_time.cpp
  src/utils.cpp
Labels: maintenance, python_module

#2644 Small bug fix for fixes to fix deposit and fix pour
  LICENSE
  src/GRANULAR/fix_pour.cpp
  src/MISC/fix_deposit.cpp
  src/PYTHON/pair_python.cpp
  src/main.cpp
  src/utils.cpp
Labels: bugfix

#2638 Further refactor parsing of molecule files
  src/molecule.cpp
  src/molecule.h
  src/utils.cpp
  src/utils.h
  unittest/formats/CMakeLists.txt
  unittest/formats/test_molecule_file.cpp
  unittest/utils/test_utils.cpp
Labels: refactor

#2649 Add support for unpublished KIM potential citations and citation from pair_kim
  src/KIM/kim_init.cpp
  src/KIM/kim_init.h
  src/KIM/pair_kim.cpp
Labels: enhancement, kim_package

#2651 Tightened up the consistency checks on SNAP elements and LAMMPS types
  doc/src/pair_snap.rst
  src/SNAP/pair_snap.cpp
Labels: maintenance, refactor, snap_package

#2652 Collection of small changes
  src/MLIAP/mliap_model_nn.cpp
Labels: bugfix

#2648 Update version strings for the next patch release
  doc/lammps.1
  src/version.h
Labels: maintenance

#2659 Updating displace.mod
  examples/ELASTIC_T/displace.mod
Labels: examples

#2663 Avoid intrinsics KOKKOS/npair_kokkos
  src/KOKKOS/npair_kokkos.cpp
  src/KOKKOS/npair_kokkos.h
Labels: enhancement, kokkos_package

#2658 Update and expand unit tests
  src/domain.cpp
  src/domain.h
  src/group.cpp
  src/group.h
  unittest/commands/CMakeLists.txt
  unittest/commands/test_groups.cpp
  unittest/formats/test_atom_styles.cpp
Labels: maintenance, ready_for_merge, unittest_feature

#2657 Refactor MEAMC potential reader
  src/USER-MEAMC/meam.h
  src/USER-MEAMC/pair_meamc.cpp
  src/USER-MEAMC/pair_meamc.h
  src/potential_file_reader.cpp
  src/potential_file_reader.h
Labels: ready_for_merge, refactor

#2655 Collected small code refactoring changes
  src/atom.cpp
  src/atom_vec.cpp
  src/atom_vec_hybrid.cpp
  src/body.cpp
  src/comm.cpp
  src/dump_atom.cpp
  src/dump_custom.cpp
  src/dump_image.cpp
  src/dump_local.cpp
  src/fix_property_atom.cpp
  src/group.cpp
  src/input.cpp
  src/library.cpp
  src/modify.cpp
  src/output.cpp
  src/pair_coul_streitz.cpp
  src/procmap.cpp
  src/read_data.cpp
  src/read_data.h
  src/read_dump.cpp
  src/region.cpp
  src/region_intersect.cpp
  src/region_union.cpp
  src/run.cpp
  src/text_file_reader.cpp
  src/thermo.cpp
  src/tokenizer.cpp
  src/update.cpp
  src/utils.cpp
  src/variable.cpp
  src/write_coeff.cpp
  unittest/commands/test_simple_commands.cpp
  unittest/utils/test_tokenizer.cpp
Labels: ready_for_merge, refactor

#2664 PyLammps Examples update
  python/examples/pylammps/README
  python/examples/pylammps/README.md
  python/examples/pylammps/dihedrals/dihedral.ipynb
  python/examples/pylammps/interface_usage.ipynb
  python/examples/pylammps/interface_usage_bonds.ipynb
  python/examples/pylammps/montecarlo/mc.ipynb
  python/examples/pylammps/simple.ipynb
  python/lammps/pylammps.py
  src/info.cpp
Labels: python_module, ready_for_merge, update

#2665 Allow compiling with SYCL
  src/KOKKOS/kokkos.cpp
  src/KOKKOS/kokkos_type.h
  src/KOKKOS/npair_kokkos.cpp
  src/KOKKOS/npair_kokkos.h
  src/KOKKOS/pair_dpd_fdt_energy_kokkos.cpp
Labels: enhancement, kokkos_package, ready_for_merge

#2668 Trim models list returned by "kim query ... get_available_models ..." to those installed on user's system
  src/KIM/kim_query.cpp
Labels: enhancement, kim_package

#2671 Improve LAMMPS error/exception detection in Python package
  python/lammps/core.py
  src/info.cpp
  unittest/python/python-commands.py
Labels: python_module, update

#2662 Addition of a PyLammps script to compute elastic constants using OpenKIM
  python/examples/pylammps/elastic/Au.data
  python/examples/pylammps/elastic/README
  python/examples/pylammps/elastic/elastic.py
Labels: python_module

#2670 Fix issues in pair_coul_debye_kokkos
  src/KOKKOS/pair_coul_debye_kokkos.cpp
Labels: bugfix, kokkos_package, ready_for_merge

#2674 Small code changes
  doc/src/fix_rigid_meso.rst
  doc/src/group.rst
  doc/src/kim_commands.rst
  doc/utils/sphinx-config/LAMMPSLexer.py
  src/COMPRESS/dump_atom_gz.cpp
  src/COMPRESS/dump_atom_zstd.cpp
  src/COMPRESS/dump_cfg_gz.cpp
  src/COMPRESS/dump_cfg_zstd.cpp
  src/COMPRESS/dump_custom_gz.cpp
  src/COMPRESS/dump_custom_zstd.cpp
  src/COMPRESS/dump_local_gz.cpp
  src/COMPRESS/dump_local_zstd.cpp
  src/COMPRESS/dump_xyz_gz.cpp
  src/COMPRESS/dump_xyz_zstd.cpp
  src/dump.cpp
  src/dump_cfg.cpp
  src/dump_custom.cpp
  src/dump_local.cpp
  src/dump_xyz.cpp
  src/tokenizer.cpp
Labels: bugfix, refactor

#2677 Optimizations to Kokkos SNAP
  src/KOKKOS/pair_snap_kokkos.h
  src/KOKKOS/pair_snap_kokkos_impl.h
  src/KOKKOS/sna_kokkos.h
  src/KOKKOS/sna_kokkos_impl.h
Labels: enhancement, kokkos_package, ready_for_merge, snap_package

#2675 Bond/react: tweak recent updates
  src/USER-REACTION/fix_bond_react.cpp
Labels: user_reaction_package

#2653 Add tests to increase code coverage
  unittest/formats/CMakeLists.txt
  unittest/formats/compressed_dump_test.h
  unittest/formats/compressed_dump_test_main.cpp
  unittest/formats/test_dump_atom.cpp
  unittest/formats/test_dump_atom_compressed.cpp
  unittest/formats/test_dump_atom_gz.cpp
  unittest/formats/test_dump_atom_zstd.cpp
  unittest/formats/test_dump_cfg.cpp
  unittest/formats/test_dump_cfg_compressed.cpp
  unittest/formats/test_dump_cfg_gz.cpp
  unittest/formats/test_dump_cfg_zstd.cpp
  unittest/formats/test_dump_custom.cpp
  unittest/formats/test_dump_custom_compressed.cpp
  unittest/formats/test_dump_custom_gz.cpp
  unittest/formats/test_dump_custom_zstd.cpp
  unittest/formats/test_dump_local_compressed.cpp
  unittest/formats/test_dump_local_gz.cpp
  unittest/formats/test_dump_local_zstd.cpp
  unittest/formats/test_dump_xyz_compressed.cpp
  unittest/formats/test_dump_xyz_gz.cpp
  unittest/formats/test_dump_xyz_zstd.cpp
  unittest/testing/core.h
  unittest/testing/utils.h
Labels: refactor, unittest_feature
