Repository lammps/lammps, pull requests merged in 2021-07, with the labels that each got.

#2817 Correcting a small bug in fix nve/spin
  src/SPIN/fix_nve_spin.cpp
Labels: spin_package

#2470 Fix issue with Kokkos::finalize and library interface
  doc/src/Library_create.rst
  doc/src/Python_create.rst
  fortran/lammps.f90
  python/lammps/core.py
  src/KOKKOS/kokkos.cpp
  src/KOKKOS/kokkos.h
  src/accelerator_kokkos.h
  src/error.cpp
  src/library.cpp
  src/library.h
  src/main.cpp
  tools/swig/lammps.i
  unittest/python/python-capabilities.py
Labels: bugfix, kokkos_package, library_interface

#2822 Step version strings for next patch release
  doc/lammps.1
  src/version.h
Labels: maintenance

#2823 SYCL team_reduce to mimic cuda __syncthreads_count
  src/KOKKOS/npair_kokkos.cpp
Labels: kokkos_package

#2826 Collected small changes
  doc/src/Build_extras.rst
  doc/src/angle_cross.rst
  doc/src/angle_fourier.rst
  doc/src/angle_fourier_simple.rst
  doc/src/angle_mm3.rst
  doc/src/angle_quartic.rst
  doc/src/atom_style.rst
  doc/src/bond_mm3.rst
  doc/src/compute_sph_e_atom.rst
  doc/src/compute_sph_rho_atom.rst
  doc/src/compute_sph_t_atom.rst
  doc/src/dihedral_fourier.rst
  doc/src/dihedral_nharmonic.rst
  doc/src/dihedral_quadratic.rst
  doc/src/dihedral_spherical.rst
  doc/src/fix_nve.rst
  doc/src/fix_sph.rst
  doc/src/fix_sph_stationary.rst
  doc/src/improper_fourier.rst
  doc/src/pair_sph_heatconduction.rst
  doc/src/pair_sph_idealgas.rst
  doc/src/pair_sph_lj.rst
  doc/src/pair_sph_rhosum.rst
  doc/src/pair_sph_taitwater.rst
  doc/src/pair_sph_taitwater_morris.rst
  doc/src/set.rst
  src/COMPRESS/zstd_file_writer.h
  src/DIELECTRIC/fix_polarize_bem_gmres.cpp
  src/DIELECTRIC/fix_polarize_functional.cpp
  src/Depend.sh
  src/ML-IAP/mliap_so3.cpp
  src/ML-RANN/pair_rann.cpp
  src/OPENMP/angle_fourier_simple_omp.cpp
  src/USER-MISC/angle_fourier_simple.cpp
  src/USER-MISC/pair_wf_cut.cpp
  src/compute_property_local.cpp
  unittest/force-styles/tests/angle-fourier_simple.yaml
Labels: documentation, mliap_package, test-for-regression, user_misc_package, user_omp_package

#2824 Updates to the DIELECTRIC package
  doc/src/Commands_kspace.rst
  doc/src/compute_efield_atom.rst
  doc/src/fix_polarize.rst
  doc/src/kspace_style.rst
  doc/src/pair_dielectric.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/PACKAGES/dielectric/README
  examples/PACKAGES/dielectric/data.confined
  examples/PACKAGES/dielectric/data.sphere
  src/DIELECTRIC/Install.sh
  src/DIELECTRIC/fix_polarize_functional.cpp
  src/DIELECTRIC/pair_lj_long_coul_long_dielectric.cpp
  src/DIELECTRIC/pppm_dielectric.cpp
  src/DIELECTRIC/pppm_disp_dielectric.cpp
  src/DIELECTRIC/pppm_disp_dielectric.h
Labels: dielectric_package

#2828 Adding scale parameter to pair/snap for fix/adapt
  doc/src/fix_adapt.rst
  doc/src/fix_adapt_fep.rst
  examples/snap/Ni_Zuo_JPCA2020.quadratic.snapcoeff
  examples/snap/Ni_Zuo_JPCA2020.quadratic.snapparam
  examples/snap/Ni_Zuo_JPCA2020.snapcoeff
  examples/snap/Ni_Zuo_JPCA2020.snapparam
  examples/snap/in.snap.scale.Ni_Zuo_JCPA2020
  src/ML-SNAP/pair_snap.cpp
  src/ML-SNAP/pair_snap.h
  unittest/force-styles/tests/manybody-pair-snap.yaml
  unittest/force-styles/tests/manybody-pair-snap_chem.yaml
Labels: snap_package

#2830 Update OpenCL ICD loader and headers to latest spec 3.0.8
  cmake/Modules/OpenCLLoader.cmake
Labels: update

#2831 Remove deprecated Kokkos code ViewAllocateWithoutInitializing
  src/KOKKOS/kokkos_type.h
Labels: kokkos_package, maintenance, ready_for_merge

#2815 Add atom_map hash option for Kokkos package
  cmake/Modules/Packages/KOKKOS.cmake
  src/KOKKOS/Install.sh
  src/KOKKOS/atom_kokkos.cpp
  src/KOKKOS/atom_kokkos.h
  src/KOKKOS/atom_map_kokkos.cpp
  src/KOKKOS/atom_vec_dpd_kokkos.cpp
  src/KOKKOS/atom_vec_full_kokkos.cpp
  src/KOKKOS/comm_kokkos.cpp
  src/KOKKOS/fix_shake_kokkos.cpp
  src/KOKKOS/fix_shake_kokkos.h
  src/KOKKOS/kokkos_type.h
  src/KOKKOS/neigh_bond_kokkos.cpp
  src/KOKKOS/neigh_bond_kokkos.h
  src/KOKKOS/neighbor_kokkos.h
  src/OPENMP/reaxc_init_md_omp.cpp
  src/REAXFF/reaxc_allocate.cpp
  src/REAXFF/reaxc_control.cpp
  src/REAXFF/reaxc_defs.h
  src/REAXFF/reaxc_ffield.cpp
  src/REAXFF/reaxc_init_md.cpp
  src/REAXFF/reaxc_io_tools.cpp
  src/REAXFF/reaxc_list.cpp
  src/REAXFF/reaxc_traj.cpp
  src/atom.h
  src/atom_map.cpp
Labels: enhancement, kokkos_package, ready_for_merge

#2832 Revert Kokkos CPU SNAP to original code
  src/KOKKOS/pair_snap_kokkos_impl.h
Labels: enhancement, kokkos_package, ready_for_merge

#2833 Delete last mol
  doc/src/fix_gcmc.rst
  src/MC/fix_gcmc.cpp
Labels: mc_package

#2839 Fixed bug in fix np[ht] with runstyle respa
  src/BOCS/fix_bocs.cpp
  src/BOCS/fix_bocs.h
  src/DRUDE/fix_tgnh_drude.cpp
  src/DRUDE/fix_tgnh_drude.h
  src/USER-MISC/fix_npt_cauchy.cpp
  src/USER-MISC/fix_npt_cauchy.h
  src/fix_nh.cpp
  src/fix_nh.h
Labels: bugfix

#2842 Intel Package Update for CLANG/LLVM-based compiler
  src/INTEL/intel_intrinsics.h
  src/INTEL/intel_intrinsics_airebo.h
  src/INTEL/intel_preprocess.h
  src/INTEL/pair_airebo_intel.cpp
  src/INTEL/pair_dpd_intel.cpp
  src/INTEL/pair_eam_intel.cpp
  src/INTEL/pair_lj_cut_intel.cpp
  src/INTEL/pair_tersoff_intel.cpp
  src/INTEL/pair_tersoff_intel.h
  src/lmptype.h
  src/memory.cpp
Labels: user_intel_package

#2788 Track properties of pair interactions
  doc/src/Commands_fix.rst
  doc/src/Commands_pair.rst
  doc/src/Examples.rst
  doc/src/dump_modify.rst
  doc/src/fix.rst
  doc/src/fix_oneway.rst
  doc/src/fix_pair_tracker.rst
  doc/src/pair_granular.rst
  doc/src/pair_style.rst
  doc/src/pair_tracker.rst
  examples/tracker/contact_history.dat
  examples/tracker/in.track
  examples/tracker/lifetime_hist.dat
  examples/tracker/log.8Apr21.tracker.g++.1
  src/.gitignore
  src/MISC/fix_pair_tracker.cpp
  src/MISC/fix_pair_tracker.h
  src/MISC/pair_tracker.cpp
  src/MISC/pair_tracker.h
  src/dump.cpp
  src/dump.h
  src/fix_neigh_history.cpp
  src/fix_neigh_history.h
  src/pair_hybrid.cpp
Labels: enhancement

#2844 Offline compilation tool update
  tools/offline/scripts/init_http_cache.sh
  tools/offline/scripts/update_downloads.sh
Labels: tools, update

#2838 plugged memory leaks in ml-rann package. Resolves [2811]
  src/ML-RANN/pair_rann.cpp
  src/ML-RANN/pair_rann.h
  src/ML-RANN/rann_fingerprint_bond.cpp
  src/ML-RANN/rann_fingerprint_bondscreened.cpp
  src/ML-RANN/rann_fingerprint_bondscreenedspin.cpp
  src/ML-RANN/rann_fingerprint_bondspin.cpp
  src/ML-RANN/rann_fingerprint_radial.cpp
  src/ML-RANN/rann_fingerprint_radialscreened.cpp
  src/ML-RANN/rann_fingerprint_radialscreenedspin.cpp
  src/ML-RANN/rann_fingerprint_radialspin.cpp
Labels: bugfix

#2837 Update and document support for fix external in the library interface and python module
  .gitignore
  doc/src/Library_utility.rst
  python/lammps/core.py
  python/lammps/numpy_wrapper.py
  src/MISC/fix_pair_tracker.cpp
  src/fix_external.cpp
  src/fix_external.h
  src/library.cpp
  src/library.h
  tools/swig/lammps.i
  unittest/c-library/CMakeLists.txt
  unittest/c-library/test_library_external.cpp
  unittest/python/CMakeLists.txt
  unittest/python/python-fix-external.py
Labels: documentation, library_interface, python_module, ready_for_merge, unittest_feature

#2846 Add logic for GPU-enabled MPICH to Kokkos package
  src/KOKKOS/kokkos.cpp
Labels: enhancement, kokkos_package, ready_for_merge

#2850 Implement lammps_gather_bonds() into the C-library interface and the Python module
  doc/src/Library_scatter.rst
  python/lammps/core.py
  python/lammps/numpy_wrapper.py
  src/library.cpp
  src/library.h
  tools/swig/lammps.i
  unittest/c-library/CMakeLists.txt
  unittest/c-library/test_library_external.cpp
  unittest/c-library/test_library_scatter_gather.cpp
  unittest/python/CMakeLists.txt
  unittest/python/data.fourmol
  unittest/python/in.fourmol
  unittest/python/python-numpy.py
  unittest/python/python-scatter-gather.py
Labels: library_interface, python_module, ready_for_merge, unittest_feature

#2849 Convert Intel package simd vectorization directives to OpenMP standard
  src/INTEL/angle_charmm_intel.cpp
  src/INTEL/angle_harmonic_intel.cpp
  src/INTEL/bond_fene_intel.cpp
  src/INTEL/bond_harmonic_intel.cpp
  src/INTEL/dihedral_charmm_intel.cpp
  src/INTEL/dihedral_fourier_intel.cpp
  src/INTEL/dihedral_harmonic_intel.cpp
  src/INTEL/dihedral_opls_intel.cpp
  src/INTEL/fix_intel.cpp
  src/INTEL/fix_nh_intel.cpp
  src/INTEL/fix_nve_asphere_intel.cpp
  src/INTEL/fix_nve_intel.cpp
  src/INTEL/improper_cvff_intel.cpp
  src/INTEL/improper_harmonic_intel.cpp
  src/INTEL/intel_intrinsics.h
  src/INTEL/intel_intrinsics_airebo.h
  src/INTEL/intel_preprocess.h
  src/INTEL/intel_simd.h
  src/INTEL/npair_full_bin_ghost_intel.cpp
  src/INTEL/npair_intel.cpp
  src/INTEL/pair_airebo_intel.cpp
  src/INTEL/pair_buck_coul_cut_intel.cpp
  src/INTEL/pair_buck_coul_long_intel.cpp
  src/INTEL/pair_buck_intel.cpp
  src/INTEL/pair_dpd_intel.cpp
  src/INTEL/pair_eam_intel.cpp
  src/INTEL/pair_gayberne_intel.cpp
  src/INTEL/pair_lj_charmm_coul_charmm_intel.cpp
  src/INTEL/pair_lj_charmm_coul_long_intel.cpp
  src/INTEL/pair_lj_cut_coul_long_intel.cpp
  src/INTEL/pair_lj_cut_intel.cpp
  src/INTEL/pair_sw_intel.cpp
  src/INTEL/pair_tersoff_intel.cpp
  src/INTEL/pppm_disp_intel.cpp
  src/INTEL/pppm_intel.cpp
Labels: user_intel_package

#2848 Collected small changes for the next patch release
  cmake/CMakeLists.txt
  cmake/Modules/Packages/PLUMED.cmake
  doc/src/Howto_viz.rst
  doc/src/Intro_features.rst
  doc/src/Intro_nonfeatures.rst
  doc/src/Intro_overview.rst
  doc/src/Python_examples.rst
  doc/src/Tools.rst
  doc/src/balance.rst
  doc/src/compute_cluster_atom.rst
  doc/src/compute_orientorder_atom.rst
  doc/src/dump.rst
  doc/src/dump_image.rst
  doc/src/fix_balance.rst
  doc/src/fix_neb.rst
  lib/plumed/Install.py
  python/lammps/core.py
  src/DIELECTRIC/pppm_disp_dielectric.cpp
  src/EXTRA-COMPUTE/compute_hma.cpp
  src/TALLY/compute_force_tally.cpp
  src/TALLY/compute_heat_flux_tally.cpp
  src/TALLY/compute_heat_flux_virial_tally.cpp
  src/TALLY/compute_pe_mol_tally.cpp
  src/TALLY/compute_pe_tally.cpp
  src/TALLY/compute_stress_tally.cpp
  src/compute_aggregate_atom.cpp
  src/compute_aggregate_atom.h
  src/compute_cluster_atom.cpp
  src/compute_cluster_atom.h
  src/compute_fragment_atom.cpp
  src/compute_fragment_atom.h
  src/compute_orientorder_atom.cpp
  src/compute_orientorder_atom.h
  tools/offline/scripts/init_http_cache.sh
  unittest/force-styles/tests/atomic-pair-reaxff.yaml
  unittest/force-styles/tests/atomic-pair-reaxff_lgvdw.yaml
  unittest/force-styles/tests/atomic-pair-reaxff_noqeq.yaml
  unittest/force-styles/tests/atomic-pair-reaxff_tabulate.yaml
  unittest/formats/test_file_operations.cpp
  unittest/utils/test_tokenizer.cpp
Labels: documentation, maintenance, ready_for_merge

#2853 Fix bug in verlet_kokkos.cpp with GRANULAR package
  src/KOKKOS/verlet_kokkos.cpp
Labels: bugfix, granular_package, kokkos_package, ready_for_merge

#2854 Final fixes for the patch release
  cmake/CMakeLists.txt
  doc/src/Packages_details.rst
  doc/src/fix_nve_noforce.rst
  src/DIELECTRIC/Install.sh
  src/INTEL/intel_intrinsics_airebo.h
  src/INTEL/intel_preprocess.h
  src/INTEL/intel_simd.h
  src/INTEL/pair_buck_intel.cpp
  src/KOKKOS/Install.sh
  src/fix_nve_noforce.cpp
  src/fix_nve_noforce.h
Labels: bugfix, documentation, maintenance

#2855 Correct a couple of unit tests for package reorganization
  unittest/force-styles/tests/atomic-pair-lj_relres.yaml
  unittest/formats/test_dump_custom.cpp
Labels: unittest_feature

#2851 Step version number strings for the next patch release
  doc/lammps.1
  src/version.h
Labels: maintenance

#2856 Collected small changes and fixes
  .github/CODEOWNERS
  doc/src/Commands_pair.rst
  doc/src/pair_beck.rst
  examples/PACKAGES/cauchy/NiAlH_jea.eam.alloy
  examples/PACKAGES/electron_stopping/Si.sw
  examples/PACKAGES/orient_eco/Ni_u3.eam
  src/.gitignore
  src/CG-DNA/atom_vec_oxdna.cpp
  src/CG-DNA/pair_oxdna_stk.cpp
  src/CG-DNA/pair_oxrna2_stk.cpp
  src/DIELECTRIC/pppm_disp_dielectric.cpp
  src/DPD-SMOOTH/fix_meso_move.cpp
  src/Depend.sh
  src/EXTRA-PAIR/pair_beck.cpp
  src/EXTRA-PAIR/pair_beck.h
  src/GPU/Install.sh
  src/KOKKOS/kissfft_kokkos.cpp
  src/MDI/fix_mdi_engine.cpp
  src/ML-RANN/pair_rann.cpp
  src/OPENMP/pair_lj_cut_coul_cut_dielectric_omp.cpp
  src/arg_info.cpp
  src/imbalance_neigh.cpp
  src/read_restart.cpp
  src/read_restart.h
  src/utils.h
  unittest/tools/test_lammps_shell.py
  unittest/utils/test_argutils.cpp
Labels: bugfix, build_system, maintenance, unittest_feature

#2860 fixing indexing bug
  src/EXTRA-COMPUTE/compute_gyration_shape.cpp
  src/OPT/Install.sh
Labels: bugfix

#2859 Step version strings for next patch release
  doc/lammps.1
  src/version.h
Labels: maintenance
