Repository lammps/lammps, pull requests merged in 2021-06, with the labels that each got.

#2790 Allow setting canonical URL in doc build
  doc/utils/sphinx-config/_themes/lammps_theme/breadcrumbs.html
  doc/utils/sphinx-config/_themes/lammps_theme/layout.html
  doc/utils/sphinx-config/_themes/lammps_theme/theme.conf
  doc/utils/sphinx-config/conf.py.in
Labels: documentation

#2787 Update to Python package and examples
  doc/src/Python_install.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/ELASTIC/compliance.py
  python/.gitignore
  python/README
  python/examples/.gitignore
  python/examples/gui.py
  python/examples/matplotlib_plot.py
  python/examples/pizza/dump.py
  python/examples/pizza/gl.py
  python/examples/pizza/gnu.py
  python/examples/pizza/pdbfile.py
  python/examples/pizza/vizinfo.py
  python/examples/pizza/vmd.py
  python/examples/plot.py
  python/examples/simple.py
  python/examples/viz_atomeye.py
  python/examples/viz_gl.py
  python/examples/viz_pymol.py
  python/examples/viz_vmd.py
  python/examples/vizplotgui_atomeye.py
  python/examples/vizplotgui_gl.py
  python/examples/vizplotgui_pymol.py
  python/examples/vizplotgui_vmd.py
  python/lammps/__init__.py
  python/lammps/constants.py
  python/lammps/core.py
  python/setup.py
  tools/python/pizza/dump.py
  tools/python/pizza/gnu.py
  tools/python/pizza/pdbfile.py
Labels: bugfix, python_module

#2789 More GPU fixes for HIP
  lib/gpu/geryon/hip_device.h
  lib/gpu/geryon/hip_texture.h
  lib/gpu/lal_neighbor.h
  lib/gpu/lal_neighbor_gpu.cu
  tools/singularity/ubuntu20.04_amd_rocm.def
  tools/singularity/ubuntu20.04_gpu.def
Labels: bugfix, gpu_package

#2786 Collected small changes
  .lgtm.yml
  cmake/Modules/Packages/QEQ.cmake
  cmake/Modules/Packages/USER-HDNNP.cmake
  cmake/Modules/Packages/USER-PLUMED.cmake
  doc/src/Install_windows.rst
  doc/src/Packages_details.rst
  doc/src/Run_windows.rst
  doc/src/Speed_gpu.rst
  doc/src/pair_kolmogorov_crespi_full.rst
  doc/src/pair_kolmogorov_crespi_z.rst
  doc/src/pair_mesodpd.rst
  python/install.py
  python/lammps/__init__.py
  python/lammps/core.py
  python/lammps/numpy_wrapper.py
  src/USER-DIFFRACTION/README
  src/USER-MDI/fix_mdi_engine.cpp
  src/balance.cpp
  src/fix_wall.cpp
  src/imbalance_group.cpp
  src/info.cpp
  src/lammps.cpp
  src/neighbor.cpp
  src/pair_hybrid.cpp
  src/pair_table.cpp
  src/thermo.cpp
  tools/coding_standard/homepage.py
  tools/singularity/README.md
  tools/singularity/fedora34_mingw.def
  unittest/force-styles/check_tests.py
  unittest/formats/test_molecule_file.cpp
Labels: bugfix, cmake, documentation, maintenance, ready_for_merge, unittest_feature

#2798 Collected small changes
  .github/CODEOWNERS
  cmake/CMakeLists.txt
  cmake/Modules/GTest.cmake
  cmake/Modules/Packages/USER-HDNNP.cmake
  cmake/presets/clang.cmake
  doc/src/compute_efield_atom.rst
  src/USER-DIELECTRIC/compute_efield_atom.cpp
  src/USER-DIELECTRIC/fix_polarize_bem_gmres.cpp
  src/USER-DIELECTRIC/fix_polarize_bem_icc.cpp
  src/USER-DIELECTRIC/fix_polarize_functional.cpp
  src/USER-DIELECTRIC/pair_coul_cut_dielectric.cpp
  src/USER-DIELECTRIC/pair_lj_cut_coul_cut_dielectric.cpp
  src/USER-DIELECTRIC/pair_lj_cut_coul_debye_dielectric.cpp
  src/USER-DIELECTRIC/pair_lj_cut_coul_msm_dielectric.cpp
  src/USER-DIELECTRIC/pair_lj_long_coul_long_dielectric.cpp
  tools/valgrind/OpenMP.supp
Labels: bugfix

#2802 Added variable pH support and fixed Ewald self-energy updating
  doc/src/fix_charge_regulation.rst
  src/MC/fix_charge_regulation.cpp
  src/MC/fix_charge_regulation.h
Labels: mc_package

#2803 Collected small changes
  cmake/presets/gcc.cmake
  doc/Makefile
  doc/src/Commands_parse.rst
  doc/src/Developer_write.rst
  doc/src/Manual.rst
  doc/src/Packages_details.rst
  doc/src/Speed_kokkos.rst
  doc/src/fix_srd.rst
  doc/src/pair_bop.rst
  examples/ASPHERE/box/in.box
  examples/ASPHERE/box/in.box.mp
  examples/ASPHERE/box/log.17Jun21.box.g++.1
  examples/ASPHERE/box/log.17Jun21.box.g++.4
  examples/ASPHERE/box/log.17Jun21.box.mp.g++.1
  examples/ASPHERE/box/log.17Jun21.box.mp.g++.4
  examples/ASPHERE/box/log.1Feb14.box.g++.8
  examples/ASPHERE/box/log.1Feb14.box.mp.g++.8
  src/MANYBODY/pair_bop.cpp
  src/MC/fix_charge_regulation.cpp
  src/MC/fix_charge_regulation.h
  src/SRD/fix_srd.cpp
  src/SRD/fix_wall_srd.cpp
  src/USER-DIELECTRIC/pair_lj_long_coul_long_dielectric.cpp
  src/USER-MDI/mdi_engine.cpp
  src/USER-PACE/pair_pace.cpp
  src/USER-RANN/pair_rann.cpp
  src/USER-RANN/pair_rann.h
  src/USER-RANN/rann_activation.h
  src/USER-RANN/rann_activation_linear.h
  src/USER-RANN/rann_fingerprint_bond.cpp
  src/USER-RANN/rann_fingerprint_bondscreened.cpp
  src/USER-RANN/rann_fingerprint_bondscreenedspin.cpp
  src/USER-RANN/rann_fingerprint_bondspin.cpp
  src/USER-RANN/rann_fingerprint_radial.cpp
  src/USER-RANN/rann_fingerprint_radialscreened.cpp
  src/USER-RANN/rann_fingerprint_radialscreenedspin.cpp
  src/USER-RANN/rann_fingerprint_radialspin.cpp
  src/compute_pe.cpp
  unittest/force-styles/tests/manybody-pair-pace_product.yaml
  unittest/force-styles/tests/manybody-pair-pace_recursive.yaml
  unittest/force-styles/tests/manybody-pair-rann.yaml
Labels: bugfix, documentation, maintenance, refactor, unittest_feature

#2813 Collected small changes
  cmake/Modules/Packages/USER-MOLFILE.cmake
  doc/src/fix_temp_csvr.rst
  doc/src/if.rst
  doc/src/variable.rst
  src/MLIAP/mliap_descriptor_so3.cpp
  src/MLIAP/mliap_so3.cpp
  src/MLIAP/mliap_so3.h
  src/MLIAP/mliap_so3_math.h
  src/USER-DIFFRACTION/compute_saed.cpp
  src/USER-DIFFRACTION/compute_xrd.cpp
Labels: cmake, mliap_package
