Repository lammps/lammps, pull requests merged in 2021-01, with the labels that each got.

#2532 Add more granular control of Kokkos pair and fix comm
  doc/src/Speed_kokkos.rst
  doc/src/package.rst
  src/KOKKOS/atom_vec_charge_kokkos.cpp
  src/KOKKOS/comm_kokkos.cpp
  src/KOKKOS/comm_kokkos.h
  src/KOKKOS/fix_neigh_history_kokkos.cpp
  src/KOKKOS/fix_qeq_reax_kokkos.cpp
  src/KOKKOS/fix_shardlow_kokkos.cpp
  src/KOKKOS/kokkos.cpp
  src/KOKKOS/kokkos.h
  src/KOKKOS/memory_kokkos.h
  src/KOKKOS/nbin_kokkos.cpp
  src/KOKKOS/nbin_ssa_kokkos.cpp
  src/KOKKOS/npair_ssa_kokkos.h
  src/KOKKOS/pair_buck_coul_cut_kokkos.cpp
  src/KOKKOS/pair_buck_coul_long_kokkos.cpp
  src/KOKKOS/pair_buck_kokkos.cpp
  src/KOKKOS/pair_coul_cut_kokkos.cpp
  src/KOKKOS/pair_coul_debye_kokkos.cpp
  src/KOKKOS/pair_coul_dsf_kokkos.cpp
  src/KOKKOS/pair_coul_long_kokkos.cpp
  src/KOKKOS/pair_coul_wolf_kokkos.cpp
  src/KOKKOS/pair_dpd_fdt_energy_kokkos.cpp
  src/KOKKOS/pair_eam_alloy_kokkos.cpp
  src/KOKKOS/pair_eam_fs_kokkos.cpp
  src/KOKKOS/pair_eam_kokkos.cpp
  src/KOKKOS/pair_exp6_rx_kokkos.cpp
  src/KOKKOS/pair_gran_hooke_history_kokkos.cpp
  src/KOKKOS/pair_hybrid_kokkos.cpp
  src/KOKKOS/pair_lj_charmm_coul_charmm_implicit_kokkos.cpp
  src/KOKKOS/pair_lj_charmm_coul_charmm_kokkos.cpp
  src/KOKKOS/pair_lj_charmm_coul_long_kokkos.cpp
  src/KOKKOS/pair_lj_class2_coul_cut_kokkos.cpp
  src/KOKKOS/pair_lj_class2_coul_long_kokkos.cpp
  src/KOKKOS/pair_lj_class2_kokkos.cpp
  src/KOKKOS/pair_lj_cut_coul_cut_kokkos.cpp
  src/KOKKOS/pair_lj_cut_coul_debye_kokkos.cpp
  src/KOKKOS/pair_lj_cut_coul_dsf_kokkos.cpp
  src/KOKKOS/pair_lj_cut_coul_long_kokkos.cpp
  src/KOKKOS/pair_lj_cut_kokkos.cpp
  src/KOKKOS/pair_lj_expand_kokkos.cpp
  src/KOKKOS/pair_lj_gromacs_coul_gromacs_kokkos.cpp
  src/KOKKOS/pair_lj_gromacs_kokkos.cpp
  src/KOKKOS/pair_lj_sdk_kokkos.cpp
  src/KOKKOS/pair_morse_kokkos.cpp
  src/KOKKOS/pair_multi_lucy_rx_kokkos.cpp
  src/KOKKOS/pair_reaxc_kokkos.cpp
  src/KOKKOS/pair_snap_kokkos_impl.h
  src/KOKKOS/pair_sw_kokkos.cpp
  src/KOKKOS/pair_table_kokkos.cpp
  src/KOKKOS/pair_table_rx_kokkos.cpp
  src/KOKKOS/pair_tersoff_kokkos.cpp
  src/KOKKOS/pair_tersoff_mod_kokkos.cpp
  src/KOKKOS/pair_tersoff_zbl_kokkos.cpp
  src/KOKKOS/pair_vashishta_kokkos.cpp
  src/KOKKOS/pair_yukawa_kokkos.cpp
  src/KOKKOS/pair_zbl_kokkos.cpp
  src/pair.cpp
  src/pair.h
Labels: enhancement, kokkos_package, ready_for_merge

#2506 Flip sign convention for FFTs used by KSpace methods
  src/KOKKOS/fft3d_kokkos.cpp
  src/KOKKOS/fft3d_kokkos.h
  src/KOKKOS/pppm_kokkos.cpp
  src/KSPACE/fft3d.cpp
  src/KSPACE/fft3d_wrap.h
  src/KSPACE/gridcomm.cpp
  src/KSPACE/pppm.cpp
  src/KSPACE/pppm_dipole.cpp
  src/KSPACE/pppm_disp.cpp
  src/KSPACE/pppm_disp.h
  src/USER-PHONON/fix_phonon.cpp
Labels: full-regression-test, kspace_package, test-for-regression

#2553 write_data bugfix for nonzero class2 impropers
  src/CLASS2/improper_class2.cpp
Labels: bugfix

#2557 Collected small changes and updates
  doc/src/fix_bond_react.rst
  lib/gpu/Makefile.linux.double
  lib/gpu/Makefile.linux.mixed
  lib/gpu/Makefile.linux.single
  lib/gpu/Makefile.mpi
  lib/gpu/Makefile.serial_opencl
  lib/gpu/Makefile.turing
  lib/gpu/Makefile.xk7
  lib/gpu/Nvidia.makefile_old
  lib/gpu/Opencl.makefile_old
  src/KOKKOS/pair_eam_alloy_kokkos.cpp
  src/KOKKOS/sna_kokkos_impl.h
  src/MANYBODY/pair_eam_he.cpp
  src/molecule.cpp
  tools/msi2lmp/src/msi2lmp.c
Labels: build_system, gpu_package

#2558 Replace redundant 3-vector function definitions in pair styles with MathExtra functions
  src/DIPOLE/pair_lj_long_dipole_long.cpp
  src/KSPACE/ewald_disp.cpp
  src/KSPACE/ewald_disp.h
  src/KSPACE/pair_buck_long_coul_long.cpp
  src/KSPACE/pair_lj_long_coul_long.cpp
  src/MANYBODY/pair_comb.cpp
  src/MANYBODY/pair_comb.h
  src/MANYBODY/pair_comb3.cpp
  src/MANYBODY/pair_comb3.h
  src/MANYBODY/pair_gw.cpp
  src/MANYBODY/pair_gw.h
  src/MANYBODY/pair_polymorphic.cpp
  src/MANYBODY/pair_polymorphic.h
  src/MANYBODY/pair_tersoff.cpp
  src/MANYBODY/pair_tersoff.h
  src/MANYBODY/pair_tersoff_mod.cpp
  src/OPT/pair_lj_long_coul_long_opt.cpp
  src/USER-MISC/pair_edip_multi.cpp
  src/USER-MISC/pair_edip_multi.h
  src/USER-MISC/pair_extep.cpp
  src/USER-MISC/pair_extep.h
  src/USER-OMP/fix_nve_sphere_omp.cpp
  src/USER-OMP/pair_buck_long_coul_long_omp.cpp
  src/USER-OMP/pair_comb_omp.cpp
  src/USER-OMP/pair_lj_long_coul_long_omp.cpp
  src/USER-OMP/pair_tersoff_mod_c_omp.cpp
  src/USER-OMP/pair_tersoff_mod_omp.cpp
  src/USER-OMP/pair_tersoff_omp.cpp
  src/USER-SMTBQ/pair_smtbq.cpp
  src/USER-SMTBQ/pair_smtbq.h
  src/fix_nh_sphere.cpp
  src/fix_nve_sphere.cpp
  src/math_complex.h
  src/math_extra.h
  src/math_vector.h
Labels: kspace_package, maintenance, manybody_package, user_misc_package, user_omp_package

#2554 Add accelerator introspection functionality
  cmake/Modules/Packages/GPU.cmake
  doc/src/Library_config.rst
  doc/src/Python_config.rst
  doc/src/info.rst
  lib/gpu/lal_device.cpp
  python/lammps/core.py
  src/GPU/Install.sh
  src/info.cpp
  src/info.h
  src/library.cpp
  src/library.h
  unittest/python/python-capabilities.py
Labels: library_interface, python_module, unittest_feature

#2559 bond/react: reaction constraints bugfix
  src/USER-REACTION/fix_bond_react.cpp
  src/USER-REACTION/fix_bond_react.h
Labels: bugfix, user_reaction_package

#2562 Fix issues in Kokkos package with pair/only on
  src/KOKKOS/fix_dpd_energy_kokkos.cpp
  src/KOKKOS/fix_momentum_kokkos.cpp
  src/KOKKOS/fix_shake_kokkos.cpp
  src/KOKKOS/fix_shardlow_kokkos.cpp
  src/KOKKOS/kokkos_type.h
  src/KOKKOS/nbin_ssa_kokkos.cpp
  src/KOKKOS/npair_ssa_kokkos.cpp
  src/KOKKOS/pair_table_rx_kokkos.cpp
Labels: bugfix, kokkos_package, ready_for_merge

#2561 Address minor issues indicated by compiler warnings and static code analysis
  src/KSPACE/ewald_disp.cpp
  src/MANYBODY/pair_tersoff.cpp
  src/USER-OMP/pair_tersoff_mod_c_omp.cpp
  src/USER-OMP/pair_tersoff_mod_c_omp.h
  src/USER-OMP/pair_tersoff_mod_omp.cpp
  src/USER-OMP/pair_tersoff_mod_omp.h
  src/USER-OMP/pair_tersoff_omp.cpp
  unittest/c-library/test_library_properties.cpp
Labels: bugfix

#2567 Fix sync/modify issue in Kokkos atom_vec
  src/KOKKOS/atom_vec_kokkos.cpp
Labels: bugfix, kokkos_package, ready_for_merge

#2566 Fixed bug in get_thermo_data in parsing log files with multiple run() commands
  python/lammps/pylammps.py
Labels: python_module

#2564 Detect UTF-8 multibyte characters input and replace with ASCII equivalents where known
  doc/src/Commands_parse.rst
  doc/src/Developer_utils.rst
  src/input.cpp
  src/input.h
  src/tokenizer.cpp
  src/utils.cpp
  src/utils.h
  unittest/utils/test_utils.cpp
Labels: maintenance, ready_for_merge

#2565 Explicit netcdf dumper error message when trying to append to non-existant file
  src/USER-NETCDF/dump_netcdf.cpp
  src/USER-NETCDF/dump_netcdf_mpiio.cpp
Labels: ready_for_merge, update

#2479 Updated AGNI pair files and added new AGNI force fields
  examples/USER/misc/agni/log.20Jan21.adatom.g++.1
  examples/USER/misc/agni/log.20Jan21.adatom.g++.4
  examples/USER/misc/agni/log.20Jan21.vacancy.g++.1
  examples/USER/misc/agni/log.20Jan21.vacancy.g++.4
  examples/USER/misc/agni/log.21Feb17.adatom.g++.1
  examples/USER/misc/agni/log.21Feb17.adatom.g++.4
  examples/USER/misc/agni/log.21Feb17.vacancy.g++.1
  examples/USER/misc/agni/log.21Feb17.vacancy.g++.4
  potentials/Al_Batra_2019.agni
  potentials/Al_jpc.agni
  potentials/Cu_Huan_2019_fp1.agni
  potentials/Cu_Huan_2019_fp2.agni
  potentials/Pt_Chapman_2020.agni
  src/USER-MISC/pair_agni.cpp
  src/USER-MISC/pair_agni.h
  src/USER-OMP/pair_agni_omp.cpp
  src/USER-OMP/pair_agni_omp.h
Labels: ready_for_merge, update, user_misc_package
