Repository lammps/lammps, pull requests merged in 2021-09, with the labels that each got.

#2919 Collected small changes and fixes
  doc/src/Commands_input.rst
  doc/src/Run_options.rst
  doc/src/fix_bond_swap.rst
  src/REPLICA/neb.cpp
  src/SPIN/neb_spin.cpp
  src/lammps.cpp
  src/lammps.h
  src/pair_lj_cut.cpp
  src/variable.cpp
Labels: bugfix, work_in_progress

#2923 Treat calling Py_Finalize() more like MPI_Finalize() and avoid crashes
  doc/src/Library_create.rst
  src/PYTHON/python_impl.cpp
  src/PYTHON/python_impl.h
  src/library.cpp
  src/library.h
  src/lmppython.cpp
  src/lmppython.h
  src/main.cpp
  src/variable.cpp
  src/variable.h
  tools/swig/lammps.i
  unittest/python/CMakeLists.txt
  unittest/python/test_python_package.cpp
Labels: documentation, bugfix, library_interface

#2925 Collected small changes
  cmake/CMakeLists.txt
  doc/src/Developer_utils.rst
  src/MISC/fix_ipi.cpp
  src/balance.cpp
  src/balance.h
  src/comm.cpp
  src/comm.h
  src/fix_store.cpp
  src/info.cpp
  src/lammps.cpp
  src/lmptype.h
  src/lmpwindows.h
  src/my_page.cpp
  src/my_pool_chunk.cpp
  src/neighbor.cpp
  src/text_file_reader.cpp
  src/thermo.cpp
  src/timer.cpp
  src/utils.cpp
  src/utils.h
  tools/lammps-shell/lammps-shell.cpp
  unittest/c-library/test_library_properties.cpp
  unittest/force-styles/CMakeLists.txt
  unittest/force-styles/test_fix_timestep.cpp
  unittest/force-styles/tests/atomic-pair-reaxff.yaml
  unittest/force-styles/tests/atomic-pair-reaxff_lgvdw.yaml
  unittest/force-styles/tests/fix-timestep-python_move_nve.yaml
  unittest/force-styles/tests/manybody-pair-drip.yaml
  unittest/force-styles/tests/manybody-pair-drip_real.yaml
  unittest/force-styles/tests/manybody-pair-lebedeva_z.yaml
  unittest/python/CMakeLists.txt
  unittest/utils/test_utils.cpp
Labels: documentation, bugfix, ready_for_merge, refactor

#2927 Update documentation for the stable release
  .github/CONTRIBUTING.md
  doc/github-development-workflow.md
  doc/include-file-conventions.md
  doc/lammps.1
  doc/msi2lmp.1
  doc/src/Build_development.rst
  doc/src/Build_manual.rst
  doc/src/Errors_messages.rst
  doc/src/Examples.rst
  doc/src/Install_windows.rst
  doc/src/Modify.rst
  doc/src/Modify_contribute.rst
  doc/src/Modify_overview.rst
  doc/src/Modify_style.rst
  doc/src/Packages_details.rst
  doc/src/Run_options.rst
  doc/src/Speed.rst
  doc/src/Speed_gpu.rst
  doc/src/Speed_kokkos.rst
  doc/src/Speed_packages.rst
  doc/src/compute_angle.rst
  doc/src/fix_wall_gran_region.rst
  doc/utils/sphinx-config/false_positives.txt
  src/lammps.cpp
  src/memory.h
Labels: documentation

#2928 Enable dynamic groups for fix bond/create
  src/MC/fix_bond_create.cpp
Labels: enhancement

#2929 Recover Kokkos compilation
  src/KOKKOS/Install.sh
Labels: kokkos_package, build_system

#2935 Python module fixes and tests
  python/lammps/pylammps.py
  unittest/python/python-pylammps.py
Labels: bugfix, python_module

#2939 Python module fixes
  python/lammps/numpy_wrapper.py
Labels: bugfix, python_module

#2942 Step version strings for the next patch release
  doc/lammps.1
  src/version.h
Labels: maintenance

#2916 Updates to support ROCm 4.3 in GPU package
  cmake/Modules/Packages/GPU.cmake
  cmake/presets/hip_amd.cmake
  tools/singularity/ubuntu18.04_amd_rocm.def
  tools/singularity/ubuntu18.04_gpu.def
  tools/singularity/ubuntu20.04_amd_rocm.def
  tools/singularity/ubuntu20.04_gpu.def
Labels: gpu_package, update

#2917 Updates to the Programmer guide section of the manual
  doc/src/Developer.rst
  doc/src/Developer_par_comm.rst
  doc/src/Developer_par_long.rst
  doc/src/Developer_par_neigh.rst
  doc/src/Developer_par_openmp.rst
  doc/src/Developer_par_part.rst
  doc/src/Developer_parallel.rst
  doc/src/Intro_citing.rst
  doc/src/img/decomp-balance.png
  doc/src/img/decomp-processors.png
  doc/src/img/decomp-rcb.png
  doc/src/img/decomp-regular.png
  doc/src/img/domain-decomp.png
  doc/src/img/fft-decomp-parallel.png
  doc/src/img/ghost-comm.png
  doc/src/img/neigh-stencil.png
Labels: documentation

#2949 Add log file printing of KIM search directories in 'kim init'
  src/KIM/kim_init.cpp
  src/KIM/kim_init.h
Labels: kim_package, ready_for_merge

#2956 Fix bug in Kokkos pair_eam_alloy on GPUs
  src/KOKKOS/pair_eam_alloy_kokkos.cpp
  src/KOKKOS/pair_eam_fs_kokkos.cpp
  src/KOKKOS/pair_eam_kokkos.cpp
Labels: manybody_package, bugfix, kokkos_package, ready_for_merge

#2952 Final changes and bugfixes for the stable release
  cmake/Modules/Packages/KOKKOS.cmake
  cmake/Modules/Packages/VORONOI.cmake
  doc/src/Build_settings.rst
  examples/PACKAGES/charge_regulation/in.chreg-polymer
  lib/gpu/geryon/ocl_device.h
  lib/gpu/lal_born_coul_long.cpp
  lib/gpu/lal_born_coul_wolf.cpp
  lib/gpu/lal_buck_coul_long.cpp
  lib/gpu/lal_device.cpp
  lib/pace/Makefile
  lib/pace/Makefile.lammps
  src/.gitignore
  src/DRUDE/fix_drude_transform.cpp
  src/DRUDE/fix_drude_transform.h
  src/EXTRA-FIX/fix_npt_cauchy.cpp
  src/GPU/gpu_extra.h
  src/H5MD/dump_h5md.cpp
  src/KOKKOS/compute_coord_atom_kokkos.cpp
  src/KOKKOS/fix_rx_kokkos.h
  src/KOKKOS/pair_exp6_rx_kokkos.h
  src/MPIIO/dump_xyz_mpiio.cpp
  src/MSCG/fix_mscg.cpp
  src/dump_atom.cpp
  src/dump_cfg.cpp
  src/dump_custom.cpp
  src/dump_local.cpp
  src/dump_xyz.cpp
  src/fix_dt_reset.cpp
  src/read_data.cpp
  tools/singularity/fedora34_mingw.def
  unittest/CMakeLists.txt
Labels: bugfix, build_system, cmake, maintenance, ready_for_merge

#2959 Fix Colvars output files not written with "run 0"
  doc/src/PDF/colvars-refman-lammps.pdf
  lib/colvars/colvarmodule.cpp
  lib/colvars/colvars_version.h
Labels: user_colvars_package

#2961 Add -std=c++11 to a number of machine makefiles for the traditional make build system
  src/MAKE/MACHINES/Makefile.aarch64_g++_openmpi_armpl
  src/MAKE/MACHINES/Makefile.aarch64_g++_serial_armpl
  src/MAKE/MACHINES/Makefile.cygwin
  src/MAKE/MACHINES/Makefile.mac
  src/MAKE/MACHINES/Makefile.mac_mpi
  src/MAKE/MACHINES/Makefile.ubuntu
  src/MAKE/MACHINES/Makefile.ubuntu_simple
  src/MAKE/Makefile.mpi
  src/MAKE/Makefile.serial
  src/MAKE/OPTIONS/Makefile.g++_mpich
  src/MAKE/OPTIONS/Makefile.g++_mpich_link
  src/MAKE/OPTIONS/Makefile.g++_openmpi_link
  src/MAKE/OPTIONS/Makefile.g++_serial
  src/MAKE/OPTIONS/Makefile.gpu
  src/MAKE/OPTIONS/Makefile.icc_mpich
  src/MAKE/OPTIONS/Makefile.icc_mpich_link
  src/MAKE/OPTIONS/Makefile.icc_openmpi
  src/MAKE/OPTIONS/Makefile.icc_openmpi_link
  src/MAKE/OPTIONS/Makefile.icc_serial
  src/MAKE/OPTIONS/Makefile.jpeg
  src/MAKE/OPTIONS/Makefile.omp
  src/MAKE/OPTIONS/Makefile.opt
  src/MAKE/OPTIONS/Makefile.png
  src/Makefile
  src/Package.sh
Labels: build_system

#2962 A few final updates to the LAMMPS manual
  doc/src/Intro_citing.rst
  doc/src/Run_basics.rst
  doc/utils/requirements.txt
Labels: documentation

#2963 Make sure the one_coeff flag is applied to hybrid sub-styles
  src/pair_hybrid.cpp
  src/pair_hybrid_overlay.cpp
  src/pair_hybrid_scaled.cpp
Labels: bugfix

#2965 Bugfix: prevent neigh list from copying "unique" stencil/bin
  src/neighbor.cpp
Labels: bugfix, neighborlist_feature, ready_for_merge

#2969 bond/react: Nevery keyword bug
  src/REACTION/fix_bond_react.cpp
Labels: user_reaction_package

#2966 Tweaks to CMake build for portability and early detection of build problems
  cmake/Modules/Packages/LATTE.cmake
  cmake/Modules/Packages/ML-HDNNP.cmake
  cmake/Modules/Packages/ML-QUIP.cmake
  cmake/Modules/Packages/MSCG.cmake
  cmake/Modules/Packages/SCAFACOS.cmake
  doc/src/Library_create.rst
  doc/src/group.rst
  src/EXTRA-PAIR/pair_coul_exclude.cpp
  src/compute_angle_local.cpp
  src/neighbor.cpp
  tools/swig/CMakeLists.txt
Labels: cmake

#2957 Step version strings for stable release
  doc/lammps.1
  src/version.h
Labels: maintenance
