Repository lammps/lammps, pull requests merged in 2021-11, with the labels that each got.

#3014 Collected small changes and bugfixes
  SECURITY.md
  cmake/Modules/Packages/ML-QUIP.cmake
  doc/Makefile
  doc/src/Install_git.rst
  doc/src/Intro_citing.rst
  doc/src/kspace_style.rst
  doc/src/pair_meam.rst
  doc/utils/requirements.txt
  src/REAXFF/fix_reaxff_species.cpp
  tools/offline/scripts/use_git_cache.sh
  tools/offline/use_caches.sh
  tools/singularity/README.md
Labels: documentation, bugfix, maintenance, refactor

#3013 Fixed cmake build script for QUIP in cases where MATH_LINKOPTS variab…
  cmake/Modules/Packages/ML-QUIP.cmake
Labels: cmake

#3017 Portability improvements
  doc/src/Developer_platform.rst
  src/platform.cpp
  src/platform.h
  unittest/commands/test_simple_commands.cpp
  unittest/commands/test_variables.cpp
  unittest/cplusplus/test_lammps_class.cpp
  unittest/force-styles/test_error_stats.cpp
  unittest/force-styles/tests/atomic-pair-eim.yaml
  unittest/force-styles/tests/manybody-pair-meam.yaml
  unittest/formats/test_text_file_reader.cpp
  unittest/utils/test_math_eigen_impl.cpp
  unittest/utils/test_platform.cpp
Labels: documentation, maintenance, unittest_feature

#2940 Support multi-config builds with CMake
  cmake/CMakeLists.txt
  cmake/CMakeSettings.json
  cmake/Modules/ExternalCMakeProject.cmake
  cmake/Modules/GTest.cmake
  cmake/Modules/Packages/MSCG.cmake
  cmake/Modules/YAML.cmake
  doc/src/Build_cmake.rst
  doc/src/Build_windows.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/plugins/CMakeLists.txt
  unittest/CMakeLists.txt
  unittest/c-library/CMakeLists.txt
  unittest/commands/CMakeLists.txt
  unittest/cplusplus/CMakeLists.txt
  unittest/force-styles/CMakeLists.libyaml
  unittest/force-styles/CMakeLists.txt
  unittest/formats/CMakeLists.txt
  unittest/fortran/CMakeLists.txt
  unittest/python/CMakeLists.txt
  unittest/utils/CMakeLists.txt
Labels: cmake, ready_for_merge, unittest_feature

#2999 Maintenance fixes for the stable release
  cmake/Modules/Packages/MACHDYN.cmake
  doc/Makefile
  doc/src/Install_git.rst
  doc/src/Intro_citing.rst
  doc/src/dump_modify.rst
  doc/src/kspace_style.rst
  doc/utils/requirements.txt
  lib/gpu/lal_atom.cu
  lib/gpu/lal_atom.h
  lib/gpu/lal_device.cpp
  lib/gpu/lal_zbl.cu
  lib/gpu/lal_zbl.h
  lib/machdyn/Install.py
  lib/qmmm/pwqmmm.c
  src/EXTRA-MOLECULE/angle_gaussian.cpp
  src/EXTRA-MOLECULE/bond_gaussian.cpp
  src/INTERLAYER/pair_drip.cpp
  src/INTERLAYER/pair_ilp_graphene_hbn.cpp
  src/INTERLAYER/pair_kolmogorov_crespi_full.cpp
  src/KOKKOS/bond_class2_kokkos.cpp
  src/KOKKOS/bond_class2_kokkos.h
  src/KOKKOS/compute_orientorder_atom_kokkos.cpp
  src/KOKKOS/modify_kokkos.cpp
  src/KOKKOS/modify_kokkos.h
  src/KOKKOS/npair_kokkos.cpp
  src/KOKKOS/npair_kokkos.h
  src/VTK/dump_vtk.cpp
  src/compute_orientorder_atom.cpp
  src/dump_custom.cpp
  src/fix_vector.cpp
  src/info.cpp
  src/info.h
  src/lammps.cpp
  src/utils.cpp
  src/version.h
  src/write_restart.cpp
  tools/offline/scripts/use_git_cache.sh
  tools/offline/use_caches.sh
  tools/singularity/README.md
  unittest/CMakeLists.txt
  unittest/commands/test_groups.cpp
  unittest/force-styles/test_pair_style.cpp
  unittest/python/python-capabilities.py
Labels: bugfix, maintenance

#3020 Collected small changes and fixes
  cmake/presets/most.cmake
  doc/src/Howto_github.rst
  doc/src/Install_git.rst
  doc/src/Manual_version.rst
  doc/src/dump_modify.rst
  doc/src/pair_granular.rst
  doc/src/pair_lebedeva_z.rst
  doc/utils/sphinx-config/false_positives.txt
  potentials/CC.Lebedeva
  src/DRUDE/compute_temp_drude.cpp
  src/DRUDE/compute_temp_drude.h
  src/EXTRA-COMPUTE/compute_temp_rotate.h
  src/MACHDYN/atom_vec_smd.cpp
  src/MACHDYN/compute_smd_triangle_vertices.cpp
  src/MACHDYN/pair_smd_ulsph.cpp
  src/fix_deposit.cpp
  src/verlet.cpp
  tools/lammps-shell/.clang-format
  tools/lammps-shell/lammps-shell.cpp
  unittest/CMakeLists.txt
  unittest/commands/test_groups.cpp
  unittest/force-styles/tests/manybody-pair-lebedeva_z.yaml
Labels: documentation, bugfix, unittest_feature, interlayer_package

#3027 Fix the indent and ot bugs in reorder_remd_traj.py
  tools/replica/reorder_remd_traj.py
Labels: bugfix, tools

#3032 Add dx, dy and dz computes to compute bond/local and property/local
  doc/src/compute_bond_local.rst
  doc/src/compute_pair_local.rst
  src/compute_bond_local.cpp
  src/compute_pair_local.cpp
Labels: enhancement

#3034 Provide information about pair_coeff mixing and improve hybrid docs
  doc/src/compute_bond_local.rst
  doc/src/compute_pair_local.rst
  doc/src/pair_hybrid.rst
  doc/src/pair_modify.rst
  src/pair.cpp
  src/pair.h
  src/pair_hybrid.cpp
Labels: enhancement, documentation
