Repository lammps/lammps, pull requests merged in 2022-05, with the labels that each got.

#3240 Add support for custom column names and YAML format output to fix ave/time
  doc/src/Howto_structured_data.rst
  doc/src/JPG/thermo_bondeng.png
  doc/src/fix_ave_time.rst
  doc/src/fix_modify.rst
  doc/utils/sphinx-config/false_positives.txt
  src/fix_ave_time.cpp
  src/fix_ave_time.h
  src/thermo.cpp
  unittest/utils/test_utils.cpp
Labels: enhancement, fix_feature

#3243 Implement variable option for delete_atoms
  doc/src/delete_atoms.rst
  src/delete_atoms.cpp
  src/delete_atoms.h
  unittest/commands/CMakeLists.txt
  unittest/commands/test_delete_atoms.cpp
Labels: enhancement

#3246 Implement a aveabs and sumabs reduce command
  doc/src/compute_reduce.rst
  src/compute_reduce.cpp
  src/compute_reduce.h
Labels: enhancement

#3248 Add time option to the "reset_timestep" command and make the "time" property restartable
  doc/src/JPG/third_order_force_constant.png
  doc/src/reset_timestep.rst
  doc/src/third_order.rst
  src/lmprestart.h
  src/output.cpp
  src/pair.cpp
  src/read_restart.cpp
  src/update.cpp
  src/update.h
  src/write_restart.cpp
  unittest/commands/test_simple_commands.cpp
Labels: enhancement

#3245 Step version strings for the next patch release
  doc/lammps.1
  src/version.h
  unittest/commands/test_simple_commands.cpp
Labels: maintenance

#3237 Add support for hipFFT with PPPMKokkos
  cmake/CMakeLists.txt
  cmake/Modules/Packages/KOKKOS.cmake
  doc/src/Build_extras.rst
  src/.gitignore
  src/KOKKOS/fft3d_kokkos.cpp
  src/KOKKOS/fft3d_kokkos.h
  src/KOKKOS/fftdata_kokkos.h
  src/KSPACE/pppm.h
  src/MAKE/MACHINES/Makefile.crusher_kokkos
  src/MAKE/MACHINES/Makefile.spock_kokkos
Labels: enhancement, kokkos_package

#3119 Feature create atoms overlap
  doc/src/create_atoms.rst
  doc/src/img/overlap.png
  doc/utils/sphinx-config/false_positives.txt
  src/create_atoms.cpp
  src/create_atoms.h
Labels: enhancement

#2988 Add optimized version of compute orientorder/atom from Tomas Oppelstr…
  src/KOKKOS/compute_orientorder_atom_kokkos.cpp
  src/KOKKOS/compute_orientorder_atom_kokkos.h
  src/KOKKOS/npair_kokkos.cpp
  src/KOKKOS/npair_kokkos.h
  src/compute_orientorder_atom.cpp
  src/compute_orientorder_atom.h
Labels: enhancement, bugfix, compute_feature

#3255 Add a timer-style variable
  doc/src/Commands_parse.rst
  doc/src/fix_print.rst
  doc/src/print.rst
  doc/src/variable.rst
  src/info.cpp
  src/variable.cpp
  src/variable.h
Labels: enhancement

#3250 Collected small changes and bugfixes
  doc/src/Build_package.rst
  doc/src/Build_windows.rst
  src/.gitignore
  src/ELECTRODE/fix_electrode_thermo.cpp
  src/ELECTRODE/fix_electrode_thermo.h
  src/ELECTRODE/pppm_electrode.h
  src/KOKKOS/comm_kokkos.h
  src/KOKKOS/comm_tiled_kokkos.h
  src/KOKKOS/fftdata_kokkos.h
  src/KOKKOS/rand_pool_wrap_kokkos.h
  src/KSPACE/fft3d.h
  src/KSPACE/pppm.h
  src/KSPACE/pppm_disp.h
  src/KSPACE/remap.h
  src/Makefile
  src/PHONON/fix_phonon.h
  src/Package.sh
  src/dump.cpp
  src/finish.cpp
  src/library.cpp
  src/lmpfftsettings.h
  src/modify.h
  src/output.cpp
Labels: enhancement, bugfix, work_in_progress, maintenance, refactor

#3263 adding so3 descriptor support for compute_mliap
  src/ML-IAP/compute_mliap.cpp
  src/ML-IAP/mliap_descriptor_so3.cpp
  src/ML-IAP/mliap_descriptor_so3.h
Labels: mliap_package

#3264 Add Kokkos version of ML-PACE
  doc/src/Commands_pair.rst
  doc/src/pair_pace.rst
  examples/PACKAGES/pace/in.pace.product
  examples/PACKAGES/pace/in.pace.recursive
  src/Depend.sh
  src/KOKKOS/Install.sh
  src/KOKKOS/kokkos_type.h
  src/KOKKOS/memory_kokkos.h
  src/KOKKOS/pair_pace_kokkos.cpp
  src/KOKKOS/pair_pace_kokkos.h
  src/KOKKOS/pair_snap_kokkos_impl.h
  src/ML-PACE/pair_pace.cpp
  src/ML-PACE/pair_pace.h
Labels: enhancement, kokkos_package, pace_package

#3256 Delete atoms exactly by fraction or count
  doc/src/delete_atoms.rst
  src/delete_atoms.cpp
  src/delete_atoms.h
  unittest/commands/test_delete_atoms.cpp
Labels: refactor

#3268 Update KAPPA example
  examples/KAPPA/README
  examples/KAPPA/in.ehex
  examples/KAPPA/in.heat
  examples/KAPPA/in.heatflux
  examples/KAPPA/in.langevin
  examples/KAPPA/in.mp
  examples/KAPPA/log.13Oct16.ehex.g++.8
  examples/KAPPA/log.13Oct16.heat.g++.8
  examples/KAPPA/log.13Oct16.heatflux.g++.8
  examples/KAPPA/log.13Oct16.langevin.g++.8
  examples/KAPPA/log.13Oct16.mp.g++.8
  examples/KAPPA/log.15May22.ehex.g++.8
  examples/KAPPA/log.15May22.heat.g++.8
  examples/KAPPA/log.15May22.heatflux.g++.8
  examples/KAPPA/log.15May22.langevin.g++.8
  examples/KAPPA/log.15May22.mp.g++.8
  examples/KAPPA/profile.15May22.ehex.g++.8
  examples/KAPPA/profile.15May22.heat.g++.8
  examples/KAPPA/profile.15May22.heatflux.g++.8
  examples/KAPPA/profile.15May22.langevin.g++.8
  examples/KAPPA/profile.15May22.mp.g++.8
  examples/KAPPA/profile.1Feb14.heatflux.g++.8
  examples/KAPPA/profile.1Feb14.langevin.g++.8
  examples/KAPPA/profile.1Feb14.mp.g++.8
Labels: refactor, examples

#3258 Create atoms from STL mesh
  cmake/Modules/Tools.cmake
  doc/src/Tools.rst
  doc/src/create_atoms.rst
  doc/src/dump_image.rst
  doc/src/img/marble_race.jpg
  doc/utils/sphinx-config/false_positives.txt
  examples/README
  examples/mesh/in.marble_race
  examples/mesh/in.mesh_box
  examples/mesh/log.11May22.marble_race.g++.1
  examples/mesh/log.11May22.marble_race.g++.4
  examples/mesh/log.11May22.mesh_box.g++.1
  examples/mesh/log.11May22.mesh_box.g++.4
  examples/mesh/open_box.stl
  examples/mesh/race_track.stl
  src/MACHDYN/fix_smd_wall_surface.cpp
  src/atom.cpp
  src/create_atoms.cpp
  src/create_atoms.h
  tools/Makefile
  tools/README
  tools/stl_bin2txt.cpp
Labels: enhancement

#3269 Update ML-PACE installation to v.2021.10.25.fix version
  cmake/Modules/Packages/ML-PACE.cmake
  lib/pace/Install.py
Labels: maintenance, pace_package

#3267 Added Python wrapper that handles rotations to and from LAMMPS frame
  examples/ELASTIC_T/BORN_MATRIX/Silicon/README
  examples/ELASTIC_T/BORN_MATRIX/Silicon/elastic.py
  examples/ELASTIC_T/BORN_MATRIX/Silicon/elastic_utils.py
  examples/ELASTIC_T/BORN_MATRIX/Silicon/init.in
  examples/ELASTIC_T/BORN_MATRIX/Silicon/log.16May22.ortho.g++.4
  examples/ELASTIC_T/BORN_MATRIX/Silicon/log.16May22.tri.g++.4
  examples/ELASTIC_T/BORN_MATRIX/Silicon/tri.in
Labels: python_module, examples

#3271 Collected small changes and fixes
  cmake/CMakeLists.txt
  cmake/CMakeSettings.json
  cmake/Modules/Packages/INTEL.cmake
  cmake/presets/kokkos-cuda.cmake
  cmake/presets/windows-intel-classic.cmake
  cmake/presets/windows-intel-llvm.cmake
  doc/src/Build_extras.rst
  doc/src/Build_package.rst
  doc/src/Build_windows.rst
  doc/src/Commands_all.rst
  doc/src/min_spin.rst
  doc/src/min_style.rst
  doc/utils/sphinx-config/false_positives.txt
  lib/colvars/colvarcomp_combination.cpp
  python/lammps/formats.py
  src/EXTRA-COMPUTE/compute_born_matrix.cpp
  src/EXTRA-COMPUTE/compute_born_matrix.h
  src/INTEL/pppm_electrode_intel.h
  src/KSPACE/fft3d.cpp
  src/KSPACE/fft3d.h
  src/Makefile.package.empty
  src/dump.cpp
  unittest/CMakeLists.txt
  unittest/force-styles/tests/mol-pair-lj_cut_tip4p_cut.yaml
  unittest/force-styles/tests/mol-pair-tip4p_cut.yaml
  unittest/fortran/CMakeLists.txt
Labels: bugfix, cmake, maintenance

#3272 Command table split into two tables
  doc/src/Commands_all.rst
  doc/src/min_spin.rst
  doc/src/min_style.rst
Labels: documentation

#3273 Initial refactor of view allocation in Kokkos package
  src/KOKKOS/memory_kokkos.h
  src/KOKKOS/pair_pace_kokkos.cpp
  src/KOKKOS/pair_reaxff_kokkos.cpp
  src/KOKKOS/pair_reaxff_kokkos.h
  src/KOKKOS/pair_snap_kokkos.h
  src/KOKKOS/pair_snap_kokkos_impl.h
  src/KOKKOS/sna_kokkos_impl.h
Labels: kokkos_package, refactor

#3276 Fixed TIP4P handling in PPPM slab correction.
  src/KSPACE/pppm_disp.h
  src/KSPACE/pppm_disp_tip4p.cpp
  src/KSPACE/pppm_disp_tip4p.h
  src/KSPACE/pppm_tip4p.cpp
  src/KSPACE/pppm_tip4p.h
  unittest/force-styles/tests/kspace-pppm_tip4p_slab.yaml
Labels: kspace_package, bugfix

#3277 Verbose object-level option for PyLammps
  python/lammps/pylammps.py
Labels: python_module

#3280 Eliminated bad torsion forces for sin(theta) = 0
  src/REAXFF/reaxff_torsion_angles.cpp
Labels: bugfix

#3281 Collected small changes for the next patch release
  .github/workflows/codeql-analysis.yml
  .github/workflows/compile-msvc.yml
  .github/workflows/unittest-macos.yml
  cmake/CMakeLists.txt
  cmake/Modules/Packages/COMPRESS.cmake
  cmake/Modules/generate_lmpgitversion.cmake
  cmake/presets/windows.cmake
  doc/src/Build_settings.rst
  doc/src/Intro_citing.rst
  python/install.py
  src/DIELECTRIC/pppm_dielectric.cpp
  src/DIELECTRIC/pppm_dielectric.h
  src/DIELECTRIC/pppm_disp_dielectric.cpp
  src/DIELECTRIC/pppm_disp_dielectric.h
  src/MANYBODY/pair_bop.cpp
  src/MANYBODY/pair_bop.h
  src/MOLECULE/angle_table.cpp
  src/MOLECULE/bond_table.cpp
  src/MOLECULE/dihedral_table.cpp
  src/pair_table.cpp
  src/platform.cpp
  unittest/force-styles/tests/manybody-pair-bop.yaml
  unittest/force-styles/tests/manybody-pair-bop_save.yaml
  unittest/formats/compressed_dump_test.h
  unittest/formats/test_dump_atom.cpp
  unittest/formats/test_dump_custom.cpp
  unittest/formats/test_text_file_reader.cpp
  unittest/python/python-capabilities.py
Labels: bugfix, cmake, refactor
