Repository lammps/lammps, pull requests merged in 2022-09, with the labels that each got.

#3425 Add coverity workflow
  .github/workflows/coverity.yml
Labels: github

#3422 Collected small changes and fixes
  .github/workflows/compile-msvc.yml
  .github/workflows/unittest-macos.yml
  cmake/Modules/LAMMPSUtils.cmake
  doc/src/Packages_details.rst
  doc/src/compute_property_atom.rst
  doc/src/compute_stress_atom.rst
  doc/src/dump.rst
  doc/src/dump_modify.rst
  doc/src/fix_orient_eco.rst
  doc/src/pair_harmonic_cut.rst
  doc/src/pair_mesocnt.rst
  lib/gpu/lal_pre_cuda_hip.h
  src/ADIOS/dump_custom_adios.cpp
  src/AMOEBA/pair_amoeba.cpp
  src/AMOEBA/pair_amoeba.h
  src/MPIIO/dump_atom_mpiio.cpp
  src/MPIIO/dump_custom_mpiio.cpp
  src/PLUGIN/plugin.cpp
  src/SPIN/fix_nve_spin.cpp
  src/compute_reduce_chunk.cpp
  src/dump.cpp
  src/dump_atom.cpp
  src/dump_custom.cpp
  src/dump_local.cpp
  src/fix_ave_chunk.cpp
  src/fix_ave_time.cpp
  src/fix_box_relax.cpp
  src/fix_spring_chunk.cpp
  src/fmt/format.h
  src/thermo.cpp
  unittest/commands/test_set_property.cpp
  unittest/formats/test_dump_atom.cpp
  unittest/python/python-pizza.py
Labels: documentation, bugfix, maintenance

#3433 Update ML-IAP multi-element PyTorch models
  python/lammps/mliap/pytorch.py
  src/ML-IAP/mliap_model_python.cpp
Labels: mliap_package

#3428 Improve error messages for fix nve commands
  src/fix_nve.cpp
  src/fix_nve_limit.cpp
  src/fix_nve_noforce.cpp
  src/fix_nve_sphere.cpp
Labels: documentation

#3427 Doc fixes (round 3)
  doc/src/accel_styles.rst
  doc/src/compute_property_atom.rst
  doc/src/dump.rst
  doc/src/dump_adios.rst
  doc/src/dump_cfg_uef.rst
  doc/src/dump_image.rst
  doc/src/dump_vtk.rst
  doc/src/fix_accelerate_cos.rst
  doc/src/fix_acks2_reaxff.rst
  doc/src/fix_adapt.rst
  doc/src/fix_adapt_fep.rst
  doc/src/fix_addforce.rst
  doc/src/fix_addtorque.rst
  doc/src/fix_amoeba_bitorsion.rst
  doc/src/fix_amoeba_pitorsion.rst
  doc/src/fix_append_atoms.rst
  doc/src/fix_atc.rst
  doc/src/fix_atom_swap.rst
  doc/src/fix_ave_atom.rst
  doc/src/fix_ave_chunk.rst
  doc/src/fix_ave_correlate.rst
  doc/src/fix_ave_correlate_long.rst
  doc/src/fix_ave_histo.rst
  doc/src/fix_ave_time.rst
  doc/src/fix_aveforce.rst
  doc/src/fix_balance.rst
  doc/utils/sphinx-config/LAMMPSLexer.py
Labels: documentation

#3438 Add force tests for DIELECTRIC package and fix issues exposed by them.
  examples/PACKAGES/dielectric/data.confined
  src/DIELECTRIC/atom_vec_dielectric.cpp
  src/DIELECTRIC/atom_vec_dielectric.h
  src/DIELECTRIC/pair_coul_cut_dielectric.cpp
  src/DIELECTRIC/pair_coul_long_dielectric.cpp
  src/DIELECTRIC/pair_lj_cut_coul_cut_dielectric.cpp
  src/DIELECTRIC/pair_lj_cut_coul_debye_dielectric.cpp
  src/DIELECTRIC/pair_lj_cut_coul_long_dielectric.cpp
  src/DIELECTRIC/pair_lj_cut_coul_msm_dielectric.cpp
  src/DIELECTRIC/pair_lj_long_coul_long_dielectric.cpp
  src/OPENMP/pair_lj_cut_coul_cut_dielectric_omp.cpp
  src/OPENMP/pair_lj_cut_coul_debye_dielectric_omp.cpp
  src/OPENMP/pair_lj_cut_coul_long_dielectric_omp.cpp
  src/OPENMP/thr_omp.cpp
  src/atom_vec.cpp
  src/pair_hybrid.h
  src/read_restart.cpp
  src/utils.cpp
  unittest/force-styles/tests/data.dielectric
  unittest/force-styles/tests/fix-timestep-wall_region_harmonic_const.yaml
  unittest/force-styles/tests/in.dielectric
  unittest/force-styles/tests/kspace-msm_dielectric.yaml
  unittest/force-styles/tests/kspace-pppm_dielectric.yaml
  unittest/force-styles/tests/kspace-pppm_disp_dielectric.yaml
  unittest/force-styles/tests/mol-pair-coul_cut_dielectric.yaml
  unittest/force-styles/tests/mol-pair-coul_long_dielectric.yaml
  unittest/force-styles/tests/mol-pair-coul_table_dielectric.yaml
  unittest/force-styles/tests/mol-pair-lj_cut_coul_cut_dielectric.yaml
  unittest/force-styles/tests/mol-pair-lj_cut_coul_debye_dielectric.yaml
  unittest/force-styles/tests/mol-pair-lj_cut_coul_long_dielectric.yaml
  unittest/force-styles/tests/mol-pair-lj_cut_coul_msm_dielectric.yaml
  unittest/force-styles/tests/mol-pair-lj_cut_coul_table_dielectric.yaml
  unittest/force-styles/tests/mol-pair-lj_long_coul_long_dielectric.yaml
  unittest/formats/test_dump_atom.cpp
Labels: bugfix, unittest_feature, dielectric_package

#3366 MDI support for LAMMPS + LATTE (tight-binding code)
  cmake/Modules/Packages/MDI.cmake
  doc/src/fix_mdi_qm.rst
  doc/src/mdi.rst
  examples/QM/LATTE/2uo2.lmp
  examples/QM/LATTE/3uo2.lmp
  examples/QM/LATTE/4uo2.lmp
  examples/QM/LATTE/README
  examples/QM/LATTE/bondints.table
  examples/QM/LATTE/dump.8Sep22.aimd.mpi.1
  examples/QM/LATTE/dump.8Sep22.aimd.mpi.2
  examples/QM/LATTE/dump.8Sep22.aimd.plugin
  examples/QM/LATTE/dump.8Sep22.series.mpi.1.2uo2
  examples/QM/LATTE/dump.8Sep22.series.mpi.1.3uo2
  examples/QM/LATTE/dump.8Sep22.series.mpi.1.4uo2
  examples/QM/LATTE/dump.8Sep22.series.mpi.2.2uo2
  examples/QM/LATTE/dump.8Sep22.series.mpi.2.3uo2
  examples/QM/LATTE/dump.8Sep22.series.mpi.2.4uo2
  examples/QM/LATTE/dump.8Sep22.series.plugin.2uo2
  examples/QM/LATTE/dump.8Sep22.series.plugin.3uo2
  examples/QM/LATTE/dump.8Sep22.series.plugin.4uo2
  examples/QM/LATTE/electrons.dat
  examples/QM/LATTE/in.aimd
  examples/QM/LATTE/in.aimd.plugin
  examples/QM/LATTE/in.series
  examples/QM/LATTE/in.series.plugin
  examples/QM/LATTE/latte.in
  examples/QM/LATTE/log.8Sep22.aimd.lammps.mpi.1
  examples/QM/LATTE/log.8Sep22.aimd.lammps.mpi.2
  examples/QM/LATTE/log.8Sep22.aimd.lammps.plugin
  examples/QM/LATTE/log.8Sep22.aimd.latte.1
  examples/QM/LATTE/log.8Sep22.aimd.latte.2
  examples/QM/LATTE/log.8Sep22.aimd.latte.plugin
  examples/QM/LATTE/log.8Sep22.series.lammps.mpi.1
  examples/QM/LATTE/log.8Sep22.series.lammps.mpi.2
  examples/QM/LATTE/log.8Sep22.series.lammps.plugin
  examples/QM/LATTE/log.8Sep22.series.latte.1
  examples/QM/LATTE/log.8Sep22.series.latte.2
  examples/QM/LATTE/ppots.dftb
  examples/QM/README
  examples/README
  examples/mdi/README
  lib/mdi/Install.py
  src/MDI/fix_mdi_qm.cpp
  src/MDI/fix_mdi_qm.h
  src/MDI/library_mdi.cpp
  src/MDI/library_mdi.h
  src/MDI/mdi_command.cpp
  src/MDI/mdi_engine.cpp
  src/MDI/mdi_engine.h
  src/MDI/mdi_plugin.cpp
  src/MDI/mdi_plugin.h
Labels: enhancement, user_mdi_package

#3432 Use primary context in CUDA GPU code.
  lib/gpu/geryon/nvd_device.h
  lib/gpu/geryon/nvd_macros.h
Labels: gpu_package

#3440 Enforce dump snapshots on multiples of N steps in a run after minimize
  doc/src/restart.rst
  src/output.cpp
  unittest/formats/test_dump_atom.cpp
Labels: bugfix, dump_feature

#2531 Toward Type Labels
  doc/src/Commands_all.rst
  doc/src/Developer_utils.rst
  doc/src/Errors_messages.rst
  doc/src/Howto.rst
  doc/src/Howto_type_labels.rst
  doc/src/angle_coeff.rst
  doc/src/bond_coeff.rst
  doc/src/commands_list.rst
  doc/src/dihedral_coeff.rst
  doc/src/improper_coeff.rst
  doc/src/labelmap.rst
  doc/src/mass.rst
  doc/src/molecule.rst
  doc/src/pair_coeff.rst
  doc/src/read_data.rst
  doc/src/variable.rst
  doc/src/write_data.rst
  doc/utils/sphinx-config/false_positives.txt
  src/atom.cpp
  src/atom.h
  src/atom_vec.cpp
  src/atom_vec.h
  src/create_box.cpp
  src/input.cpp
  src/input.h
  src/label_map.cpp
  src/label_map.h
  src/lmprestart.h
  src/molecule.cpp
  src/read_data.cpp
  src/read_data.h
  src/read_restart.cpp
  src/utils.cpp
  src/utils.h
  src/variable.cpp
  src/write_data.cpp
  src/write_data.h
  src/write_restart.cpp
  tools/msi2lmp/src/WriteDataFile.c
  unittest/commands/CMakeLists.txt
  unittest/commands/test_labelmap.cpp
  unittest/commands/test_variables.cpp
  unittest/formats/test_molecule_file.cpp
  unittest/utils/test_utils.cpp
Labels: enhancement

#3443 Fix noalias definition so that it compiles with nvc++
  src/lmptype.h
Labels: bugfix, maintenance

#3436 Enable fix gcmc to work with fix latte when deleting atoms/molecules
  doc/src/fix_latte.rst
  doc/src/labelmap.rst
  doc/src/read_data.rst
  doc/src/restart.rst
  examples/latte/in.latte.graphene.boxrelax
  examples/latte/in.latte.multiple
  examples/latte/in.latte.sucrose
  examples/latte/in.latte.sucrose.md
  examples/latte/in.latte.water
  examples/latte/in.latte.water.md
  examples/latte/in.latte.water.min
  examples/latte/log.13Sep22.latte.graphene.boxrelax.g++.1
  examples/latte/log.13Sep22.latte.multiple.g++.1
  examples/latte/log.13Sep22.latte.sucrose.md.g++.1
  examples/latte/log.13Sep22.latte.water.md.g++.1
  examples/latte/log.13Sep22.latte.water.min.g++.1
  examples/latte/log.19Sep17.latte.sucrose.md.g++.1
  examples/latte/log.19Sep17.latte.water.md.g++.1
  examples/latte/log.21Jun18.latte.graphene.boxrelax.g++.1
  examples/latte/log.21Jun18.latte.sucrose.g++.1
  examples/latte/log.21Jun18.latte.water.g++.1
  examples/latte/log.21Jun18.latte.water.min.g++.1
  src/LATTE/fix_latte.cpp
  src/LATTE/fix_latte.h
  src/MC/fix_gcmc.cpp
  src/MC/fix_gcmc.h
Labels: enhancement

#3369 Fix pair plus dump skip
  doc/src/Commands_all.rst
  doc/src/Commands_fix.rst
  doc/src/compute_pair.rst
  doc/src/dump_modify.rst
  doc/src/fix.rst
  doc/src/fix_pair.rst
  doc/src/pair_amoeba.rst
  doc/src/pair_eam.rst
  doc/utils/sphinx-config/false_positives.txt
  src/AMOEBA/pair_amoeba.cpp
  src/AMOEBA/pair_amoeba.h
  src/MANYBODY/pair_eam.cpp
  src/MANYBODY/pair_eam.h
  src/dump.cpp
  src/dump.h
  src/fix_pair.cpp
  src/fix_pair.h
  src/pair.h
Labels: work_in_progress

#3444 Fix bond/swap upgrade with more randomization of bond selection
  doc/src/fix_bond_swap.rst
  src/MC/fix_bond_swap.cpp
  src/MC/fix_bond_swap.h
  src/fix_pair.cpp
Labels: mc_package

#3446 Update versions strings for the next patch release
  doc/lammps.1
  doc/src/Developer_updating.rst
  doc/src/Howto_type_labels.rst
  doc/src/angle_mesocnt.rst
  doc/src/bond_mesocnt.rst
  doc/src/compute_property_atom.rst
  doc/src/labelmap.rst
  doc/src/pair_dpd.rst
  doc/src/pair_dpd_fdt.rst
  doc/src/pair_mesocnt.rst
  doc/src/set.rst
  src/version.h
Labels: maintenance

#3448 Updates to BPM package
  doc/src/Howto_bpm.rst
  doc/src/bond_bpm_rotational.rst
  doc/src/bond_bpm_spring.rst
  doc/src/compute_bond_local.rst
  doc/src/dump_modify.rst
  doc/src/pair_bpm_spring.rst
  examples/bpm/impact/brokenDump
  examples/bpm/impact/log.17Feb2022.impact.rotational.g++.4
  examples/bpm/impact/log.4May2022.impact.rotational.g++.4
  examples/bpm/pour/in.bpm.pour
  examples/bpm/pour/log.17Feb2022.pour.g++.4
  examples/bpm/pour/log.4May2022.pour.g++.4
  src/BPM/bond_bpm.cpp
  src/BPM/bond_bpm.h
  src/BPM/bond_bpm_rotational.cpp
  src/BPM/bond_bpm_rotational.h
  src/BPM/bond_bpm_spring.cpp
  src/BPM/bond_bpm_spring.h
  src/BPM/compute_nbond_atom.cpp
  src/MC/fix_gcmc.h
  src/bond.cpp
  src/bond.h
  src/bond_hybrid.cpp
  src/bond_hybrid.h
  src/compute_bond_local.cpp
  src/compute_bond_local.h
  src/fix_bond_history.cpp
  src/fix_pair.cpp
  src/fix_property_atom.cpp
  src/fix_update_special_bonds.cpp
  src/fix_update_special_bonds.h
  src/neighbor.cpp
  src/neighbor.h
  src/ntopo.cpp
  src/ntopo.h
Labels: bpm_package

#3455 Adjust fix pair to work better with minimization
  src/fix_pair.cpp
  src/fix_pair.h
Labels: enhancement

#3450 Collected small changes and fixes
  cmake/Modules/Packages/MDI.cmake
  doc/src/pair_gayberne.rst
  lib/mdi/Install.py
  src/COLVARS/group_ndx.cpp
  src/EFF/fix_nvt_sllod_eff.cpp
  src/KSPACE/ewald_disp.cpp
  src/MC/fix_charge_regulation.cpp
  src/MC/fix_widom.cpp
  src/MC/fix_widom.h
  src/OPENMP/fix_nvt_sllod_omp.cpp
  src/atom.cpp
  src/fix_nvt_sllod.cpp
  src/neigh_request.cpp
  src/neigh_request.h
  src/neighbor.cpp
  unittest/fortran/CMakeLists.txt
Labels: documentation, cmake, refactor, user_mdi_package

#3454 Fixing typo in pair_gayberne.rst
  doc/src/pair_gayberne.rst
Labels: documentation

#3396 Expanding the Fortran interface
  doc/src/Fortran.rst
  doc/src/Library_create.rst
  doc/src/Library_properties.rst
  doc/utils/sphinx-config/false_positives.txt
  fortran/README
  fortran/lammps.f90
  python/lammps/constants.py
  python/lammps/core.py
  src/library.cpp
  src/library.h
  unittest/c-library/test_library_open.cpp
  unittest/fortran/CMakeLists.txt
  unittest/fortran/test_fortran_box.f90
  unittest/fortran/test_fortran_commands.f90
  unittest/fortran/test_fortran_extract_global.f90
  unittest/fortran/test_fortran_get_thermo.f90
  unittest/fortran/test_fortran_properties.f90
  unittest/fortran/wrap_box.cpp
  unittest/fortran/wrap_extract_global.cpp
  unittest/fortran/wrap_get_thermo.cpp
  unittest/fortran/wrap_properties.cpp
  unittest/python/python-open.py
Labels: fortran_interface

#3461 Correction of some LL features in the SPIN package
  doc/src/Howto_spins.rst
  doc/src/fix_langevin_spin.rst
  doc/src/min_modify.rst
  doc/src/min_spin.rst
  examples/SPIN/test_problems/README
  examples/SPIN/test_problems/run_all.sh
  examples/SPIN/test_problems/validation_langevin_precession_d0.01/langevin.py
  examples/SPIN/test_problems/validation_langevin_precession_d0.01/plot_precession.py
  examples/SPIN/test_problems/validation_langevin_precession_d0.01/run-test-prec.sh
  examples/SPIN/test_problems/validation_langevin_precession_d0.01/test-prec-spin.template
  examples/SPIN/test_problems/validation_langevin_precession_d1.0/langevin.py
  examples/SPIN/test_problems/validation_langevin_precession_d1.0/plot_precession.py
  examples/SPIN/test_problems/validation_langevin_precession_d1.0/run-test-prec.sh
  examples/SPIN/test_problems/validation_langevin_precession_d1.0/test-prec-spin.template
  src/SPIN/compute_spin.cpp
  src/SPIN/compute_spin.h
  src/SPIN/fix_langevin_spin.cpp
  src/compute_property_atom.cpp
Labels: spin_package

#3463 GPU Package - OpenCL Timer Fix and Unnecessary Device Allocation Fix
  lib/gpu/geryon/hip_device.h
  lib/gpu/geryon/nvd_device.h
  lib/gpu/geryon/ocl_device.h
  lib/gpu/geryon/ocl_memory.h
  lib/gpu/geryon/ocl_timer.h
  lib/gpu/geryon/ucl_basemat.h
  lib/gpu/geryon/ucl_h_mat.h
  lib/gpu/geryon/ucl_h_vec.h
  lib/gpu/lal_device.cpp
  lib/gpu/lal_pppm.cpp
Labels: gpu_package, bugfix, gpu_unit_tests

#3462 Add peridynamics howto document
  doc/src/Howto.rst
  doc/src/Howto_peri.rst
  doc/src/JPG/dump.peri.2000.png
  doc/src/JPG/dump.peri.300.png
  doc/src/JPG/dump.peri.600.png
  doc/src/JPG/ovito-peri-snap.png
  doc/src/JPG/pdlammps_fig1.png
  doc/src/JPG/pdlammps_fig2.png
  doc/src/Packages_details.rst
  doc/src/compute_damage_atom.rst
  doc/src/compute_dilatation_atom.rst
  doc/src/pair_peri.rst
  doc/utils/sphinx-config/_static/css/lammps.css
  doc/utils/sphinx-config/false_positives.txt
Labels: documentation

#3465 Packed Clebsch-Gordon look-up tables for SNAP/Kokkos
  src/KOKKOS/pair_snap_kokkos.h
  src/KOKKOS/sna_kokkos.h
  src/KOKKOS/sna_kokkos_impl.h
Labels: enhancement, kokkos_package, snap_package
