Repository lammps/lammps, pull requests merged in 2022-03, with the labels that each got.

#3158 Split buildlists half kernel into "preview" and "finalize" kernels
  src/KOKKOS/fix_acks2_reaxff_kokkos.cpp
  src/KOKKOS/fix_qeq_reaxff_kokkos.cpp
  src/KOKKOS/fix_qeq_reaxff_kokkos.h
  src/KOKKOS/pair_reaxff_kokkos.cpp
  src/KOKKOS/pair_reaxff_kokkos.h
  src/REAXFF/fix_qeq_reaxff.cpp
Labels: enhancement, user_reaxc_package, kokkos_package

#3166 Make it easier to enable tabulation in ReaxFF
  doc/src/pair_reaxff.rst
  src/REAXFF/pair_reaxff.cpp
  unittest/force-styles/tests/atomic-pair-reaxff_tabulate_flag.yaml
Labels: enhancement, user_reaxc_package

#3162 Optimized memory usage for pair style mesocnt
  doc/src/pair_mesocnt.rst
  src/MESONT/pair_mesocnt.cpp
  src/MESONT/pair_mesocnt.h
  src/memory.h
Labels: enhancement, ready_for_merge

#3163 Add unit tests for computes
  unittest/commands/CMakeLists.txt
  unittest/commands/test_compute_global.cpp
Labels: unittest_feature, ppc64le

#3165 Computes for local pressure tensor in Cartesian and spherical coordinates
  doc/src/Commands_compute.rst
  doc/src/compute.rst
  doc/src/compute_pressure_cylinder.rst
  doc/src/compute_stress_cartesian.rst
  doc/src/compute_stress_mop.rst
  doc/utils/check-styles.py
  doc/utils/sphinx-config/false_positives.txt
  examples/PACKAGES/stressprofile/in.cylinder
  examples/PACKAGES/stressprofile/in.flat
  examples/PACKAGES/stressprofile/in.sphere
  examples/PACKAGES/stressprofile/log.6Mar2022.cylinder.g++.1
  examples/PACKAGES/stressprofile/log.6Mar2022.cylinder.g++.4
  examples/PACKAGES/stressprofile/log.6Mar2022.flat.g++.1
  examples/PACKAGES/stressprofile/log.6Mar2022.flat.g++.4
  examples/PACKAGES/stressprofile/log.6Mar2022.sphere.g++.1
  examples/PACKAGES/stressprofile/log.6Mar2022.sphere.g++.4
  src/.gitignore
  src/EXTRA-COMPUTE/compute_pressure_cylinder.cpp
  src/EXTRA-COMPUTE/compute_stress_cartesian.cpp
  src/EXTRA-COMPUTE/compute_stress_cartesian.h
  src/EXTRA-COMPUTE/compute_stress_cylinder.cpp
  src/EXTRA-COMPUTE/compute_stress_cylinder.h
  src/EXTRA-COMPUTE/compute_stress_spherical.cpp
  src/EXTRA-COMPUTE/compute_stress_spherical.h
  src/Purge.list
Labels: compute_feature

#3161 Relaxed the error check on molecule moves in parallel. Molecule excha…
  doc/src/fix_gcmc.rst
  examples/mc/log.03Mar22.gcmc.co2.g++.4
  examples/mc/log.03Mar22.gcmc.h2o.g++.4
  src/MC/fix_gcmc.cpp
  src/MC/fix_gcmc.h
Labels: mc_package

#3164 Collected small changes
  cmake/Modules/Packages/GPU.cmake
  doc/src/Build_settings.rst
  doc/src/Commands_compute.rst
  doc/src/Developer_notes.rst
  doc/src/Developer_org.rst
  doc/src/Developer_utils.rst
  doc/src/Packages_details.rst
  doc/src/compute.rst
  doc/src/compute_momentum.rst
  doc/src/compute_stress_mop.rst
  doc/src/compute_stress_profile.rst
  doc/src/compute_tally.rst
  src/.gitignore
  src/CLASS2/pair_lj_class2.cpp
  src/CLASS2/pair_lj_class2_coul_cut.cpp
  src/CLASS2/pair_lj_class2_coul_long.cpp
  src/DPD-REACT/pair_multi_lucy.cpp
  src/DPD-REACT/pair_multi_lucy_rx.cpp
  src/KOKKOS/pair_multi_lucy_rx_kokkos.cpp
  src/LATTE/fix_latte.cpp
  src/MANYBODY/pair_sw.cpp
  src/MANYBODY/pair_tersoff_table.cpp
  src/MEAM/meam_setup_param.cpp
  src/OPENMP/fix_rigid_nh_omp.cpp
  src/OPENMP/pair_comb_omp.cpp
  src/OPENMP/pair_reaxff_omp.cpp
  src/RIGID/fix_rigid_nh_small.cpp
  src/RIGID/fix_shake.cpp
  src/RIGID/fix_shake.h
  src/thermo.cpp
  unittest/utils/test_platform.cpp
Labels: documentation, bugfix, ready_for_merge

#3173 Inner cutoff switching function for SNAP descriptors and potentials
  doc/src/compute_sna_atom.rst
  doc/src/pair_snap.rst
  doc/utils/sphinx-config/false_positives.txt
  potentials/InP_JCPA2020.mliap
  potentials/InP_JCPA2020.mliap.descriptor
  potentials/InP_JCPA2020.mliap.model
  potentials/InP_JCPA2020.snap
  potentials/InP_JCPA2020.snapcoeff
  potentials/InP_JCPA2020.snapparam
  src/ML-IAP/mliap_descriptor_snap.cpp
  src/ML-IAP/mliap_descriptor_snap.h
  src/ML-IAP/mliap_model_nn.cpp
  src/ML-SNAP/compute_sna_atom.cpp
  src/ML-SNAP/compute_sna_atom.h
  src/ML-SNAP/compute_snad_atom.cpp
  src/ML-SNAP/compute_snad_atom.h
  src/ML-SNAP/compute_snap.cpp
  src/ML-SNAP/compute_snap.h
  src/ML-SNAP/compute_snav_atom.cpp
  src/ML-SNAP/compute_snav_atom.h
  src/ML-SNAP/pair_snap.cpp
  src/ML-SNAP/pair_snap.h
  src/ML-SNAP/sna.cpp
  src/ML-SNAP/sna.h
Labels: snap_package

#3170 Automatically load LAMMPS plugins if they are in folders listed in LAMMPS_PLUGIN_PATH environment variable
  doc/src/Developer_plugins.rst
  doc/src/Packages_details.rst
  doc/src/plugin.rst
  doc/utils/sphinx-config/false_positives.txt
  src/PLUGIN/plugin.cpp
  src/PLUGIN/plugin.h
  src/lammps.cpp
Labels: plugin

#3174 Collected small changes
  doc/src/fix_gcmc.rst
  doc/src/fix_polarize.rst
  src/EXTRA-COMPUTE/compute_stress_cartesian.cpp
  src/EXTRA-COMPUTE/compute_stress_spherical.cpp
  src/EXTRA-PAIR/pair_lj_cubic.cpp
  src/compute.cpp
  src/compute_centroid_stress_atom.cpp
  src/compute_chunk_spread_atom.cpp
  src/compute_displace_atom.cpp
  src/compute_global_atom.cpp
  src/compute_msd.cpp
  src/compute_msd_chunk.cpp
  src/compute_pressure.cpp
  src/compute_reduce.cpp
  src/compute_reduce_chunk.cpp
  src/compute_reduce_region.cpp
  src/compute_slice.cpp
  src/compute_stress_atom.cpp
  src/compute_temp_deform.cpp
  src/compute_vacf.cpp
  src/input.cpp
  src/irregular.cpp
  src/library.cpp
  src/write_coeff.cpp
  tools/coding_standard/whitespace.py
  tools/python/README
  tools/python/log2txt.py
  tools/python/pizza/dump.py
  tools/python/pizza/gnu.py
  tools/python/pizza/log.py
Labels: documentation, maintenance, refactor

#3169 Reduce memory use in Kokkos package
  src/KOKKOS/fix_acks2_reaxff_kokkos.cpp
  src/KOKKOS/fix_qeq_reaxff_kokkos.cpp
  src/KOKKOS/neigh_list_kokkos.cpp
  src/KOKKOS/npair_kokkos.cpp
  src/KOKKOS/pair_reaxff_kokkos.cpp
  src/KOKKOS/pair_reaxff_kokkos.h
Labels: enhancement, kokkos_package

#3179 Refactoring of Thermo class and new thermo style yaml
  doc/src/Howto_structured_data.rst
  doc/src/Modify_thermo.rst
  doc/src/Modify_variable.rst
  doc/src/Python_install.rst
  doc/src/fix_lb_fluid.rst
  doc/src/thermo.rst
  doc/src/thermo_modify.rst
  doc/src/thermo_style.rst
  src/EXTRA-MOLECULE/bond_fene_nm.cpp
  src/KOKKOS/pair_dpd_fdt_energy_kokkos.cpp
  src/NETCDF/dump_netcdf.cpp
  src/NETCDF/dump_netcdf_mpiio.cpp
  src/Purge.list
  src/finish.cpp
  src/fix_nh.cpp
  src/library.cpp
  src/output.cpp
  src/thermo.cpp
  src/thermo.h
Labels: documentation, refactor

#3181 Damping fixes for finite-size particles simulations
  doc/src/Commands_fix.rst
  doc/src/fix.rst
  doc/src/fix_damping_cundall.rst
  doc/src/fix_viscous.rst
  doc/src/fix_viscous_sphere.rst
  doc/utils/sphinx-config/false_positives.txt
  src/EXTRA-FIX/fix_viscous_sphere.cpp
  src/EXTRA-FIX/fix_viscous_sphere.h
  src/GRANULAR/fix_damping_cundall.cpp
  src/GRANULAR/fix_damping_cundall.h
Labels: granular_package

#3188 support kspace style plugin
  doc/src/Developer_plugins.rst
  doc/src/plugin.rst
  src/PLUGIN/plugin.cpp
Labels: enhancement, plugin

#3189 remove defunct LBtype argument from lb/fluid doc
  doc/src/fix_lb_fluid.rst
Labels: documentation

#3187 Optimize Kokkos neigh list for GPUs
  doc/src/package.rst
  src/KOKKOS/Install.sh
  src/KOKKOS/kokkos.cpp
  src/KOKKOS/kokkos.h
  src/KOKKOS/kokkos_type.h
  src/KOKKOS/neigh_list_kokkos.cpp
  src/KOKKOS/neigh_list_kokkos.h
  src/KOKKOS/npair_kokkos.cpp
  src/KOKKOS/npair_kokkos.h
  src/KOKKOS/transpose_helper_kokkos.h
Labels: enhancement, bugfix, kokkos_package, neighborlist_feature

#3191 Collected small changes and fixes
  cmake/CMakeLists.txt
  cmake/Modules/Packages/ML-HDNNP.cmake
  doc/src/Build_windows.rst
  doc/src/Developer_plugins.rst
  doc/src/Developer_utils.rst
  doc/src/Errors_bugs.rst
  doc/src/Install_tarball.rst
  doc/src/Intro_citing.rst
  doc/src/Intro_website.rst
  doc/src/Manual.rst
  doc/src/Modify_contribute.rst
  doc/src/dump_adios.rst
  doc/src/group.rst
  doc/src/pair_meam.rst
  doc/src/plugin.rst
  doc/src/variable.rst
  src/ADIOS/adios_common.h
  src/ADIOS/dump_atom_adios.cpp
  src/ADIOS/dump_custom_adios.cpp
  src/ADIOS/reader_adios.cpp
  src/ADIOS/reader_adios.h
  src/COMPRESS/dump_atom_gz.cpp
  src/COMPRESS/dump_atom_zstd.cpp
  src/COMPRESS/dump_cfg_gz.cpp
  src/COMPRESS/dump_cfg_zstd.cpp
  src/COMPRESS/dump_custom_gz.cpp
  src/COMPRESS/dump_custom_zstd.cpp
  src/COMPRESS/dump_local_gz.cpp
  src/COMPRESS/dump_local_zstd.cpp
  src/COMPRESS/dump_xyz_gz.cpp
  src/COMPRESS/dump_xyz_zstd.cpp
  src/EXTRA-FIX/fix_viscous_sphere.cpp
  src/FEP/compute_fep.cpp
  src/GRANULAR/fix_damping_cundall.cpp
  src/KIM/pair_kim.cpp
  src/MOLFILE/dump_molfile.cpp
  src/MPIIO/dump_atom_mpiio.cpp
  src/MPIIO/dump_cfg_mpiio.cpp
  src/MPIIO/dump_custom_mpiio.cpp
  src/MPIIO/dump_xyz_mpiio.cpp
  src/NETCDF/dump_netcdf.cpp
  src/NETCDF/dump_netcdf_mpiio.cpp
  src/PLUGIN/plugin.cpp
  src/REAXFF/fix_reaxff_species.cpp
  src/VTK/dump_vtk.cpp
  src/dump.cpp
  src/utils.cpp
  src/utils.h
  src/variable.cpp
  unittest/commands/test_variables.cpp
  unittest/utils/test_utils.cpp
Labels: enhancement, bugfix, refactor
