Repository lammps/lammps, pull requests merged in 2022-10, with the labels that each got.

#3473 Added quartic function for explicit pair interaction in pair_style list.
  doc/src/pair_list.rst
  src/MISC/pair_list.cpp
  src/MISC/pair_list.h
  unittest/force-styles/CMakeLists.txt
  unittest/force-styles/test_pair_list.cpp
Labels: enhancement, refactor

#3471 Optional full neighbor list with pair zero
  cmake/CMakeLists.txt
  cmake/Modules/Packages/MDI.cmake
  doc/src/Python_neighbor.rst
  doc/src/pair_zero.rst
  src/fix_ave_time.cpp
  src/pair_zero.cpp
  src/pair_zero.h
  unittest/force-styles/test_pair_list.cpp
  unittest/python/python-commands.py
  unittest/python/python-numpy.py
Labels: enhancement

#3470 Further extending the Fortran interface
  doc/src/Build_manual.rst
  doc/src/Fortran.rst
  doc/src/Library_objects.rst
  doc/src/Library_properties.rst
  doc/src/Run_basics.rst
  doc/src/Run_options.rst
  doc/src/Speed_gpu.rst
  doc/src/Speed_kokkos.rst
  doc/src/Speed_omp.rst
  doc/utils/sphinx-config/false_positives.txt
  fortran/README
  fortran/lammps.f90
  python/examples/mc.py
  python/examples/pizza/gl.py
  python/examples/pizza/vizinfo.py
  python/examples/pizza/vmd.py
  python/examples/pylammps/elastic/README
  python/examples/split.py
  python/examples/viz_gl.py
  python/examples/viz_pymol.py
  python/lammps/constants.py
  python/lammps/core.py
  src/library.cpp
  src/library.h
  tools/coding_standard/whitespace.py
  tools/swig/lammps.i
  unittest/c-library/test_library_properties.cpp
  unittest/fortran/CMakeLists.txt
  unittest/fortran/atomdata.txt
  unittest/fortran/greetings.txt
  unittest/fortran/keepstuff.f90
  unittest/fortran/test_fortran_box.f90
  unittest/fortran/test_fortran_extract_atom.f90
  unittest/fortran/test_fortran_extract_compute.f90
  unittest/fortran/test_fortran_extract_fix.f90
  unittest/fortran/test_fortran_extract_global.f90
  unittest/fortran/test_fortran_extract_variable.f90
  unittest/fortran/test_fortran_gather_scatter.f90
  unittest/fortran/test_fortran_get_thermo.f90
  unittest/fortran/test_fortran_properties.f90
  unittest/fortran/wrap_box.cpp
  unittest/fortran/wrap_extract_atom.cpp
  unittest/fortran/wrap_extract_compute.cpp
  unittest/fortran/wrap_extract_fix.cpp
  unittest/fortran/wrap_extract_global.cpp
  unittest/fortran/wrap_extract_variable.cpp
  unittest/fortran/wrap_gather_scatter.cpp
  unittest/fortran/wrap_properties.cpp
  unittest/tools/test_lammps_shell.py
  unittest/utils/testshared.c
Labels: python_module, library_interface, fortran_interface

#3456 Update "make install" for CMake to use pip for building/installing the LAMMPS python module
  cmake/CMakeLists.txt
  python/pyproject.toml
Labels: bugfix, cmake

#3479 BUGFIX: address issue with compilation KOKKOS + pace/extrapolation
  cmake/Modules/Packages/ML-PACE.cmake
  lib/pace/Install.py
Labels: pace_package

#3477 Fix issues
  src/KOKKOS/fix_reaxff_species_kokkos.cpp
  src/KOKKOS/npair_copy_kokkos.cpp
  src/KOKKOS/pair_meam_kokkos.cpp
  src/KOKKOS/pair_meam_kokkos.h
  src/REAXFF/fix_reaxff_species.cpp
  src/REAXFF/fix_reaxff_species.h
  src/input.cpp
Labels: bugfix, kokkos_package

#3480 Documentation updates for DIELECTRIC package
  doc/src/atom_style.rst
  doc/src/fix_polarize.rst
  doc/src/pair_dielectric.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/PACKAGES/dielectric/README
  examples/PACKAGES/dielectric/in.confined
  src/DIELECTRIC/fix_polarize_bem_gmres.cpp
  src/DIELECTRIC/fix_polarize_bem_icc.cpp
Labels: dielectric_package

#3482 Fix issue with KSpace slab correction energy with non-neutral systems
  src/DIELECTRIC/pppm_dielectric.cpp
  src/DIELECTRIC/pppm_disp_dielectric.cpp
  src/ELECTRODE/boundary_correction.h
  src/ELECTRODE/ewald_electrode.cpp
  src/ELECTRODE/pppm_electrode.cpp
  src/ELECTRODE/slab_2d.cpp
  src/ELECTRODE/slab_2d.h
  src/ELECTRODE/slab_dipole.cpp
  src/ELECTRODE/slab_dipole.h
  src/ELECTRODE/wire_dipole.cpp
  src/ELECTRODE/wire_dipole.h
  src/INTEL/pppm_electrode_intel.cpp
  src/KOKKOS/pppm_kokkos.cpp
  src/KSPACE/ewald.cpp
  src/KSPACE/ewald_disp.cpp
  src/KSPACE/pppm.cpp
  src/KSPACE/pppm_cg.cpp
  src/KSPACE/pppm_disp.cpp
  src/KSPACE/pppm_disp_tip4p.cpp
  src/KSPACE/pppm_tip4p.cpp
Labels: kspace_package, bugfix

#3490 ML-PACE: upd/refactor includes
  cmake/Modules/Packages/ML-PACE.cmake
  lib/pace/Install.py
  lib/pace/Makefile
  lib/pace/Makefile.lammps
  src/KOKKOS/pair_pace_kokkos.cpp
  src/KOKKOS/pair_pace_kokkos.h
  src/ML-PACE/pair_pace.cpp
  src/ML-PACE/pair_pace_extrapolation.cpp
Labels: pace_package

#3489 Doc fixes (round 4)
  doc/src/bond_coeff.rst
  doc/src/compute_displace_atom.rst
  doc/src/compute_rigid_local.rst
  doc/src/compute_voronoi_atom.rst
  doc/src/create_atoms.rst
  doc/src/delete_bonds.rst
  doc/src/fix_ave_chunk.rst
  doc/src/fix_ave_histo.rst
  doc/src/fix_ave_time.rst
  doc/src/fix_bocs.rst
  doc/src/fix_bond_break.rst
  doc/src/fix_bond_create.rst
  doc/src/fix_bond_react.rst
  doc/src/fix_brownian.rst
  doc/src/fix_colvars.rst
  doc/src/fix_deposit.rst
  doc/src/fix_imd.rst
  doc/src/fix_langevin.rst
  doc/src/fix_lb_fluid.rst
  doc/src/fix_modify.rst
  doc/src/fix_npt_cauchy.rst
  doc/src/fix_pour.rst
  doc/src/fix_rigid.rst
  doc/src/fix_viscosity.rst
  doc/src/fix_wall.rst
  doc/src/fix_wall_piston.rst
  doc/src/kspace_modify.rst
  doc/src/mdi.rst
  doc/src/pair_granular.rst
  doc/src/pair_pace.rst
  doc/src/prd.rst
  doc/src/processors.rst
  doc/src/tad.rst
  doc/src/velocity.rst
  doc/utils/sphinx-config/LAMMPSLexer.py
  doc/utils/sphinx-config/conf.py.in
Labels: documentation

#3498 Update pair_threebody_table.cpp
  src/MANYBODY/pair_threebody_table.cpp
Labels: bugfix

#3497 Bond/react: create atoms error check
  doc/src/fix_bond_react.rst
  src/REACTION/fix_bond_react.cpp
Labels: bugfix, user_reaction_package, refactor

#3491 New pair style ylz
  doc/src/Commands_pair.rst
  doc/src/Packages_details.rst
  doc/src/pair_style.rst
  doc/src/pair_ylz.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/ASPHERE/README
  examples/ASPHERE/flat_membrane/in.flat_membrane
  examples/ASPHERE/flat_membrane/log.18Oct22.flat_membrane.g++.1
  examples/ASPHERE/flat_membrane/log.18Oct22.flat_membrane.g++.4
  examples/ASPHERE/vesicle/in.vesicle
  examples/ASPHERE/vesicle/log.18Oct22.vesicle.g++.1
  examples/ASPHERE/vesicle/log.18Oct22.vesicle.g++.4
  examples/ASPHERE/vesicle/read_data.vesicle1026
  src/.gitignore
  src/ASPHERE/pair_ylz.cpp
  src/ASPHERE/pair_ylz.h
  src/math_const.h
Labels: enhancement

#3500 Modernize OpenMP detection and checks in CMake
  cmake/CMakeLists.txt
  cmake/Modules/LAMMPSUtils.cmake
  cmake/Modules/Packages/KOKKOS.cmake
  cmake/presets/clang.cmake
  cmake/presets/gcc.cmake
  cmake/presets/nvhpc.cmake
  cmake/presets/pedantic.cmake
  cmake/presets/pgi.cmake
  unittest/force-styles/CMakeLists.txt
Labels: kokkos_package, cmake

#3475 Refactor computes and fixes to use array of structs instead of many index arrays
  src/EXTRA-FIX/fix_ave_correlate_long.cpp
  src/EXTRA-FIX/fix_ave_correlate_long.h
  src/compute_chunk_spread_atom.cpp
  src/compute_global_atom.cpp
  src/compute_global_atom.h
  src/compute_reduce.cpp
  src/compute_reduce.h
  src/compute_reduce_chunk.cpp
  src/compute_reduce_chunk.h
  src/compute_reduce_region.cpp
  src/compute_slice.cpp
  src/compute_slice.h
  src/fix_ave_atom.cpp
  src/fix_ave_atom.h
  src/fix_ave_chunk.cpp
  src/fix_ave_chunk.h
  src/fix_ave_correlate.cpp
  src/fix_ave_correlate.h
  src/fix_ave_histo.cpp
  src/fix_ave_histo.h
  src/fix_ave_histo_weight.cpp
  src/fix_ave_time.cpp
  src/fix_store_state.cpp
  src/fix_store_state.h
  unittest/commands/test_compute_chunk.cpp
Labels: test_for_regression, unittest_feature, refactor

#3502 Collected small changes and fixes
  doc/src/Build_extras.rst
  doc/src/Howto_tip4p.rst
  lib/electrode/Makefile.serial
  src/ASPHERE/pair_ylz.cpp
  src/KOKKOS/comm_tiled_kokkos.cpp
  src/KOKKOS/kokkos.cpp
  src/KSPACE/msm.cpp
  src/KSPACE/pppm_dipole.cpp
  src/KSPACE/pppm_dipole_spin.cpp
  src/KSPACE/pppm_disp.cpp
  src/LATBOLTZ/fix_lb_fluid.cpp
  src/MDI/mdi_engine.cpp
  src/REACTION/fix_bond_react.cpp
  src/REPLICA/verlet_split.cpp
  src/SRD/fix_srd.cpp
  src/balance.cpp
  src/comm.h
  src/comm_brick.cpp
  src/comm_tiled.cpp
  src/fix_ave_chunk.cpp
  src/fix_balance.cpp
  src/input.cpp
  src/platform.cpp
Labels: documentation, bugfix, communication_feature, maintenance

#3501 BUGFIX: fix pair and empty spatial domains
  doc/src/pair_pace.rst
  src/fix_pair.cpp
Labels: bugfix
