Repository lammps/lammps, pull requests merged in 2022-12, with the labels that each got.

#3552 Fix bug in Kokkos minimize on GPUs
  src/KOKKOS/min_linesearch_kokkos.cpp
Labels: bugfix, kokkos_package, minimizer_feature

#3517 Provide more and updated details about implementing new styles in LAMMPS
  doc/src/Modify_bond.rst
  doc/src/Modify_pair.rst
  doc/utils/sphinx-config/false_positives.txt
Labels: documentation

#3555 Refactor Kokkos `AtomVec`
  src/AMOEBA/atom_vec_amoeba.h
  src/ASPHERE/pair_ylz.cpp
  src/AWPMD/atom_vec_wavepacket.h
  src/BPM/atom_vec_bpm_sphere.h
  src/CG-DNA/atom_vec_oxdna.h
  src/DIELECTRIC/atom_vec_dielectric.h
  src/DIPOLE/atom_vec_dipole.h
  src/DPD-MESO/atom_vec_edpd.h
  src/DPD-MESO/atom_vec_mdpd.h
  src/DPD-MESO/atom_vec_tdpd.h
  src/DPD-REACT/atom_vec_dpd.h
  src/EFF/atom_vec_electron.h
  src/KOKKOS/Install.sh
  src/KOKKOS/atom_kokkos.cpp
  src/KOKKOS/atom_kokkos.h
  src/KOKKOS/atom_vec_angle_kokkos.cpp
  src/KOKKOS/atom_vec_angle_kokkos.h
  src/KOKKOS/atom_vec_atomic_kokkos.cpp
  src/KOKKOS/atom_vec_atomic_kokkos.h
  src/KOKKOS/atom_vec_bond_kokkos.cpp
  src/KOKKOS/atom_vec_bond_kokkos.h
  src/KOKKOS/atom_vec_charge_kokkos.cpp
  src/KOKKOS/atom_vec_charge_kokkos.h
  src/KOKKOS/atom_vec_dpd_kokkos.cpp
  src/KOKKOS/atom_vec_dpd_kokkos.h
  src/KOKKOS/atom_vec_full_kokkos.cpp
  src/KOKKOS/atom_vec_full_kokkos.h
  src/KOKKOS/atom_vec_hybrid_kokkos.cpp
  src/KOKKOS/atom_vec_hybrid_kokkos.h
  src/KOKKOS/atom_vec_kokkos.cpp
  src/KOKKOS/atom_vec_kokkos.h
  src/KOKKOS/atom_vec_molecular_kokkos.cpp
  src/KOKKOS/atom_vec_molecular_kokkos.h
  src/KOKKOS/atom_vec_sphere_kokkos.cpp
  src/KOKKOS/atom_vec_sphere_kokkos.h
  src/KOKKOS/atom_vec_spin_kokkos.cpp
  src/KOKKOS/atom_vec_spin_kokkos.h
  src/KOKKOS/comm_kokkos.cpp
  src/MACHDYN/atom_vec_smd.h
  src/MESONT/atom_vec_mesont.h
  src/MOLECULE/atom_vec_angle.h
  src/MOLECULE/atom_vec_bond.h
  src/MOLECULE/atom_vec_full.h
  src/MOLECULE/atom_vec_molecular.h
  src/MOLECULE/atom_vec_template.h
  src/PERI/atom_vec_peri.h
  src/SPH/atom_vec_sph.h
  src/SPIN/atom_vec_spin.h
  src/atom_vec.h
  src/atom_vec_atomic.h
  src/atom_vec_charge.h
  src/atom_vec_hybrid.h
  src/atom_vec_sphere.h
  unittest/formats/test_atom_styles.cpp
Labels: enhancement, kokkos_package

#3556 Add streamlined version of fix sgcmc from USER-VCSGC package
  .github/CODEOWNERS
  cmake/CMakeLists.txt
  cmake/Modules/Packages/MC.cmake
  doc/src/Commands_fix.rst
  doc/src/Packages_details.rst
  doc/src/fix.rst
  doc/src/fix_sgcmc.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/mc/FeCu.pasianot.eamfs
  examples/mc/in.sgcmc.eam
  examples/mc/log.13Dec22.sgcmc.eam.g++.1
  examples/mc/log.13Dec22.sgcmc.eam.g++.4
  src/.gitignore
  src/MC/Install.sh
  src/MC/fix_sgcmc.cpp
  src/MC/fix_sgcmc.h
Labels: enhancement, mc_package

#3558 Small patch to BPM package
  doc/src/bond_bpm_rotational.rst
  src/fix_bond_history.cpp
  src/fix_update_special_bonds.cpp
  src/fix_update_special_bonds.h
Labels: bpm_package

#3538 Remove suffix from style names when writing restart files
  doc/src/Developer_utils.rst
  src/KOKKOS/atom_vec_kokkos.cpp
  src/KOKKOS/atom_vec_kokkos.h
  src/KOKKOS/fix_shake_kokkos.cpp
  src/modify.cpp
  src/read_restart.cpp
  src/utils.cpp
  src/utils.h
  src/write_restart.cpp
  src/write_restart.h
  unittest/commands/test_simple_commands.cpp
Labels: enhancement, restart_feature

#3559 Add python scripts in tools folder to generate table files for different table force styles
  doc/src/Tools.rst
  doc/src/angle_table.rst
  doc/src/bond_table.rst
  doc/src/dihedral_table.rst
  doc/src/pair_table.rst
  tools/README
  tools/tabulate/README.md
  tools/tabulate/angle_harmonic_tabulate.py
  tools/tabulate/bond_morse_tabulate.py
  tools/tabulate/dihedral_harmonic_tabulate.py
  tools/tabulate/pair_hybrid_tabulate.py
  tools/tabulate/pair_lj_tabulate.py
  tools/tabulate/tabulate.py
Labels: tools

#3522 KOKKOS version of fix viscous and fix dt/reset
  doc/src/Commands_fix.rst
  doc/src/fix_dt_reset.rst
  doc/src/fix_viscous.rst
  src/KOKKOS/Install.sh
  src/KOKKOS/fix_dt_reset_kokkos.cpp
  src/KOKKOS/fix_dt_reset_kokkos.h
  src/KOKKOS/fix_viscous_kokkos.cpp
  src/KOKKOS/fix_viscous_kokkos.h
  src/fix_dt_reset.h
  src/fix_viscous.cpp
Labels: enhancement, kokkos_package

#3562 Collection of small fixes to INTEL package
  src/INTEL/dihedral_charmm_intel.h
  src/INTEL/intel_preprocess.h
  src/INTEL/pair_airebo_intel.cpp
  src/INTEL/pair_buck_coul_cut_intel.cpp
  src/INTEL/pair_buck_coul_long_intel.cpp
  src/INTEL/pair_buck_intel.cpp
  src/INTEL/pair_lj_charmm_coul_long_intel.cpp
  src/INTEL/pair_lj_cut_coul_long_intel.cpp
  src/INTEL/pair_sw_intel.cpp
Labels: enhancement, user_intel_package

#3547 Completing the Fortran interface
  doc/src/Fortran.rst
  doc/src/Library_utility.rst
  fortran/lammps.f90
  src/library.cpp
  src/library.h
  unittest/fortran/CMakeLists.txt
  unittest/fortran/test_fortran_fixexternal.f90
  unittest/fortran/test_fortran_gather_scatter.f90
  unittest/fortran/wrap_fixexternal.cpp
  unittest/fortran/wrap_gather_scatter.cpp
Labels: library_interface, fortran_interface

#3566 Final collection of small changes for next patch release
  cmake/CMakeLists.txt
  doc/src/Commands_dump.rst
  doc/src/Developer_updating.rst
  doc/src/Howto_grid.rst
  doc/src/fix_atom_swap.rst
  src/.gitignore
  src/KSPACE/pppm_disp.cpp
  src/Purge.list
  src/dump_grid.cpp
  src/fix_ave_grid.cpp
  src/grid2d.cpp
  src/grid3d.cpp
  src/region_ellipsoid.cpp
  unittest/fortran/CMakeLists.txt
Labels: bugfix, maintenance, refactor

#3567 Set version strings for next patch release
  doc/lammps.1
  doc/src/Commands_removed.rst
  doc/src/Developer_grid.rst
  doc/src/Fortran.rst
  doc/src/Howto_grid.rst
  doc/src/Packages_details.rst
  doc/src/Tools.rst
  doc/src/dump.rst
  doc/src/fitpod_command.rst
  doc/src/fix_bond_react.rst
  doc/src/fix_electrode.rst
  doc/src/fix_sgcmc.rst
  doc/src/pair_pod.rst
  doc/src/python.rst
  doc/src/reset_atoms.rst
  src/version.h
Labels: maintenance

#3561 Fix bug when atoms are added after run
  src/create_atoms.cpp
  src/read_data.cpp
Labels: bugfix

#3570 OVITO info for dump doc page
  doc/src/dump.rst
Labels: documentation

#3581 Use correct RST heading syntax
  doc/src/fix_sgcmc.rst
Labels: documentation
