Repository lammps/lammps, pull requests merged in 2022-06, with the labels that each got.

#3284 Port changes in #3280 to Kokkos
  src/KOKKOS/pair_reaxff_kokkos.cpp
  src/REAXFF/reaxff_defs.h
  src/REAXFF/reaxff_torsion_angles.cpp
Labels: user_reaxc_package, bugfix, kokkos_package

#3285 Apply clang-tidy and clang-format to update/modernize/simplify recently modified code
  src/COLVARS/colvarproxy_lammps.cpp
  src/COLVARS/fix_colvars.cpp
  src/COLVARS/ndx_group.cpp
  src/ELECTRODE/ewald_electrode.cpp
  src/ELECTRODE/pppm_electrode.cpp
  unittest/c-library/test_library_commands.cpp
  unittest/force-styles/test_angle_style.cpp
  unittest/force-styles/test_bond_style.cpp
  unittest/force-styles/test_config.h
  unittest/force-styles/test_config_reader.cpp
  unittest/force-styles/test_config_reader.h
  unittest/force-styles/test_dihedral_style.cpp
  unittest/force-styles/test_fix_timestep.cpp
  unittest/force-styles/test_improper_style.cpp
  unittest/force-styles/test_pair_style.cpp
  unittest/force-styles/yaml_writer.h
  unittest/formats/test_dump_atom.cpp
  unittest/formats/test_dump_cfg.cpp
  unittest/formats/test_dump_custom.cpp
  unittest/formats/test_dump_local.cpp
  unittest/formats/test_file_operations.cpp
  unittest/python/test_python_package.cpp
Labels: maintenance

#3279 Addition of two new MANYBODY pair styles (sw/angle/table and threebody/table)
  doc/src/Commands_pair.rst
  doc/src/pair_style.rst
  doc/src/pair_sw_angle_table.rst
  doc/src/pair_threebody_table.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/PACKAGES/manybody_table/1-1-1.table
  examples/PACKAGES/manybody_table/1-1-2.table
  examples/PACKAGES/manybody_table/README
  examples/PACKAGES/manybody_table/data.spce
  examples/PACKAGES/manybody_table/data.spce2
  examples/PACKAGES/manybody_table/in.spce
  examples/PACKAGES/manybody_table/in.spce2
  examples/PACKAGES/manybody_table/in.spce_sw
  examples/PACKAGES/manybody_table/log.1Jun22.spce.g++.1
  examples/PACKAGES/manybody_table/log.1Jun22.spce.g++.4
  examples/PACKAGES/manybody_table/log.1Jun22.spce2.g++.1
  examples/PACKAGES/manybody_table/log.1Jun22.spce2.g++.4
  examples/PACKAGES/manybody_table/log.1Jun22.spce_sw.g++.1
  examples/PACKAGES/manybody_table/log.1Jun22.spce_sw.g++.4
  examples/PACKAGES/manybody_table/spce.3b
  examples/PACKAGES/manybody_table/spce.sw
  examples/PACKAGES/manybody_table/spce2.3b
  examples/PACKAGES/manybody_table/table_CG_CG.txt
  examples/PACKAGES/manybody_table/table_CG_CG_CG.txt
  src/.gitignore
  src/MANYBODY/pair_sw.h
  src/MANYBODY/pair_sw_angle_table.cpp
  src/MANYBODY/pair_sw_angle_table.h
  src/MANYBODY/pair_threebody_table.cpp
  src/MANYBODY/pair_threebody_table.h
  unittest/force-styles/tests/1-1-1.table
  unittest/force-styles/tests/1-1-2.table
  unittest/force-styles/tests/atomic-pair-sw_angle_table.yaml
  unittest/force-styles/tests/atomic-pair-threebody_table.yaml
  unittest/force-styles/tests/spce.sw
  unittest/force-styles/tests/spce2.3b
  unittest/force-styles/tests/table_CG_CG.txt
  unittest/force-styles/tests/table_CG_CG_CG.txt
Labels: enhancement, manybody_package

#3288 Clean stress cartesian
  src/EXTRA-COMPUTE/compute_stress_cartesian.cpp
  src/EXTRA-COMPUTE/compute_stress_cartesian.h
Labels: bugfix

#3278 Feature/ml pace multispecies
  cmake/Modules/LAMMPSUtils.cmake
  cmake/Modules/Packages/ML-PACE.cmake
  examples/PACKAGES/pace/in.pace.product
  examples/PACKAGES/pace/in.pace.recursive
  lib/pace/Install.py
  src/ML-PACE/pair_pace.cpp
Labels: bugfix, pace_package

#3289 A few last minutes updates and fixes for the next patch release
  cmake/Modules/Packages/ML-QUIP.cmake
  doc/utils/sphinx-config/false_positives.txt
  src/atom_vec.cpp
  unittest/force-styles/tests/fix-timestep-oneway.yaml
  unittest/force-styles/tests/mol-pair-lj_cut_tip4p_long.yaml
Labels: bugfix, cmake, unittest_feature

#3295 Fix int32 overflow in Kokkos ReaxFF
  src/KOKKOS/pair_reaxff_kokkos.cpp
  src/KOKKOS/pair_reaxff_kokkos.h
Labels: user_reaxc_package, bugfix, kokkos_package

#3290 Collected small bugfixes and changes and plugin building improvements
  cmake/CMakeLists.txt
  cmake/Modules/LAMMPSInterfacePlugin.cmake
  cmake/Modules/Packages/ML-PACE.cmake
  cmake/presets/mingw-cross.cmake
  doc/Makefile
  doc/src/Developer_plugins.rst
  doc/src/Tools.rst
  doc/src/pair_e3b.rst
  doc/src/pair_sw_angle_table.rst
  doc/src/pair_threebody_table.rst
  doc/src/read_data.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/PACKAGES/pace/plugin/CMakeLists.txt
  examples/PACKAGES/pace/plugin/LAMMPSInterfacePlugin.cmake
  examples/PACKAGES/pace/plugin/ML-PACE.cmake
  examples/PACKAGES/pace/plugin/README.txt
  examples/PACKAGES/pace/plugin/lammps-text-logo-wide.bmp
  examples/PACKAGES/pace/plugin/lammps.ico
  examples/PACKAGES/pace/plugin/paceplugin.cpp
  examples/PACKAGES/pace/plugin/paceplugin.nsis
  examples/kim/plugin/CMakeLists.txt
  examples/kim/plugin/LAMMPSInterfaceCXX.cmake
  examples/kim/plugin/LAMMPSInterfacePlugin.cmake
  examples/kim/plugin/README.txt
  examples/plugins/CMakeLists.txt
  src/DIELECTRIC/atom_vec_dielectric.cpp
  src/EXTRA-COMPUTE/compute_stress_cartesian.cpp
  src/EXTRA-COMPUTE/compute_stress_cartesian.h
  src/EXTRA-DUMP/dump_xtc.cpp
  src/MC/fix_widom.cpp
  src/fmt/core.h
  tools/singularity/README.md
  tools/singularity/ubuntu18.04_amd_rocm.def
  tools/singularity/ubuntu18.04_gpu.def
  tools/singularity/ubuntu20.04_amd_rocm.def
  tools/singularity/ubuntu20.04_gpu.def
  tools/valgrind/OpenMP.supp
  unittest/force-styles/tests/atomic-pair-sw_angle_table.yaml
  unittest/force-styles/tests/atomic-pair-threebody_table.yaml
  unittest/force-styles/tests/manybody-pair-pace_product.yaml
  unittest/force-styles/tests/manybody-pair-pace_recursive.yaml
Labels: documentation, bugfix, maintenance, plugin, pace_package

#3293 Fix issues in compute ave/sphere/atom
  doc/src/compute_ave_sphere_atom.rst
  src/EXTRA-COMPUTE/compute_ave_sphere_atom.cpp
  src/EXTRA-COMPUTE/compute_ave_sphere_atom.h
  src/KOKKOS/compute_ave_sphere_atom_kokkos.cpp
  src/KOKKOS/compute_ave_sphere_atom_kokkos.h
Labels: bugfix, compute_feature

#3296 Collected small changes for the next release
  doc/src/fix_mdi_aimd.rst
  examples/ELASTIC_T/BORN_MATRIX/Argon/Analytical/compute_born.py
  examples/ELASTIC_T/BORN_MATRIX/Argon/Numdiff/compute_born.py
  examples/ELASTIC_T/BORN_MATRIX/Silicon/elastic_utils.py
  examples/mdi/aimd_driver.py
  lib/install_helpers.py
  lib/latte/Install.py
  python/install.py
  python/makewheel.py
  python/setup.py
  src/.gitignore
  src/ATC/fix_atc.cpp
  src/DPD-SMOOTH/pair_sdpd_taitwater_isothermal.cpp
  src/INTERLAYER/pair_ilp_tmd.cpp
  src/KOKKOS/pair_pace_kokkos.cpp
  src/MANYBODY/pair_threebody_table.cpp
  src/REAXFF/fix_acks2_reaxff.cpp
  src/REAXFF/fix_qeq_reaxff.cpp
  src/create_bonds.cpp
  src/reader.cpp
  src/reader.h
Labels: maintenance

#3300 Update package affiliation for Zhen Li
  doc/src/Packages_details.rst
  src/DPD-MESO/fix_mvv_dpd.cpp
  src/DPD-MESO/fix_mvv_edpd.cpp
  src/DPD-MESO/fix_mvv_tdpd.cpp
  src/DPD-MESO/pair_edpd.cpp
  src/DPD-MESO/pair_mdpd.cpp
  src/DPD-MESO/pair_mdpd_rhosum.cpp
  src/DPD-MESO/pair_tdpd.cpp
Labels: documentation

#3306 Fix issues with building a wheel file during 'make install-python'
  cmake/CMakeLists.txt
  python/install.py
  python/makewheel.py
  src/Makefile
Labels: python_module

#3309 More fixes and small changes for the stable release
  doc/src/Howto_structured_data.rst
  doc/src/Speed_measure.rst
  doc/src/read_restart.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/COUPLE/fortran2/LAMMPS-wrapper.cpp
  examples/COUPLE/fortran2/LAMMPS-wrapper.h
  examples/COUPLE/fortran2/LAMMPS.F90
  examples/COUPLE/fortran2/Makefile
  examples/COUPLE/fortran2/README
  examples/COUPLE/fortran_dftb/LAMMPS-wrapper.cpp
  examples/COUPLE/fortran_dftb/LAMMPS-wrapper.h
  examples/COUPLE/fortran_dftb/LAMMPS-wrapper2.cpp
  examples/COUPLE/fortran_dftb/LAMMPS-wrapper2.h
  examples/COUPLE/fortran_dftb/LAMMPS.F90
  python/lammps/core.py
  python/lammps/numpy_wrapper.py
  src/EXTRA-COMPUTE/compute_stress_cartesian.cpp
  src/EXTRA-DUMP/dump_yaml.cpp
  src/EXTRA-DUMP/dump_yaml.h
  src/dump.cpp
  src/dump.h
  src/library.cpp
  src/read_restart.cpp
  tools/msi2lmp/src/msi2lmp.c
  unittest/force-styles/tests/manybody-pair-pace_product.yaml
  unittest/force-styles/tests/manybody-pair-pace_recursive.yaml
  unittest/python/python-commands.py
  unittest/python/python-numpy.py
Labels: bugfix

#3317 Bugfixes
  src/KOKKOS/atom_vec_angle_kokkos.cpp
  src/KOKKOS/atom_vec_atomic_kokkos.cpp
  src/KOKKOS/atom_vec_bond_kokkos.cpp
  src/KOKKOS/atom_vec_charge_kokkos.cpp
  src/KOKKOS/atom_vec_dpd_kokkos.cpp
  src/KOKKOS/atom_vec_full_kokkos.cpp
  src/KOKKOS/atom_vec_molecular_kokkos.cpp
  src/KOKKOS/atom_vec_sphere_kokkos.cpp
  src/KOKKOS/atom_vec_spin_kokkos.cpp
  src/KOKKOS/min_cg_kokkos.cpp
  src/KOKKOS/min_kokkos.cpp
  src/KOKKOS/min_linesearch_kokkos.cpp
  src/KOKKOS/npair_kokkos.cpp
  src/KOKKOS/pair_snap_kokkos_impl.h
  src/KOKKOS/pair_zbl_kokkos.cpp
  src/KOKKOS/verlet_kokkos.cpp
  src/ML-SNAP/pair_snap.cpp
Labels: bugfix, kokkos_package, snap_package

#3319 Boolean bug fix
  doc/src/if.rst
  src/KOKKOS/min_linesearch_kokkos.cpp
  src/variable.cpp
  unittest/commands/test_variables.cpp
Labels: bugfix
