Repository lammps/lammps, pull requests merged in 2022-02, with the labels that each got.

#3100 Refactor some declarations in KOKKOS package
  src/KOKKOS/angle_charmm_kokkos.h
  src/KOKKOS/fix_acks2_reaxff_kokkos.cpp
  src/KOKKOS/fix_acks2_reaxff_kokkos.h
  src/KOKKOS/fix_langevin_kokkos.h
  src/KOKKOS/fix_qeq_reaxff_kokkos.cpp
  src/KOKKOS/fix_qeq_reaxff_kokkos.h
  src/KOKKOS/fix_rx_kokkos.h
  src/KOKKOS/fix_shake_kokkos.cpp
  src/KOKKOS/fix_shake_kokkos.h
  src/KOKKOS/kokkos_type.h
  src/KOKKOS/memory_kokkos.h
  src/KOKKOS/pair_eam_alloy_kokkos.cpp
  src/KOKKOS/pair_eam_alloy_kokkos.h
  src/KOKKOS/pair_eam_fs_kokkos.cpp
  src/KOKKOS/pair_eam_fs_kokkos.h
  src/KOKKOS/pair_eam_kokkos.cpp
  src/KOKKOS/pair_eam_kokkos.h
  src/KOKKOS/pair_kokkos.h
  src/KOKKOS/pair_reaxff_kokkos.cpp
  src/KOKKOS/pair_reaxff_kokkos.h
  src/KOKKOS/pair_snap_kokkos.h
  src/KOKKOS/pair_snap_kokkos_impl.h
  src/KOKKOS/pair_sw_kokkos.cpp
  src/KOKKOS/pair_sw_kokkos.h
  src/KOKKOS/pair_tersoff_kokkos.cpp
  src/KOKKOS/pair_tersoff_kokkos.h
  src/KOKKOS/pair_tersoff_mod_kokkos.cpp
  src/KOKKOS/pair_tersoff_mod_kokkos.h
  src/KOKKOS/pair_tersoff_zbl_kokkos.cpp
  src/KOKKOS/pair_tersoff_zbl_kokkos.h
  src/KOKKOS/sna_kokkos.h
Labels: kokkos_package, refactor

#3104 CG-DNA unit test and performance enhancement
  examples/PACKAGES/cgdna/examples/test.sh
  src/CG-DNA/bond_oxdna_fene.cpp
  src/CG-DNA/bond_oxdna_fene.h
  src/CG-DNA/pair_oxdna2_coaxstk.cpp
  src/CG-DNA/pair_oxdna2_coaxstk.h
  src/CG-DNA/pair_oxdna2_dh.cpp
  src/CG-DNA/pair_oxdna2_dh.h
  src/CG-DNA/pair_oxdna_coaxstk.cpp
  src/CG-DNA/pair_oxdna_coaxstk.h
  src/CG-DNA/pair_oxdna_excv.cpp
  src/CG-DNA/pair_oxdna_excv.h
  src/CG-DNA/pair_oxdna_hbond.cpp
  src/CG-DNA/pair_oxdna_hbond.h
  src/CG-DNA/pair_oxdna_stk.cpp
  src/CG-DNA/pair_oxdna_stk.h
  src/CG-DNA/pair_oxdna_xstk.cpp
  src/CG-DNA/pair_oxdna_xstk.h
  src/CG-DNA/pair_oxrna2_stk.cpp
  src/CG-DNA/pair_oxrna2_stk.h
  src/CG-DNA/pair_oxrna2_xstk.cpp
  src/CG-DNA/pair_oxrna2_xstk.h
  unittest/formats/test_atom_styles.cpp
Labels: enhancement, unittest_feature

#3110 Fix issue in new dump balance command
  src/dump.cpp
Labels: bugfix, dump_feature

#3116 Build KOKKOS package updates for Python module and Windows compatibility
  .github/workflows/compile-msvc.yml
  cmake/CMakeLists.txt
  cmake/Modules/Packages/KOKKOS.cmake
  cmake/Modules/Packages/ML-HDNNP.cmake
  lib/kokkos/core/src/desul/atomics/Generic.hpp
  lib/kokkos/core/src/impl/Kokkos_Core.cpp
  src/KOKKOS/kokkos.cpp
  src/KOKKOS/pair_exp6_rx_kokkos.cpp
  src/KOKKOS/pppm_kokkos.cpp
  unittest/cplusplus/test_lammps_class.cpp
  unittest/force-styles/tests/atomic-pair-reaxff_tabulate.yaml
Labels: kokkos_package, python_module, cmake

#3035 Add force style tests for Kokkos OpenMP
  src/KOKKOS/pair_hybrid_kokkos.cpp
  src/KOKKOS/pair_hybrid_overlay_kokkos.cpp
  src/KOKKOS/pair_hybrid_overlay_kokkos.h
  src/KOKKOS/pair_lj_gromacs_kokkos.cpp
  src/KOKKOS/pair_tersoff_kokkos.cpp
  src/KOKKOS/pair_tersoff_mod_kokkos.cpp
  src/KOKKOS/pair_tersoff_zbl_kokkos.cpp
  src/platform.h
  unittest/c-library/test_library_properties.cpp
  unittest/c-library/test_library_scatter_gather.cpp
  unittest/c-library/test_main.h
  unittest/force-styles/test_angle_style.cpp
  unittest/force-styles/test_bond_style.cpp
  unittest/force-styles/test_dihedral_style.cpp
  unittest/force-styles/test_fix_timestep.cpp
  unittest/force-styles/test_improper_style.cpp
  unittest/force-styles/test_main.cpp
  unittest/force-styles/test_main.h
  unittest/force-styles/test_pair_style.cpp
  unittest/force-styles/tests/kspace-pppm_ad.yaml
  unittest/force-styles/tests/manybody-pair-tersoff_mod_shift.yaml
  unittest/force-styles/tests/manybody-pair-tersoff_shift.yaml
  unittest/force-styles/tests/manybody-pair-tersoff_zbl_shift.yaml
  unittest/force-styles/tests/mol-pair-coul_dsf.yaml
  unittest/force-styles/tests/mol-pair-hybrid-overlay.yaml
  unittest/force-styles/tests/mol-pair-hybrid-scaled.yaml
  unittest/force-styles/tests/mol-pair-hybrid_multiple.yaml
  unittest/force-styles/tests/mol-pair-lj_cut_coul_dsf.yaml
  unittest/force-styles/tests/mol-pair-table.yaml
  unittest/force-styles/tests/mol-pair-zbl.yaml
Labels: kokkos_package, work_in_progress, unittest_feature

#3117 Collected small changes
  .github/workflows/compile-msvc.yml
  src/CG-DNA/pair_oxdna2_coaxstk.cpp
  src/CG-DNA/pair_oxdna_coaxstk.cpp
  src/CG-DNA/pair_oxdna_excv.cpp
  src/CG-DNA/pair_oxdna_hbond.cpp
  src/CG-DNA/pair_oxdna_xstk.cpp
  src/CG-DNA/pair_oxrna2_xstk.cpp
  src/EXTRA-FIX/fix_numdiff.cpp
  src/EXTRA-FIX/fix_numdiff_virial.cpp
  src/PHONON/dynamical_matrix.cpp
  src/PHONON/third_order.cpp
  unittest/CMakeLists.txt
  unittest/force-styles/tests/mol-pair-lj_cut_tip4p_long.yaml
Labels: bugfix, maintenance, unittest_feature

#3123 Remove incorrect error check in ReaxFF
  src/OPENMP/pair_reaxff_omp.cpp
  src/REAXFF/pair_reaxff.cpp
  src/REAXFF/reaxff_types.h
Labels: user_reaxc_package, bugfix

#3124 Reduce number of visible symbols in LAMMPS library by removing factory function templates from class definition
  src/atom.cpp
  src/atom.h
  src/domain.cpp
  src/domain.h
  src/force.cpp
  src/force.h
  src/input.cpp
  src/input.h
  src/modify.cpp
  src/modify.h
  src/neighbor.cpp
  src/neighbor.h
  src/output.cpp
  src/output.h
  src/update.cpp
  src/update.h
Labels: maintenance, refactor

#3120 Collected small changes
  cmake/CMakeLists.txt
  cmake/Modules/FindCythonize.cmake
  cmake/Modules/Packages/COMPRESS.cmake
  cmake/Modules/Packages/PYTHON.cmake
  doc/src/Howto_pylammps.rst
  doc/src/Intro_authors.rst
  doc/src/Tools.rst
  doc/utils/check-styles.py
  doc/utils/sphinx-config/false_positives.txt
  src/CG-DNA/bond_oxdna_fene.cpp
  src/CG-DNA/pair_oxdna2_coaxstk.cpp
  src/CG-DNA/pair_oxdna2_dh.cpp
  src/CG-DNA/pair_oxdna_coaxstk.cpp
  src/CG-DNA/pair_oxdna_excv.h
  src/CG-DNA/pair_oxdna_hbond.cpp
  src/CG-DNA/pair_oxdna_stk.cpp
  src/CG-DNA/pair_oxdna_xstk.cpp
  src/CG-DNA/pair_oxrna2_stk.cpp
  src/CG-DNA/pair_oxrna2_xstk.cpp
  src/DIELECTRIC/msm_dielectric.h
  src/DPD-REACT/fix_rx.cpp
  src/EXTRA-PAIR/pair_harmonic_cut.cpp
  src/GRANULAR/pair_gran_hertz_history.cpp
  src/GRANULAR/pair_gran_hooke_history.cpp
  src/INTEL/intel_buffers.cpp
  src/INTEL/pair_airebo_intel.cpp
  src/KSPACE/msm.cpp
  src/KSPACE/msm.h
  src/KSPACE/msm_cg.h
  src/MC/fix_bond_create.cpp
  src/Makefile
  src/OPENMP/msm_cg_omp.h
  src/OPENMP/pair_reaxff_omp.cpp
  src/REAXFF/pair_reaxff.cpp
  src/RIGID/fix_rigid_small.cpp
  src/fix_deform.cpp
  src/library.cpp
  src/utils.h
  tools/eam_database/EAM_code
  tools/eam_database/README
  tools/eam_database/create.f
  unittest/CMakeLists.txt
Labels: kspace_package, mc_package, bugfix, tools, build_system, cmake, maintenance

#3101 Use setuptools instead of distutils in setup.py
  cmake/Modules/Packages/KOKKOS.cmake
  python/lammps/core.py
  python/setup.py
  unittest/python/CMakeLists.txt
Labels: python_module, cmake

#3129 Fixed a bug with sw/gpu neigh no when used with pair hybrid for systems with multiple atom types
  lib/gpu/lal_sw.cu
Labels: gpu_package, bugfix

#3127 Update compiling OpenCL loader lib
  cmake/Modules/OpenCLLoader.cmake
  lib/gpu/lal_answer.cpp
  lib/gpu/lal_base_atomic.cpp
  lib/gpu/lal_base_atomic.h
  lib/gpu/lal_base_ellipsoid.cpp
  lib/gpu/lal_base_ellipsoid.h
  lib/gpu/lal_device.cpp
  lib/gpu/lal_eam.h
  lib/gpu/lal_gayberne.cpp
  lib/gpu/lal_re_squared.cpp
  src/GPU/pair_lj_expand_coul_long_gpu.cpp
  src/GPU/pair_ufm_gpu.cpp
Labels: gpu_package, cmake, update

#3131 More general LAMMPS code design info for the Programmer guide section of the manual
  doc/src/Developer.rst
  doc/src/Developer_cxx_vs_c_style.rst
  doc/src/Developer_notes.rst
  doc/src/Developer_utils.rst
  doc/utils/sphinx-config/false_positives.txt
  src/tokenizer.h
Labels: documentation

#3134 Collected small changes
  cmake/Modules/OpenCLLoader.cmake
  src/REACTION/fix_bond_react.cpp
Labels: bugfix, cmake

#3133 Add error if using multiple threads with Kokkos Serial backend
  src/KOKKOS/kokkos.cpp
  src/KOKKOS/kokkos.h
  unittest/cplusplus/test_lammps_class.cpp
Labels: enhancement, kokkos_package

#3136 Collected small changes
  src/pair_hybrid_scaled.cpp
  unittest/force-styles/tests/atomic-pair-kim_lj.yaml
  unittest/force-styles/tests/manybody-pair-lebedeva_z.yaml
  unittest/force-styles/tests/mol-pair-buck_table_coul_off.yaml
  unittest/force-styles/tests/mol-pair-lj_table_coul_off.yaml
  unittest/force-styles/tests/mol-pair-soft.yaml
Labels: bugfix

#3135 Step version strings for the next patch release
  doc/lammps.1
  src/version.h
Labels: maintenance

#3141 grammar tweaks to 2 sub-sections of Developer manual
  doc/src/Developer.rst
  doc/src/Developer_code_design.rst
  doc/src/Developer_cxx_vs_c_style.rst
  doc/src/Developer_notes.rst
Labels: documentation

#3138 Bug fix for Intel package skip lists with multiple runs.
  src/INTEL/npair_skip_intel.cpp
Labels: bugfix, user_intel_package

#3145 clarify how new pair style command works
  doc/src/pair_style.rst
Labels: documentation

#3139 Collected small changes
  cmake/CMakeSettings.json
  doc/src/Build_windows.rst
  doc/src/fix_atc.rst
  doc/src/fix_qeq.rst
  doc/src/fix_qeq_comb.rst
  doc/src/fix_qeq_reaxff.rst
  doc/src/pair_harmonic_cut.rst
  lib/gpu/geryon/ocl_device.h
  lib/gpu/geryon/ocl_memory.h
  lib/gpu/lal_answer.cpp
  lib/gpu/lal_base_atomic.cpp
  lib/gpu/lal_base_ellipsoid.cpp
  lib/gpu/lal_base_three.cpp
  lib/gpu/lal_neighbor.cpp
  lib/gpu/lal_tersoff_mod.cpp
  lib/gpu/lal_tersoff_zbl.cpp
  src/GRANULAR/fix_wall_gran.cpp
  src/INTERLAYER/pair_ilp_tmd.cpp
  src/KOKKOS/dynamical_matrix_kokkos.h
  src/KOKKOS/third_order_kokkos.h
  src/MANYBODY/fix_qeq_comb.cpp
  src/ORIENT/fix_orient_bcc.cpp
  src/ORIENT/fix_orient_bcc.h
  src/ORIENT/fix_orient_fcc.cpp
  src/ORIENT/fix_orient_fcc.h
  src/QEQ/fix_qeq.cpp
  src/QEQ/fix_qeq_dynamic.cpp
  src/QEQ/fix_qeq_fire.cpp
  src/REAXFF/fix_qeq_reaxff.cpp
  src/RIGID/fix_shake.cpp
  src/platform.cpp
  src/region_cone.cpp
Labels: bugfix, maintenance

#3142 SNAP bik flag
  doc/src/compute_sna_atom.rst
  src/ML-SNAP/compute_snap.cpp
  src/ML-SNAP/compute_snap.h
Labels: compute_feature, mliap_package

#3146 New developer page for comm functions
  doc/src/Developer.rst
  doc/src/Developer_comm_ops.rst
Labels: documentation

#3154 Refactor python/install.py and 'make install-python' to use setuptools and build a binary wheel
  .gitignore
  cmake/CMakeLists.txt
  doc/src/Developer_comm_ops.rst
  doc/src/Python_install.rst
  doc/utils/sphinx-config/false_positives.txt
  python/install.py
  python/makewheel.py
  python/pyproject.toml
  python/setup.py
  python/wheel_requirements.txt
  src/Makefile
  tools/singularity/rocky8.def
  tools/singularity/ubuntu18.04.def
  tools/singularity/ubuntu18.04_amd_rocm.def
  tools/singularity/ubuntu18.04_gpu.def
  tools/singularity/ubuntu18.04_intel_opencl.def
  tools/singularity/ubuntu18.04_nvidia.def
Labels: python_module, build_system, cmake, ready_for_merge

#3156 Fix rare bug in Kokkos with CUDA UVM
  src/KOKKOS/verlet_kokkos.cpp
Labels: bugfix, kokkos_package

#3155 Collected small changes
  cmake/Modules/Packages/PLUMED.cmake
  doc/src/Modify.rst
  doc/src/Modify_overview.rst
  doc/src/Modify_style.rst
  lib/plumed/Install.py
  src/INTEL/angle_charmm_intel.cpp
  src/INTEL/angle_charmm_intel.h
  src/INTEL/angle_harmonic_intel.cpp
  src/INTEL/angle_harmonic_intel.h
  src/INTEL/bond_fene_intel.cpp
  src/INTEL/bond_fene_intel.h
  src/INTEL/bond_harmonic_intel.cpp
  src/INTEL/bond_harmonic_intel.h
  src/INTEL/dihedral_charmm_intel.cpp
  src/INTEL/dihedral_charmm_intel.h
  src/INTEL/dihedral_fourier_intel.cpp
  src/INTEL/dihedral_fourier_intel.h
  src/INTEL/dihedral_harmonic_intel.cpp
  src/INTEL/dihedral_harmonic_intel.h
  src/INTEL/dihedral_opls_intel.cpp
  src/INTEL/dihedral_opls_intel.h
  src/INTEL/improper_cvff_intel.cpp
  src/INTEL/improper_cvff_intel.h
  src/INTEL/improper_harmonic_intel.cpp
  src/INTEL/improper_harmonic_intel.h
  src/INTEL/nbin_intel.cpp
  src/INTEL/npair_halffull_newton_intel.cpp
  src/INTEL/npair_intel.cpp
  src/INTEL/npair_skip_intel.cpp
  src/INTEL/pair_airebo_intel.cpp
  src/INTEL/pair_buck_coul_cut_intel.cpp
  src/INTEL/pair_buck_coul_long_intel.cpp
  src/INTEL/pair_buck_intel.cpp
  src/INTEL/pair_dpd_intel.cpp
  src/INTEL/pair_eam_intel.cpp
  src/INTEL/pair_gayberne_intel.cpp
  src/INTEL/pair_lj_charmm_coul_charmm_intel.cpp
  src/INTEL/pair_lj_charmm_coul_long_intel.cpp
  src/INTEL/pair_lj_cut_coul_long_intel.cpp
  src/INTEL/pair_lj_cut_intel.cpp
  src/INTEL/pair_lj_long_coul_long_intel.cpp
  src/INTEL/pair_lj_long_coul_long_intel.h
  src/INTEL/pair_sw_intel.cpp
  src/INTEL/pair_tersoff_intel.cpp
  src/INTEL/pppm_disp_intel.cpp
  src/INTEL/pppm_intel.cpp
  src/ML-IAP/Install.sh
  src/read_dump.cpp
  src/rerun.cpp
  src/update.cpp
  src/update.h
  src/write_dump.cpp
Labels: build_system, mliap_package
