Repository lammps/lammps, pull requests merged in 2022-11, with the labels that each got.

#3508 Fortran interface expansion
  doc/src/Fortran.rst
  doc/src/Manual.rst
  doc/utils/sphinx-config/_themes/lammps_theme/static/css/theme.css
  fortran/lammps.f90
  src/library.cpp
  unittest/fortran/CMakeLists.txt
  unittest/fortran/keepstuff.f90
  unittest/fortran/test_fortran_configuration.f90
  unittest/fortran/test_fortran_create_atoms.f90
  unittest/fortran/test_fortran_extract_variable.f90
  unittest/fortran/test_fortran_gather_scatter.f90
  unittest/fortran/test_fortran_neighlist.f90
  unittest/fortran/test_fortran_properties.f90
  unittest/fortran/wrap_configuration.cpp
  unittest/fortran/wrap_create_atoms.cpp
  unittest/fortran/wrap_gather_scatter.cpp
  unittest/fortran/wrap_neighlist.cpp
  unittest/fortran/wrap_properties.cpp
Labels: documentation, library_interface, fortran_interface

#3507 Thermo_modify format ranges
  doc/src/Modify_style.rst
  doc/src/thermo_modify.rst
  src/thermo.cpp
  unittest/utils/test_utils.cpp
Labels: enhancement

#3503 Refactor handling of pair/only flag for GPU and KOKKOS
  src/GPU/fix_gpu.cpp
  src/KOKKOS/kokkos.cpp
  src/atom.cpp
  src/domain.cpp
  src/force.cpp
  src/input.cpp
  src/lammps.cpp
  src/lammps.h
  src/modify.cpp
  src/update.cpp
  unittest/fortran/wrap_configuration.cpp
Labels: gpu_package, bugfix, kokkos_package, refactor

#3487 Created a Kokkos version of the ML-IAP routines. Completed one model…
  cmake/Modules/Packages/KOKKOS.cmake
  doc/src/Commands_pair.rst
  doc/src/pair_mliap.rst
  src/KOKKOS/Install.sh
  src/KOKKOS/kokkos_type.h
  src/KOKKOS/memory_kokkos.h
  src/KOKKOS/mliap_data_kokkos.cpp
  src/KOKKOS/mliap_data_kokkos.h
  src/KOKKOS/mliap_descriptor_kokkos.h
  src/KOKKOS/mliap_descriptor_so3_kokkos.cpp
  src/KOKKOS/mliap_descriptor_so3_kokkos.h
  src/KOKKOS/mliap_model_kokkos.h
  src/KOKKOS/mliap_model_linear_kokkos.cpp
  src/KOKKOS/mliap_model_linear_kokkos.h
  src/KOKKOS/mliap_so3_kokkos.cpp
  src/KOKKOS/mliap_so3_kokkos.h
  src/KOKKOS/pair_mliap_kokkos.cpp
  src/KOKKOS/pair_mliap_kokkos.h
  src/ML-IAP/mliap_data.h
  src/ML-IAP/mliap_descriptor.h
  src/ML-IAP/mliap_descriptor_snap.cpp
  src/ML-IAP/mliap_descriptor_so3.cpp
  src/ML-IAP/mliap_descriptor_so3.h
  src/ML-IAP/mliap_model_linear.cpp
  src/ML-IAP/mliap_so3.cpp
  src/ML-IAP/mliap_so3.h
  src/ML-IAP/mliap_so3_math.h
  src/ML-IAP/mliap_unified.cpp
  src/ML-IAP/mliap_unified.h
  src/ML-IAP/pair_mliap.cpp
Labels: kokkos_package, mliap_package

#3510 Collected small changes for the next patch release
  cmake/Modules/Packages/ML-QUIP.cmake
  examples/COUPLE/plugin/liblammpsplugin.h
  lib/gpu/geryon/ocl_device.h
  lib/gpu/geryon/ocl_texture.h
  lib/gpu/geryon/ucl_d_vec.h
  lib/gpu/lal_base_atomic.cpp
  lib/gpu/lal_base_charge.cpp
  lib/gpu/lal_base_dipole.cpp
  lib/gpu/lal_base_dpd.cpp
  lib/gpu/lal_base_ellipsoid.cpp
  lib/gpu/lal_base_three.cpp
  lib/gpu/lal_device.cpp
  lib/gpu/lal_neighbor.cpp
  lib/gpu/lal_tersoff.cpp
  lib/gpu/lal_tersoff_mod.cpp
  lib/gpu/lal_tersoff_zbl.cpp
  src/KOKKOS/pair_meam_kokkos.cpp
  src/KOKKOS/pair_reaxff_kokkos.cpp
  src/LATBOLTZ/fix_lb_fluid.cpp
  src/compute_global_atom.cpp
  src/library.h
  tools/swig/lammps.i
  unittest/commands/test_compute_global.cpp
  unittest/formats/test_dump_atom.cpp
Labels: maintenance

#3511 Step version strings for the next patch release
  doc/lammps.1
  doc/src/Fortran.rst
  doc/src/pair_amoeba.rst
  doc/src/pair_eam.rst
  doc/src/pair_mliap.rst
  doc/src/pair_ylz.rst
  src/library.cpp
  src/version.h
Labels: maintenance

#3521 Refactor python source command and error reporting
  doc/src/python.rst
  doc/utils/sphinx-config/false_positives.txt
  src/PYTHON/python_impl.cpp
  src/variable.cpp
  unittest/python/test_python_package.cpp
Labels: python_module, refactor

#3525 Append suffix to pstyle (pair style name) of compute fep
  src/FEP/compute_fep.cpp
Labels: user_fep_package

#3514 bond/react feature updates
  doc/src/fix_bond_react.rst
  src/REACTION/fix_bond_react.cpp
  src/REACTION/fix_bond_react.h
Labels: user_reaction_package

#3533 Bugfix: Respect thermo_modify warn always
  src/error.cpp
Labels: bugfix

#3527 Collected small changes and fixes
  doc/src/Commands_all.rst
  doc/src/Commands_category.rst
  doc/src/Commands_removed.rst
  doc/src/Howto_triclinic.rst
  doc/src/Run_options.rst
  doc/src/angle_gaussian.rst
  doc/src/bond_gaussian.rst
  doc/src/box.rst
  doc/src/commands_list.rst
  doc/src/create_box.rst
  doc/src/dump_image.rst
  doc/src/fix_bond_react.rst
  doc/src/fix_nh_uef.rst
  doc/src/pair_ylz.rst
  doc/src/python.rst
  doc/src/read_data.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/PACKAGES/fep/CC-CO/fep01/data.0.lmp
  examples/PACKAGES/fep/CC-CO/fep10/data.1.lmp
  examples/PACKAGES/fep/CH4-CF4/bar01/data.0.lmp
  examples/PACKAGES/fep/CH4-CF4/bar10/data.1.lmp
  examples/PACKAGES/fep/CH4-CF4/fep01/data.0.lmp
  examples/PACKAGES/fep/CH4-CF4/fep10/data.1.lmp
  examples/PACKAGES/fep/CH4hyd/fdti01/data.lmp
  examples/PACKAGES/fep/CH4hyd/fdti10/data.lmp
  examples/PACKAGES/fep/CH4hyd/fep01/data.lmp
  examples/PACKAGES/fep/CH4hyd/fep10/data.lmp
  examples/PACKAGES/fep/SPCEhyd/fep01/data.lmp
  examples/PACKAGES/fep/SPCEhyd/fep10/data.lmp
  examples/PACKAGES/sph/shock_tube/shock2d.lmp
  src/EXTRA-MOLECULE/angle_gaussian.cpp
  src/EXTRA-MOLECULE/bond_gaussian.cpp
  src/EXTRA-PAIR/pair_nm_cut.cpp
  src/EXTRA-PAIR/pair_nm_cut_coul_cut.cpp
  src/EXTRA-PAIR/pair_nm_cut_coul_long.cpp
  src/FEP/compute_fep.cpp
  src/ML-PACE/pair_pace_extrapolation.cpp
  src/ML-PACE/pair_pace_extrapolation.h
  src/REACTION/fix_bond_react.cpp
  src/REACTION/fix_bond_react.h
  src/change_box.cpp
  src/deprecated.cpp
  src/deprecated.h
  src/domain.cpp
  src/domain.h
  src/fix_property_atom.cpp
  src/input.cpp
  src/input.h
  src/library.cpp
  src/read_data.cpp
  tools/coding_standard/versiontags.py
  unittest/c-library/test_library_properties.cpp
  unittest/force-styles/tests/bond-gaussian.yaml
  unittest/force-styles/tests/mol-pair-nm_cut_coul_cut.yaml
  unittest/force-styles/tests/mol-pair-nm_cut_coul_long.yaml
  unittest/force-styles/tests/mol-pair-nm_cut_coul_table.yaml
  unittest/formats/test_file_operations.cpp
Labels: bugfix, refactor

#3541 Fix bug in Kokkos ReaxFF, Tersoff, and Fix Neigh History on GPUs
  .github/workflows/compile-msvc.yml
  src/KOKKOS/fix_neigh_history_kokkos.cpp
  src/KOKKOS/pair_adp_kokkos.cpp
  src/KOKKOS/pair_adp_kokkos.h
  src/KOKKOS/pair_buck_kokkos.cpp
  src/KOKKOS/pair_buck_kokkos.h
  src/KOKKOS/pair_eam_alloy_kokkos.cpp
  src/KOKKOS/pair_eam_alloy_kokkos.h
  src/KOKKOS/pair_eam_fs_kokkos.cpp
  src/KOKKOS/pair_eam_fs_kokkos.h
  src/KOKKOS/pair_eam_kokkos.cpp
  src/KOKKOS/pair_eam_kokkos.h
  src/KOKKOS/pair_gran_hooke_history_kokkos.cpp
  src/KOKKOS/pair_gran_hooke_history_kokkos.h
  src/KOKKOS/pair_lj_class2_kokkos.cpp
  src/KOKKOS/pair_lj_class2_kokkos.h
  src/KOKKOS/pair_lj_cut_kokkos.cpp
  src/KOKKOS/pair_lj_cut_kokkos.h
  src/KOKKOS/pair_lj_expand_kokkos.cpp
  src/KOKKOS/pair_lj_expand_kokkos.h
  src/KOKKOS/pair_lj_spica_kokkos.cpp
  src/KOKKOS/pair_lj_spica_kokkos.h
  src/KOKKOS/pair_morse_kokkos.cpp
  src/KOKKOS/pair_morse_kokkos.h
  src/KOKKOS/pair_reaxff_kokkos.cpp
  src/KOKKOS/pair_tersoff_kokkos.cpp
  src/KOKKOS/pair_tersoff_mod_kokkos.cpp
  src/KOKKOS/pair_tersoff_zbl_kokkos.cpp
  src/KOKKOS/pair_yukawa_kokkos.cpp
  src/KOKKOS/pair_yukawa_kokkos.h
Labels: manybody_package, user_reaxc_package, bugfix, kokkos_package, granular_package

#3539 Collected small changes and fixes
  .github/CODEOWNERS
  doc/src/Developer_code_design.rst
  doc/src/compute_pair_local.rst
  doc/src/fix_ipi.rst
  doc/src/fix_pimd.rst
  doc/src/pair_sw.rst
  lib/linalg/README
  lib/linalg/dgelss.f
  lib/linalg/dlaed4.f
  lib/linalg/dlascl.f
  lib/linalg/dlatrs.f
  lib/linalg/dorgbr.f
  lib/linalg/dposv.f
  lib/linalg/dpotrs.f
  lib/linalg/dscal.f
  lib/linalg/dsyevd.f
  lib/linalg/dsygvd.f
  lib/linalg/ieeeck.f
  lib/linalg/ilaenv.f
  lib/linalg/zdscal.f
  lib/linalg/zheevd.f
  lib/linalg/zlascl.f
  lib/linalg/zscal.f
  src/CG-SPICA/angle_spica.cpp
  src/MANYBODY/pair_sw.cpp
  src/MANYBODY/pair_sw.h
  src/MISC/fix_ipi.cpp
  src/REPLICA/fix_pimd.cpp
  src/REPLICA/neb.cpp
  src/angle_hybrid.cpp
  src/bond_hybrid.cpp
  src/dihedral_hybrid.cpp
  src/improper_hybrid.cpp
  src/input.cpp
  src/pair.cpp
  src/pair_hybrid.cpp
Labels: manybody_package, bugfix, github, unittest_feature
