Repository lammps/lammps, pull requests merged in 2022-01, with the labels that each got.

#3069 Fix HIP Makefile under lib/gpu
  cmake/Modules/Packages/GPU.cmake
  lib/gpu/Makefile.hip
Labels: gpu_package, build_system, cmake

#3062 Follow Amber NetCDF standard more closely
  src/NETCDF/dump_netcdf.cpp
  src/NETCDF/dump_netcdf.h
  src/NETCDF/dump_netcdf_mpiio.cpp
  src/NETCDF/dump_netcdf_mpiio.h
  src/NETCDF/netcdf_units.cpp
  src/NETCDF/netcdf_units.h
  unittest/formats/CMakeLists.txt
  unittest/formats/test_dump_netcdf.cpp
Labels: bugfix, update

#3072 Modernize parsing of topology data sections of data files
  doc/src/Developer_utils.rst
  doc/src/Developer_write.rst
  src/KOKKOS/atom_vec_angle_kokkos.cpp
  src/KOKKOS/atom_vec_angle_kokkos.h
  src/KOKKOS/atom_vec_atomic_kokkos.cpp
  src/KOKKOS/atom_vec_atomic_kokkos.h
  src/KOKKOS/atom_vec_bond_kokkos.cpp
  src/KOKKOS/atom_vec_bond_kokkos.h
  src/KOKKOS/atom_vec_charge_kokkos.cpp
  src/KOKKOS/atom_vec_charge_kokkos.h
  src/KOKKOS/atom_vec_dpd_kokkos.cpp
  src/KOKKOS/atom_vec_dpd_kokkos.h
  src/KOKKOS/atom_vec_full_kokkos.cpp
  src/KOKKOS/atom_vec_full_kokkos.h
  src/KOKKOS/atom_vec_hybrid_kokkos.cpp
  src/KOKKOS/atom_vec_hybrid_kokkos.h
  src/KOKKOS/atom_vec_kokkos.cpp
  src/KOKKOS/atom_vec_kokkos.h
  src/KOKKOS/atom_vec_molecular_kokkos.cpp
  src/KOKKOS/atom_vec_molecular_kokkos.h
  src/KOKKOS/atom_vec_sphere_kokkos.cpp
  src/KOKKOS/atom_vec_sphere_kokkos.h
  src/KOKKOS/atom_vec_spin_kokkos.cpp
  src/KOKKOS/atom_vec_spin_kokkos.h
  src/ML-IAP/mliap_descriptor_so3.cpp
  src/ML-RANN/pair_rann.cpp
  src/ML-SNAP/pair_snap.cpp
  src/atom.cpp
  src/atom_vec.cpp
  src/atom_vec.h
  src/atom_vec_ellipsoid.cpp
  src/atom_vec_ellipsoid.h
  src/atom_vec_line.cpp
  src/atom_vec_line.h
  src/atom_vec_tri.cpp
  src/atom_vec_tri.h
  src/read_data.cpp
  src/utils.cpp
  src/utils.h
  unittest/formats/test_input_convert.cpp
Labels: refactor

#3046 Centroid atomic stress for shake, rattle and rigid/small
  doc/src/Bibliography.rst
  doc/src/compute_heat_flux.rst
  doc/src/compute_stress_atom.rst
  src/OPENMP/fix_rigid_small_omp.h
  src/RIGID/fix_rigid.cpp
  src/RIGID/fix_rigid_small.cpp
  src/RIGID/fix_rigid_small.h
  src/RIGID/fix_shake.cpp
  src/compute_centroid_stress_atom.cpp
  src/fix.cpp
  src/fix.h
Labels: enhancement

#3071 Collected small changes and bug fixes
  doc/src/Modify_pair.rst
  doc/src/pair_nm.rst
  doc/src/pair_python.rst
  src/EXTRA-MOLECULE/bond_fene_nm.cpp
  src/EXTRA-MOLECULE/dihedral_table_cut.cpp
  src/GPU/fix_nve_gpu.cpp
  src/MANYBODY/pair_eam_cd.cpp
  src/MANYBODY/pair_eam_cd.h
  src/MOLECULE/angle_table.cpp
  src/MOLECULE/bond_table.cpp
  src/MOLECULE/dihedral_table.cpp
  src/MOLFILE/molfile_interface.cpp
  src/OPENMP/angle_table_omp.cpp
  src/OPENMP/bond_table_omp.cpp
  src/error.cpp
  src/output.cpp
Labels: gpu_package, bugfix

#3073 Update included fmtlib to version 8.1.1
  src/fmt/args.h
  src/fmt/chrono.h
  src/fmt/color.h
  src/fmt/compile.h
  src/fmt/core.h
  src/fmt/format-inl.h
  src/fmt/format.h
  src/fmt/os.h
  src/fmt/ostream.h
  src/fmt/printf.h
  src/fmt/ranges.h
  src/fmt/xchar.h
  src/fmtlib_format.cpp
  src/fmtlib_os.cpp
Labels: maintenance

#3029 Second round of maintenance fixes for the stable release
  cmake/Modules/LAMMPSUtils.cmake
  cmake/Modules/Packages/GPU.cmake
  doc/github-development-workflow.md
  doc/src/Build_diskspace.rst
  doc/src/Build_manual.rst
  doc/src/Developer_write.rst
  doc/src/Howto_github.rst
  doc/src/Install_git.rst
  doc/src/Intro_opensource.rst
  doc/src/Manual_version.rst
  doc/src/Modify_pair.rst
  doc/src/pair_granular.rst
  doc/src/pair_lebedeva_z.rst
  doc/src/pair_local_density.rst
  doc/src/pair_python.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/PACKAGES/local_density/benzene_water/in.benzene_water
  examples/PACKAGES/local_density/benzene_water/log.04Sep19.g++.1
  examples/PACKAGES/local_density/benzene_water/log.27Oct21.benzene_water.g++.1
  examples/PACKAGES/local_density/benzene_water/log.27Oct21.benzene_water.g++.4
  examples/PACKAGES/local_density/methanol_implicit_water/in.methanol_implicit_water
  examples/PACKAGES/local_density/methanol_implicit_water/log.04Sep19.g++.1
  examples/PACKAGES/local_density/methanol_implicit_water/log.27Oct21.methanol_implicit_water.g++.1
  examples/PACKAGES/local_density/methanol_implicit_water/log.27Oct21.methanol_implicit_water.g++.4
  lib/gpu/Makefile.cuda_mps
  lib/gpu/Makefile.hip
  lib/gpu/Makefile.linux
  lib/gpu/Makefile.linux_multi
  lib/gpu/Makefile.mpi
  lib/gpu/Makefile.serial
  lib/gpu/Makefile.turing
  potentials/CC.Lebedeva
  src/EXTRA-COMPUTE/compute_temp_rotate.h
  src/GPU/fix_nve_gpu.cpp
  src/MACHDYN/atom_vec_smd.cpp
  src/MACHDYN/compute_smd_triangle_vertices.cpp
  src/MACHDYN/pair_smd_ulsph.cpp
  src/MANYBODY/pair_eam_cd.cpp
  src/MANYBODY/pair_eam_cd.h
  src/MANYBODY/pair_local_density.cpp
  src/MANYBODY/pair_local_density.h
  src/MC/fix_charge_regulation.cpp
  src/MOLECULE/angle_table.cpp
  src/MOLECULE/bond_table.cpp
  src/NETCDF/dump_netcdf.cpp
  src/NETCDF/dump_netcdf_mpiio.cpp
  src/REAXFF/fix_reaxff_species.cpp
  src/REAXFF/reaxff_ffield.cpp
  src/dump.cpp
  src/error.cpp
  src/version.h
  unittest/force-styles/tests/manybody-pair-lebedeva_z.yaml
  unittest/formats/test_dump_atom.cpp
  unittest/formats/test_dump_custom.cpp
Labels: gpu_package, documentation, user_reaxc_package, bugfix, maintenance, unittest_feature

#3079 Step version strings for the next patch release
  doc/lammps.1
  src/version.h
Labels: maintenance

#3088 Fix Kokkos HIP compile issues
  lib/kokkos/Makefile.kokkos
  lib/kokkos/Makefile.targets
  src/KOKKOS/fix_acks2_reaxff_kokkos.cpp
  src/KOKKOS/pair_snap_kokkos.h
  src/MAKE/MACHINES/Makefile.crusher_kokkos
  src/MAKE/MACHINES/Makefile.spock_kokkos
Labels: bugfix, kokkos_package, ready_for_merge

#3087 Add new pair styles harmonic/cut for repulsive-only harmonic interaction
  doc/src/Commands_pair.rst
  doc/src/pair_harmonic_cut.rst
  doc/src/pair_style.rst
  src/.gitignore
  src/EXTRA-PAIR/pair_harmonic_cut.cpp
  src/EXTRA-PAIR/pair_harmonic_cut.h
  src/OPENMP/pair_harmonic_cut_omp.cpp
  src/OPENMP/pair_harmonic_cut_omp.h
  unittest/force-styles/tests/mol-pair-harmonic_cut.yaml
Labels: enhancement

#3089 Collected small changes and fixes
  python/lammps/core.py
  src/KSPACE/msm.cpp
  src/KSPACE/pppm.cpp
  src/MANYBODY/pair_eam_cd.cpp
  src/Makefile
  src/REAXFF/fix_reaxff_species.cpp
  src/dump.h
  src/dump_image.cpp
  src/fix_move.cpp
  src/molecule.cpp
  src/output.cpp
  src/pair_hybrid_scaled.cpp
  tools/singularity/fedora35_mingw.def
  unittest/formats/test_molecule_file.cpp
  unittest/python/python-commands.py
Labels: kspace_package, bugfix, refactor

#3091 More file parsing refactoring
  examples/PACKAGES/electron_stopping/Si.Si.elstop
  examples/PACKAGES/gle/qt-300k.A
  examples/PACKAGES/gle/qt-300k.C
  examples/PACKAGES/gle/smart.A
  src/EXTRA-FIX/fix_electron_stopping.cpp
  src/EXTRA-FIX/fix_gle.cpp
  src/MANYBODY/pair_edip.cpp
  src/MANYBODY/pair_edip.h
  src/MANYBODY/pair_edip_multi.cpp
  src/MANYBODY/pair_edip_multi.h
  src/MANYBODY/pair_tersoff.cpp
  src/MISC/pair_list.cpp
  src/MISC/pair_list.h
  src/MOLECULE/fix_cmap.cpp
Labels: test_runs, test_for_regression, refactor

#3092 Small tweaks to Kokkos Files
  lib/kokkos/core/src/Cuda/Kokkos_Cuda_Instance.cpp
  src/MAKE/MACHINES/Makefile.crusher_kokkos
  src/MAKE/MACHINES/Makefile.spock_kokkos
  src/MAKE/MACHINES/Makefile.summit_kokkos
  src/MAKE/MACHINES/Makefile.white
  src/MAKE/OPTIONS/Makefile.kokkos_cuda_mpi
  src/MAKE/OPTIONS/Makefile.kokkos_mpi_only
  src/MAKE/OPTIONS/Makefile.kokkos_omp
  src/MAKE/OPTIONS/Makefile.kokkos_phi
Labels: enhancement, kokkos_package, build_system, ready_for_merge

#3097 Add option to balance dump file output
  doc/src/dump_modify.rst
  src/dump.cpp
  src/dump.h
Labels: enhancement, dump_feature, ready_for_merge

#3095 Collected small changes and fixes
  doc/src/Developer_org.rst
  doc/src/Errors_warnings.rst
  doc/src/Run_output.rst
  doc/src/Speed_kokkos.rst
  doc/src/balance.rst
  doc/src/compute_pressure_cylinder.rst
  doc/src/package.rst
  doc/src/pair_charmm.rst
  doc/src/pair_dpd.rst
  doc/src/pair_python.rst
  doc/src/pair_style.rst
  doc/src/pair_sw.rst
  doc/src/pair_write.rst
  doc/src/run_style.rst
  src/ASPHERE/pair_gayberne.cpp
  src/EXTRA-FIX/fix_gle.cpp
  src/EXTRA-MOLECULE/bond_fene_nm.cpp
  src/EXTRA-MOLECULE/bond_fene_nm.h
  src/EXTRA-PAIR/pair_e3b.cpp
  src/EXTRA-PAIR/pair_e3b.h
  src/EXTRA-PAIR/pair_harmonic_cut.cpp
  src/INTEL/fix_intel.cpp
  src/INTEL/intel_buffers.cpp
  src/INTEL/nbin_intel.cpp
  src/INTEL/npair_intel.cpp
  src/INTEL/pair_sw_intel.cpp
  src/INTEL/verlet_lrt_intel.cpp
  src/MC/fix_bond_swap.cpp
  src/MISC/pair_list.cpp
  src/MOLECULE/bond_quartic.cpp
  src/MOLECULE/bond_quartic.h
  src/MOLECULE/fix_cmap.cpp
  src/OPENMP/bond_quartic_omp.cpp
  src/REAXFF/fix_acks2_reaxff.cpp
  src/REAXFF/fix_qeq_reaxff.cpp
  src/RIGID/fix_rigid_small.cpp
  src/RIGID/fix_rigid_small.h
  src/angle_hybrid.cpp
  src/bond_hybrid.cpp
  src/compute_pair_local.cpp
  src/dihedral_hybrid.cpp
  src/fix_balance.cpp
  src/force.cpp
  src/force.h
  src/improper_hybrid.cpp
  src/pair_hybrid.cpp
  src/pair_hybrid_scaled.cpp
  src/read_data.cpp
  src/reader_native.cpp
  src/tabular_function.cpp
Labels: bugfix, refactor

#3103 fixed ewald self-energy update and updated documentation
  doc/src/fix_charge_regulation.rst
  doc/utils/sphinx-config/false_positives.txt
  src/MC/fix_charge_regulation.cpp
Labels: enhancement, documentation, mc_package

#2233 Dynamical_matrix and third_order features+update
  cmake/Modules/Packages/KOKKOS.cmake
  doc/src/Commands_all.rst
  doc/src/dynamical_matrix.rst
  doc/src/third_order.rst
  src/Depend.sh
  src/KOKKOS/Install.sh
  src/KOKKOS/dynamical_matrix_kokkos.cpp
  src/KOKKOS/dynamical_matrix_kokkos.h
  src/KOKKOS/third_order_kokkos.cpp
  src/KOKKOS/third_order_kokkos.h
  src/PHONON/dynamical_matrix.cpp
  src/PHONON/dynamical_matrix.h
  src/PHONON/third_order.cpp
  src/PHONON/third_order.h
  src/input.cpp
Labels: enhancement, gpu_package, update

#3082 Improve PairReaxFFKokkos neigh list algorithm
  src/KOKKOS/pair_reaxff_kokkos.cpp
Labels: enhancement, user_reaxc_package, kokkos_package
