Repository lammps/lammps, pull requests merged in 2023-07, with the labels that each got.

#3827 Bugfix and documentation corrections for BPM+Granular packages
  doc/src/bond_bpm_rotational.rst
  doc/src/bond_bpm_spring.rst
  src/BPM/bond_bpm.cpp
  src/GRANULAR/pair_granular.cpp
Labels: bugfix, granular_package

#3839 Kokkos Makefiles
  src/MAKE/MACHINES/Makefile.aurora_kokkos
  src/MAKE/MACHINES/Makefile.frontier_kokkos
  src/MAKE/MACHINES/Makefile.perlmutter_kokkos
Labels: kokkos_package, build_system

#3843 Minor bug fix and enhancements for granular heat transfer
  doc/src/pair_granular.rst
  src/GRANULAR/fix_heat_flow.cpp
  src/GRANULAR/fix_heat_flow.h
  src/GRANULAR/gran_sub_mod_heat.cpp
  src/GRANULAR/gran_sub_mod_heat.h
Labels: bugfix

#3845 Update and bugfix for the DIELECTRIC package
  doc/src/fix_polarize.rst
  src/DIELECTRIC/fix_polarize_bem_gmres.cpp
  src/DIELECTRIC/fix_polarize_bem_icc.cpp
  src/DIELECTRIC/fix_polarize_functional.cpp
  src/DIELECTRIC/pppm_dielectric.cpp
Labels: documentation, bugfix, dielectric_package

#3814 JAX ML-IAP Unified connection & examples
  examples/mliap/jax/README.md
  examples/mliap/jax/deploy_script.py
  examples/mliap/jax/in.run
  examples/mliap/jax/mliap_jax.pkl
  examples/mliap/jax/mliap_unified_jax.py
  examples/mliap/jax/mliap_unified_jax_Ar.pkl
  examples/mliap/jax/mliap_unified_jax_kokkos.py
  examples/mliap/jax/write_unified.py
  src/KOKKOS/mliap_unified_couple_kokkos.pyx
  src/KOKKOS/mliap_unified_kokkos.cpp
  src/KOKKOS/mliap_unified_kokkos.h
  src/ML-IAP/mliap_unified_couple.pyx
Labels: mliap_package

#3850 BPM package: allow bonded atoms to be excluded from neighbor lists if BPM cannot break + doc update
  doc/src/Howto_bpm.rst
  doc/src/bond_bpm_rotational.rst
  doc/src/bond_bpm_spring.rst
  src/BPM/bond_bpm.cpp
Labels: enhancement, bpm_package

#3848 Bugfix for AMOEBA/HIPPO GPU
  lib/gpu/lal_amoeba.cu
  lib/gpu/lal_base_amoeba.cpp
  lib/gpu/lal_base_amoeba.h
  lib/gpu/lal_hippo.cpp
  lib/gpu/lal_hippo.cu
  src/GPU/pair_amoeba_gpu.cpp
  src/GPU/pair_hippo_gpu.cpp
Labels: gpu_package, bugfix

#3855 Collected small changes and fixes
  doc/src/dynamical_matrix.rst
  doc/src/minimize.rst
  doc/src/third_order.rst
  src/REPLICA/temper.cpp
  src/REPLICA/temper.h
  src/REPLICA/temper_grem.cpp
  src/REPLICA/temper_grem.h
  src/REPLICA/temper_npt.cpp
  src/REPLICA/temper_npt.h
  src/atom.cpp
  src/atom_vec_sphere.cpp
  src/compute_aggregate_atom.cpp
  src/compute_centro_atom.cpp
  src/compute_cluster_atom.cpp
  src/compute_cna_atom.cpp
  src/compute_coord_atom.cpp
  src/compute_count_type.cpp
  src/compute_erotate_sphere_atom.cpp
  src/compute_fragment_atom.cpp
  src/compute_ke_atom.cpp
  src/fix_wall_reflect.cpp
  src/reset_atoms_id.cpp
  tools/vim/lammps.vim
Labels: documentation, bugfix, maintenance, refactor

#3860 Small refactor to better handle diamflag in fix adapt and fix adapt/fep
  src/BPM/atom_vec_bpm_sphere.cpp
  src/FEP/fix_adapt_fep.cpp
  src/FEP/fix_adapt_fep.h
  src/KOKKOS/atom_vec_sphere_kokkos.cpp
  src/atom_vec_sphere.cpp
  src/fix.cpp
  src/fix.h
  src/fix_adapt.cpp
  src/fix_adapt.h
Labels: bugfix, refactor

#3864 Fix compile bug in Kokkos MEAM styles
  src/KOKKOS/pair_meam_kokkos.cpp
  src/KOKKOS/pair_meam_ms_kokkos.cpp
  src/KOKKOS/pppm_kokkos.h
Labels: bugfix, kokkos_package, meam_package

#3865 More fine grained monitoring if computes were initialized
  src/VTK/dump_vtk.cpp
  src/compute.cpp
  src/compute.h
  src/dump_custom.cpp
  src/dump_grid.cpp
  src/dump_image.cpp
  src/dump_local.cpp
  src/modify.cpp
  src/reset_atoms_image.cpp
  src/thermo.cpp
  src/variable.cpp
Labels: refactor
