Repository lammps/lammps, pull requests merged in 2023-01, with the labels that each got.

#3572 Fortran2 obsolescence
  doc/src/Fortran.rst
  examples/COUPLE/README
  examples/COUPLE/fortran/README
  examples/COUPLE/fortran/libfwrapper.c
  examples/COUPLE/fortran2/LAMMPS.F90
  examples/COUPLE/fortran2/Makefile
  examples/COUPLE/fortran2/README
  examples/COUPLE/simple/README
  examples/COUPLE/simple/simple_f77.f90
  fortran/lammps.f90
Labels: maintenance

#3573 Implement angle_write and dihedral_write commands
  doc/src/Commands_all.rst
  doc/src/angle_table.rst
  doc/src/angle_write.rst
  doc/src/bond_write.rst
  doc/src/commands_list.rst
  doc/src/dihedral_write.rst
  doc/utils/sphinx-config/false_positives.txt
  src/angle_write.cpp
  src/angle_write.h
  src/dihedral_write.cpp
  src/dihedral_write.h
Labels: enhancement

#3587 Collected fixes subset of pull request #3574
  doc/src/dump.rst
  doc/src/fix_adapt.rst
  examples/PACKAGES/pod/Ta/Ta_coefficients.pod
  examples/PACKAGES/pod/Ta/Ta_training_analysis.pod
  examples/PACKAGES/pod/Ta/log.4Jan23.fitpod.g++.1
  examples/PACKAGES/pod/Ta/log.4Jan23.fitpod.g++.4
  examples/PACKAGES/pod/Ta/log.4Jan23.pod.g++.1
  examples/PACKAGES/pod/Ta/log.4Jan23.pod.g++.4
  examples/PACKAGES/pod/Ta_Quadratic/Ta_coefficients.pod
  examples/PACKAGES/pod/Ta_Quadratic/Ta_training_analysis.pod
  examples/PACKAGES/pod/Ta_Quadratic/Ta_training_errors.pod
  examples/PACKAGES/pod/Ta_Quadratic/log.4Jan23.fitpod.g++.1
  examples/PACKAGES/pod/Ta_Quadratic/log.4Jan23.fitpod.g++.4
  examples/PACKAGES/pod/Ta_Quadratic/log.4Jan23.pod.g++.1
  examples/PACKAGES/pod/Ta_Quadratic/log.4Jan23.pod.g++.4
  potentials/Ta_coeff.pod
  src/FEP/compute_fep.cpp
  src/ML-POD/mlpod.cpp
  src/MOLECULE/angle_table.cpp
  src/MOLECULE/bond_table.cpp
  src/MOLECULE/dihedral_table.cpp
  src/Make.sh
  src/OPENMP/Install.sh
  src/OPENMP/dihedral_table_omp.cpp
  src/angle_write.cpp
  src/bond.cpp
  src/dihedral_write.cpp
  src/domain.cpp
  src/domain.h
  src/dump.cpp
  src/dump.h
  src/dump_custom.cpp
  src/fix_adapt.cpp
  src/output.cpp
  src/pair.cpp
  src/pair_table.cpp
  src/region_ellipsoid.cpp
  src/rerun.cpp
  tools/tabulate/angle_harmonic_tabulate.py
  tools/tabulate/dihedral_harmonic_tabulate.py
  unittest/force-styles/test_angle_style.cpp
  unittest/force-styles/tests/angle-amoeba.yaml
  unittest/force-styles/tests/dihedral-table_linear.yaml
  unittest/force-styles/tests/dihedral-table_spline.yaml
  unittest/force-styles/tests/fix-timestep-deform.yaml
  unittest/force-styles/tests/fix-timestep-deform_noremap.yaml
  unittest/force-styles/tests/fix-timestep-deform_tri.yaml
  unittest/force-styles/tests/fix-timestep-nvt_drag.yaml
  unittest/force-styles/tests/fix-timestep-nvt_mtk.yaml
Labels: bugfix, refactor

#3577 Have PyTorch interface for MLIAP working in Kokkos. This uses cuPy a…
  cmake/Modules/Packages/KOKKOS.cmake
  examples/mliap/mliap_pytorch_Ta06A_kokkos.py
  python/lammps/mliap/__init__.py
  python/lammps/mliap/loader.py
  python/lammps/mliap/pytorch.py
  src/Depend.sh
  src/KOKKOS/Install.sh
  src/KOKKOS/mliap_model_python_couple_kokkos.pyx
  src/KOKKOS/mliap_model_python_kokkos.cpp
  src/KOKKOS/mliap_model_python_kokkos.h
  src/KOKKOS/pair_mliap_kokkos.cpp
  src/ML-IAP/mliap_model_python.cpp
  src/ML-IAP/mliap_model_python.h
  src/ML-IAP/pair_mliap.cpp
  src/ML-IAP/pair_mliap.h
  src/lammps.cpp
Labels: kokkos_package, mliap_package

#3588 simplified intel suffix styles in ELECTRODE
  cmake/Modules/Packages/INTEL.cmake
  src/ELECTRODE/electrode_accel_interface.h
  src/ELECTRODE/fix_electrode_conp.cpp
  src/ELECTRODE/fix_electrode_conp.h
  src/INTEL/electrode_accel_intel.cpp
  src/INTEL/electrode_accel_intel.h
  src/INTEL/fix_electrode_conp_intel.h
  src/INTEL/fix_electrode_conq_intel.h
  src/INTEL/fix_electrode_thermo_intel.h
  src/INTEL/intel_buffers.h
  src/INTEL/pppm_electrode_intel.cpp
  src/INTEL/pppm_electrode_intel.h
  src/INTEL/verlet_lrt_intel.cpp
Labels: user_intel_package, refactor, electrode_package

#3551 Add new compute efield/wolf/atom command
  doc/src/Commands_compute.rst
  doc/src/compute.rst
  doc/src/compute_efield_wolf_atom.rst
  src/.gitignore
  src/EXTRA-COMPUTE/compute_efield_wolf_atom.cpp
  src/EXTRA-COMPUTE/compute_efield_wolf_atom.h
Labels: enhancement

#3582 Sllod variants
  doc/src/fix_nvt_sllod.rst
  doc/src/fix_nvt_sllod_eff.rst
  doc/utils/sphinx-config/false_positives.txt
  src/EFF/fix_nh_eff.cpp
  src/EFF/fix_nvt_sllod_eff.cpp
  src/EFF/fix_nvt_sllod_eff.h
  src/INTEL/fix_nvt_sllod_intel.cpp
  src/INTEL/fix_nvt_sllod_intel.h
  src/KOKKOS/fix_nvt_sllod_kokkos.cpp
  src/KOKKOS/fix_nvt_sllod_kokkos.h
  src/OPENMP/fix_nvt_sllod_omp.cpp
  src/OPENMP/fix_nvt_sllod_omp.h
  src/fix_nh.cpp
  src/fix_nvt_sllod.cpp
  src/fix_nvt_sllod.h
  unittest/force-styles/tests/fix-timestep-nvt-psllod.yaml
  unittest/force-styles/tests/fix-timestep-nvt-sllod.yaml
Labels: enhancement

#3590 Add a custom zbl() function to lepton pair styles
  doc/src/pair_lepton.rst
  src/LEPTON/lepton_utils.cpp
  src/LEPTON/lepton_utils.h
  src/LEPTON/pair_lepton.cpp
  src/LEPTON/pair_lepton.h
  src/LEPTON/pair_lepton_coul.cpp
  src/OPENMP/pair_lepton_coul_omp.cpp
  src/OPENMP/pair_lepton_omp.cpp
  unittest/force-styles/tests/mol-pair-lepton_zbl.yaml
  unittest/utils/test_lepton.cpp
Labels: enhancement, lepton_package

#3576 Updates to the DIELECTRIC package
  src/DIELECTRIC/atom_vec_dielectric.cpp
  src/DIELECTRIC/atom_vec_dielectric.h
  src/DIELECTRIC/compute_efield_atom.cpp
  src/DIELECTRIC/fix_polarize_bem_gmres.cpp
  src/DIELECTRIC/fix_polarize_bem_icc.cpp
  src/DIELECTRIC/fix_polarize_functional.cpp
  src/DIELECTRIC/msm_dielectric.cpp
  src/DIELECTRIC/pair_coul_cut_dielectric.cpp
  src/DIELECTRIC/pair_coul_long_dielectric.cpp
  src/DIELECTRIC/pair_lj_cut_coul_cut_dielectric.cpp
  src/DIELECTRIC/pair_lj_cut_coul_debye_dielectric.cpp
  src/DIELECTRIC/pair_lj_cut_coul_long_dielectric.cpp
  src/DIELECTRIC/pair_lj_cut_coul_msm_dielectric.cpp
  src/DIELECTRIC/pair_lj_long_coul_long_dielectric.cpp
  src/DIELECTRIC/pppm_dielectric.cpp
  src/DIELECTRIC/pppm_dielectric.h
  src/DIELECTRIC/pppm_disp_dielectric.cpp
  src/DIELECTRIC/pppm_disp_dielectric.h
  src/OPENMP/pair_lj_cut_coul_cut_dielectric_omp.cpp
  src/OPENMP/pair_lj_cut_coul_debye_dielectric_omp.cpp
  src/OPENMP/pair_lj_cut_coul_long_dielectric_omp.cpp
  src/atom.cpp
  src/atom.h
  src/kspace.h
  src/set.cpp
  unittest/force-styles/tests/kspace-pppm_dielectric.yaml
  unittest/force-styles/tests/kspace-pppm_disp_dielectric.yaml
Labels: maintenance, dielectric_package

#3597 Add ITEM: DIMENSION to dump grid output
  doc/src/dump.rst
  src/dump_grid.cpp
Labels: dump_feature

#3592 Collected small changes and fixes for the next patch release
  SECURITY.md
  cmake/CMakeLists.txt
  cmake/Modules/Packages/LEPTON.cmake
  doc/src/Build_extras.rst
  doc/src/Commands_fix.rst
  doc/src/Fortran.rst
  doc/src/Library_properties.rst
  doc/src/Packages_details.rst
  doc/src/pair_table.rst
  examples/COUPLE/plugin/liblammpsplugin.c
  examples/COUPLE/plugin/liblammpsplugin.h
  examples/COUPLE/plugin/simple.c
  examples/COUPLE/simple/CMakeLists.txt
  examples/COUPLE/simple/simple.c
  examples/COUPLE/simple/simple.cpp
  examples/COUPLE/simple/simple.f90
  fortran/README
  src/FEP/compute_fep.cpp
  src/MPIIO/Install.sh
  src/Make.sh
  src/ntopo.cpp
  src/ntopo_angle_all.cpp
  src/ntopo_angle_partial.cpp
  src/ntopo_angle_template.cpp
  src/ntopo_bond_all.cpp
  src/ntopo_bond_partial.cpp
  src/ntopo_bond_template.cpp
  src/ntopo_dihedral_all.cpp
  src/ntopo_dihedral_partial.cpp
  src/ntopo_dihedral_template.cpp
  src/ntopo_improper_all.cpp
  src/ntopo_improper_partial.cpp
  src/ntopo_improper_template.cpp
  src/pair_hybrid.cpp
  tools/emacs/README.md
  tools/replica/README.md
  unittest/c-library/CMakeLists.txt
  unittest/force-styles/tests/bond-gaussian.yaml
  unittest/force-styles/tests/kspace-ewald_conp_charge.yaml
  unittest/force-styles/tests/kspace-pppm_conp_charge.yaml
  unittest/fortran/CMakeLists.txt
Labels: cmake, refactor, errors

#3596 NEB routine to target equal energy difference between knots
  .gitignore
  doc/src/Fortran.rst
  doc/src/fix_neb.rst
  doc/src/neb.rst
  examples/neb/log.14Jan23.neb.hop1.end.g++.4
  examples/neb/log.14Jan23.neb.hop1.end.g++.8
  examples/neb/log.14Jan23.neb.hop1.g++.4
  examples/neb/log.14Jan23.neb.hop1.g++.8
  examples/neb/log.14Jan23.neb.hop2.g++.4
  examples/neb/log.14Jan23.neb.hop2.g++.8
  examples/neb/log.14Jan23.neb.sivac.g++.4
  examples/neb/log.14Jan23.neb.sivac.g++.8
  examples/neb/log.19Jun17.neb.hop1.end.g++.4
  examples/neb/log.19Jun17.neb.hop1.end.g++.8
  examples/neb/log.19Jun17.neb.hop1.g++.4
  examples/neb/log.19Jun17.neb.hop1.g++.8
  examples/neb/log.19Jun17.neb.hop2.g++.4
  examples/neb/log.19Jun17.neb.hop2.g++.8
  examples/neb/log.19Jun17.neb.sivac.g++.4
  examples/neb/log.19Jun17.neb.sivac.g++.8
  src/REPLICA/fix_neb.cpp
  src/REPLICA/fix_neb.h
  src/REPLICA/neb.cpp
  src/REPLICA/neb.h
Labels: enhancement

#3602 Collected small changes and fixes
  .github/CODEOWNERS
  doc/src/Modify_overview.rst
  doc/src/fix_reaxff_species.rst
  doc/src/thermo_style.rst
  lib/lepton/Common.mk
  lib/lepton/include/lepton/Operation.h
  src/BPM/bond_bpm_rotational.cpp
  src/EXTRA-FIX/fix_rhok.cpp
  src/INTERLAYER/pair_kolmogorov_crespi_z.cpp
  src/INTERLAYER/pair_lebedeva_z.cpp
  src/KSPACE/msm.cpp
  src/MANYBODY/pair_extep.cpp
  src/MANYBODY/pair_meam_spline.h
  src/MDI/fix_mdi_qm.h
  src/MISC/fix_imd.cpp
  src/ML-IAP/mliap_model_quadratic.cpp
  src/ML-IAP/mliap_so3.cpp
  src/ML-POD/mlpod.cpp
  src/ML-SNAP/pair_snap.cpp
  src/PTM/ptm_alt_templates.h
  src/PTM/ptm_deformation_gradient.h
  src/PTM/ptm_index.cpp
  src/PTM/ptm_quat.cpp
  src/PTM/ptm_voronoi_config.h
  src/REACTION/superpose3d.h
  src/REPLICA/fix_pimd.cpp
  src/REPLICA/neb.cpp
  src/RIGID/fix_shake.cpp
  src/compute_orientorder_atom.cpp
  src/group.cpp
  src/min_fire.cpp
  src/platform.h
  unittest/commands/test_groups.cpp
  unittest/formats/test_molecule_file.cpp
  unittest/python/CMakeLists.txt
Labels: documentation, bugfix, unittest_feature, refactor

#3598 Fix some issues with Kokkos hybrid `atom_vec`
  src/KOKKOS/atom_kokkos.cpp
  src/KOKKOS/atom_vec_atomic_kokkos.h
  src/KOKKOS/atom_vec_charge_kokkos.cpp
  src/KOKKOS/atom_vec_hybrid_kokkos.cpp
  src/KOKKOS/atom_vec_hybrid_kokkos.h
  src/KOKKOS/compute_temp_kokkos.cpp
Labels: bugfix, kokkos_package

#3603 reaxff/species delete rate limit
  doc/src/fix_reaxff_species.rst
  src/REAXFF/fix_reaxff_species.cpp
  src/REAXFF/fix_reaxff_species.h
Labels: enhancement

#3610 Auto-enable packages with CMake if needed
  cmake/Modules/LAMMPSUtils.cmake
  cmake/Modules/Packages/COMPRESS.cmake
Labels: cmake

#3613 Attempted to allow GPU acceleration on MacOS with neighbor builds on …
  lib/gpu/lal_neighbor.h
Labels: enhancement, gpu_package, bugfix

#3617 Only added amoeba_convolution_gpu.* to the list of GPU source files w…
  cmake/Modules/Packages/GPU.cmake
Labels: gpu_package, cmake

#3615 Small bugfixes for Kokkos
  src/KOKKOS/fix_nvt_kokkos.cpp
  src/KOKKOS/fix_nvt_sllod_kokkos.cpp
  src/KOKKOS/fix_setforce_kokkos.cpp
  src/KOKKOS/min_kokkos.cpp
  src/KOKKOS/region_block_kokkos.cpp
Labels: bugfix, kokkos_package

#3606 Developed MLIAP-KOKKOS version of the Unified model/descriptor
  cmake/Modules/Packages/KOKKOS.cmake
  python/lammps/mliap/__init__.py
  python/lammps/mliap/loader.py
  src/KOKKOS/Install.sh
  src/KOKKOS/mliap_data_kokkos.cpp
  src/KOKKOS/mliap_data_kokkos.h
  src/KOKKOS/mliap_descriptor_so3_kokkos.cpp
  src/KOKKOS/mliap_model_python_kokkos.h
  src/KOKKOS/mliap_unified_couple_kokkos.pyx
  src/KOKKOS/mliap_unified_kokkos.cpp
  src/KOKKOS/mliap_unified_kokkos.h
  src/KOKKOS/pair_mliap_kokkos.cpp
  src/ML-IAP/pair_mliap.cpp
Labels: kokkos_package, mliap_package

#3612 Fix PIMD: bugfix in spring energy, and adding virial estimator
  doc/src/fix_pimd.rst
  src/REPLICA/fix_pimd.cpp
  src/REPLICA/fix_pimd.h
Labels: enhancement, bugfix, replica_package

#3608 Multi-state MEAM with Kokkos support
  doc/src/Commands_pair.rst
  doc/src/pair_meam.rst
  doc/src/pair_style.rst
  examples/meam/msmeam/HGa.meam
  examples/meam/msmeam/README.md
  examples/meam/msmeam/data.msmeam.bu
  examples/meam/msmeam/dump.msmeam.bu
  examples/meam/msmeam/in.msmeam
  examples/meam/msmeam/library.msmeam
  examples/meam/msmeam/log.msmeam.bu
  examples/meam/msmeam/msmeam.dump.bu
  examples/meam/msmeam/potential.mod
  lib/kokkos/kokkos_5538.diff
  lib/kokkos/kokkos_5706.diff
  lib/kokkos/kokkos_5731.diff
  lib/kokkos/kokkos_5739.diff
  lib/kokkos/kokkos_fix_5706_apply_last.diff
  potentials/HGa.msmeam
  potentials/library.msmeam
  src/KOKKOS/Install.sh
  src/KOKKOS/meam_dens_final_kokkos.h
  src/KOKKOS/meam_dens_init_kokkos.h
  src/KOKKOS/meam_force_kokkos.h
  src/KOKKOS/meam_impl_kokkos.h
  src/KOKKOS/meam_kokkos.h
  src/KOKKOS/pair_meam_kokkos.cpp
  src/KOKKOS/pair_meam_kokkos.h
  src/KOKKOS/pair_meam_ms_kokkos.cpp
  src/KOKKOS/pair_meam_ms_kokkos.h
  src/MEAM/meam.h
  src/MEAM/meam_dens_final.cpp
  src/MEAM/meam_dens_init.cpp
  src/MEAM/meam_force.cpp
  src/MEAM/meam_impl.cpp
  src/MEAM/meam_setup_done.cpp
  src/MEAM/meam_setup_global.cpp
  src/MEAM/pair_meam.cpp
  src/MEAM/pair_meam.h
  src/MEAM/pair_meam_ms.cpp
  src/MEAM/pair_meam_ms.h
  unittest/force-styles/tests/atomic-pair-meam_ms.yaml
Labels: enhancement, kokkos_package, meam_package

#3629 BUGFIX: update ML_PACE library version
  cmake/Modules/Packages/ML-PACE.cmake
  doc/src/pair_pace.rst
  lib/pace/Install.py
Labels: kokkos_package, pace_package
