Repository lammps/lammps, pull requests merged in 2023-09, with the labels that each got.

#3910 Add slideshow feature to LAMMPS GUI
  cmake/packaging/LAMMPS_DMG_Background.png
  cmake/packaging/MacOSXBundleInfo.plist.in
  cmake/packaging/README.macos
  cmake/packaging/build_linux_tgz.sh
  cmake/packaging/build_macos_dmg.sh
  cmake/packaging/build_windows_vs.cmake
  doc/src/Howto_lammps_gui.rst
  doc/src/JPG/lammps-gui-prefs-accel.png
  doc/src/JPG/lammps-gui-prefs-general.png
  doc/src/JPG/lammps-gui-prefs-image.png
  doc/src/JPG/lammps-gui-slideshow.png
  doc/utils/sphinx-config/false_positives.txt
  src/dump_image.cpp
  src/dump_movie.cpp
  src/library.cpp
  src/read_restart.cpp
  src/thermo.cpp
  src/thermo.h
  tools/lammps-gui/CMakeLists.txt
  tools/lammps-gui/TODO.md
  tools/lammps-gui/go-first.png
  tools/lammps-gui/go-last.png
  tools/lammps-gui/go-next-2.png
  tools/lammps-gui/go-previous-2.png
  tools/lammps-gui/highlighter.cpp
  tools/lammps-gui/highlighter.h
  tools/lammps-gui/image-x-generic.png
  tools/lammps-gui/imageviewer.cpp
  tools/lammps-gui/imageviewer.h
  tools/lammps-gui/lammpsgui.cpp
  tools/lammps-gui/lammpsgui.h
  tools/lammps-gui/lammpsgui.qrc
  tools/lammps-gui/lammpsgui.ui
  tools/lammps-gui/media-playback-start-2.png
  tools/lammps-gui/media-playlist-repeat.png
  tools/lammps-gui/preferences.cpp
  tools/lammps-gui/setvariables.cpp
  tools/lammps-gui/slideshow.cpp
  tools/lammps-gui/slideshow.h
  unittest/formats/test_atom_styles.cpp
Labels: enhancement, tools, library_interface

#3912 Add reformatting of line and command completion to LAMMPS GUI
  doc/src/Howto_lammps_gui.rst
  doc/src/JPG/lammps-gui-prefs-accel.png
  doc/src/JPG/lammps-gui-prefs-editor.png
  doc/src/JPG/lammps-gui-prefs-general.png
  doc/src/JPG/lammps-gui-prefs-image.png
  examples/COUPLE/plugin/liblammpsplugin.h
  src/input.cpp
  src/library.cpp
  src/output.cpp
  tools/lammps-gui/CMakeLists.txt
  tools/lammps-gui/TODO.md
  tools/lammps-gui/codeeditor.cpp
  tools/lammps-gui/codeeditor.h
  tools/lammps-gui/expand-text.png
  tools/lammps-gui/format-indent-less-3.png
  tools/lammps-gui/highlighter.cpp
  tools/lammps-gui/highlighter.h
  tools/lammps-gui/lammps_internal_commands.txt
  tools/lammps-gui/lammpsgui.cpp
  tools/lammps-gui/lammpsgui.qrc
  tools/lammps-gui/lammpswrapper.cpp
  tools/lammps-gui/lammpswrapper.h
  tools/lammps-gui/periodic_table.h
  tools/lammps-gui/preferences.cpp
  tools/lammps-gui/preferences.h
Labels: enhancement, bugfix, tools

#3915 Initialize ADIOS dumps only the first time when used in multiple runs (for custom/adios dump style)
  src/ADIOS/dump_atom_adios.cpp
  src/ADIOS/dump_custom_adios.cpp
Labels: bugfix

#3919 Collected small fixes and updates
  doc/src/Build_basics.rst
  doc/src/Build_extras.rst
  doc/src/Howto_lammps_gui.rst
  doc/src/fix_plumed.rst
  lib/machdyn/Install.py
  lib/machdyn/README
  src/BODY/fix_wall_body_polyhedron.cpp
  src/KOKKOS/Install.sh
  src/KSPACE/ewald_disp.cpp
  src/MANYBODY/pair_airebo.cpp
  src/read_restart.cpp
  tools/Makefile
  tools/lammps-gui/CMakeLists.txt
  tools/lammps-gui/lammpsgui.cpp
  tools/lammps-gui/preferences.cpp
  tools/lammps-shell/lammps-shell.cpp
Labels: documentation, bugfix, build_system

#3922 Apply fix for hipfft paths in ROCm >= 6.0
  src/KOKKOS/fftdata_kokkos.h
Labels: kspace_package, kokkos_package, maintenance

#3924 Collected small changes and fixes
  doc/src/Build_cmake.rst
  doc/src/Build_extras.rst
  doc/src/Build_package.rst
  lib/colvars/colvar.cpp
  src/ELECTRODE/electrode_matrix.cpp
  src/ELECTRODE/electrode_vector.cpp
  src/ELECTRODE/pppm_electrode.cpp
  src/EXTRA-COMPUTE/compute_ackland_atom.cpp
  src/EXTRA-COMPUTE/compute_basal_atom.cpp
  src/EXTRA-COMPUTE/compute_hexorder_atom.cpp
  src/INTEL/pppm_electrode_intel.cpp
  src/KOKKOS/pair_reaxff_kokkos.cpp
  src/KSPACE/fix_tune_kspace.cpp
  src/MANYBODY/pair_bop.cpp
  src/MDI/mdi_engine.cpp
  src/OPENMP/fix_qeq_reaxff_omp.cpp
  src/OPENMP/msm_cg_omp.cpp
  src/QEQ/fix_qeq.cpp
  src/REAXFF/fix_qeq_reaxff.cpp
  src/REAXFF/fix_reaxff_bonds.cpp
  src/REAXFF/reaxff_allocate.cpp
  src/REAXFF/reaxff_ffield.cpp
  src/REPLICA/neb.cpp
  src/REPLICA/temper_grem.cpp
  src/compute_centro_atom.cpp
  src/compute_orientorder_atom.cpp
  src/create_atoms.cpp
  src/lammps.cpp
  src/platform.cpp
  src/read_data.cpp
  src/special.cpp
  src/utils.cpp
Labels: user_reaxc_package, bugfix, refactor
