Repository lammps/lammps, pull requests merged in 2023-08, with the labels that each got.

#3859 Address GPU package issues with OpenCL on Intel GPU with single-only hardware (e.g. Xe)
  lib/gpu/lal_device.cpp
  lib/gpu/lal_pre_ocl_config.h
  lib/gpu/lal_preprocessor.h
Labels: gpu_package, bugfix

#3874 Add missing path to Kokkos Perlmutter Makefile
  src/MAKE/MACHINES/Makefile.perlmutter_kokkos
Labels: kokkos_package, build_system

#3870 Add simple LAMMPS GUI using Qt library
  .gitignore
  cmake/CMakeLists.txt
  cmake/CMakeSettings.json
  cmake/Modules/Tools.cmake
  cmake/packaging/LAMMPS_DMG_Background.png
  cmake/packaging/MacOSXBundleInfo.plist.in
  cmake/packaging/README.macos
  cmake/packaging/build_linux_tgz.sh
  cmake/packaging/build_macos_dmg.sh
  cmake/packaging/build_windows_cross_zip.sh
  cmake/packaging/build_windows_vs.cmake
  cmake/packaging/lammps-icon-1024x1024.png
  cmake/packaging/lammps.icns
  cmake/packaging/linux_wrapper.sh
  cmake/packaging/png2iconset.sh
  cmake/presets/macos-multiarch.cmake
  doc/src/Developer_grid.rst
  doc/src/Tools.rst
  doc/utils/sphinx-config/false_positives.txt
  src/thermo.cpp
  tools/coding_standard/permissions.py
  tools/coding_standard/whitespace.py
  tools/lammps-gui/.clang-format
  tools/lammps-gui/.gitignore
  tools/lammps-gui/CMakeLists.txt
  tools/lammps-gui/CMakeLists.txt.user
  tools/lammps-gui/DejaVuSansMono.ttf
  tools/lammps-gui/README.md
  tools/lammps-gui/TODO.md
  tools/lammps-gui/codeeditor.cpp
  tools/lammps-gui/codeeditor.h
  tools/lammps-gui/highlighter.cpp
  tools/lammps-gui/highlighter.h
  tools/lammps-gui/imageviewer.cpp
  tools/lammps-gui/imageviewer.h
  tools/lammps-gui/lammps-icon-128x128.png
  tools/lammps-gui/lammpsgui.cpp
  tools/lammps-gui/lammpsgui.h
  tools/lammps-gui/lammpsgui.qrc
  tools/lammps-gui/lammpsgui.ui
  tools/lammps-gui/lammpsrunner.h
  tools/lammps-gui/lammpswrapper.cpp
  tools/lammps-gui/lammpswrapper.h
  tools/lammps-gui/linenumberarea.h
  tools/lammps-gui/main.cpp
  tools/lammps-gui/preferences.cpp
  tools/lammps-gui/preferences.h
  tools/lammps-gui/stdcapture.cpp
  tools/lammps-gui/stdcapture.h
Labels: tools

#3856 Remove MSCG package from LAMMPS distribution
  cmake/CMakeLists.txt
  cmake/Modules/Packages/MSCG.cmake
  cmake/presets/all_off.cmake
  cmake/presets/all_on.cmake
  cmake/presets/download.cmake
  cmake/presets/nolib.cmake
  doc/src/Build_extras.rst
  doc/src/Build_package.rst
  doc/src/Commands_fix.rst
  doc/src/Commands_removed.rst
  doc/src/Examples.rst
  doc/src/Packages_details.rst
  doc/src/Packages_list.rst
  doc/src/fix.rst
  doc/src/fix_mscg.rst
  examples/README
  examples/mscg/README
  examples/mscg/control.in
  examples/mscg/data.meoh
  examples/mscg/dump.meoh
  examples/mscg/in.mscg
  examples/mscg/log.16Mar23.g++.1
  examples/mscg/output_16Mar23/1_1.dat
  examples/mscg/output_16Mar23/1_1.table
  examples/mscg/output_16Mar23/b-spline.out
  examples/mscg/output_16Mar23/rmin.in
  examples/mscg/output_16Mar23/rmin_b.in
  examples/mscg/output_16Mar23/sol_info.out
  examples/mscg/output_16Mar23/x.out
  lib/README
  lib/mscg/.gitignore
  lib/mscg/Install.py
  lib/mscg/Makefile.lammps.default
  lib/mscg/Makefile.lammps.g++_simple
  lib/mscg/Makefile.lammps.mpi
  lib/mscg/Makefile.lammps.serial
  lib/mscg/Makefile.mpi
  lib/mscg/Makefile.serial
  lib/mscg/README
  src/MSCG/Install.sh
  src/MSCG/README
  src/MSCG/fix_mscg.cpp
  src/MSCG/fix_mscg.h
  src/Makefile
  src/Purge.list
  src/fix_deprecated.cpp
Labels: documentation, build_system, cmake, maintenance, examples

#3736 Always throw exceptions for errors
  cmake/CMakeLists.txt
  cmake/Modules/LAMMPSInterfacePlugin.cmake
  cmake/Modules/Tools.cmake
  doc/src/Build_settings.rst
  doc/src/Fortran.rst
  doc/src/Howto_cmake.rst
  doc/src/Howto_pylammps.rst
  doc/src/Python_error.rst
  examples/COUPLE/plugin/CMakeLists.txt
  examples/COUPLE/simple/CMakeLists.txt
  examples/plugins/CMakeLists.txt
  src/error.cpp
  src/error.h
  src/exceptions.h
  src/info.cpp
  src/lammps.cpp
  src/library.cpp
  src/main.cpp
  tools/lammps-gui/CMakeLists.txt
  unittest/c-library/CMakeLists.txt
  unittest/c-library/test_library_config.cpp
  unittest/c-library/test_library_properties.cpp
  unittest/commands/test_compute_chunk.cpp
  unittest/commands/test_compute_global.cpp
  unittest/commands/test_delete_atoms.cpp
  unittest/commands/test_groups.cpp
  unittest/commands/test_kim_commands.cpp
  unittest/commands/test_labelmap.cpp
  unittest/commands/test_lattice_region.cpp
  unittest/commands/test_regions.cpp
  unittest/commands/test_reset_atoms.cpp
  unittest/commands/test_set_property.cpp
  unittest/commands/test_simple_commands.cpp
  unittest/commands/test_variables.cpp
  unittest/cplusplus/test_advanced_utils.cpp
  unittest/cplusplus/test_error_class.cpp
  unittest/formats/test_file_operations.cpp
  unittest/formats/test_molecule_file.cpp
  unittest/formats/test_potential_file_reader.cpp
  unittest/formats/test_text_file_reader.cpp
  unittest/fortran/wrap_properties.cpp
  unittest/python/CMakeLists.txt
  unittest/python/python-open.py
  unittest/testing/core.h
  unittest/utils/test_lepton.cpp
Labels: library_interface, maintenance, refactor

#3832 Update fmtlib copy to version 10
  src/fmt/args.h
  src/fmt/chrono.h
  src/fmt/color.h
  src/fmt/compile.h
  src/fmt/core.h
  src/fmt/format-inl.h
  src/fmt/format.h
  src/fmt/os.h
  src/fmt/ostream.h
  src/fmt/printf.h
  src/fmt/ranges.h
  src/fmt/std.h
  src/fmt/xchar.h
  src/fmtlib_format.cpp
  src/fmtlib_os.cpp
Labels: maintenance

#3836 Make CMake 3.16 the minimum required version
  cmake/CMakeLists.txt
  cmake/Modules/CodingStandard.cmake
  cmake/Modules/Documentation.cmake
  cmake/Modules/FindCythonize.cmake
  cmake/Modules/LAMMPSInterfacePlugin.cmake
  cmake/Modules/LAMMPSUtils.cmake
  cmake/Modules/Packages/COLVARS.cmake
  cmake/Modules/Packages/GPU.cmake
  cmake/Modules/Packages/KIM.cmake
  cmake/Modules/Packages/KOKKOS.cmake
  cmake/Modules/Packages/LEPTON.cmake
  cmake/Modules/Packages/MDI.cmake
  cmake/Modules/Packages/ML-IAP.cmake
  cmake/Modules/Packages/PYTHON.cmake
  cmake/Modules/StyleHeaderUtils.cmake
  cmake/Modules/Testing.cmake
  cmake/Modules/Tools.cmake
  doc/src/Build_cmake.rst
  doc/src/Howto_cmake.rst
  doc/src/Intro_portability.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/COUPLE/plugin/CMakeLists.txt
  examples/COUPLE/simple/CMakeLists.txt
  examples/PACKAGES/pace/plugin/CMakeLists.txt
  examples/kim/plugin/CMakeLists.txt
  examples/plugins/CMakeLists.txt
  tools/phonon/CMakeLists.spglib
  tools/phonon/CMakeLists.txt
  tools/phonon/tricubic/CMakeLists.txt
  tools/swig/CMakeLists.txt
  unittest/CMakeLists.txt
  unittest/c-library/CMakeLists.txt
  unittest/commands/CMakeLists.txt
  unittest/cplusplus/CMakeLists.txt
  unittest/force-styles/CMakeLists.libyaml
  unittest/force-styles/CMakeLists.txt
  unittest/formats/CMakeLists.txt
  unittest/formats/test_file_operations.cpp
  unittest/fortran/CMakeLists.txt
  unittest/python/CMakeLists.txt
  unittest/tools/CMakeLists.txt
  unittest/utils/CMakeLists.txt
Labels: documentation, cmake, maintenance

#3871 Per-atom compute to calculate local composition of atom types
  doc/src/Commands_compute.rst
  doc/src/compute.rst
  doc/src/compute_local_comp_atom.rst
  doc/utils/sphinx-config/false_positives.txt
  src/.gitignore
  src/EXTRA-COMPUTE/compute_local_comp_atom.cpp
  src/EXTRA-COMPUTE/compute_local_comp_atom.h
  src/KOKKOS/Install.sh
  src/KOKKOS/compute_local_comp_atom_kokkos.cpp
  src/KOKKOS/compute_local_comp_atom_kokkos.h
  unittest/formats/CMakeLists.txt
Labels: kokkos_package, compute_feature

#3884 Update fmtlib to version 10.1
  lib/python/Makefile.lammps
  src/fmt/core.h
  src/fmt/format.h
  src/fmt/std.h
  tools/singularity/ubuntu20.04.def
  tools/singularity/ubuntu20.04_amd_rocm.def
  tools/singularity/ubuntu20.04_gpu.def
  tools/singularity/ubuntu20.04_intel_opencl.def
  tools/singularity/ubuntu20.04_nvidia.def
  tools/singularity/ubuntu20.04_oneapi.def
  tools/singularity/ubuntu22.04.def
Labels: maintenance

#3888 Changes to make example script in ASPHERE/tri run smoothly
  examples/ASPHERE/tri/in.tri.srd
  examples/ASPHERE/tri/log.15Aug23.tri.srd.g++.8
  examples/ASPHERE/tri/log.1Feb14.tri.srd.g++.8
  src/SRD/fix_srd.cpp
Labels: bugfix

#3890 More lammps gui improvements
  doc/src/Howto_lammps_gui.rst
  doc/src/JPG/lammps-gui-image.png
  doc/src/JPG/lammps-gui-main.png
  doc/src/JPG/lammps-gui-prefs-general.png
  doc/src/JPG/lammps-gui-running.png
  tools/lammps-gui/CMakeLists.txt
  tools/lammps-gui/TODO.md
  tools/lammps-gui/emblem-default.png
  tools/lammps-gui/emblem-photos.png
  tools/lammps-gui/highlighter.cpp
  tools/lammps-gui/imageviewer.cpp
  tools/lammps-gui/imageviewer.h
  tools/lammps-gui/lammps-logo.png
  tools/lammps-gui/lammpsgui.cpp
  tools/lammps-gui/lammpsgui.h
  tools/lammps-gui/lammpsgui.qrc
  tools/lammps-gui/lammpsgui.ui
  tools/lammps-gui/lammpswrapper.cpp
  tools/lammps-gui/lammpswrapper.h
  tools/lammps-gui/periodic_table.h
  tools/lammps-gui/preferences.cpp
  tools/lammps-gui/preferences.h
  tools/lammps-gui/process-stop.png
  tools/lammps-gui/system-run.png
  tools/lammps-gui/vdw-style.png
Labels: enhancement, tools

#3889 Implement anti-aliasing for dump image (and dump movie)
  doc/src/JPG/image.both.png
  doc/src/JPG/image.default.png
  doc/src/JPG/image.fsaa.png
  doc/src/JPG/image.ssao.png
  doc/src/dump_image.rst
  doc/utils/sphinx-config/false_positives.txt
  src/dump_image.cpp
  src/image.cpp
  src/image.h
Labels: enhancement, dump_feature

#3894 Remove MPIIO package
  cmake/CMakeLists.txt
  cmake/presets/all_off.cmake
  cmake/presets/all_on.cmake
  cmake/presets/mingw-cross.cmake
  cmake/presets/nolib.cmake
  doc/src/Build_basics.rst
  doc/src/Commands_dump.rst
  doc/src/Commands_removed.rst
  doc/src/Errors_messages.rst
  doc/src/Install_mac.rst
  doc/src/Install_windows.rst
  doc/src/Packages_details.rst
  doc/src/Packages_list.rst
  doc/src/dump.rst
  doc/src/dump_modify.rst
  doc/src/read_restart.rst
  doc/src/restart.rst
  doc/src/write_restart.rst
  src/.gitignore
  src/MPIIO/Install.sh
  src/MPIIO/dump_atom_mpiio.cpp
  src/MPIIO/dump_atom_mpiio.h
  src/MPIIO/dump_cfg_mpiio.cpp
  src/MPIIO/dump_cfg_mpiio.h
  src/MPIIO/dump_custom_mpiio.cpp
  src/MPIIO/dump_custom_mpiio.h
  src/MPIIO/dump_xyz_mpiio.cpp
  src/MPIIO/dump_xyz_mpiio.h
  src/MPIIO/restart_mpiio.cpp
  src/MPIIO/restart_mpiio.h
  src/Makefile
  src/Purge.list
  src/dump.cpp
  src/dump_deprecated.cpp
  src/dump_deprecated.h
  src/mpiio.h
  src/output.cpp
  src/read_restart.cpp
  src/read_restart.h
  src/write_restart.cpp
  src/write_restart.h
  unittest/formats/test_file_operations.cpp
Labels: maintenance

#3885 Made check incase PyTorch didn't define the device
  python/lammps/mliap/pytorch.py
Labels: mliap_package

#3898 Fix bug in Kokkos ReaxFF on GPUs when border comm is on host
  src/KOKKOS/comm_kokkos.cpp
Labels: user_reaxc_package, bugfix, kokkos_package

#3906 Update fmtlib to version 10.1.1
  src/fmt/core.h
  src/fmt/format.h
  src/fmt/std.h
Labels: maintenance

#3908 Add info for on-line manual versions to Manaul home page
  doc/src/Manual.rst
Labels: documentation

#3903 Collected small changes and fixes
  doc/src/compute_stress_atom.rst
  doc/utils/requirements.txt
  src/INTEL/angle_charmm_intel.h
  src/INTEL/angle_harmonic_intel.h
  src/INTEL/bond_fene_intel.h
  src/INTEL/bond_harmonic_intel.h
  src/INTEL/dihedral_charmm_intel.h
  src/INTEL/dihedral_fourier_intel.h
  src/INTEL/dihedral_harmonic_intel.h
  src/INTEL/dihedral_opls_intel.h
  src/INTEL/improper_cvff_intel.h
  src/INTEL/improper_harmonic_intel.h
  src/INTEL/pair_buck_coul_cut_intel.h
  src/INTEL/pair_buck_coul_long_intel.h
  src/INTEL/pair_buck_intel.h
  src/INTEL/pair_dpd_intel.h
  src/INTEL/pair_eam_intel.h
  src/INTEL/pair_gayberne_intel.h
  src/INTEL/pair_lj_charmm_coul_charmm_intel.h
  src/INTEL/pair_lj_charmm_coul_long_intel.h
  src/INTEL/pair_lj_cut_coul_long_intel.h
  src/INTEL/pair_lj_cut_intel.h
  src/INTEL/pair_sw_intel.h
  src/INTEL/pair_tersoff_intel.h
  src/REPLICA/fix_pimd_langevin.cpp
  src/REPLICA/fix_pimd_langevin.h
  src/SRD/fix_srd.cpp
  src/lammps.cpp
  src/lammps.h
  tools/phonon/dynmat.cpp
Labels: bugfix, maintenance

#3904 Add highlighting of current line in lammps-gui and tracking of line numbers in LAMMPS
  doc/src/Howto_lammps_gui.rst
  doc/src/JPG/lammps-gui-log.png
  doc/src/JPG/lammps-gui-run-error.png
  doc/src/JPG/lammps-gui-run-highlight.png
  doc/src/JPG/lammps-gui-variable-info.png
  doc/src/Library_objects.rst
  doc/src/Tools.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/COUPLE/plugin/liblammpsplugin.c
  examples/COUPLE/plugin/liblammpsplugin.h
  src/force.cpp
  src/info.cpp
  src/info.h
  src/input.cpp
  src/input.h
  src/library.cpp
  src/library.h
  src/thermo.cpp
  src/thermo.h
  tools/lammps-gui/CMakeLists.txt
  tools/lammps-gui/TODO.md
  tools/lammps-gui/chartviewer.cpp
  tools/lammps-gui/codeeditor.cpp
  tools/lammps-gui/codeeditor.h
  tools/lammps-gui/lammpsgui.cpp
  tools/lammps-gui/lammpsgui.h
  tools/lammps-gui/lammpsgui.qrc
  tools/lammps-gui/lammpsgui.ui
  tools/lammps-gui/lammpsrunner.h
  tools/lammps-gui/lammpswrapper.cpp
  tools/lammps-gui/lammpswrapper.h
  tools/lammps-gui/preferences.cpp
  tools/lammps-gui/run-file.png
Labels: enhancement, tools, library_interface

#3911 Fix bug in MDI energy
  src/MDI/fix_mdi_qm.cpp
  src/MDI/fix_mdi_qmmm.cpp
Labels: bugfix
