Repository lammps/lammps, pull requests merged in 2023-04, with the labels that each got.

#3718 Cleanup internally created group in fix gcmc
  src/MC/fix_charge_regulation.cpp
  src/MC/fix_gcmc.cpp
  src/MC/fix_widom.cpp
Labels: mc_package, bugfix

#3720 Collected small changes and fixes
  doc/src/Howto_tip4p.rst
  doc/src/fix_indent.rst
  src/ASPHERE/pair_ylz.h
  src/COLVARS/fix_colvars.cpp
  src/COLVARS/fix_colvars.h
  src/EXTRA-COMPUTE/compute_hma.cpp
  src/EXTRA-FIX/fix_controller.cpp
  src/EXTRA-PAIR/pair_born_gauss.cpp
  src/MC/fix_charge_regulation.cpp
  src/MC/fix_gcmc.cpp
  src/MDI/fix_mdi_qmmm.cpp
  src/MISC/fix_imd.cpp
  src/OPENMP/thr_omp.cpp
  src/domain.cpp
  src/domain.h
  src/modify.cpp
  src/read_data.cpp
  src/version.h
  src/write_data.cpp
  tools/singularity/fedora35_mingw.def
  tools/singularity/fedora36_mingw.def
  unittest/CMakeLists.txt
  unittest/c-library/CMakeLists.txt
Labels: documentation, maintenance

#3723 Fix issue with Kokkos fix shake on GPUs from #3719
  src/KOKKOS/fix_shake_kokkos.cpp
  src/KOKKOS/fix_shake_kokkos.h
Labels: rigid_package, bugfix, kokkos_package

#3717 Block regions with bounds defined by equal-style variables
  doc/src/region.rst
  src/region_block.cpp
  src/region_block.h
Labels: enhancement

#3726 Add missing hipFFT dependency CMake logic
  cmake/Modules/DetectHIPInstallation.cmake
  cmake/Modules/Packages/GPU.cmake
  cmake/Modules/Packages/KOKKOS.cmake
  tools/singularity/ubuntu20.04_amd_rocm.def
  tools/singularity/ubuntu20.04_gpu.def
Labels: kokkos_package, build_system, cmake

#3728 Patching various bugs in GRANULAR
  examples/granular/in.pour.heat
  examples/granular/log.28Mar23.pour.drum.g++.1
  examples/granular/log.28Mar23.pour.drum.g++.4
  examples/granular/log.28Mar23.pour.flatwall.g++.1
  examples/granular/log.28Mar23.pour.flatwall.g++.4
  examples/granular/log.28Mar23.pour.heat.g++.1
  examples/granular/log.28Mar23.pour.heat.g++.4
  src/GRANULAR/fix_wall_gran_region.cpp
  src/GRANULAR/gran_sub_mod.cpp
  src/GRANULAR/gran_sub_mod.h
  src/GRANULAR/gran_sub_mod_damping.cpp
  src/GRANULAR/gran_sub_mod_heat.cpp
  src/GRANULAR/gran_sub_mod_normal.cpp
  src/GRANULAR/gran_sub_mod_normal.h
  src/GRANULAR/gran_sub_mod_tangential.cpp
  src/GRANULAR/gran_sub_mod_twisting.cpp
  src/GRANULAR/granular_model.cpp
  src/GRANULAR/granular_model.h
  src/GRANULAR/pair_granular.cpp
  src/set.cpp
Labels: bugfix, granular_package

#3725 Collected small changes and fixes
  cmake/Modules/LAMMPSUtils.cmake
  cmake/Modules/Packages/PLUMED.cmake
  cmake/Modules/Testing.cmake
  doc/src/Build_extras.rst
  doc/src/fix_wall_gran.rst
  doc/src/pair_colloid.rst
  examples/mliap/mliap_numpy_Ta06A.py
  examples/mliap/mliap_pytorch_Ta06A.py
  examples/mliap/mliap_pytorch_Ta06A_kokkos.py
  examples/mliap/mliap_unified_lj_Ar.py
  src/EXTRA-PAIR/pair_born_gauss.cpp
  src/MANYBODY/pair_bop.cpp
  src/MC/fix_charge_regulation.cpp
  src/MC/fix_gcmc.cpp
  src/MC/fix_widom.cpp
  src/RIGID/fix_shake.cpp
  src/region_block.cpp
  src/region_cone.cpp
  src/region_cylinder.cpp
  src/region_prism.cpp
  src/region_sphere.cpp
Labels: documentation, refactor

#3733 Fix bug in Kokkos PACE
  src/KOKKOS/pair_pace_extrapolation_kokkos.h
  src/KOKKOS/pair_pace_kokkos.cpp
Labels: bugfix, kokkos_package, pace_package

#3738 Updated SMTBQ doc page citations
  doc/src/pair_smtbq.rst
Labels: documentation

#3731 Update reference in pair_pace doc page
  doc/src/pair_pace.rst
Labels: documentation, pace_package

#3734 Update examples/COUPLE for LAMMPS + SPPARKS (kMC code)
  examples/COUPLE/README
  examples/COUPLE/lammps_quest/README
  examples/COUPLE/lammps_quest/in.lammps
  examples/COUPLE/lammps_quest/lmppath.h
  examples/COUPLE/lammps_quest/lmpqst.cpp
  examples/COUPLE/lammps_quest/log.lammps.1
  examples/COUPLE/lammps_quest/log.lammps.4
  examples/COUPLE/lammps_quest/qstexe.h
  examples/COUPLE/lammps_quest/si_111.in
  examples/COUPLE/lammps_spparks/Makefile.g++
  examples/COUPLE/lammps_spparks/Makefile.mpi
  examples/COUPLE/lammps_spparks/README
  examples/COUPLE/lammps_spparks/in.lammps
  examples/COUPLE/lammps_spparks/in.spparks
  examples/COUPLE/lammps_spparks/lmppath.h
  examples/COUPLE/lammps_spparks/lmpspk.cpp
  examples/COUPLE/lammps_spparks/log.lammps.1
  examples/COUPLE/lammps_spparks/log.lammps.4
  examples/COUPLE/lammps_spparks/log.spparks.1
  examples/COUPLE/lammps_spparks/log.spparks.4
  examples/COUPLE/lammps_spparks/spkpath.h
  examples/COUPLE/library/Makefile.mpi
  examples/COUPLE/library/README
  examples/COUPLE/library/errorlib.cpp
  examples/COUPLE/library/errorlib.h
  examples/COUPLE/library/files.cpp
  examples/COUPLE/library/files.h
  examples/COUPLE/library/irregular.cpp
  examples/COUPLE/library/irregular.h
  examples/COUPLE/library/lammps_data_write.cpp
  examples/COUPLE/library/many2many.cpp
  examples/COUPLE/library/many2many.h
  examples/COUPLE/library/many2one.cpp
  examples/COUPLE/library/many2one.h
  examples/COUPLE/library/memorylib.cpp
  examples/COUPLE/library/memorylib.h
  examples/COUPLE/library/one2many.cpp
  examples/COUPLE/library/one2many.h
  examples/COUPLE/library/send2one.cpp
  examples/COUPLE/library/send2one.h
Labels: examples

#3737 Updated fix gcmc log file contents with correct species counts
  examples/mc/log.23Mar23.gcmc.lj.g++.1
  examples/mc/log.23Mar23.gcmc.lj.g++.4
Labels: mc_package, examples

#3739 Fix compile error with latest Kokkos `develop` branch
  src/KOKKOS/atom_kokkos.h
  src/KOKKOS/kokkos_type.h
Labels: kokkos_package

#3727 Small enhancements to the mdi/qm fix
  doc/src/fix_mdi_qm.rst
  doc/src/fix_mdi_qmmm.rst
  examples/COUPLE/library/README
  src/MDI/fix_mdi_qm.cpp
  src/MDI/fix_mdi_qm.h
  src/MDI/fix_mdi_qmmm.cpp
  src/MDI/fix_mdi_qmmm.h
  src/MDI/mdi_engine.cpp
  src/MDI/mdi_engine.h
Labels: user_mdi_package

#3744 Small fixes to GRANULAR
  doc/src/pair_granular.rst
  src/GRANULAR/fix_wall_gran.cpp
  src/GRANULAR/fix_wall_gran_region.cpp
Labels: bugfix, granular_package

#3747 docs: upgrade lammps_theme based on sphinx_rtd_theme 1.2.0
  doc/utils/requirements.txt
  doc/utils/sphinx-config/_themes/lammps_theme/__init__.py
  doc/utils/sphinx-config/_themes/lammps_theme/breadcrumbs.html
  doc/utils/sphinx-config/_themes/lammps_theme/footer.html
  doc/utils/sphinx-config/_themes/lammps_theme/layout.html
  doc/utils/sphinx-config/_themes/lammps_theme/locale/de/LC_MESSAGES/sphinx.mo
  doc/utils/sphinx-config/_themes/lammps_theme/locale/de/LC_MESSAGES/sphinx.po
  doc/utils/sphinx-config/_themes/lammps_theme/locale/en/LC_MESSAGES/sphinx.mo
  doc/utils/sphinx-config/_themes/lammps_theme/locale/en/LC_MESSAGES/sphinx.po
  doc/utils/sphinx-config/_themes/lammps_theme/locale/es/LC_MESSAGES/sphinx.mo
  doc/utils/sphinx-config/_themes/lammps_theme/locale/es/LC_MESSAGES/sphinx.po
  doc/utils/sphinx-config/_themes/lammps_theme/locale/et/LC_MESSAGES/sphinx.mo
  doc/utils/sphinx-config/_themes/lammps_theme/locale/et/LC_MESSAGES/sphinx.po
  doc/utils/sphinx-config/_themes/lammps_theme/locale/fa_IR/LC_MESSAGES/sphinx.mo
  doc/utils/sphinx-config/_themes/lammps_theme/locale/fa_IR/LC_MESSAGES/sphinx.po
  doc/utils/sphinx-config/_themes/lammps_theme/locale/fr/LC_MESSAGES/sphinx.mo
  doc/utils/sphinx-config/_themes/lammps_theme/locale/fr/LC_MESSAGES/sphinx.po
  doc/utils/sphinx-config/_themes/lammps_theme/locale/hr/LC_MESSAGES/sphinx.mo
  doc/utils/sphinx-config/_themes/lammps_theme/locale/hr/LC_MESSAGES/sphinx.po
  doc/utils/sphinx-config/_themes/lammps_theme/locale/hu/LC_MESSAGES/sphinx.mo
  doc/utils/sphinx-config/_themes/lammps_theme/locale/hu/LC_MESSAGES/sphinx.po
  doc/utils/sphinx-config/_themes/lammps_theme/locale/it/LC_MESSAGES/sphinx.mo
  doc/utils/sphinx-config/_themes/lammps_theme/locale/it/LC_MESSAGES/sphinx.po
  doc/utils/sphinx-config/_themes/lammps_theme/locale/lt/LC_MESSAGES/sphinx.mo
  doc/utils/sphinx-config/_themes/lammps_theme/locale/lt/LC_MESSAGES/sphinx.po
  doc/utils/sphinx-config/_themes/lammps_theme/locale/nl/LC_MESSAGES/sphinx.mo
  doc/utils/sphinx-config/_themes/lammps_theme/locale/nl/LC_MESSAGES/sphinx.po
  doc/utils/sphinx-config/_themes/lammps_theme/locale/pl/LC_MESSAGES/sphinx.mo
  doc/utils/sphinx-config/_themes/lammps_theme/locale/pl/LC_MESSAGES/sphinx.po
  doc/utils/sphinx-config/_themes/lammps_theme/locale/pt/LC_MESSAGES/sphinx.mo
  doc/utils/sphinx-config/_themes/lammps_theme/locale/pt/LC_MESSAGES/sphinx.po
  doc/utils/sphinx-config/_themes/lammps_theme/locale/pt_BR/LC_MESSAGES/sphinx.mo
  doc/utils/sphinx-config/_themes/lammps_theme/locale/pt_BR/LC_MESSAGES/sphinx.po
  doc/utils/sphinx-config/_themes/lammps_theme/locale/ru/LC_MESSAGES/sphinx.mo
  doc/utils/sphinx-config/_themes/lammps_theme/locale/ru/LC_MESSAGES/sphinx.po
  doc/utils/sphinx-config/_themes/lammps_theme/locale/sphinx.pot
  doc/utils/sphinx-config/_themes/lammps_theme/locale/sv/LC_MESSAGES/sphinx.mo
  doc/utils/sphinx-config/_themes/lammps_theme/locale/sv/LC_MESSAGES/sphinx.po
  doc/utils/sphinx-config/_themes/lammps_theme/locale/tr/LC_MESSAGES/sphinx.mo
  doc/utils/sphinx-config/_themes/lammps_theme/locale/tr/LC_MESSAGES/sphinx.po
  doc/utils/sphinx-config/_themes/lammps_theme/locale/zh_CN/LC_MESSAGES/sphinx.mo
  doc/utils/sphinx-config/_themes/lammps_theme/locale/zh_CN/LC_MESSAGES/sphinx.po
  doc/utils/sphinx-config/_themes/lammps_theme/searchbox.html
  doc/utils/sphinx-config/_themes/lammps_theme/static/css/theme.css
  doc/utils/sphinx-config/conf.py.in
Labels: documentation

#3753 Add warning message when the callback for a /tally compute was not run
  doc/src/compute_tally.rst
  doc/utils/sphinx-config/false_positives.txt
  src/TALLY/compute_force_tally.cpp
  src/TALLY/compute_heat_flux_tally.cpp
  src/TALLY/compute_heat_flux_virial_tally.cpp
  src/TALLY/compute_pe_mol_tally.cpp
  src/TALLY/compute_pe_tally.cpp
  src/TALLY/compute_stress_tally.cpp
  src/pair.cpp
  src/pair.h
Labels: enhancement

#3756 Fix bug in atom sorting with triclinic boxes
  src/KOKKOS/atom_kokkos.cpp
  src/atom.cpp
Labels: bugfix
