Repository lammps/lammps, pull requests merged in 2023-06, with the labels that each got.

#3793 Enable `fix qeq/reaxff` with variable `fix efield`
  doc/src/fix_efield.rst
  doc/src/fix_qeq_reaxff.rst
  src/EXTRA-FIX/fix_efield_tip4p.cpp
  src/REAXFF/fix_qeq_reaxff.cpp
  src/fix_efield.cpp
  src/fix_efield.h
Labels: enhancement, user_reaxc_package

#3802 Fix (harmless) compiler warnings in Kokkos ACKS2
  src/KOKKOS/fix_acks2_reaxff_kokkos.h
Labels: kokkos_package

#3800 fix deposit: per atom property bug
  src/atom.cpp
Labels: bugfix

#3804 fix bug in the reaxff HNS benchmark
  examples/reaxff/HNS/in.reaxc.hns
Labels: examples

#3806 Update Kokkos library in LAMMPS to v3.7.2
  cmake/Modules/Packages/KOKKOS.cmake
  lib/kokkos/CHANGELOG.md
  lib/kokkos/CMakeLists.txt
  lib/kokkos/Makefile.kokkos
  lib/kokkos/algorithms/src/CMakeLists.txt
  lib/kokkos/cmake/kokkos_arch.cmake
  lib/kokkos/cmake/kokkos_tribits.cmake
  lib/kokkos/containers/src/Kokkos_DynamicView.hpp
  lib/kokkos/containers/unit_tests/TestDynamicView.hpp
  lib/kokkos/core/perf_test/test_atomic.cpp
  lib/kokkos/core/src/Cuda/Kokkos_Cuda_KernelLaunch.hpp
  lib/kokkos/core/src/Cuda/Kokkos_Cuda_Locks.cpp
  lib/kokkos/core/src/Cuda/Kokkos_Cuda_Locks.hpp
  lib/kokkos/core/src/HIP/Kokkos_HIP_Instance.cpp
  lib/kokkos/core/src/Kokkos_Macros.hpp
  lib/kokkos/core/src/Kokkos_ScratchSpace.hpp
  lib/kokkos/core/src/Kokkos_Serial.hpp
  lib/kokkos/core/src/Kokkos_View.hpp
  lib/kokkos/core/src/Serial/Kokkos_Serial.cpp
  lib/kokkos/core/src/Serial/Kokkos_Serial_Parallel_MDRange.hpp
  lib/kokkos/core/src/impl/Kokkos_Core.cpp
  lib/kokkos/core/src/impl/Kokkos_InitializationSettings.hpp
  lib/kokkos/core/src/impl/Kokkos_Profiling.cpp
  lib/kokkos/core/unit_test/TestDefaultDeviceTypeInit.hpp
  lib/kokkos/core/unit_test/TestSharedAlloc.hpp
  lib/kokkos/core/unit_test/TestTeam.hpp
  lib/kokkos/core/unit_test/cuda/TestCuda_InterOp_Init.cpp
  lib/kokkos/core/unit_test/cuda/TestCuda_InterOp_Streams.cpp
  lib/kokkos/core/unit_test/hip/TestHIP_InterOp_Init.cpp
  lib/kokkos/core/unit_test/hip/TestHIP_InterOp_Streams.cpp
  lib/kokkos/core/unit_test/sycl/TestSYCL_InterOp_Init.cpp
  lib/kokkos/core/unit_test/sycl/TestSYCL_InterOp_Init_Context.cpp
  lib/kokkos/core/unit_test/sycl/TestSYCL_InterOp_Streams.cpp
  lib/kokkos/tpls/desul/include/desul/atomics/Lock_Array_Cuda.hpp
  lib/kokkos/tpls/desul/src/Lock_Array_CUDA.cpp
Labels: kokkos_package, update

#3660 Add fix style pimd/langevin
  doc/src/Commands_fix.rst
  doc/src/fix.rst
  doc/src/fix_pimd.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/PACKAGES/pimd/lj/data.metalnpt01
  examples/PACKAGES/pimd/lj/data.metalnpt02
  examples/PACKAGES/pimd/lj/data.metalnpt03
  examples/PACKAGES/pimd/lj/data.metalnpt04
  examples/PACKAGES/pimd/lj/in.lmp
  examples/PACKAGES/pimd/lj/run.sh
  examples/PACKAGES/pimd/lj_reduced_units/data.lj01
  examples/PACKAGES/pimd/lj_reduced_units/data.lj02
  examples/PACKAGES/pimd/lj_reduced_units/in.lmp
  examples/PACKAGES/pimd/lj_reduced_units/run.sh
  src/.gitignore
  src/REPLICA/fix_pimd_langevin.cpp
  src/REPLICA/fix_pimd_langevin.h
  src/REPLICA/fix_pimd_nvt.cpp
  src/domain.cpp
  src/domain.h
Labels: enhancement, needs_work, replica_package

#3792 Inclusion of bond & angle contributions to "compute stress/mop"
  doc/src/compute_stress_mop.rst
  src/EXTRA-COMPUTE/compute_stress_mop.cpp
  src/EXTRA-COMPUTE/compute_stress_mop.h
  src/EXTRA-COMPUTE/compute_stress_mop_profile.cpp
  src/EXTRA-COMPUTE/compute_stress_mop_profile.h
  unittest/commands/test_compute_global.cpp
Labels: enhancement

#3809 Updating SDPD examples
  examples/PACKAGES/dpd-smooth/2d-diffusion-in-shear-flow/in.lammps
  examples/PACKAGES/dpd-smooth/2d-diffusion-in-shear-flow/log.24Oct18.2d-diffusion-in-shear-flow.g++.1
  examples/PACKAGES/dpd-smooth/2d-diffusion-in-shear-flow/log.24Oct18.2d-diffusion-in-shear-flow.g++.4
  examples/PACKAGES/dpd-smooth/2d-diffusion-in-shear-flow/log.28Mar23.2d-diffusion-in-shear-flow.g++.1
  examples/PACKAGES/dpd-smooth/2d-diffusion-in-shear-flow/log.28Mar23.2d-diffusion-in-shear-flow.g++.4
  examples/PACKAGES/dpd-smooth/2d-diffusion/in.lammps
  examples/PACKAGES/dpd-smooth/2d-diffusion/log.24Oct18.2d-diffusion.g++.1
  examples/PACKAGES/dpd-smooth/2d-diffusion/log.24Oct18.2d-diffusion.g++.4
  examples/PACKAGES/dpd-smooth/2d-diffusion/log.28Mar23.2d-diffusion.g++.1
  examples/PACKAGES/dpd-smooth/2d-diffusion/log.28Mar23.2d-diffusion.g++.4
  examples/PACKAGES/dpd-smooth/equipartition-verification/in.lammps
  examples/PACKAGES/dpd-smooth/equipartition-verification/log.28Mar23.equipartition.g++.1
  examples/PACKAGES/dpd-smooth/equipartition-verification/log.28Mar23.equipartition.g++.4
Labels: user_dpd_package

#3781 Collected small changes and fixes
  doc/src/Build_manual.rst
  doc/src/Fortran.rst
  doc/src/Howto_spc.rst
  doc/src/Howto_tip3p.rst
  doc/src/Howto_tip4p.rst
  doc/src/Howto_tip5p.rst
  doc/src/Library_properties.rst
  doc/src/dump_modify.rst
  doc/src/fix_reaxff_species.rst
  doc/src/variable.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/COUPLE/plugin/liblammpsplugin.c
  examples/COUPLE/plugin/liblammpsplugin.h
  fortran/lammps.f90
  python/lammps/core.py
  python/lammps/numpy_wrapper.py
  src/DIFFRACTION/compute_xrd.cpp
  src/EXTRA-DUMP/dump_yaml.cpp
  src/EXTRA-FIX/fix_electron_stopping.cpp
  src/GRANULAR/gran_sub_mod_normal.h
  src/KOKKOS/comm_kokkos.cpp
  src/NETCDF/dump_netcdf.cpp
  src/NETCDF/dump_netcdf.h
  src/NETCDF/dump_netcdf_mpiio.cpp
  src/NETCDF/dump_netcdf_mpiio.h
  src/REAXFF/fix_reaxff_species.cpp
  src/REAXFF/fix_reaxff_species.h
  src/library.cpp
  src/library.h
  src/lmptype.h
  src/my_page.h
  src/output.cpp
  src/thermo.cpp
  src/thermo.h
  src/variable.cpp
  tools/coding_standard/versiontags.py
  tools/swig/lammps.i
  unittest/c-library/test_library_properties.cpp
  unittest/python/python-commands.py
  unittest/utils/CMakeLists.txt
  unittest/utils/test_lmptype.cpp
Labels: bugfix, library_interface

#3811 PyLammps and Library interface changes
  doc/src/Python_properties.rst
  examples/COUPLE/plugin/liblammpsplugin.h
  fortran/lammps.f90
  python/lammps/constants.py
  python/lammps/core.py
  python/lammps/pylammps.py
  src/EXTRA-DUMP/dump_yaml.cpp
  src/NETCDF/dump_netcdf.cpp
  src/NETCDF/dump_netcdf_mpiio.cpp
  src/library.cpp
  src/library.h
  src/lmptype.h
  tools/swig/lammps.i
  unittest/fortran/test_fortran_get_thermo.f90
  unittest/fortran/wrap_get_thermo.cpp
  unittest/python/python-pylammps.py
  unittest/utils/test_lmptype.cpp
Labels: python_module, library_interface

#3816 Bugfix for body rounded polyhedron and polygon pair styles for non-lj units
  src/BODY/fix_wall_body_polygon.cpp
  src/BODY/fix_wall_body_polyhedron.cpp
  src/BODY/pair_body_rounded_polygon.cpp
  src/BODY/pair_body_rounded_polyhedron.cpp
Labels: bugfix, body_package

#3817 Bond/react: rescale_charges fix
  src/REACTION/fix_bond_react.cpp
  src/REACTION/fix_bond_react.h
Labels: user_reaction_package

#3812 Misc Fixes for Intel Package
  doc/src/package.rst
  src/INTEL/TEST/run_benchmarks.sh
  src/INTEL/angle_charmm_intel.cpp
  src/INTEL/angle_harmonic_intel.cpp
  src/INTEL/bond_harmonic_intel.cpp
  src/INTEL/dihedral_charmm_intel.cpp
  src/INTEL/dihedral_fourier_intel.cpp
  src/INTEL/dihedral_harmonic_intel.cpp
  src/INTEL/dihedral_opls_intel.cpp
  src/INTEL/fix_intel.cpp
  src/INTEL/fix_intel.h
  src/INTEL/fix_nh_intel.cpp
  src/INTEL/improper_cvff_intel.cpp
  src/INTEL/improper_harmonic_intel.cpp
  src/INTEL/intel_buffers.cpp
  src/INTEL/intel_buffers.h
  src/INTEL/intel_intrinsics.h
  src/INTEL/intel_preprocess.h
  src/INTEL/math_extra_intel.h
  src/INTEL/npair_full_bin_ghost_intel.cpp
  src/INTEL/npair_intel.cpp
  src/INTEL/pair_airebo_intel.cpp
  src/INTEL/pair_buck_coul_cut_intel.cpp
  src/INTEL/pair_buck_coul_long_intel.cpp
  src/INTEL/pair_buck_intel.cpp
  src/INTEL/pair_dpd_intel.cpp
  src/INTEL/pair_eam_intel.cpp
  src/INTEL/pair_gayberne_intel.cpp
  src/INTEL/pair_lj_charmm_coul_charmm_intel.cpp
  src/INTEL/pair_lj_charmm_coul_long_intel.cpp
  src/INTEL/pair_lj_cut_coul_long_intel.cpp
  src/INTEL/pair_sw_intel.cpp
  src/INTEL/pppm_disp_intel.cpp
  src/INTEL/pppm_intel.cpp
  src/INTEL/verlet_lrt_intel.cpp
  src/MC/fix_gcmc.cpp
  src/MC/fix_widom.cpp
Labels: bugfix, user_intel_package

#3797 Include bond forces in `compute stress/cartesian`
  doc/src/Commands_compute.rst
  doc/src/compute.rst
  doc/src/compute_stress_cartesian.rst
  doc/src/compute_stress_curvilinear.rst
  doc/src/compute_stress_mop.rst
  src/EXTRA-COMPUTE/compute_stress_cartesian.cpp
  src/EXTRA-COMPUTE/compute_stress_cartesian.h
Labels: enhancement

#3823 Collected small fixes
  potentials/BNC.tersoff
  python/lammps/pylammps.py
  src/DPD-REACT/fix_eos_table_rx.cpp
  src/DPD-REACT/fix_rx.cpp
  src/ELECTRODE/fix_electrode_conp.cpp
  src/QEQ/fix_qeq.cpp
  src/RIGID/fix_rigid.cpp
  src/RIGID/fix_rigid_small.cpp
  src/RIGID/fix_shake.cpp
  src/YAFF/pair_lj_switch3_coulgauss_long.cpp
  src/dump_custom.cpp
  src/dump_image.cpp
  src/fix_langevin.cpp
  src/lammps.cpp
  src/version.h
  unittest/CMakeLists.txt
  unittest/c-library/CMakeLists.txt
Labels: maintenance, refactor

#3825 Remove obsolete fortran interfaces
  doc/src/Fortran.rst
  examples/COUPLE/README
  examples/COUPLE/fortran2/.gitignore
  examples/COUPLE/fortran2/LAMMPS-wrapper.cpp
  examples/COUPLE/fortran2/LAMMPS-wrapper.h
  examples/COUPLE/fortran2/LAMMPS.F90
  examples/COUPLE/fortran2/Makefile
  examples/COUPLE/fortran2/README
  examples/COUPLE/fortran2/in.simple
  examples/COUPLE/fortran2/simple.f90
  examples/COUPLE/fortran_dftb/LAMMPS-wrapper.cpp
  examples/COUPLE/fortran_dftb/LAMMPS-wrapper.h
  examples/COUPLE/fortran_dftb/LAMMPS-wrapper2.cpp
  examples/COUPLE/fortran_dftb/LAMMPS-wrapper2.h
  examples/COUPLE/fortran_dftb/LAMMPS.F90
  examples/COUPLE/fortran_dftb/README
  examples/COUPLE/fortran_dftb/data.diamond
  examples/COUPLE/fortran_dftb/dftb_in.hsd
  examples/COUPLE/fortran_dftb/dftb_pin.hsd
  examples/COUPLE/fortran_dftb/in.simple
  examples/COUPLE/fortran_dftb/log.simple
  examples/COUPLE/fortran_dftb/makefile
  examples/COUPLE/fortran_dftb/simple.f90
Labels: maintenance, fortran_interface

#3821 Temporarily disable team policy for Kokkos ghost neigh list build due to kno…
  src/KOKKOS/npair_kokkos.cpp
Labels: bugfix, kokkos_package

#3819 Pair SNAP tuning for Kokkos SYCL
  src/KOKKOS/kokkos_type.h
  src/KOKKOS/pair_snap_kokkos.h
Labels: kokkos_package, snap_package

#3826 debug fix_modify press for press/berendsen
  src/compute_chunk_spread_atom.cpp
  src/fix_press_berendsen.cpp
Labels: bugfix

#3822 Update lib/kim/README
  lib/kim/README
Labels: kim_package

#3829 fix pair bugfix
  doc/src/fix_pair.rst
  src/fix_pair.cpp
Labels: bugfix
