Repository lammps/lammps, pull requests merged in 2023-02, with the labels that each got.

#3621 Small bugfixes
  src/KOKKOS/fix_qeq_reaxff_kokkos.cpp
  src/KOKKOS/npair_kokkos.cpp
  src/KOKKOS/npair_kokkos.h
  src/KOKKOS/pair_lj_cut_kokkos.cpp
  src/KOKKOS/pair_reaxff_kokkos.cpp
  src/KOKKOS/pair_sw_kokkos.cpp
  src/KOKKOS/pair_vashishta_kokkos.cpp
  src/OPENMP/pair_reaxff_omp.cpp
  src/OPENMP/reaxff_bonds_omp.cpp
  src/OPENMP/reaxff_forces_omp.cpp
  src/OPENMP/reaxff_hydrogen_bonds_omp.cpp
  src/REAXFF/pair_reaxff.cpp
  src/REAXFF/reaxff_allocate.cpp
  src/REAXFF/reaxff_api.h
  src/REAXFF/reaxff_bonds.cpp
  src/REAXFF/reaxff_hydrogen_bonds.cpp
  src/REAXFF/reaxff_init_md.cpp
  src/REAXFF/reaxff_list.cpp
  src/REAXFF/reaxff_lookup.cpp
  src/REAXFF/reaxff_nonbonded.cpp
  src/REAXFF/reaxff_tool_box.cpp
  src/pair_hybrid.cpp
Labels: bugfix, kokkos_package

#3630 Fallback URLs for downloading external libraries
  cmake/Modules/ExternalCMakeProject.cmake
  cmake/Modules/LAMMPSUtils.cmake
  cmake/Modules/Packages/GPU.cmake
  cmake/Modules/Packages/KOKKOS.cmake
  cmake/Modules/Packages/LATTE.cmake
  cmake/Modules/Packages/MDI.cmake
  cmake/Modules/Packages/ML-HDNNP.cmake
  cmake/Modules/Packages/ML-PACE.cmake
  cmake/Modules/Packages/PLUMED.cmake
  cmake/Modules/Packages/SCAFACOS.cmake
  lib/hdnnp/.gitignore
  lib/hdnnp/Install.py
  lib/install_helpers.py
  lib/latte/Install.py
  lib/mdi/Install.py
  lib/mscg/Install.py
  lib/pace/Install.py
  lib/plumed/Install.py
  lib/scafacos/Install.py
Labels: cmake

#3620 Collected small changes and fixes
  cmake/Modules/Packages/ML-HDNNP.cmake
  cmake/Modules/Packages/ML-QUIP.cmake
  cmake/Modules/Tools.cmake
  doc/src/pair_gauss.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/PACKAGES/pimd/para-h2/in.scp
  examples/PACKAGES/pimd/para-h2/run.sh
  examples/PACKAGES/pimd/prot-hairpin/in.scp
  examples/PACKAGES/pimd/prot-hairpin/run.sh
  lib/gpu/lal_atom.cpp
  lib/hdnnp/Install.py
  lib/kokkos/core/src/Kokkos_Macros.hpp
  src/DIELECTRIC/pppm_dielectric.cpp
  src/DIELECTRIC/pppm_disp_dielectric.cpp
  src/ELECTRODE/fix_electrode_conp.cpp
  src/KOKKOS/atom_vec_hybrid_kokkos.cpp
  src/KOKKOS/atom_vec_hybrid_kokkos.h
  src/KOKKOS/kokkos.cpp
  src/KOKKOS/kokkos.h
  src/KOKKOS/meam_force_kokkos.h
  src/KOKKOS/mliap_descriptor_so3_kokkos.cpp
  src/KOKKOS/mliap_descriptor_so3_kokkos.h
  src/MC/fix_gcmc.cpp
  src/MC/fix_sgcmc.cpp
  src/MC/fix_widom.cpp
  src/MEAM/meam_dens_final.cpp
  src/MEAM/meam_dens_init.cpp
  src/MEAM/meam_force.cpp
  src/MEAM/meam_funcs.cpp
  src/MEAM/meam_impl.cpp
  src/MEAM/meam_setup_done.cpp
  src/MEAM/meam_setup_global.cpp
  src/MEAM/meam_setup_param.cpp
  src/MEAM/pair_meam.cpp
  src/REAXFF/fix_reaxff_species.cpp
  src/REPLICA/fix_pimd.cpp
  src/utils.cpp
  src/variable.cpp
  unittest/force-styles/tests/mol-pair-lepton.yaml
  unittest/force-styles/tests/mol-pair-lepton_coul.yaml
  unittest/force-styles/tests/mol-pair-lepton_coul_long.yaml
  unittest/force-styles/tests/mol-pair-lepton_zbl.yaml
  unittest/testing/core.h
Labels: bugfix, refactor

#3624 Fix QUIP compilation with Intel compilers.
  cmake/Modules/Packages/ML-QUIP.cmake
Labels: cmake

#3631 Disable Kokkos GPU <--> CPU overlap when using pair hybrid with non-K…
  src/KOKKOS/kokkos.cpp
  src/KOKKOS/kokkos.h
  src/KOKKOS/pair_hybrid_kokkos.cpp
  src/KOKKOS/pair_hybrid_kokkos.h
  src/KOKKOS/pair_mliap_kokkos.cpp
  src/KOKKOS/verlet_kokkos.cpp
Labels: bugfix, kokkos_package

#3614 Extending the C library and the python interface
  doc/src/Fortran.rst
  doc/src/Intro_portability.rst
  doc/src/Library_scatter.rst
  examples/COUPLE/plugin/liblammpsplugin.c
  examples/COUPLE/plugin/liblammpsplugin.h
  fortran/lammps.f90
  python/lammps/core.py
  python/lammps/numpy_wrapper.py
  src/library.cpp
  src/library.h
  tools/swig/lammps.i
  unittest/c-library/test_library_scatter_gather.cpp
  unittest/fortran/CMakeLists.txt
  unittest/fortran/data.fourmol
  unittest/fortran/in.fourmol
  unittest/fortran/test_fortran_gather_scatter.f90
  unittest/fortran/test_main.cpp
  unittest/fortran/test_main.h
  unittest/fortran/wrap_create.cpp
  unittest/fortran/wrap_gather_scatter.cpp
  unittest/python/python-numpy.py
  unittest/python/python-scatter-gather.py
Labels: python_module, library_interface, fortran_interface

#3635 Review grammar in Developer guide and Howto pages
  doc/src/Developer_code_design.rst
  doc/src/Developer_comm_ops.rst
  doc/src/Developer_flow.rst
  doc/src/Developer_grid.rst
  doc/src/Developer_org.rst
  doc/src/Developer_par_comm.rst
  doc/src/Developer_par_long.rst
  doc/src/Developer_par_neigh.rst
  doc/src/Developer_par_openmp.rst
  doc/src/Developer_par_part.rst
  doc/src/Howto.rst
  doc/src/Howto_bpm.rst
  doc/src/Howto_broken_bonds.rst
  doc/src/Howto_couple.rst
  doc/src/Howto_library.rst
  doc/src/Howto_mdi.rst
  doc/src/Howto_multiple.rst
  doc/src/Howto_replica.rst
  doc/src/Howto_restart.rst
  doc/src/Howto_viz.rst
  doc/src/Library.rst
  doc/src/Tools.rst
  doc/src/fix_rigid.rst
  doc/src/prd.rst
  src/pointers.h
Labels: documentation

#3638 Final fixes for the next patch release
  .github/workflows/compile-msvc.yml
  cmake/Modules/Documentation.cmake
  cmake/Modules/Packages/ML-PACE.cmake
  doc/src/Build_extras.rst
  doc/src/create_atoms.rst
  doc/src/fix_controller.rst
  doc/utils/sphinx-config/false_positives.txt
  lib/gpu/lal_beck.cu
  lib/gpu/lal_colloid.cu
  lib/gpu/lal_mie.cu
  lib/gpu/lal_neighbor.h
  lib/gpu/lal_preprocessor.h
  lib/gpu/lal_tersoff_extra.h
  lib/gpu/lal_tersoff_mod_extra.h
  lib/gpu/lal_tersoff_zbl_extra.h
  lib/gpu/lal_vashishta.cu
  lib/kokkos/Makefile.kokkos
  lib/kokkos/cmake/KokkosCore_config.h.in
  lib/kokkos/cmake/compile_tests/cuda_compute_capability.cc
  lib/kokkos/cmake/kokkos_arch.cmake
  lib/kokkos/core/src/Kokkos_Macros.hpp
  src/EXTRA-FIX/fix_controller.cpp
  src/EXTRA-PAIR/pair_gauss.cpp
  src/KOKKOS/atom_vec_charge_kokkos.cpp
  src/KOKKOS/atom_vec_dipole_kokkos.cpp
  src/output.cpp
  src/variable.cpp
Labels: gpu_package, documentation, bugfix

#3636 Correct typos and clarify fix_controller.rst
  doc/src/fix_controller.rst
Labels: documentation

#3637 Align fix_controller.cpp with documentation
  src/EXTRA-FIX/fix_controller.cpp
Labels: bugfix

#3633 Update versions strings for the next patch release
  doc/lammps.1
  doc/src/Build_extras.rst
  doc/src/Commands_removed.rst
  doc/src/Fortran.rst
  doc/src/Packages_details.rst
  doc/src/angle_lepton.rst
  doc/src/angle_write.rst
  doc/src/bond_lepton.rst
  doc/src/compute_efield_wolf_atom.rst
  doc/src/dihedral_lepton.rst
  doc/src/dihedral_write.rst
  doc/src/fix_nvt_sllod.rst
  doc/src/min_modify.rst
  doc/src/pair_amoeba.rst
  doc/src/pair_lepton.rst
  src/library.cpp
  src/version.h
Labels: maintenance

#3643 Update documentation for revised release and branch names
  SECURITY.md
  doc/github-development-workflow.md
  doc/src/Build_manual.rst
  doc/src/Howto_github.rst
  doc/src/Install_git.rst
  doc/src/Install_linux.rst
  doc/src/Install_tarball.rst
  doc/src/Manual_version.rst
  doc/src/Modify_contribute.rst
Labels: documentation

#3644 Fixed issues with gauss/gpu in bonded systems
  doc/src/pair_gauss.rst
  lib/gpu/lal_gauss.cpp
  lib/gpu/lal_gauss.cu
  src/EXTRA-PAIR/pair_gauss.cpp
  src/OPENMP/pair_gauss_omp.cpp
  unittest/force-styles/tests/mol-pair-gauss.yaml
Labels: gpu_package, bugfix

#3650 Implementation of analytical expressions for Born matrix in bond_class2 & bond_gromos
  src/CLASS2/bond_class2.cpp
  src/CLASS2/bond_class2.h
  src/MOLECULE/bond_gromos.cpp
  src/MOLECULE/bond_gromos.h
Labels: class2_package

#3651 Fix Kokkos compile error with NVIDIA Hopper GPU
  lib/kokkos/core/src/Cuda/Kokkos_Cuda_Half_Conversion.hpp
Labels: kokkos_package, update

#3645 More backports of fixes to stable release
  doc/src/pair_gauss.rst
  lib/gpu/lal_gauss.cpp
  lib/gpu/lal_gauss.cu
  src/EXTRA-PAIR/pair_gauss.cpp
  src/MC/fix_gcmc.cpp
  src/MC/fix_widom.cpp
  src/OPENMP/pair_gauss_omp.cpp
  src/variable.cpp
  unittest/force-styles/tests/mol-pair-gauss.yaml
Labels: gpu_package, bugfix

#3653 Eliminate gradforce loops in ML-IAP pair style
  src/KOKKOS/mliap_data_kokkos.cpp
  src/KOKKOS/pair_mliap_kokkos.cpp
  src/ML-IAP/compute_mliap.cpp
  src/ML-IAP/compute_mliap.h
  src/ML-IAP/mliap_data.cpp
  src/ML-IAP/mliap_data.h
  src/ML-IAP/pair_mliap.cpp
Labels: enhancement, kokkos_package, mliap_package

#3649 Collected small fixes
  cmake/Modules/LAMMPSInterfacePlugin.cmake
  cmake/Modules/LAMMPSUtils.cmake
  doc/Makefile
  doc/src/Build_extras.rst
  doc/src/Build_manual.rst
  doc/src/Developer_comm_ops.rst
  doc/src/Developer_utils.rst
  doc/src/Errors_debug.rst
  doc/src/Fortran.rst
  doc/src/Howto_wsl.rst
  doc/src/Install_git.rst
  doc/src/Intro_citing.rst
  doc/src/Intro_nonfeatures.rst
  doc/src/Packages_details.rst
  doc/src/Python_install.rst
  doc/src/compute_smd_contact_radius.rst
  doc/src/compute_smd_damage.rst
  doc/src/compute_smd_hourglass_error.rst
  doc/src/compute_smd_internal_energy.rst
  doc/src/compute_smd_plastic_strain.rst
  doc/src/compute_smd_plastic_strain_rate.rst
  doc/src/compute_smd_rho.rst
  doc/src/compute_smd_tlsph_defgrad.rst
  doc/src/compute_smd_tlsph_dt.rst
  doc/src/compute_smd_tlsph_num_neighs.rst
  doc/src/compute_smd_tlsph_shape.rst
  doc/src/compute_smd_tlsph_strain.rst
  doc/src/compute_smd_tlsph_strain_rate.rst
  doc/src/compute_smd_tlsph_stress.rst
  doc/src/compute_smd_triangle_vertices.rst
  doc/src/compute_smd_ulsph_effm.rst
  doc/src/compute_smd_ulsph_num_neighs.rst
  doc/src/compute_smd_ulsph_strain.rst
  doc/src/compute_smd_ulsph_strain_rate.rst
  doc/src/compute_smd_ulsph_stress.rst
  doc/src/compute_smd_vol.rst
  doc/src/dump_image.rst
  doc/src/fix_ave_spatial.rst
  doc/src/fix_ave_spatial_sphere.rst
  doc/src/fix_smd_adjust_dt.rst
  doc/src/fix_smd_integrate_tlsph.rst
  doc/src/fix_smd_integrate_ulsph.rst
  doc/src/fix_smd_move_triangulated_surface.rst
  doc/src/fix_smd_wall_surface.rst
  doc/src/group.rst
  doc/src/pair_smd_tlsph.rst
  doc/src/pair_smd_ulsph.rst
  doc/utils/requirements.txt
  src/EXTRA-PAIR/pair_beck.cpp
  src/KOKKOS/pair_mliap_kokkos.cpp
  src/OPENMP/pair_beck_omp.cpp
  src/library.cpp
  src/output.cpp
  src/variable.cpp
Labels: enhancement, documentation, bugfix, cmake, plugin

#3655 Implementation of analytical expressions for Born matrix
  src/CLASS2/pair_lj_class2.cpp
  src/CLASS2/pair_lj_class2.h
  src/EXTRA-MOLECULE/angle_cosine_delta.cpp
  src/EXTRA-MOLECULE/angle_cosine_delta.h
  src/EXTRA-MOLECULE/angle_fourier.cpp
  src/EXTRA-MOLECULE/angle_fourier.h
  src/EXTRA-MOLECULE/angle_fourier_simple.cpp
  src/EXTRA-MOLECULE/angle_fourier_simple.h
  src/EXTRA-MOLECULE/bond_harmonic_shift.cpp
  src/EXTRA-MOLECULE/bond_harmonic_shift.h
  src/EXTRA-PAIR/pair_harmonic_cut.cpp
  src/EXTRA-PAIR/pair_harmonic_cut.h
  src/EXTRA-PAIR/pair_lj96_cut.cpp
  src/EXTRA-PAIR/pair_lj96_cut.h
  src/pair_born.cpp
  src/pair_born.h
  src/pair_buck.cpp
  src/pair_buck.h
Labels: enhancement

#3656 Fix the adios2::ADIOS constructor calls that were deprecated in adios…
  src/ADIOS/dump_atom_adios.cpp
  src/ADIOS/dump_custom_adios.cpp
  src/ADIOS/reader_adios.cpp
Labels: maintenance

#3658 Collected small changes and bug fixes
  doc/src/Commands_fix.rst
  doc/src/compute_sna_atom.rst
  doc/src/fix.rst
  doc/src/fix_pimd.rst
  doc/utils/check-styles.py
  examples/PACKAGES/pimd/para-h2/in.scp
  examples/PACKAGES/pimd/prot-hairpin/in.scp
  src/.gitignore
  src/MOLECULE/angle_table.cpp
  src/MOLECULE/bond_table.cpp
  src/MOLECULE/bond_table.h
  src/MOLECULE/dihedral_table.cpp
  src/PERI/atom_vec_peri.cpp
  src/Purge.list
  src/REPLICA/fix_pimd_nvt.cpp
  src/REPLICA/fix_pimd_nvt.h
  tools/singularity/ubuntu18.04_gpu.def
  tools/singularity/ubuntu20.04_gpu.def
Labels: documentation, bugfix, refactor

#3662 New fix command for alchemical transformations using multiple partitions
  doc/src/Commands_compute.rst
  doc/src/Commands_fix.rst
  doc/src/compute.rst
  doc/src/compute_pressure_alchemy.rst
  doc/src/fix.rst
  doc/src/fix_alchemy.rst
  examples/PACKAGES/alchemy/AlCu.eam.alloy
  examples/PACKAGES/alchemy/h2o.mol
  examples/PACKAGES/alchemy/in.alloy
  examples/PACKAGES/alchemy/in.twowater
  examples/PACKAGES/alchemy/log.25Feb23.alloy.g++.4
  examples/PACKAGES/alchemy/log.25Feb23.alloy.g++.4.0
  examples/PACKAGES/alchemy/log.25Feb23.alloy.g++.4.1
  examples/PACKAGES/alchemy/log.25Feb23.twowater.g++.4
  examples/PACKAGES/alchemy/log.25Feb23.twowater.g++.4.0
  examples/PACKAGES/alchemy/log.25Feb23.twowater.g++.4.1
  src/.gitignore
  src/REPLICA/compute_pressure_alchemy.cpp
  src/REPLICA/compute_pressure_alchemy.h
  src/REPLICA/fix_alchemy.cpp
  src/REPLICA/fix_alchemy.h
  src/create_bonds.cpp
Labels: replica_package
