Repository lammps/lammps, pull requests merged in 2024-10, with the labels that each got.

#4327 First Set of Collected Bug Fixes and Maintenance Updates for 29 August 2024 Stable Release
  cmake/CMakeLists.txt
  doc/src/Run_windows.rst
  examples/meam/msmeam/log.27Sep2024.msmeam.g++.1
  examples/meam/msmeam/log.27Sep2024.msmeam.g++.4
  src/CG-DNA/atom_vec_oxdna.cpp
  src/DIFFRACTION/compute_saed.cpp
  src/DIFFRACTION/compute_xrd.cpp
  src/DIFFRACTION/fix_saed_vtk.cpp
  src/EXTRA-FIX/fix_ave_correlate_long.cpp
  src/GRANULAR/fix_pour.cpp
  src/GRANULAR/fix_pour.h
  src/GRANULAR/fix_wall_gran.cpp
  src/KOKKOS/domain_kokkos.cpp
  src/KOKKOS/domain_kokkos.h
  src/KOKKOS/fix_acks2_reaxff_kokkos.cpp
  src/KOKKOS/fix_acks2_reaxff_kokkos.h
  src/KOKKOS/fix_deform_kokkos.cpp
  src/KOKKOS/fix_deform_kokkos.h
  src/KOKKOS/fix_efield_kokkos.cpp
  src/KOKKOS/fix_efield_kokkos.h
  src/KOKKOS/fix_nh_kokkos.cpp
  src/KOKKOS/fix_qeq_reaxff_kokkos.cpp
  src/KOKKOS/fix_shake_kokkos.cpp
  src/KOKKOS/fix_wall_lj93_kokkos.cpp
  src/KOKKOS/fix_wall_lj93_kokkos.h
  src/KOKKOS/fix_wall_reflect_kokkos.cpp
  src/KOKKOS/pair_reaxff_kokkos.cpp
  src/KOKKOS/pair_reaxff_kokkos.h
  src/KOKKOS/verlet_kokkos.cpp
  src/MC/fix_charge_regulation.cpp
  src/MC/fix_gcmc.cpp
  src/MC/fix_widom.cpp
  src/MEAM/meam_setup_done.cpp
  src/MEAM/pair_meam.cpp
  src/ML-IAP/mliap_data.cpp
  src/ML-QUIP/pair_quip.cpp
  src/QEQ/fix_qeq.cpp
  src/REAXFF/fix_qeq_reaxff.cpp
  src/REAXFF/pair_reaxff.cpp
  src/RHEO/fix_rheo_oxidation.cpp
  src/atom.cpp
  src/domain.cpp
  src/domain.h
  src/fix_adapt.cpp
  src/fix_ave_chunk.cpp
  src/fix_ave_grid.cpp
  src/fix_deform.cpp
  src/fix_efield.cpp
  src/fix_wall.cpp
  src/fix_wall.h
  src/reader_xyz.cpp
  src/version.h
  tools/lammps-gui/org.lammps.lammps-gui.yml
  unittest/force-styles/tests/atomic-pair-meam_ms.yaml
  unittest/force-styles/tests/atomic-pair-pedone.yaml
  unittest/force-styles/tests/dihedral-cosine_squared_restricted.yaml
Labels: bugfix, maintenance, update

#4339 Fixing bugs in GRANULAR and mistakes in RHEO documentation
  doc/src/compute_rheo_property_atom.rst
  doc/src/fix_nonaffine_displacement.rst
  doc/src/fix_pour.rst
  doc/src/fix_rheo.rst
  examples/granregion/log.16Mar23.granregion.box.g++.1
  examples/granregion/log.16Mar23.granregion.box.g++.4
  examples/granregion/log.16Mar23.granregion.funnel.g++.1
  examples/granregion/log.16Mar23.granregion.funnel.g++.4
  examples/granregion/log.16Mar23.granregion.mixer.g++.1
  examples/granregion/log.16Mar23.granregion.mixer.g++.4
  examples/granregion/log.27Jun24.granregion.box.g++.1
  examples/granregion/log.27Jun24.granregion.box.g++.4
  examples/granregion/log.27Jun24.granregion.funnel.g++.1
  examples/granregion/log.27Jun24.granregion.funnel.g++.4
  examples/granregion/log.27Jun24.granregion.mixer.g++.1
  examples/granregion/log.27Jun24.granregion.mixer.g++.4
  examples/granular/log.27Jun24.pour.drum.g++.1
  examples/granular/log.27Jun24.pour.drum.g++.4
  examples/granular/log.27Jun24.pour.flatwall.g++.1
  examples/granular/log.27Jun24.pour.flatwall.g++.4
  examples/granular/log.27Jun24.pour.heat.g++.1
  examples/granular/log.27Jun24.pour.heat.g++.4
  examples/granular/log.28Mar23.pour.heat.g++.1
  examples/granular/log.28Mar23.pour.heat.g++.4
  src/GRANULAR/fix_pour.cpp
  src/GRANULAR/fix_pour.h
  src/GRANULAR/fix_wall_gran.cpp
  src/RHEO/compute_rheo_kernel.cpp
Labels: documentation, bugfix, granular_package

#4345 Update embedded copy of libfmt to version 11.0.2
  cmake/CMakeLists.txt
  src/MESONT/pair_mesocnt.cpp
  src/fmt/args.h
  src/fmt/base.h
  src/fmt/chrono.h
  src/fmt/color.h
  src/fmt/compile.h
  src/fmt/core.h
  src/fmt/format-inl.h
  src/fmt/format.h
  src/fmt/os.h
  src/fmt/ostream.h
  src/fmt/printf.h
  src/fmt/ranges.h
  src/fmt/std.h
  src/fmt/xchar.h
  src/fmtlib_os.cpp
Labels: update

#4343 Collected small changes and fixes
  .github/workflows/check-cpp23.yml
  doc/src/pair_coul.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/meam/msmeam/README.md
  examples/meam/msmeam/dump.msmeam.bu
  examples/nemd/log.30Sep24.nemd.g++.1
  examples/nemd/log.30Sep24.nemd.g++.4
  src/platform.cpp
Labels: enhancement, documentation, bugfix, examples

#4348 Collected small changes and fixes
  cmake/CMakeLists.txt
  cmake/Modules/Packages/H5MD.cmake
  doc/src/compute_composition_atom.rst
  doc/src/compute_pressure.rst
  doc/src/compute_temp_deform.rst
  doc/src/compute_temp_partial.rst
  doc/src/fix_addforce.rst
  doc/src/fix_aveforce.rst
  doc/src/fix_nph_body.rst
  doc/src/fix_npt_body.rst
  doc/src/fix_nvt_body.rst
  doc/src/fix_wall_flow.rst
  doc/src/min_style.rst
  doc/src/pair_coul_diel.rst
  doc/src/pair_coul_slater.rst
  doc/src/pair_granular.rst
  doc/src/pair_mesodpd.rst
  doc/src/pair_mie.rst
  doc/src/pair_sph_heatconduction.rst
  doc/src/pair_sph_lj.rst
  doc/src/pair_sph_taitwater.rst
  doc/utils/check-styles.py
  lib/h5md/Makefile.h5cc
  src/MAKE/MACHINES/Makefile.perlmutter_kokkos
  src/MAKE/MACHINES/Makefile.summit_kokkos
  src/MAKE/OPTIONS/Makefile.kokkos_cuda_mpi
Labels: build_system, cmake, update

#4346 features + bug fixes for granular simulations w/ Kokkos
  doc/src/Commands_pair.rst
  doc/src/pair_brownian.rst
  src/COLLOID/pair_brownian.cpp
  src/COLLOID/pair_brownian.h
  src/KOKKOS/Install.sh
  src/KOKKOS/compute_temp_deform_kokkos.cpp
  src/KOKKOS/compute_temp_deform_kokkos.h
  src/KOKKOS/fix_deform_kokkos.cpp
  src/KOKKOS/fix_langevin_kokkos.cpp
  src/KOKKOS/fix_nh_kokkos.cpp
  src/KOKKOS/fix_nvt_sllod_kokkos.cpp
  src/KOKKOS/fix_temp_berendsen_kokkos.cpp
  src/KOKKOS/fix_temp_rescale_kokkos.cpp
  src/KOKKOS/kokkos.cpp
  src/KOKKOS/kokkos.h
  src/KOKKOS/npair_kokkos.cpp
  src/KOKKOS/pair_brownian_kokkos.cpp
  src/KOKKOS/pair_brownian_kokkos.h
  src/KOKKOS/pair_gran_hooke_history_kokkos.cpp
  src/KOKKOS/pair_gran_hooke_history_kokkos.h
  src/QEQ/fix_qeq_ctip.cpp
  src/accelerator_kokkos.h
  src/comm.cpp
  src/comm.h
  src/comm_brick.cpp
  src/comm_tiled.cpp
  src/compute.h
  src/compute_temp_sphere.cpp
  src/fix.h
  src/fix_balance.h
  src/fix_bond_history.h
  src/input.cpp
Labels: bugfix, kokkos_package, communication_feature, granular_package

#4353 CMake: install shared libraries on Windows with correct target
  cmake/CMakeLists.txt
Labels: bugfix, cmake

#4356 add extract() function to few angle and bond styles
  doc/src/fix_adapt.rst
  src/AMOEBA/angle_amoeba.cpp
  src/AMOEBA/angle_amoeba.h
  src/CLASS2/bond_class2.cpp
  src/EXTRA-MOLECULE/angle_gaussian.cpp
  src/EXTRA-MOLECULE/angle_gaussian.h
  src/EXTRA-MOLECULE/bond_gaussian.cpp
  src/EXTRA-MOLECULE/bond_gaussian.h
  src/EXTRA-MOLECULE/bond_nonlinear.cpp
  src/MESONT/angle_mesocnt.cpp
  src/MESONT/angle_mesocnt.h
  src/MOFFF/angle_class2_p6.cpp
  src/MOFFF/angle_class2_p6.h
  src/MOFFF/angle_cosine_buck6d.cpp
  src/MOFFF/angle_cosine_buck6d.h
  src/MOLECULE/bond_morse.cpp
  src/YAFF/angle_cross.cpp
  src/YAFF/angle_cross.h
  unittest/force-styles/tests/angle-amoeba.yaml
  unittest/force-styles/tests/angle-class2_p6.yaml
  unittest/force-styles/tests/angle-cross.yaml
  unittest/force-styles/tests/angle-gaussian.yaml
  unittest/force-styles/tests/bond-class2.yaml
  unittest/force-styles/tests/bond-gaussian.yaml
  unittest/force-styles/tests/bond-morse.yaml
  unittest/force-styles/tests/bond-nonlinear.yaml
Labels: enhancement

#4357 Collected small changes and fixes
  doc/src/Howto_bioFF.rst
  doc/src/Howto_chunk.rst
  doc/src/compute_angle_local.rst
  doc/src/compute_bond_local.rst
  doc/src/compute_dihedral_local.rst
  doc/src/compute_reduce.rst
  doc/src/compute_reduce_chunk.rst
  doc/src/compute_stress_mop.rst
  doc/src/fix_atom_swap.rst
  doc/src/fix_halt.rst
  doc/src/fix_langevin.rst
  doc/src/group.rst
  doc/utils/requirements.txt
  doc/utils/sphinx-config/false_positives.txt
  src/DIELECTRIC/pppm_disp_dielectric.cpp
  src/EXTRA-COMPUTE/compute_stress_mop.cpp
  src/EXTRA-COMPUTE/compute_stress_mop_profile.cpp
  src/MC/fix_atom_swap.cpp
  src/compute_angle_local.cpp
  src/compute_bond_local.cpp
  src/compute_dihedral_local.cpp
  src/compute_improper_local.cpp
  src/compute_pair_local.cpp
  src/compute_property_local.cpp
  src/fix_nve.cpp
  src/pair_hybrid.h
  tools/lammps-gui/chartviewer.cpp
  tools/lammps-gui/lammpsgui.cpp
Labels: documentation, mc_package, lammps-gui

#4359 Adding new force options to BPM package
  doc/src/Howto_bpm.rst
  doc/src/bond_bpm_spring.rst
  doc/src/pair_bpm_spring.rst
  examples/bpm/impact/in.bpm.impact.rotational
  examples/bpm/impact/in.bpm.impact.spring
  src/BPM/bond_bpm.cpp
  src/BPM/bond_bpm.h
  src/BPM/bond_bpm_rotational.cpp
  src/BPM/bond_bpm_spring.cpp
  src/BPM/bond_bpm_spring.h
  src/BPM/pair_bpm_spring.cpp
  src/BPM/pair_bpm_spring.h
  src/modify.cpp
Labels: enhancement, bpm_package
