Repository lammps/lammps, pull requests merged in 2024-06, with the labels that each got.

#4174 Add support for extracting a few more properties and the Atom::map() function to the library interface
  doc/src/Fortran.rst
  doc/src/Library_properties.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/COUPLE/plugin/liblammpsplugin.c
  examples/COUPLE/plugin/liblammpsplugin.h
  fortran/lammps.f90
  python/lammps/core.py
  src/library.cpp
  src/library.h
  tools/swig/lammps.i
  unittest/c-library/test_library_properties.cpp
  unittest/python/python-commands.py
Labels: python_module, library_interface, unittest_feature, fortran_interface

#4185 Updated i-pi example
  examples/PACKAGES/ipi/README.md
  examples/PACKAGES/ipi/i-pi_input.xml
Labels: examples

#4167 Port hybrid bond topology styles to Kokkos
  doc/src/Commands_bond.rst
  doc/src/bond_hybrid.rst
  src/KOKKOS/Install.sh
  src/KOKKOS/bond_class2_kokkos.cpp
  src/KOKKOS/bond_class2_kokkos.h
  src/KOKKOS/bond_fene_kokkos.cpp
  src/KOKKOS/bond_fene_kokkos.h
  src/KOKKOS/bond_harmonic_kokkos.cpp
  src/KOKKOS/bond_harmonic_kokkos.h
  src/KOKKOS/bond_hybrid_kokkos.cpp
  src/KOKKOS/bond_hybrid_kokkos.h
  src/KOKKOS/kokkos_type.h
  src/KOKKOS/pair_hybrid_kokkos.cpp
  src/bond.cpp
  src/bond.h
  src/bond_hybrid.cpp
  src/bond_hybrid.h
Labels: bugfix, kokkos_package, ready

#4195 Various small patches for GRANULAR and BPM packages
  doc/src/fix_deform.rst
  doc/src/fix_wall_gran.rst
  doc/src/pair_granular.rst
  src/BPM/bond_bpm.cpp
  src/BPM/compute_nbond_atom.cpp
  src/BPM/fix_update_special_bonds.cpp
  src/GRANULAR/gran_sub_mod_damping.cpp
  src/delete_atoms.cpp
  src/fix_bond_history.h
Labels: bugfix, granular_package, bpm_package

#4189 Update fep.py
  tools/fep/fep.py
Labels: tools

#4184 Add Kokkos version of `pair_style` soft
  doc/src/Commands_pair.rst
  doc/src/pair_soft.rst
  src/KOKKOS/Install.sh
  src/KOKKOS/pair_soft_kokkos.cpp
  src/KOKKOS/pair_soft_kokkos.h
  src/pair_soft.cpp
  src/pair_soft.h
Labels: enhancement, kokkos_package

#4192 Update to Plumed interface
  cmake/Modules/Packages/PLUMED.cmake
  src/PLUMED/fix_plumed.cpp
Labels: maintenance

#4197 library: add comm->procgrid to extract_global
  python/lammps/core.py
  python/lammps/pylammps.py
  src/library.cpp
  unittest/python/python-commands.py
  unittest/python/python-pylammps.py
Labels: python_module, library_interface

#4188 Dpd charged
  .github/CODEOWNERS
  cmake/CMakeLists.txt
  cmake/Modules/Packages/DPD-BASIC.cmake
  doc/src/Commands_pair.rst
  doc/src/Packages_details.rst
  doc/src/pair_dpd_coul_slater_long.rst
  doc/src/pair_style.rst
  examples/PACKAGES/dpd-basic/README
  examples/PACKAGES/dpd-basic/dpd_coul_slater_long/data.dpd_coul_slater_long
  examples/PACKAGES/dpd-basic/dpd_coul_slater_long/in.dpd_coul_slater_long
  examples/PACKAGES/dpd-basic/dpd_coul_slater_long/log.19Jun24.dpd_coul_slater.g++.1
  examples/PACKAGES/dpd-basic/dpd_coul_slater_long/log.19Jun24.dpd_coul_slater.g++.4
  lib/gpu/lal_base_dpd.cpp
  lib/gpu/lal_base_dpd.h
  lib/gpu/lal_dpd_coul_slater_long.cpp
  lib/gpu/lal_dpd_coul_slater_long.cu
  lib/gpu/lal_dpd_coul_slater_long.h
  lib/gpu/lal_dpd_coul_slater_long_ext.cpp
  src/.gitignore
  src/DPD-BASIC/Install.sh
  src/DPD-BASIC/pair_dpd_coul_slater_long.cpp
  src/DPD-BASIC/pair_dpd_coul_slater_long.h
  src/Depend.sh
  src/GPU/pair_dpd_coul_slater_long_gpu.cpp
  src/GPU/pair_dpd_coul_slater_long_gpu.h
  unittest/force-styles/tests/mol-pair-dpd_coul_slater_long.yaml
Labels: enhancement, gpu_package

#4193 Create new EXTRA-COMMAND package
  cmake/CMakeLists.txt
  cmake/presets/all_off.cmake
  cmake/presets/all_on.cmake
  cmake/presets/mingw-cross.cmake
  cmake/presets/most.cmake
  cmake/presets/windows.cmake
  doc/src/Packages_details.rst
  doc/src/Packages_list.rst
  doc/src/group2ndx.rst
  src/COLVARS/ndx_group.cpp
  src/EXTRA-COMMAND/group_ndx.cpp
  src/EXTRA-COMMAND/group_ndx.h
  src/EXTRA-COMMAND/ndx_group.cpp
  src/EXTRA-COMMAND/ndx_group.h
  src/Makefile
Labels: maintenance, refactor

#4179 Collected small changes and fixes
  cmake/Modules/Packages/PLUMED.cmake
  cmake/packaging/build_linux_tgz.sh
  cmake/packaging/linux_wrapper.sh
  cmake/packaging/xdg-open
  doc/src/Commands_bond.rst
  doc/src/Tools.rst
  doc/src/fix_sgcmc.rst
  doc/src/pair_dpd_coul_slater_long.rst
  doc/src/run_style.rst
  doc/utils/requirements.txt
  doc/utils/sphinx-config/false_positives.txt
  lib/plumed/Install.py
  src/EXTRA-PAIR/pair_coul_slater_long.cpp
  src/EXTRA-PAIR/pair_coul_slater_long.h
  src/MANYBODY/pair_sw.cpp
  src/MC/fix_gcmc.cpp
  src/MC/fix_widom.cpp
  src/ML-IAP/mliap_descriptor_ace.cpp
  src/QEQ/fix_qeq_shielded.cpp
  src/REAXFF/fix_qeq_reaxff.cpp
  src/REAXFF/pair_reaxff.cpp
  src/input.cpp
  src/platform.cpp
  src/update.cpp
  src/variable.cpp
  src/variable.h
  tools/lammps-gui/lammpsgui.cpp
  unittest/force-styles/test_angle_style.cpp
  unittest/force-styles/test_bond_style.cpp
  unittest/force-styles/test_dihedral_style.cpp
  unittest/force-styles/test_improper_style.cpp
Labels: maintenance

#4145 Improve type label support
  doc/src/compute_rdf.rst
  doc/src/create_atoms.rst
  doc/src/delete_bonds.rst
  doc/src/dump.rst
  doc/src/dump_modify.rst
  doc/src/fix_adapt.rst
  doc/src/fix_adapt_fep.rst
  doc/src/fix_atom_swap.rst
  doc/src/fix_bond_break.rst
  doc/src/fix_bond_create.rst
  doc/src/fix_charge_regulation.rst
  doc/src/fix_deposit.rst
  doc/src/fix_gcmc.rst
  doc/src/fix_mol_swap.rst
  doc/src/fix_widom.rst
  doc/src/group.rst
  doc/src/labelmap.rst
  examples/PACKAGES/reaction/nylon,6-6_melt/in.large_nylon_melt
  examples/PACKAGES/reaction/tiny_epoxy/in.tiny_epoxy.stabilized
  examples/PACKAGES/reaction/tiny_nylon/in.tiny_nylon.stabilized
  examples/PACKAGES/reaction/tiny_nylon/in.tiny_nylon.stabilized_variable_probability
  examples/PACKAGES/reaction/tiny_nylon/in.tiny_nylon.unstabilized
  examples/PACKAGES/reaction/tiny_polystyrene/in.tiny_polystyrene.stabilized
  src/FEP/fix_adapt_fep.cpp
  src/MC/fix_atom_swap.cpp
  src/MC/fix_bond_break.cpp
  src/MC/fix_bond_create.cpp
  src/MC/fix_charge_regulation.cpp
  src/MC/fix_gcmc.cpp
  src/MC/fix_mol_swap.cpp
  src/MC/fix_widom.cpp
  src/atom.cpp
  src/compute_rdf.cpp
  src/create_atoms.cpp
  src/delete_bonds.cpp
  src/dump.h
  src/dump_custom.cpp
  src/dump_xyz.cpp
  src/fix_adapt.cpp
  src/fix_deposit.cpp
  src/group.cpp
  src/label_map.cpp
  src/label_map.h
  src/set.cpp
  src/utils.cpp
  src/utils.h
Labels: enhancement

#4200 Collected small fixes for development version
  doc/utils/sphinx-config/false_positives.txt
  purge-workflows.py
  src/DPD-BASIC/pair_dpd_coul_slater_long.h
  src/ML-UF3/pair_uf3.cpp
  src/ML-UF3/pair_uf3.h
  src/REAXFF/fix_qeq_reaxff.cpp
Labels: reaxff_package

#4201 Fix errors in fix amoeba/pitorsion doc page
  doc/src/fix_amoeba_bitorsion.rst
  doc/src/fix_amoeba_pitorsion.rst
  tools/tinker/tinker2lmp.py
Labels: documentation

#4202 Dump triclinic bug fix
  examples/triclinic/dump.8Apr24.general.g++.1
  examples/triclinic/dump.8Apr24.general.g++.4
  src/dump_custom.cpp
Labels: bugfix

#4204 Minor edits to new pair dpd/coul/slater/long doc page
  doc/src/pair_dpd_coul_slater_long.rst
Labels: documentation

#4050 Bio force field documentation updates
  .gitignore
  doc/src/Howto_bioFF.rst
  doc/src/img/howto_charmm_ELJ.png
  doc/src/img/howto_charmmfsw_ELJ.png
  doc/src/pair_charmm.rst
Labels: enhancement, documentation

#4205 Update version tags for next feature release
  doc/lammps.1
  doc/src/Commands_removed.rst
  doc/src/Tools.rst
  doc/src/compute_pod_atom.rst
  doc/src/pair_dpd_coul_slater_long.rst
  doc/src/pair_uf3.rst
  doc/src/variable.rst
  src/ML-POD/compute_podd_atom.cpp
  src/library.cpp
  src/version.h
Labels: maintenance
