Repository lammps/lammps, pull requests merged in 2024-12, with the labels that each got.

#4366 Updates for RHEO package, including new optional comm features
  doc/src/Developer_comm_ops.rst
  doc/src/Howto_rheo.rst
  doc/src/fix_rheo.rst
  doc/src/fix_rheo_pressure.rst
  doc/src/fix_rheo_thermal.rst
  doc/src/fix_rheo_viscosity.rst
  src/KOKKOS/comm_kokkos.cpp
  src/KOKKOS/comm_kokkos.h
  src/KOKKOS/comm_tiled_kokkos.cpp
  src/KOKKOS/comm_tiled_kokkos.h
  src/RHEO/compute_rheo_grad.cpp
  src/RHEO/compute_rheo_interface.cpp
  src/RHEO/compute_rheo_kernel.cpp
  src/RHEO/compute_rheo_kernel.h
  src/RHEO/compute_rheo_property_atom.cpp
  src/RHEO/compute_rheo_property_atom.h
  src/RHEO/compute_rheo_surface.cpp
  src/RHEO/compute_rheo_vshift.cpp
  src/RHEO/compute_rheo_vshift.h
  src/RHEO/fix_rheo.cpp
  src/RHEO/fix_rheo.h
  src/RHEO/fix_rheo_pressure.cpp
  src/RHEO/fix_rheo_pressure.h
  src/RHEO/pair_rheo.cpp
  src/RHEO/pair_rheo.h
  src/comm.cpp
  src/comm.h
  src/comm_brick.cpp
  src/comm_brick.h
  src/comm_tiled.cpp
  src/comm_tiled.h
Labels: rheo_package

#4407 Bug fix for domain class, minor edits to other classes
  doc/src/bond_bpm_rotational.rst
  doc/src/bond_bpm_spring.rst
  doc/src/pair_granular.rst
  examples/bpm/pour/in.bpm.pour
  examples/bpm/pour/log.29Aug2024.bpm.pour.g++.4
  examples/bpm/pour/log.4May2022.bpm.pour.g++.4
  src/BPM/bond_bpm.cpp
  src/BPM/bond_bpm_rotational.cpp
  src/BPM/bond_bpm_spring.cpp
  src/EXTRA-FIX/fix_deform_pressure.cpp
  src/GRANULAR/gran_sub_mod_damping.cpp
  src/GRANULAR/gran_sub_mod_damping.h
  src/domain.cpp
Labels: bugfix, granular_package, bpm_package

#4414 Fixes for the Colvars library
  lib/colvars/colvaratoms.cpp
  lib/colvars/colvaratoms.h
  lib/colvars/colvarbias_meta.cpp
  lib/colvars/colvarcomp_distances.cpp
  lib/colvars/colvarcomp_rotations.cpp
  lib/colvars/colvargrid.cpp
  lib/colvars/colvargrid.h
  lib/colvars/colvarmodule.h
  lib/colvars/colvarproxy_io.cpp
  lib/colvars/colvarproxy_io.h
  lib/colvars/colvarvalue.cpp
  lib/colvars/colvarvalue.h
Labels: user_colvars_package

#4391 SNAP/Kokkos CPU+GPU code unification and other optimizations
  src/KOKKOS/pair_snap_kokkos.h
  src/KOKKOS/pair_snap_kokkos_impl.h
  src/KOKKOS/sna_kokkos.h
  src/KOKKOS/sna_kokkos_impl.h
Labels: kokkos_package, snap_package

#4416 Small fix to Colvars library (1-step offset in definition of total force)
  lib/colvars/colvarproxy_system.h
  src/COLVARS/colvarproxy_lammps.h
Labels: user_colvars_package

#4403 Collected small changes and fixes
  doc/doxygen/Doxyfile.in
  doc/src/Intro_authors.rst
  doc/src/Packages_details.rst
  doc/src/bond_bpm_rotational.rst
  doc/src/bond_bpm_spring.rst
  doc/src/compute_sph_e_atom.rst
  doc/src/compute_sph_rho_atom.rst
  doc/src/compute_sph_t_atom.rst
  doc/src/fix_rheo.rst
  doc/src/fix_sph.rst
  doc/src/fix_sph_stationary.rst
  doc/src/pair_sph_heatconduction.rst
  doc/src/pair_sph_idealgas.rst
  doc/src/pair_sph_lj.rst
  doc/src/pair_sph_rhosum.rst
  doc/src/pair_sph_taitwater.rst
  doc/src/pair_sph_taitwater_morris.rst
  doc/src/set.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/comb/README
  examples/comb/data.CuaS
  src/COLVARS/colvarproxy_lammps.cpp
  src/PHONON/fix_phonon.cpp
  src/REAXFF/fix_qtpie_reaxff.cpp
  src/RIGID/fix_ehex.cpp
  src/angle_zero.cpp
  src/dump.cpp
  src/fix_vector.cpp
  src/library.cpp
  src/lmptype.h
  src/tokenizer.h
  src/utils.h
  tools/lammps-gui/CMakeLists.txt
  tools/lammps-gui/lammps-gui.appdata.xml
  tools/lammps-gui/org.lammps.lammps-gui.yml
Labels: documentation, bugfix, maintenance

#4422 Collected small changes and fixes
  cmake/Modules/Packages/VTK.cmake
  doc/src/Build_extras.rst
  src/BOCS/fix_bocs.cpp
  src/DRUDE/fix_langevin_drude.cpp
  src/DRUDE/fix_tgnh_drude.cpp
  src/EFF/fix_temp_rescale_eff.cpp
  src/EXTRA-FIX/fix_deform_pressure.cpp
  src/EXTRA-FIX/fix_npt_cauchy.cpp
  src/EXTRA-FIX/fix_temp_csld.cpp
  src/EXTRA-FIX/fix_temp_csvr.cpp
  src/MANIFOLD/fix_nvt_manifold_rattle.cpp
  src/MC/fix_bond_swap.cpp
  src/PLUMED/fix_plumed.cpp
  src/REPLICA/fix_grem.cpp
  src/RIGID/fix_rigid_nh.cpp
  src/RIGID/fix_rigid_nh_small.cpp
  src/fix_box_relax.cpp
  src/fix_langevin.cpp
  src/fix_nh.cpp
  src/fix_press_berendsen.cpp
  src/fix_press_langevin.cpp
  src/fix_temp_berendsen.cpp
  src/fix_temp_rescale.cpp
  unittest/commands/test_variables.cpp
Labels: bugfix
