Repository lammps/lammps, pull requests merged in 2024-02, with the labels that each got.

#4062 Remove HIP_PATH requirement from CMake build
  cmake/Modules/DetectHIPInstallation.cmake
Labels: build_system, cmake

#4063 Collected small changes and fixes
  cmake/CMakeLists.txt
  cmake/Modules/Packages/ML-QUIP.cmake
  doc/src/Howto_structured_data.rst
  examples/ASPHERE/dimer/in.dimer
  examples/ASPHERE/dimer/in.dimer.mp
  examples/ASPHERE/dimer/log.1Feb14.dimer.g++.8
  examples/ASPHERE/dimer/log.1Feb14.dimer.mp.g++.8
  examples/ASPHERE/dimer/log.1Feb24.dimer.g++.1
  examples/ASPHERE/dimer/log.1Feb24.dimer.g++.4
  examples/ASPHERE/dimer/log.1Feb24.dimer.mp.g++.1
  examples/ASPHERE/dimer/log.1Feb24.dimer.mp.g++.4
  examples/ASPHERE/ellipsoid/in.ellipsoid
  examples/ASPHERE/ellipsoid/in.ellipsoid.mp
  examples/ASPHERE/ellipsoid/log.1Feb14.ellipsoid.g++.8
  examples/ASPHERE/ellipsoid/log.1Feb14.ellipsoid.mp.g++.8
  examples/ASPHERE/ellipsoid/log.1Feb24.ellipsoid.g++.1
  examples/ASPHERE/ellipsoid/log.1Feb24.ellipsoid.g++.4
  examples/ASPHERE/ellipsoid/log.1Feb24.ellipsoid.mp.g++.1
  examples/ASPHERE/ellipsoid/log.1Feb24.ellipsoid.mp.g++.4
  examples/ASPHERE/line/in.line
  examples/ASPHERE/line/in.line.srd
  examples/ASPHERE/poly/in.poly
  examples/ASPHERE/poly/in.poly.mp
  examples/ASPHERE/poly/log.1Feb14.poly.g++.8
  examples/ASPHERE/poly/log.1Feb14.poly.mp.g++.8
  examples/ASPHERE/poly/log.1Feb24.poly.g++.1
  examples/ASPHERE/poly/log.1Feb24.poly.g++.4
  examples/ASPHERE/poly/log.1Feb24.poly.mp.g++.1
  examples/ASPHERE/poly/log.1Feb24.poly.mp.g++.4
  examples/ASPHERE/star/in.star
  examples/ASPHERE/star/in.star.mp
  examples/ASPHERE/star/log.1Feb14.star.g++.8
  examples/ASPHERE/star/log.1Feb14.star.mp.g++.8
  examples/ASPHERE/star/log.1Feb24.star.g++.1
  examples/ASPHERE/star/log.1Feb24.star.g++.4
  examples/ASPHERE/star/log.1Feb24.star.mp.g++.1
  examples/ASPHERE/star/log.1Feb24.star.mp.g++.4
  examples/ASPHERE/tri/in.tri.srd
  examples/ASPHERE/tri/log.15Aug23.tri.srd.g++.8
  examples/ASPHERE/tri/log.1Feb24.tri.srd.g++.1
  examples/ASPHERE/tri/log.1Feb24.tri.srd.g++.4
  fortran/lammps.f90
  src/ASPHERE/pair_ylz.cpp
  src/EXTRA-FIX/fix_wall_reflect_stochastic.cpp
  src/atom_vec.cpp
  src/compute.cpp
  src/compute_heat_flux.cpp
  src/fix_adapt.cpp
  src/fix_nh_sphere.cpp
  src/fix_wall_reflect.cpp
  src/read_data.cpp
  src/timer.cpp
  src/write_data.cpp
  unittest/formats/test_atom_styles.cpp
Labels: bugfix, cmake, refactor

#4041 Add fix numdiff based tests for bonded interactions
  doc/src/Build_development.rst
  doc/utils/sphinx-config/false_positives.txt
  unittest/force-styles/test_angle_style.cpp
  unittest/force-styles/test_bond_style.cpp
  unittest/force-styles/test_dihedral_style.cpp
  unittest/force-styles/test_improper_style.cpp
  unittest/force-styles/test_main.cpp
  unittest/force-styles/tests/angle-cosine_delta.yaml
  unittest/force-styles/tests/angle-fourier_simple.yaml
  unittest/force-styles/tests/angle-mm3.yaml
  unittest/force-styles/tests/angle-table_linear.yaml
  unittest/force-styles/tests/bond-table_linear.yaml
  unittest/force-styles/tests/dihedral-charmm.yaml
  unittest/force-styles/tests/dihedral-charmmfsw.yaml
  unittest/force-styles/tests/dihedral-table_cut_linear.yaml
  unittest/force-styles/tests/dihedral-table_linear.yaml
  unittest/force-styles/tests/dihedral-table_spline.yaml
  unittest/force-styles/tests/improper-cossq.yaml
Labels: enhancement, unittest_feature

#4007 KSPACE: decouple KOKKOS and non-KOKKOS FFT
  cmake/CMakeLists.txt
  cmake/Modules/Packages/KOKKOS.cmake
  cmake/Modules/Packages/KSPACE.cmake
  cmake/presets/kokkos-cuda.cmake
  cmake/presets/kokkos-hip.cmake
  doc/src/Build_settings.rst
  doc/src/Howto_cmake.rst
  doc/src/info.rst
  doc/src/kspace_style.rst
  src/AMOEBA/amoeba_convolution.h
  src/INTEL/pppm_electrode_intel.cpp
  src/INTEL/pppm_electrode_intel.h
  src/KOKKOS/fft3d_kokkos.cpp
  src/KOKKOS/fft3d_kokkos.h
  src/KOKKOS/fftdata_kokkos.h
  src/KOKKOS/fix_acks2_reaxff_kokkos.cpp
  src/KOKKOS/fix_qeq_reaxff_kokkos.cpp
  src/KOKKOS/fix_shake_kokkos.cpp
  src/KOKKOS/meam_dens_init_kokkos.h
  src/KOKKOS/meam_force_kokkos.h
  src/KOKKOS/pair_adp_kokkos.cpp
  src/KOKKOS/pair_dpd_ext_kokkos.cpp
  src/KOKKOS/pair_dpd_ext_tstat_kokkos.cpp
  src/KOKKOS/pair_dpd_kokkos.cpp
  src/KOKKOS/pair_dpd_tstat_kokkos.cpp
  src/KOKKOS/pair_eam_alloy_kokkos.cpp
  src/KOKKOS/pair_eam_fs_kokkos.cpp
  src/KOKKOS/pair_eam_kokkos.cpp
  src/KOKKOS/pair_pace_extrapolation_kokkos.cpp
  src/KOKKOS/pair_pace_kokkos.cpp
  src/KOKKOS/pair_reaxff_kokkos.cpp
  src/KOKKOS/pair_snap_kokkos_impl.h
  src/KOKKOS/pair_sw_kokkos.cpp
  src/KOKKOS/pair_tersoff_kokkos.cpp
  src/KOKKOS/pair_tersoff_mod_kokkos.cpp
  src/KOKKOS/pair_tersoff_zbl_kokkos.cpp
  src/KOKKOS/pppm_kokkos.cpp
  src/KOKKOS/pppm_kokkos.h
  src/KOKKOS/remap_kokkos.cpp
  src/KOKKOS/remap_kokkos.h
  src/KSPACE/msm.cpp
  src/MAKE/MACHINES/Makefile.frontier_kokkos
  src/MAKE/MACHINES/Makefile.perlmutter_kokkos
  src/MAKE/MACHINES/Makefile.summit_kokkos
  src/MAKE/OPTIONS/Makefile.kokkos_cuda_mpi
  src/info.cpp
  src/info.h
  src/kspace.h
  src/lammps.cpp
  src/lmpfftsettings.h
Labels: enhancement, kspace_package, kokkos_package, build_system, cmake

#4070 Silence some compiler warnings and remove dead code
  examples/PACKAGES/mgpt/in.bcc0
  examples/PACKAGES/mgpt/in.vac0-bcc
  examples/PACKAGES/mgpt/in.vacmin-bcc
  examples/PACKAGES/mgpt/log.7Feb24.bcc0.g++.1
  examples/PACKAGES/mgpt/log.7Feb24.bcc0.g++.4
  examples/PACKAGES/mgpt/log.7Feb24.vac0-bcc.g++.1
  examples/PACKAGES/mgpt/log.7Feb24.vac0-bcc.g++.4
  examples/PACKAGES/mgpt/log.7Feb24.vacmin-bcc.g++.1
  examples/PACKAGES/mgpt/log.7Feb24.vacmin-bcc.g++.4
  examples/PACKAGES/mgpt/log.bcc0
  examples/PACKAGES/mgpt/log.vac0-bcc
  examples/PACKAGES/mgpt/log.vacmin-bcc
  lib/gpu/geryon/ocl_memory.h
  lib/gpu/geryon/ucl_copy.h
  lib/gpu/geryon/ucl_d_vec.h
  lib/gpu/geryon/ucl_h_vec.h
  lib/gpu/geryon/ucl_print.h
  lib/gpu/geryon/ucl_s_obj_help.h
  lib/gpu/geryon/ucl_vector.h
  src/INTEL/pair_airebo_intel.cpp
  src/INTEL/pair_lj_charmm_coul_charmm_intel.cpp
  src/MGPT/mgpt_readpot.cpp
  src/MGPT/pair_mgpt.cpp
  src/MGPT/pair_mgpt.h
Labels: maintenance

#4072 Fix issue from #4007
  src/DPD-REACT/fix_shardlow.cpp
  src/DPD-REACT/fix_shardlow.h
  src/DPD-REACT/random_external_state.h
  src/KOKKOS/fft3d_kokkos.cpp
  src/KOKKOS/fftdata_kokkos.h
  src/KOKKOS/fix_shardlow_kokkos.cpp
  src/KOKKOS/remap_kokkos.cpp
  src/lmpfftsettings.h
Labels: kokkos_package, build_system

#4071 Update version tags and strings for the next feature release
  doc/lammps.1
  doc/src/Build_settings.rst
  doc/src/Commands_removed.rst
  doc/src/Fortran.rst
  doc/src/angle_lepton.rst
  doc/src/bond_lepton.rst
  doc/src/compute_pace.rst
  doc/src/compute_rattlers_atom.rst
  doc/src/compute_reaxff_atom.rst
  doc/src/compute_slcsa_atom.rst
  doc/src/fix_nonaffine_displacement.rst
  doc/src/info.rst
  doc/src/molecule.rst
  doc/src/variable.rst
  python/lammps/core.py
  src/library.cpp
  src/version.h
Labels: maintenance

#4073 Collected small changes and fixes
  cmake/Modules/ExternalCMakeProject.cmake
  cmake/Modules/OpenCLLoader.cmake
  cmake/Modules/Packages/KSPACE.cmake
  cmake/Modules/Packages/PLUMED.cmake
  doc/src/create_atoms.rst
  lib/gpu/Makefile.lammps.mingw-cross
  lib/plumed/Install.py
  src/AMOEBA/pair_amoeba.cpp
  src/MGPT/mgpt_readpot.cpp
  src/REPLICA/fix_pimd_langevin.cpp
  src/create_atoms.cpp
  src/fix_ave_grid.cpp
  src/fix_langevin.cpp
  src/lammps.cpp
  src/version.h
  tools/phonon/disp.cpp
  tools/phonon/dynmat.cpp
  tools/phonon/green.cpp
  tools/phonon/input.cpp
  tools/phonon/interpolate.cpp
  tools/phonon/kpath.cpp
  tools/phonon/phonon.cpp
  tools/phonon/phonopy.cpp
  tools/phonon/qnodes.cpp
  tools/phonon/timer.cpp
  tools/phonon/tricubic/tricubic.cpp
  unittest/formats/test_dump_netcdf.cpp
  unittest/formats/test_molecule_file.cpp
Labels: gpu_package, bugfix, build_system, cmake, refactor

#4077 Fix compilation issue for some pair styles using ewald_const.h
  cmake/CMakeLists.txt
  src/CLASS2/pair_lj_class2_coul_long.cpp
  src/EXTRA-PAIR/pair_lj_cut_coul_dsf.cpp
  src/GPU/pair_coul_dsf_gpu.cpp
  src/GPU/pair_lj_cut_coul_dsf_gpu.cpp
  src/KOKKOS/pair_coul_dsf_kokkos.cpp
  src/KOKKOS/pair_lj_cut_coul_dsf_kokkos.cpp
  src/OPENMP/pair_coul_dsf_omp.cpp
  src/OPENMP/pair_lj_cut_coul_dsf_omp.cpp
  src/OPENMP/pair_lj_cut_tip4p_long_omp.cpp
  src/OPENMP/pair_lj_cut_tip4p_long_soft_omp.cpp
  src/OPENMP/pair_tip4p_long_omp.cpp
  src/ewald_const.h
  src/pair_coul_dsf.cpp
  src/version.h
Labels: bugfix

#4074 fixed bounds of loops in ML-IAP
  src/KOKKOS/mliap_data_kokkos.cpp
Labels: bugfix, mliap_package

#4084 Create atoms template check
  doc/src/create_atoms.rst
  src/create_atoms.cpp
Labels: bugfix

#4079 Add Kokkos package option to build atom map in serial on CPU
  doc/src/package.rst
  src/KOKKOS/atom_kokkos.h
  src/KOKKOS/atom_map_kokkos.cpp
  src/KOKKOS/comm_kokkos.cpp
  src/KOKKOS/kokkos.cpp
  src/KOKKOS/kokkos.h
Labels: enhancement, kokkos_package

#4080 Fix buffer overflow in compute reaxff/atom
  src/KOKKOS/compute_reaxff_atom_kokkos.cpp
  src/REAXFF/compute_reaxff_atom.cpp
  src/REAXFF/compute_reaxff_atom.h
Labels: bugfix, kokkos_package, reaxff_package

#4017 Expanding deformation controls
  doc/src/Commands_fix.rst
  doc/src/fix.rst
  doc/src/fix_deform.rst
  doc/src/fix_deform_pressure.rst
  src/.gitignore
  src/EXTRA-FIX/fix_deform_pressure.cpp
  src/EXTRA-FIX/fix_deform_pressure.h
  src/KOKKOS/fix_deform_kokkos.cpp
  src/fix_deform.cpp
  src/fix_deform.h
Labels: fix_feature

#4087 Add rebomos pair style with examples and unit test
  doc/src/Commands_pair.rst
  doc/src/pair_rebomos.rst
  doc/src/pair_style.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/threebody/MoS.rebomos
  examples/threebody/in.mos2-bulk
  examples/threebody/in.mos2.rebomos
  examples/threebody/log.22Feb24.mos2-bulk.g++.1
  examples/threebody/log.22Feb24.mos2-bulk.g++.4
  examples/threebody/log.22Feb24.mos2.rebomos.g++.1
  examples/threebody/log.22Feb24.mos2.rebomos.g++.4
  potentials/MoS.rebomos
  potentials/README
  src/.gitignore
  src/MANYBODY/pair_rebomos.cpp
  src/MANYBODY/pair_rebomos.h
  src/OPENMP/pair_rebomos_omp.cpp
  src/OPENMP/pair_rebomos_omp.h
  unittest/force-styles/tests/manybody-pair-rebomos.yaml
Labels: manybody_package, user_omp_package

#4069 New fix implementing flow boundary conditions
  doc/src/Bibliography.rst
  doc/src/Commands_fix.rst
  doc/src/fix.rst
  doc/src/fix_wall_flow.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/wall/in.wall.flow
  examples/wall/log.7Feb24.wall.flow.g++.1
  examples/wall/log.7Feb24.wall.flow.g++.4
  src/.gitignore
  src/EXTRA-FIX/fix_wall_flow.cpp
  src/EXTRA-FIX/fix_wall_flow.h
  src/KOKKOS/Install.sh
  src/KOKKOS/fix_wall_flow_kokkos.cpp
  src/KOKKOS/fix_wall_flow_kokkos.h
Labels: enhancement

#4088 Fix for force calculation and memory bug (atom name definition) in mliap.
  src/KOKKOS/mliap_unified_couple_kokkos.pyx
  src/KOKKOS/mliap_unified_kokkos.cpp
  src/ML-IAP/mliap_unified.cpp
  src/ML-IAP/mliap_unified_couple.pyx
Labels: kokkos_package, mliap_package

#4091 Small fixes to GRANULAR/BPM packages
  doc/src/Howto_granular.rst
  doc/src/compute_fabric.rst
  doc/src/compute_property_atom.rst
  doc/src/dump.rst
  doc/src/fix_property_atom.rst
  examples/granular/in.pour.heat
  src/BPM/bond_bpm.cpp
  src/GRANULAR/compute_fabric.cpp
  src/GRANULAR/gran_sub_mod_damping.cpp
  src/compute_property_atom.cpp
  src/compute_property_atom.h
  src/dump_custom.cpp
  src/dump_custom.h
Labels: bugfix, granular_package, bpm_package
