Repository lammps/lammps, pull requests merged in 2024-03, with the labels that each got.

#4092 Add better Kokkos support for comm_style tiled
  src/KOKKOS/atom_vec_angle_kokkos.cpp
  src/KOKKOS/atom_vec_angle_kokkos.h
  src/KOKKOS/atom_vec_atomic_kokkos.cpp
  src/KOKKOS/atom_vec_atomic_kokkos.h
  src/KOKKOS/atom_vec_bond_kokkos.cpp
  src/KOKKOS/atom_vec_bond_kokkos.h
  src/KOKKOS/atom_vec_charge_kokkos.cpp
  src/KOKKOS/atom_vec_charge_kokkos.h
  src/KOKKOS/atom_vec_dipole_kokkos.cpp
  src/KOKKOS/atom_vec_dipole_kokkos.h
  src/KOKKOS/atom_vec_dpd_kokkos.cpp
  src/KOKKOS/atom_vec_dpd_kokkos.h
  src/KOKKOS/atom_vec_full_kokkos.cpp
  src/KOKKOS/atom_vec_full_kokkos.h
  src/KOKKOS/atom_vec_hybrid_kokkos.cpp
  src/KOKKOS/atom_vec_hybrid_kokkos.h
  src/KOKKOS/atom_vec_kokkos.cpp
  src/KOKKOS/atom_vec_kokkos.h
  src/KOKKOS/atom_vec_molecular_kokkos.cpp
  src/KOKKOS/atom_vec_molecular_kokkos.h
  src/KOKKOS/atom_vec_sphere_kokkos.cpp
  src/KOKKOS/atom_vec_sphere_kokkos.h
  src/KOKKOS/atom_vec_spin_kokkos.cpp
  src/KOKKOS/atom_vec_spin_kokkos.h
  src/KOKKOS/comm_kokkos.cpp
  src/KOKKOS/comm_kokkos.h
  src/KOKKOS/comm_tiled_kokkos.cpp
  src/KOKKOS/comm_tiled_kokkos.h
  src/KOKKOS/fix_acks2_reaxff_kokkos.cpp
  src/KOKKOS/fix_acks2_reaxff_kokkos.h
  src/KOKKOS/fix_langevin_kokkos.h
  src/KOKKOS/fix_qeq_reaxff_kokkos.cpp
  src/KOKKOS/fix_qeq_reaxff_kokkos.h
  src/KOKKOS/fix_rx_kokkos.cpp
  src/KOKKOS/fix_shake_kokkos.cpp
  src/KOKKOS/fix_shake_kokkos.h
  src/KOKKOS/fix_wall_lj93_kokkos.cpp
  src/KOKKOS/fix_wall_lj93_kokkos.h
  src/KOKKOS/kokkos_base.h
  src/KOKKOS/kokkos_type.h
  src/KOKKOS/memory_kokkos.h
  src/KOKKOS/mliap_data_kokkos.cpp
  src/KOKKOS/mliap_descriptor_kokkos.h
  src/KOKKOS/mliap_model_kokkos.h
  src/KOKKOS/mliap_so3_kokkos.cpp
  src/KOKKOS/pair_adp_kokkos.cpp
  src/KOKKOS/pair_adp_kokkos.h
  src/KOKKOS/pair_eam_alloy_kokkos.cpp
  src/KOKKOS/pair_eam_alloy_kokkos.h
  src/KOKKOS/pair_eam_fs_kokkos.cpp
  src/KOKKOS/pair_eam_fs_kokkos.h
  src/KOKKOS/pair_eam_kokkos.cpp
  src/KOKKOS/pair_eam_kokkos.h
  src/KOKKOS/pair_meam_kokkos.cpp
  src/KOKKOS/pair_meam_kokkos.h
  src/KOKKOS/pair_multi_lucy_rx_kokkos.cpp
  src/KOKKOS/pair_multi_lucy_rx_kokkos.h
  src/comm_tiled.cpp
  src/comm_tiled.h
Labels: enhancement, kokkos_package, communication_feature

#4095 Update for the ELECTRODE package
  doc/src/fix_electrode.rst
  examples/PACKAGES/electrode/madelung/eval.py
  examples/PACKAGES/electrode/madelung/in.eta
  examples/PACKAGES/electrode/madelung/in.eta_cg
  examples/PACKAGES/electrode/madelung/in.eta_mix
  examples/PACKAGES/electrode/madelung/log.19Feb2024.eta.g++.1
  examples/PACKAGES/electrode/madelung/log.19Feb2024.eta_cg.g++.1
  examples/PACKAGES/electrode/madelung/log.19Feb2024.eta_mix.g++.1
  examples/PACKAGES/electrode/madelung/plate_cap.py
  examples/PACKAGES/electrode/madelung/test.sh
  src/ELECTRODE/README
  src/ELECTRODE/electrode_math.h
  src/ELECTRODE/electrode_matrix.cpp
  src/ELECTRODE/electrode_matrix.h
  src/ELECTRODE/electrode_vector.cpp
  src/ELECTRODE/electrode_vector.h
  src/ELECTRODE/fix_electrode_conp.cpp
  src/ELECTRODE/fix_electrode_conp.h
  src/ELECTRODE/fix_electrode_conq.cpp
  src/ELECTRODE/fix_electrode_thermo.cpp
  src/ELECTRODE/pppm_electrode.cpp
  unittest/force-styles/tests/in.conp
  unittest/force-styles/tests/kspace-ewald_conp_charge.yaml
  unittest/force-styles/tests/kspace-pppm_conp_charge.yaml
Labels: electrode_package

#4094 Collected small changes and fixes
  .github/CODEOWNERS
  cmake/presets/kokkos-hip.cmake
  doc/src/Developer_updating.rst
  doc/src/compute_adf.rst
  doc/src/compute_ave_sphere_atom.rst
  doc/src/compute_composition_atom.rst
  doc/src/compute_efield_wolf_atom.rst
  doc/src/compute_rdf.rst
  doc/src/fix_balance.rst
  doc/src/fix_electrode.rst
  doc/src/fix_nonaffine_displacement.rst
  doc/src/fix_ttm.rst
  examples/meam/msmeam/HGa.meam
  examples/meam/msmeam/HGa.msmeam
  examples/meam/msmeam/data.msmeam.bu
  examples/meam/msmeam/in.msmeam
  examples/meam/msmeam/library.msmeam
  examples/meam/msmeam/log.1Mar2024.msmeam.g++.1
  examples/meam/msmeam/log.1Mar2024.msmeam.g++.4
  examples/meam/msmeam/log.msmeam.bu
  examples/meam/msmeam/msmeam.dump.bu
  examples/meam/msmeam/potential.mod
  examples/rdf-adf/in.spce
  potentials/HGa.msmeam
  src/DRUDE/compute_temp_drude.cpp
  src/DRUDE/fix_drude.cpp
  src/DRUDE/fix_drude_transform.cpp
  src/DRUDE/fix_tgnh_drude.cpp
  src/EXTRA-COMPUTE/compute_adf.cpp
  src/EXTRA-COMPUTE/compute_adf.h
  src/EXTRA-COMPUTE/compute_ave_sphere_atom.cpp
  src/EXTRA-COMPUTE/compute_composition_atom.cpp
  src/EXTRA-COMPUTE/compute_efield_wolf_atom.cpp
  src/EXTRA-FIX/fix_nonaffine_displacement.cpp
  src/EXTRA-FIX/fix_nonaffine_displacement.h
  src/EXTRA-FIX/fix_ttm_mod.cpp
  src/MANYBODY/pair_rebomos.cpp
  src/MEAM/meam_force.cpp
  src/MEAM/meam_setup_global.cpp
  src/MEAM/pair_meam.cpp
  src/OPENMP/fix_omp.cpp
  src/compute_rdf.cpp
  src/fix_balance.cpp
  src/fix_balance.h
  src/write_dump.cpp
Labels: bugfix, refactor

#4096 Update Kokkos library in LAMMPS to v4.2.1
  cmake/Modules/Packages/KOKKOS.cmake
  lib/kokkos/CHANGELOG.md
  lib/kokkos/CMakeLists.txt
  lib/kokkos/Makefile.kokkos
  lib/kokkos/algorithms/unit_tests/TestStdAlgorithmsCommon.hpp
  lib/kokkos/algorithms/unit_tests/TestStdAlgorithmsTeamCopyIf.cpp
  lib/kokkos/algorithms/unit_tests/TestStdAlgorithmsTeamIsPartitioned.cpp
  lib/kokkos/algorithms/unit_tests/TestStdAlgorithmsTeamPartitionCopy.cpp
  lib/kokkos/algorithms/unit_tests/TestStdAlgorithmsTeamPartitionPoint.cpp
  lib/kokkos/algorithms/unit_tests/TestStdAlgorithmsTeamRemoveCopyIf.cpp
  lib/kokkos/algorithms/unit_tests/TestStdAlgorithmsTeamRemoveIf.cpp
  lib/kokkos/algorithms/unit_tests/TestStdAlgorithmsTeamReplaceCopyIf.cpp
  lib/kokkos/algorithms/unit_tests/TestStdAlgorithmsTeamReplaceIf.cpp
  lib/kokkos/cmake/KokkosCore_config.h.in
  lib/kokkos/cmake/kokkos_arch.cmake
  lib/kokkos/core/src/Cuda/Kokkos_Cuda_Parallel_MDRange.hpp
  lib/kokkos/core/src/Cuda/Kokkos_Cuda_Parallel_Range.hpp
  lib/kokkos/core/src/Cuda/Kokkos_Cuda_Parallel_Team.hpp
  lib/kokkos/core/src/HIP/Kokkos_HIP_Graph_Impl.hpp
  lib/kokkos/core/src/HIP/Kokkos_HIP_Instance.hpp
  lib/kokkos/core/src/Kokkos_HostSpace.hpp
  lib/kokkos/core/src/Kokkos_Printf.hpp
  lib/kokkos/core/src/OpenMP/Kokkos_OpenMP_Instance.cpp
  lib/kokkos/core/src/OpenMP/Kokkos_OpenMP_Instance.hpp
  lib/kokkos/core/src/Serial/Kokkos_Serial.cpp
  lib/kokkos/core/src/Serial/Kokkos_Serial.hpp
  lib/kokkos/core/src/Threads/Kokkos_ThreadsExec.cpp
  lib/kokkos/core/unit_test/TestMathematicalFunctions.hpp
  lib/kokkos/core/unit_test/TestNumericTraits.hpp
  lib/kokkos/generate_makefile.bash
  lib/kokkos/master_history.txt
  lib/kokkos/simd/src/Kokkos_SIMD_Scalar.hpp
  lib/kokkos/simd/unit_tests/include/TestSIMD_GeneratorCtors.hpp
Labels: kokkos_package, update

#4097 Changes for processors grid numa style
  doc/src/processors.rst
  src/comm.cpp
  src/comm.h
  src/procmap.cpp
  src/procmap.h
Labels: communication_feature

#3989 Addition of conical geometry in fix indent
  doc/src/fix_indent.rst
  src/fix_indent.cpp
  src/fix_indent.h
Labels: enhancement

#4099 Collected small fixes and changes
  doc/src/Intro_citing.rst
  src/ELECTRODE/fix_electrode_conp.cpp
  src/EXTRA-FIX/fix_nonaffine_displacement.cpp
  src/EXTRA-FIX/fix_nonaffine_displacement.h
  src/GRANULAR/granular_model.cpp
  src/KOKKOS/pair_kokkos.h
  src/REAXFF/fix_qeq_reaxff.cpp
  src/fix_indent.cpp
  src/reader_native.cpp
Labels: bugfix, refactor

#4101 Small patches to multi neighbor and fix deform/pressure
  doc/src/fix_deform_pressure.rst
  src/EXTRA-FIX/fix_deform_pressure.cpp
  src/EXTRA-FIX/fix_deform_pressure.h
  src/neighbor.cpp
Labels: neighborlist_feature

#4102 Fix Kokkos "team size too large" issue
  src/KOKKOS/pair_kokkos.h
Labels: bugfix, kokkos_package

#4105 Fixed bugs with sph gpu pair styles
  lib/gpu/lal_sph_heatconduction.cu
  lib/gpu/lal_sph_lj.cu
  lib/gpu/lal_sph_taitwater.cu
  src/GPU/pair_sph_heatconduction_gpu.cpp
  src/GPU/pair_sph_lj_gpu.cpp
  src/GPU/pair_sph_taitwater_gpu.cpp
Labels: gpu_package, bugfix

#4103 Collected small changes and fixes
  cmake/Modules/Packages/KOKKOS.cmake
  doc/src/Fortran.rst
  doc/src/fix_ave_chunk.rst
  doc/src/fix_ave_histo.rst
  doc/src/fix_ave_time.rst
  doc/src/fix_electrode.rst
  doc/src/processors.rst
  doc/utils/sphinx-config/false_positives.txt
  fortran/lammps.f90
  python/lammps/core.py
  python/lammps/numpy_wrapper.py
  src/EFF/fix_nh_eff.cpp
  src/MC/fix_sgcmc.cpp
  src/angle_hybrid.cpp
  src/bond_hybrid.cpp
  src/dihedral_hybrid.cpp
  src/fix_ave_chunk.cpp
  src/fix_ave_histo.cpp
  src/fix_ave_time.cpp
  src/fix_print.cpp
  src/fix_print.h
  src/improper_hybrid.cpp
  src/library.cpp
  src/pair_hybrid.cpp
  src/pair_hybrid_overlay.cpp
  src/pair_hybrid_scaled.cpp
Labels: enhancement, bugfix, library_interface, cmake, fortran_interface, refactor

#4107 fix pimd/langevin: improve support for method==pimd
  src/REPLICA/fix_pimd_langevin.cpp
  src/REPLICA/fix_pimd_langevin.h
Labels: replica_package

#4098 Fix variables compatibility with chunk arrays
  src/variable.cpp
Labels: bugfix

#4108 Allow compute spin for groups other than `all`
  src/SPIN/compute_spin.cpp
Labels: bugfix, spin_package
