Repository lammps/lammps, pull requests merged in 2024-11, with the labels that each got.

#4370 Fixing potential segfaults in granular/nstencil classes and other minor clean ups
  doc/src/Howto_bpm.rst
  examples/tracker/contact_history.dat
  examples/tracker/in.track
  examples/tracker/lifetime_hist.dat
  examples/tracker/log.29Aug24.tracker.g++.1
  examples/tracker/log.8Apr21.tracker.g++.1
  src/BPM/bond_bpm.cpp
  src/BPM/bond_bpm_rotational.cpp
  src/BPM/bond_bpm_spring.cpp
  src/GRANULAR/gran_sub_mod_damping.cpp
  src/GRANULAR/gran_sub_mod_normal.cpp
  src/GRANULAR/gran_sub_mod_rolling.cpp
  src/SPH/pair_sph_taitwater.cpp
  src/nstencil.cpp
Labels: bugfix, neighborlist_feature, granular_package, bpm_package

#4371 fix typo in compute_temp_partial.rst
  doc/src/compute_temp_partial.rst
Labels: documentation

#4374 Fixed bug in the GPU package when three-body pair styles are used with pair hybrid
  lib/gpu/lal_neighbor.cpp
Labels: gpu_package, bugfix

#4362 Improve the Kokkos regression test workflow
  .github/workflows/kokkos-regression.yaml
  tools/regression-tests/get_kokkos_input.py
Labels: tools

#4383 Collected small changes and fixes
  .github/CODEOWNERS
  doc/documentation_conventions.md
  doc/github-development-workflow.md
  doc/src/fix_adapt.rst
  doc/src/fix_adapt_fep.rst
  doc/src/fix_colvars.rst
  doc/src/fix_spring_self.rst
  doc/utils/check-styles.py
  src/KOKKOS/fix_spring_self_kokkos.cpp
  src/MANYBODY/pair_sw_angle_table.cpp
  src/OPENMP/pair_reaxff_omp.cpp
  src/REAXFF/fix_qeq_reaxff.cpp
  src/REAXFF/fix_qtpie_reaxff.cpp
  src/REAXFF/fix_qtpie_reaxff.h
  src/REAXFF/fix_reaxff_species.cpp
  src/command.h
  src/fix_spring_self.cpp
  src/fix_spring_self.h
  src/label_map.cpp
  unittest/force-styles/tests/atomic-pair-reaxff-qtpie.yaml
  unittest/force-styles/tests/fix-timestep-spring_self_atom.yaml
  unittest/force-styles/tests/fix-timestep-spring_self_equal.yaml
  unittest/force-styles/tests/gauss_exp.txt
Labels: user_omp_package, documentation, bugfix, update, unittest_feature, reaxff_package

#4387 Step version strings for next release
  .github/release_steps.md
  doc/lammps.1
  doc/src/fix_qeq.rst
  doc/src/fix_qtpie_reaxff.rst
  doc/src/pair_coul.rst
  src/KOKKOS/fix_cmap_kokkos.cpp
  src/atom.cpp
  src/library.cpp
  src/version.h
Labels: maintenance

#4388 Fixed a indexing bug in dump_image.cpp causing segmentation fault with body style particles
  src/dump_image.cpp
Labels: bugfix

#4389 Collected small changes and fixes
  .github/release_steps.md
  doc/src/Errors_details.rst
  doc/src/compute_stress_curvilinear.rst
  doc/src/fix_external.rst
  src/fix_external.cpp
  src/variable.cpp
  src/version.h
  unittest/c-library/test_library_external.cpp
  unittest/python/python-fix-external.py
Labels: enhancement, documentation, maintenance
