Repository lammps/lammps, pull requests merged in 2024-09, with the labels that each got.

#4304 Add lammps_extract_atom_size() call to library interface and equivalent to python and fortran modules
  .github/workflows/check-vla.yml
  .github/workflows/compile-msvc.yml
  .github/workflows/unittest-linux.yml
  cmake/CMakeLists.txt
  doc/src/Build_development.rst
  doc/src/Library_atoms.rst
  doc/src/pair_hbond_dreiding.rst
  examples/COUPLE/plugin/liblammpsplugin.c
  examples/COUPLE/plugin/liblammpsplugin.h
  fortran/lammps.f90
  python/lammps/core.py
  python/lammps/numpy_wrapper.py
  src/CG-DNA/atom_vec_oxdna.cpp
  src/DIFFRACTION/compute_saed.cpp
  src/DIFFRACTION/compute_xrd.cpp
  src/DIFFRACTION/fix_saed_vtk.cpp
  src/ML-QUIP/pair_quip.cpp
  src/MOLECULE/pair_hbond_dreiding_lj.cpp
  src/MOLECULE/pair_hbond_dreiding_morse.cpp
  src/atom.cpp
  src/atom.h
  src/error.h
  src/library.cpp
  src/library.h
  src/version.h
  tools/lammps-gui/CMakeLists.txt
  tools/lammps-gui/lammps-gui.appdata.xml
  tools/swig/lammps.i
  unittest/c-library/test_library_properties.cpp
  unittest/force-styles/check_tests.py
  unittest/fortran/keepstuff.f90
  unittest/fortran/test_fortran_extract_atom.f90
  unittest/fortran/wrap_extract_atom.cpp
  unittest/python/python-numpy.py
Labels: enhancement, bugfix, python_module, library_interface, unittest_feature, fortran_interface

#4294 Add Kspace NVPL FFT support
  cmake/Modules/Packages/KOKKOS.cmake
  cmake/Modules/Packages/KSPACE.cmake
  doc/src/Build_settings.rst
  src/KOKKOS/fft3d_kokkos.cpp
  src/KOKKOS/fft3d_kokkos.h
  src/KOKKOS/fftdata_kokkos.h
  src/KSPACE/fft3d.cpp
  src/KSPACE/fft3d.h
  src/info.cpp
Labels: kspace_package, kokkos_package

#4314 Collected small changes and fixes
  cmake/CMakeLists.txt
  cmake/Modules/Packages/EXTRA-COMMAND.cmake
  cmake/Modules/Packages/PLUMED.cmake
  doc/msi2lmp.1
  doc/src/Build_extras.rst
  doc/src/Developer_write.rst
  doc/src/Developer_write_command.rst
  doc/src/Developer_write_pair.rst
  doc/src/Howto_pylammps.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/PACKAGES/pace/plugin/CMakeLists.txt
  examples/PACKAGES/pace/plugin/paceplugin.cpp
  fortran/lammps.f90
  lib/plumed/Install.py
  python/lammps/core.py
  python/lammps/numpy_wrapper.py
  python/lammps/pylammps.py
  src/EXTRA-COMMAND/ndx_group.cpp
  src/MC/fix_charge_regulation.cpp
  src/MC/fix_gcmc.cpp
  src/MC/fix_widom.cpp
  src/ML-IAP/mliap_descriptor.cpp
  src/ML-IAP/mliap_descriptor_ace.cpp
  src/angle_write.cpp
  src/dihedral_write.cpp
  tools/msi2lmp/src/GetParameters.c
  tools/msi2lmp/src/MakeLists.c
  tools/msi2lmp/src/ReadMdfFile.c
  tools/msi2lmp/src/SearchAndFill.c
  tools/msi2lmp/src/msi2lmp.c
  tools/msi2lmp/src/msi2lmp.h
  tools/msi2lmp/test/data-compare.pl
  tools/msi2lmp/test/in.PyAC_bulk-clayff
  tools/msi2lmp/test/reference/PyAC_bulk-clayff.data
  tools/msi2lmp/test/reference/PyAC_bulk-clayff.data2
  tools/msi2lmp/test/reference/ethane-oplsaa.data2
  tools/msi2lmp/test/runtests.sh
Labels: documentation, mc_package, bugfix, python_module, cmake, update, plugin

#4319 Enable large numbers of atoms per proc with the GPU package
  lib/gpu/lal_neighbor.cpp
  lib/gpu/lal_neighbor_gpu.cu
Labels: gpu_package

#4143 Implement kspace_modify collective yes in KOKKOS package
  src/KOKKOS/pppm_kokkos.cpp
  src/KOKKOS/remap_kokkos.cpp
  src/KOKKOS/remap_kokkos.h
  src/KSPACE/pppm.cpp
Labels: enhancement, kspace_package, kokkos_package, ready

#4318 Fixes to ReaxFF/Kokkos integer overflow issues for bond tables + cleanup of unused compute
  src/KOKKOS/pair_reaxff_kokkos.cpp
  src/KOKKOS/pair_reaxff_kokkos.h
Labels: kokkos_package, reaxff_package

#4207 Fix integer overflow for large QEq systems with KOKKOS package
  src/KOKKOS/fix_acks2_reaxff_kokkos.cpp
  src/KOKKOS/fix_acks2_reaxff_kokkos.h
  src/KOKKOS/fix_qeq_reaxff_kokkos.cpp
  src/KOKKOS/fix_qeq_reaxff_kokkos.h
  src/KOKKOS/kokkos_type.h
  src/QEQ/fix_qeq.cpp
  src/REAXFF/fix_qeq_reaxff.cpp
Labels: bugfix, kokkos_package

#4321 Collected small changes and fixes
  doc/src/group2ndx.rst
  lib/gpu/lal_neighbor.cpp
  python/lammps/numpy_wrapper.py
  src/.gitignore
  src/EXTRA-COMMAND/group2ndx.cpp
  src/EXTRA-COMMAND/group2ndx.h
  src/EXTRA-COMMAND/ndx2group.cpp
  src/EXTRA-COMMAND/ndx2group.h
  src/Purge.list
  tools/regression-tests/run_tests.py
Labels: maintenance

#4299 Allow the definition of point in region plane using variables
  doc/src/region.rst
  src/region.h
  src/region_block.cpp
  src/region_cone.cpp
  src/region_cylinder.cpp
  src/region_ellipsoid.cpp
  src/region_plane.cpp
  src/region_plane.h
  src/region_sphere.cpp
Labels: enhancement

#4324 Make CMake Doc build docenv optional
  cmake/Modules/Documentation.cmake
  cmake/Modules/FindSphinx.cmake
Labels: cmake

#4326 Collected small changes and fixes
  .github/workflows/compile-msvc.yml
  .github/workflows/quick-regression.yml
  .github/workflows/style-check.yml
  .github/workflows/unittest-linux.yml
  .github/workflows/unittest-macos.yml
  doc/src/Build_settings.rst
  doc/src/Intro_authors.rst
  doc/src/fix_adapt.rst
  doc/utils/sphinx-config/false_positives.txt
  src/EXTRA-FIX/fix_ave_correlate_long.cpp
  src/EXTRA-MOLECULE/bond_harmonic_shift.cpp
  src/EXTRA-MOLECULE/bond_harmonic_shift.h
  src/ML-IAP/mliap_data.cpp
  src/angle_hybrid.cpp
  src/angle_hybrid.h
  src/bond_hybrid.cpp
  src/bond_hybrid.h
  src/fix_adapt.cpp
  src/fix_ave_chunk.cpp
  src/fix_ave_grid.cpp
  src/region_plane.cpp
  src/variable.cpp
  unittest/commands/test_variables.cpp
  unittest/force-styles/tests/atomic-pair-meam_ms.yaml
  unittest/force-styles/tests/atomic-pair-pedone.yaml
  unittest/force-styles/tests/bond-harmonic_shift.yaml
  unittest/force-styles/tests/dihedral-cosine_squared_restricted.yaml
Labels: bugfix, update, mliap_package

#4333 add extract() function to several angle styles
  doc/src/fix_adapt.rst
  src/CG-SPICA/angle_spica.cpp
  src/CG-SPICA/angle_spica.h
  src/CLASS2/angle_class2.cpp
  src/CLASS2/angle_class2.h
  src/DIPOLE/angle_dipole.cpp
  src/DIPOLE/angle_dipole.h
  src/EXTRA-MOLECULE/angle_cosine_periodic.cpp
  src/EXTRA-MOLECULE/angle_cosine_periodic.h
  src/EXTRA-MOLECULE/angle_cosine_squared_restricted.cpp
  src/EXTRA-MOLECULE/angle_cosine_squared_restricted.h
  src/EXTRA-MOLECULE/angle_fourier.cpp
  src/EXTRA-MOLECULE/angle_fourier.h
  src/EXTRA-MOLECULE/angle_fourier_simple.cpp
  src/EXTRA-MOLECULE/angle_fourier_simple.h
  src/EXTRA-MOLECULE/angle_quartic.cpp
  src/EXTRA-MOLECULE/angle_quartic.h
  src/MOLECULE/angle_charmm.cpp
  src/MOLECULE/angle_charmm.h
  src/MOLECULE/bond_fene_expand.cpp
  src/MOLECULE/bond_fene_expand.h
  src/YAFF/angle_mm3.cpp
  src/YAFF/angle_mm3.h
  src/YAFF/bond_mm3.cpp
  src/YAFF/bond_mm3.h
  unittest/force-styles/tests/angle-charmm.yaml
  unittest/force-styles/tests/angle-class2.yaml
  unittest/force-styles/tests/angle-cosine_periodic.yaml
  unittest/force-styles/tests/angle-cosine_squared_restricted.yaml
  unittest/force-styles/tests/angle-dipole.yaml
  unittest/force-styles/tests/angle-fourier.yaml
  unittest/force-styles/tests/angle-fourier_simple.yaml
  unittest/force-styles/tests/angle-mm3.yaml
  unittest/force-styles/tests/angle-quartic.yaml
  unittest/force-styles/tests/angle-spica.yaml
  unittest/force-styles/tests/bond-fene_expand.yaml
  unittest/force-styles/tests/bond-mm3.yaml
Labels: enhancement

#4190 Improve Kokkos unit testing
  lib/kokkos/Makefile.kokkos
  lib/kokkos/cmake/KokkosCore_config.h.in
  lib/kokkos/cmake/kokkos_arch.cmake
  lib/kokkos/core/src/HIP/Kokkos_HIP_Instance.hpp
  lib/kokkos/core/src/OpenMPTarget/Kokkos_OpenMPTarget_ParallelScan_Range.hpp
  lib/kokkos/core/src/impl/Kokkos_Core.cpp
  lib/kokkos/generate_makefile.bash
  src/KOKKOS/domain_kokkos.cpp
  src/KOKKOS/domain_kokkos.h
  src/KOKKOS/fix_deform_kokkos.cpp
  src/KOKKOS/fix_deform_kokkos.h
  src/KOKKOS/fix_efield_kokkos.cpp
  src/KOKKOS/fix_efield_kokkos.h
  src/KOKKOS/fix_nh_kokkos.cpp
  src/KOKKOS/fix_wall_lj93_kokkos.cpp
  src/KOKKOS/fix_wall_lj93_kokkos.h
  src/KOKKOS/fix_wall_reflect_kokkos.cpp
  src/domain.cpp
  src/domain.h
  src/fix_deform.cpp
  src/fix_efield.cpp
  src/fix_wall.cpp
  src/fix_wall.h
  unittest/force-styles/test_config.h
  unittest/force-styles/test_config_reader.cpp
  unittest/force-styles/test_config_reader.h
  unittest/force-styles/test_dihedral_style.cpp
  unittest/force-styles/test_fix_timestep.cpp
  unittest/force-styles/test_main.cpp
  unittest/force-styles/test_main.h
  unittest/force-styles/tests/fix-timestep-efield_const.yaml
  unittest/force-styles/tests/fix-timestep-efield_dipole_const.yaml
  unittest/force-styles/tests/fix-timestep-efield_dipole_variable.yaml
  unittest/force-styles/tests/fix-timestep-efield_region.yaml
  unittest/force-styles/tests/fix-timestep-efield_variable.yaml
  unittest/force-styles/tests/fix-timestep-gravity.yaml
  unittest/force-styles/tests/fix-timestep-nph_sphere.yaml
  unittest/force-styles/tests/fix-timestep-npt_sphere_aniso.yaml
  unittest/force-styles/tests/fix-timestep-npt_sphere_iso.yaml
  unittest/force-styles/tests/fix-timestep-npt_sphere_tri.yaml
  unittest/force-styles/tests/fix-timestep-nve_sphere.yaml
  unittest/force-styles/tests/fix-timestep-nve_sphere_dipole.yaml
  unittest/force-styles/tests/fix-timestep-nve_sphere_dipole_dlm.yaml
  unittest/force-styles/tests/fix-timestep-nvt_sphere.yaml
  unittest/force-styles/tests/fix-timestep-wall_lj93_const.yaml
  unittest/force-styles/tests/fix-timestep-wall_reflect.yaml
  unittest/utils/test_fmtlib.cpp
Labels: bugfix, kokkos_package, unittest_feature
