Repository lammps/lammps, pull requests merged in 2024-01, with the labels that each got.

#4031 Optimize Kokkos PACE pair style for GPUs
  src/KOKKOS/pair_pace_extrapolation_kokkos.cpp
  src/KOKKOS/pair_pace_extrapolation_kokkos.h
  src/KOKKOS/pair_pace_kokkos.cpp
  src/KOKKOS/pair_pace_kokkos.h
Labels: enhancement, kokkos_package, pace_package

#4034 Small correction to fix/ave/correlate/long to show the right output after a restart
  src/EXTRA-FIX/fix_ave_correlate_long.cpp
Labels: bugfix

#4036 Collected small KOKKOS changes
  cmake/Modules/Packages/KOKKOS.cmake
  lib/kokkos/core/src/Kokkos_Printf.hpp
  lib/kokkos/core/src/OpenMP/Kokkos_OpenMP_Instance.hpp
  src/Depend.sh
  src/EXTRA-COMPUTE/compute_rattlers_atom.cpp
  src/KOKKOS/atom_kokkos.cpp
  src/KOKKOS/atom_kokkos.h
  src/KOKKOS/atom_map_kokkos.cpp
  src/KOKKOS/atom_vec_angle_kokkos.cpp
  src/KOKKOS/atom_vec_atomic_kokkos.cpp
  src/KOKKOS/atom_vec_bond_kokkos.cpp
  src/KOKKOS/atom_vec_charge_kokkos.cpp
  src/KOKKOS/atom_vec_dipole_kokkos.cpp
  src/KOKKOS/atom_vec_dpd_kokkos.cpp
  src/KOKKOS/atom_vec_full_kokkos.cpp
  src/KOKKOS/atom_vec_hybrid_kokkos.cpp
  src/KOKKOS/atom_vec_molecular_kokkos.cpp
  src/KOKKOS/atom_vec_sphere_kokkos.cpp
  src/KOKKOS/atom_vec_spin_kokkos.cpp
  src/KOKKOS/comm_kokkos.cpp
  src/KOKKOS/compute_reaxff_atom_kokkos.cpp
  src/KOKKOS/dynamical_matrix_kokkos.cpp
  src/KOKKOS/fix_acks2_reaxff_kokkos.cpp
  src/KOKKOS/fix_acks2_reaxff_kokkos.h
  src/KOKKOS/fix_nvt_sllod_kokkos.cpp
  src/KOKKOS/fix_spring_self_kokkos.cpp
  src/KOKKOS/grid3d_kokkos.cpp
  src/KOKKOS/kissfft_kokkos.h
  src/KOKKOS/kokkos.cpp
  src/KOKKOS/kokkos_type.h
  src/KOKKOS/min_linesearch_kokkos.cpp
  src/KOKKOS/npair_kokkos.h
  src/KOKKOS/pair_kokkos.h
  src/KOKKOS/pair_pace_extrapolation_kokkos.cpp
  src/KOKKOS/pair_pace_kokkos.cpp
  src/KOKKOS/pair_reaxff_kokkos.cpp
  src/KOKKOS/pair_reaxff_kokkos.h
  src/KOKKOS/pppm_kokkos.cpp
  src/KOKKOS/third_order_kokkos.cpp
  src/KOKKOS/transpose_helper_kokkos.h
  src/min_linesearch.cpp
  src/write_restart.cpp
Labels: kokkos_package, maintenance

#4021 Bug fixes for BPM package
  doc/src/bond_bpm_rotational.rst
  doc/src/bond_bpm_spring.rst
  src/.gitignore
  src/BPM/bond_bpm.cpp
  src/BPM/fix_bond_history.cpp
  src/BPM/fix_bond_history.h
  src/BPM/fix_update_special_bonds.cpp
  src/BPM/fix_update_special_bonds.h
  src/BPM/pair_bpm_spring.cpp
  src/BPM/pair_bpm_spring.h
  src/displace_atoms.cpp
  src/fix_move.cpp
  src/fix_move.h
Labels: bugfix

#4037 Make computation of PPPM grid counts and DOFs removed by fixes compatible with large systems
  cmake/CMakeLists.txt
  src/BPM/Install.sh
  src/EFF/fix_langevin_eff.cpp
  src/ELECTRODE/pppm_electrode.cpp
  src/GPU/pppm_gpu.cpp
  src/INTEL/pppm_electrode_intel.cpp
  src/KOKKOS/fix_shake_kokkos.cpp
  src/KOKKOS/fix_shake_kokkos.h
  src/KOKKOS/pppm_kokkos.cpp
  src/KSPACE/pppm.cpp
  src/KSPACE/pppm_dipole.cpp
  src/KSPACE/pppm_disp.cpp
  src/KSPACE/pppm_stagger.cpp
  src/LATBOLTZ/fix_lb_fluid.cpp
  src/LATBOLTZ/fix_lb_fluid.h
  src/MANIFOLD/fix_nve_manifold_rattle.cpp
  src/MANIFOLD/fix_nve_manifold_rattle.h
  src/POEMS/fix_poems.cpp
  src/POEMS/fix_poems.h
  src/RIGID/fix_rigid.cpp
  src/RIGID/fix_rigid.h
  src/RIGID/fix_rigid_small.cpp
  src/RIGID/fix_rigid_small.h
  src/RIGID/fix_shake.cpp
  src/RIGID/fix_shake.h
  src/compute.cpp
  src/compute.h
  src/delete_bonds.cpp
  src/fix.h
  src/replicate.cpp
Labels: kspace_package, gpu_package, user_omp_package, bugfix, fix_feature, kokkos_package, electrode_package

#4039 Collected small changes and fixes
  cmake/CMakeLists.txt
  doc/src/Developer_updating.rst
  doc/src/fix_qeq.rst
  doc/utils/sphinx-config/false_positives.txt
  lib/gpu/lal_base_sph.h
  lib/gpu/lal_coul_slater_long.cu
  lib/gpu/lal_coul_slater_long.h
  lib/gpu/lal_eam.cpp
  lib/gpu/lal_sph_heatconduction.h
  src/.gitignore
  src/BPM/Install.sh
  src/BPM/fix_update_special_bonds.cpp
  src/EXTRA-COMPUTE/compute_rattlers_atom.h
  src/EXTRA-COMPUTE/compute_slcsa_atom.cpp
  src/EXTRA-COMPUTE/compute_slcsa_atom.h
  src/EXTRA-FIX/fix_nonaffine_displacement.cpp
  src/EXTRA-MOLECULE/angle_cosine_periodic.cpp
  src/EXTRA-MOLECULE/dihedral_quadratic.cpp
  src/MAKE/MACHINES/Makefile.bgq
  src/MAKE/MACHINES/Makefile.xe6
  src/MAKE/MACHINES/bgq.make.details
  src/ML-SNAP/compute_sna_atom.cpp
  src/OPENMP/angle_cosine_periodic_omp.cpp
  src/OPENMP/npair_respa_nsq_omp.h
  src/QEQ/fix_qeq.cpp
  src/compute_pair.cpp
  src/delete_bonds.cpp
  src/fix.h
  src/fix_bond_history.cpp
  src/fix_bond_history.h
  src/fix_move.cpp
  unittest/force-styles/tests/angle-cosine_periodic.yaml
Labels: user_omp_package, bugfix, bpm_package

#4042 Update embedded fmtlib code to version 10.2.1
  src/KIM/kim_interactions.cpp
  src/KIM/kim_param.cpp
  src/fmt/args.h
  src/fmt/chrono.h
  src/fmt/color.h
  src/fmt/compile.h
  src/fmt/core.h
  src/fmt/format-inl.h
  src/fmt/format.h
  src/fmt/os.h
  src/fmt/ostream.h
  src/fmt/printf.h
  src/fmt/ranges.h
  src/fmt/std.h
  src/fmt/xchar.h
  src/fmtlib_os.cpp
Labels: maintenance

#3905 Assorted bond/react fixes
  examples/PACKAGES/reaction/create_atoms_polystyrene/in.grow_styrene
  examples/PACKAGES/reaction/nylon,6-6_melt/in.large_nylon_melt
  examples/PACKAGES/reaction/tiny_epoxy/in.tiny_epoxy.stabilized
  examples/PACKAGES/reaction/tiny_nylon/in.tiny_nylon.stabilized
  examples/PACKAGES/reaction/tiny_nylon/in.tiny_nylon.stabilized_variable_probability
  examples/PACKAGES/reaction/tiny_nylon/in.tiny_nylon.unstabilized
  examples/PACKAGES/reaction/tiny_polystyrene/in.tiny_polystyrene.stabilized
  src/REACTION/README
  src/REACTION/fix_bond_react.cpp
  src/REACTION/fix_bond_react.h
Labels: bugfix, user_reaction_package

#4040 [CG-DNA examples/util] fixed indentations and ported python 2 code to python 3
  examples/PACKAGES/cgdna/util/generate.py
  examples/PACKAGES/cgdna/util/generate_simple.py
Labels: refactor, examples

#4046 Add support for Dipoles section to molecule files
  doc/src/molecule.rst
  src/atom.cpp
  src/molecule.cpp
  src/molecule.h
  unittest/formats/test_molecule_file.cpp
Labels: enhancement

#4047 Fix bug in some Kokkos fixes' unpack exchange on device
  src/KOKKOS/comm_kokkos.cpp
  src/KOKKOS/fix_neigh_history_kokkos.cpp
  src/KOKKOS/fix_neigh_history_kokkos.h
  src/KOKKOS/fix_qeq_reaxff_kokkos.cpp
  src/KOKKOS/fix_qeq_reaxff_kokkos.h
  src/KOKKOS/fix_shake_kokkos.cpp
  src/KOKKOS/fix_shake_kokkos.h
  src/KOKKOS/fix_spring_self_kokkos.cpp
  src/KOKKOS/fix_spring_self_kokkos.h
  src/KOKKOS/fix_wall_gran_kokkos.cpp
  src/KOKKOS/fix_wall_gran_kokkos.h
  src/KOKKOS/kokkos_base.h
Labels: rigid_package, bugfix, kokkos_package, granular_package

#4054 Remove sphere_flag and replace with radius_flag and omega_flag as needed
  doc/src/atom_style.rst
  doc/utils/sphinx-config/false_positives.txt
  purge-workflows.py
  src/BPM/atom_vec_bpm_sphere.cpp
  src/BPM/bond_bpm_rotational.cpp
  src/BPM/fix_nve_bpm_sphere.cpp
  src/BROWNIAN/fix_brownian_sphere.cpp
  src/COLLOID/fix_wall_colloid.cpp
  src/COLLOID/pair_brownian.cpp
  src/COLLOID/pair_brownian_poly.cpp
  src/COLLOID/pair_lubricate.cpp
  src/COLLOID/pair_lubricateU.cpp
  src/COLLOID/pair_lubricateU_poly.cpp
  src/COLLOID/pair_lubricate_poly.cpp
  src/COLLOID/pair_yukawa_colloid.cpp
  src/EXTRA-FIX/fix_viscous_sphere.cpp
  src/GPU/pair_yukawa_colloid_gpu.cpp
  src/GRANULAR/compute_contact_atom.cpp
  src/GRANULAR/fix_damping_cundall.cpp
  src/GRANULAR/fix_wall_gran.cpp
  src/GRANULAR/pair_gran_hooke_history.cpp
  src/GRANULAR/pair_granular.cpp
  src/KOKKOS/fix_wall_gran_old.cpp
  src/OPENMP/fix_nh_sphere_omp.cpp
  src/atom.cpp
  src/atom.h
  src/atom_vec_line.cpp
  src/atom_vec_sphere.cpp
  src/atom_vec_tri.cpp
  src/compute_erotate_sphere.cpp
  src/compute_erotate_sphere_atom.cpp
  src/compute_temp_sphere.cpp
  src/fix_langevin.cpp
  src/fix_nh.cpp
  src/fix_nh_sphere.cpp
  src/fix_nve_sphere.cpp
  src/fix_wall_region.cpp
  src/library.cpp
  unittest/c-library/test_library_properties.cpp
  unittest/formats/test_atom_styles.cpp
Labels: refactor

#4015 add border information to Atom::add_custom and Atom::find_custom
  src/AMOEBA/pair_amoeba.cpp
  src/KOKKOS/atom_kokkos.cpp
  src/KOKKOS/atom_kokkos.h
  src/atom.cpp
  src/atom.h
  src/fix_property_atom.cpp
Labels: enhancement
