Repository lammps/lammps, pull requests merged in 2025-07, with the labels that each got.

#4019 hybrid monte carlo
  cmake/Modules/Packages/MC.cmake
  doc/src/Commands_fix.rst
  doc/src/fix.rst
  doc/src/fix_hmc.rst
  doc/src/fix_nve.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/mc/data.hmc.spce
  examples/mc/in.hmc.flexible.melt
  examples/mc/in.hmc.rigid
  examples/mc/log.2Jul25.hmc.flexible.melt.g++.1
  examples/mc/log.2Jul25.hmc.flexible.melt.g++.4
  examples/mc/log.2Jul25.hmc.rigid.g++.1
  examples/mc/log.2Jul25.hmc.rigid.g++.4
  src/.gitignore
  src/Depend.sh
  src/MC/Install.sh
  src/MC/fix_hmc.cpp
  src/MC/fix_hmc.h
  src/RIGID/compute_rigid_local.cpp
  src/RIGID/fix_rigid_small.cpp
  src/RIGID/fix_rigid_small.h
Labels: mc_package

#4638 Backport bugfixes from #4608
  src/KOKKOS/atom_vec_kokkos.cpp
  src/KOKKOS/compute_sna_grid_kokkos.h
  src/KOKKOS/compute_sna_grid_kokkos_impl.h
  src/KOKKOS/fix_property_atom_kokkos.cpp
  src/KOKKOS/fix_reaxff_species_kokkos.cpp
  src/KOKKOS/fix_shake_kokkos.cpp
  src/KOKKOS/improper_class2_kokkos.cpp
  src/KOKKOS/mliap_descriptor_so3_kokkos.cpp
  src/KOKKOS/mliap_unified_kokkos.cpp
  src/KOKKOS/pair_mliap_kokkos.cpp
  src/KOKKOS/pair_snap_kokkos.h
  src/KOKKOS/pair_snap_kokkos_impl.h
  unittest/force-styles/tests/improper-class2.yaml
Labels: bugfix, kokkos_package, ready

#4654 Apply code modernization suggestions from clang-tidy
  src/EXTRA-DUMP/xdr_compat.h
  src/INTEL/nstencil_bin_intel.h
  src/INTEL/nstencil_ghost_bin_intel.h
  src/KOKKOS/neigh_bond_kokkos.h
  src/KOKKOS/npair_halffull_kokkos.h
  src/KOKKOS/npair_kokkos.h
  src/KOKKOS/npair_skip_kokkos.h
  src/KOKKOS/npair_ssa_kokkos.h
  src/KSPACE/fft3d.h
  src/MANYBODY/pair_eam_cd.h
  src/MEAM/meam.h
  src/MEAM/meam_funcs.cpp
  src/MEAM/meam_setup_done.cpp
  src/MEAM/meam_setup_global.cpp
  src/MEAM/meam_setup_param.cpp
  src/MEAM/pair_meam.cpp
  src/MISC/fix_imd.cpp
  src/MISC/pair_list.cpp
  src/OPENMP/domain_omp.cpp
  src/OPENMP/fix_rigid_nh_omp.cpp
  src/OPENMP/fix_rigid_omp.cpp
  src/OPENMP/fix_rigid_small_omp.cpp
  src/OPENMP/npair_bin_ghost_omp.h
  src/OPENMP/npair_bin_omp.h
  src/OPENMP/npair_halffull_omp.h
  src/OPENMP/npair_multi_old_omp.h
  src/OPENMP/npair_multi_omp.h
  src/OPENMP/npair_nsq_ghost_omp.h
  src/OPENMP/npair_nsq_omp.h
  src/OPENMP/npair_respa_bin_omp.h
  src/OPENMP/npair_respa_nsq_omp.h
  src/OPT/pair_eam_opt.cpp
  src/OPT/pair_lj_charmm_coul_long_opt.cpp
  src/OPT/pair_lj_cut_opt.cpp
  src/OPT/pair_morse_opt.cpp
  src/OPT/pair_ufm_opt.cpp
  src/lammpsplugin.h
  src/library.h
  src/npair_bin.h
  src/npair_bin_ghost.h
  src/npair_halffull.h
  src/npair_multi.h
  src/npair_multi_old.h
  src/npair_nsq.h
  src/npair_nsq_ghost.h
  src/npair_respa_bin.h
  src/npair_respa_nsq.h
  src/npair_skip.h
  src/npair_skip_respa.h
  src/npair_skip_size_off2on.h
  src/npair_skip_size_off2on_oneside.h
  src/nstencil_bin.h
  src/nstencil_ghost_bin.h
  src/nstencil_multi.h
  src/nstencil_multi_old.h
  src/pair.h
  src/utils.cpp
Labels: refactor

#4642 Fix parallel execution of bonds for compute stress/mop and stress/mop/profile
  doc/src/compute_stress_mop.rst
  src/EXTRA-COMPUTE/compute_stress_mop.cpp
  src/EXTRA-COMPUTE/compute_stress_mop_profile.cpp
Labels: bugfix

#4653 Collected small changes and fixes
  doc/Makefile
  doc/src/Build_manual.rst
  doc/src/fix_atom_swap.rst
  src/Depend.sh
  src/KOKKOS/Install.sh
  src/KOKKOS/compute_sna_grid_kokkos.h
  src/KOKKOS/compute_sna_grid_kokkos_impl.h
  src/KOKKOS/compute_sna_grid_local_kokkos_impl.h
  src/MC/fix_atom_swap.cpp
  src/MC/fix_atom_swap.h
  src/MC/fix_hmc.cpp
  src/ML-IAP/mliap_so3_math.h
  src/REAXFF/fix_acks2_reaxff.cpp
  src/REAXFF/fix_acks2_reaxff.h
  src/REAXFF/reaxff_inline.h
  src/UEF/uef_utils.cpp
  src/accelerator_kokkos.h
  src/atom.cpp
  src/comm.cpp
  src/fix_spring_chunk.cpp
  src/modify.cpp
  src/reader_native.cpp
Labels: mliap_package, refactor

#4658 Improve text in compute stress/mop rst file
  doc/src/compute_stress_mop.rst
Labels: documentation

#4657 Documentation for fix pimd/*/bosonic
  doc/src/fix_pimd.rst
Labels: documentation

#4659 Update Kokkos library in LAMMPS to v4.6.2
  cmake/Modules/Packages/KOKKOS.cmake
  doc/src/Build_extras.rst
  lib/kokkos/CHANGELOG.md
  lib/kokkos/CMakeLists.txt
  lib/kokkos/Makefile.kokkos
  lib/kokkos/README.md
  lib/kokkos/core/src/SYCL/Kokkos_SYCL_Team.hpp
  lib/kokkos/core/unit_test/TestTeamBasic.hpp
  lib/kokkos/master_history.txt
Labels: kokkos_package, update, ready

#4601 SNAP/Kokkos work batching and instruction-level parallelism optimizations
  src/KOKKOS/compute_sna_grid_kokkos.h
  src/KOKKOS/compute_sna_grid_kokkos_impl.h
  src/KOKKOS/compute_sna_grid_local_kokkos.h
  src/KOKKOS/compute_sna_grid_local_kokkos_impl.h
  src/KOKKOS/pair_snap_kokkos.h
  src/KOKKOS/pair_snap_kokkos_impl.h
  src/KOKKOS/sna_kokkos.h
  src/KOKKOS/sna_kokkos_impl.h
Labels: enhancement, kokkos_package, snap_package, ready

#4655 updated indexing for mliap ace and other small fixes
  src/ML-IAP/mliap_descriptor_ace.cpp
Labels: bugfix

#4573 Support setting threads per atom with neigh/thread on with the KOKKOS package
  doc/src/package.rst
  src/KOKKOS/bond_fene_kokkos.cpp
  src/KOKKOS/kokkos.cpp
  src/KOKKOS/kokkos.h
  src/KOKKOS/nbin_kokkos.cpp
  src/KOKKOS/npair_kokkos.cpp
  src/KOKKOS/pair_kokkos.h
Labels: enhancement, kokkos_package, ready

#4662 Set version date for stable release candidate
  doc/lammps.1
  doc/src/Developer_updating.rst
  doc/src/Fortran.rst
  doc/src/fix_hmc.rst
  doc/src/fix_neighbor_swap.rst
  doc/src/variable.rst
  python/lammps/core.py
  src/library.cpp
  src/version.h
  unittest/force-styles/tests/bond-quartic.yaml
Labels: maintenance
