Repository lammps/lammps, pull requests merged in 2025-05, with the labels that each got.

#4571 Collected small fixes
  cmake/Modules/Packages/SCAFACOS.cmake
  doc/graphviz/lammps-releases.dot
  doc/src/Build.rst
  doc/src/Build_prerequisites.rst
  doc/src/Commands_removed.rst
  doc/src/Errors_details.rst
  doc/src/Howto_lammps_gui.rst
  doc/src/JPG/lammps-releases.png
  doc/src/pair_lj_pirani.rst
  examples/COUPLE/plugin/liblammpsplugin.c
  examples/COUPLE/plugin/liblammpsplugin.h
  fortran/lammps.f90
  lib/scafacos/Install.py
  src/EXTRA-PAIR/pair_lj_pirani.cpp
  src/OPENMP/pair_lj_pirani_omp.h
  src/comm_brick.cpp
  src/comm_tiled.cpp
  tools/lammps-gui/flagwarnings.cpp
  tools/lammps-gui/flagwarnings.h
  tools/lammps-gui/help_index.table
  tools/lammps-gui/lammps-gui.appdata.xml
  tools/lammps-gui/lammpsgui.cpp
  tools/lammps-gui/logwindow.cpp
  tools/lammps-gui/logwindow.h
  tools/lammps-gui/org.lammps.lammps-gui.yml
  tools/swig/lammps.i
  tools/tabulate/angle_harmonic_tabulate.py
  tools/tabulate/bond_morse_tabulate.py
  tools/tabulate/dihedral_harmonic_tabulate.py
  tools/tabulate/pair_bi_tabulate.py
  tools/tabulate/pair_hybrid_tabulate.py
  tools/tabulate/pair_lj_tabulate.py
  tools/tabulate/pair_zbladd_tabulate.py
  tools/tabulate/plot_forces.py
  tools/tabulate/wall_harmonic_tabulate.py
  tools/tabulate/wall_multi_tabulate.py
  unittest/commands/test_kim_commands.cpp
  unittest/force-styles/tests/atomic-pair-buck_coul_cut_qeq_point.yaml
  unittest/force-styles/tests/atomic-pair-buck_coul_cut_qeq_shielded.yaml
  unittest/force-styles/tests/atomic-pair-pedone.yaml
  unittest/force-styles/tests/atomic-pair-reaxff-acks2.yaml
  unittest/force-styles/tests/atomic-pair-reaxff-qtpie.yaml
  unittest/force-styles/tests/atomic-pair-reaxff.yaml
  unittest/force-styles/tests/atomic-pair-reaxff_lgvdw.yaml
  unittest/force-styles/tests/atomic-pair-reaxff_noqeq.yaml
  unittest/force-styles/tests/atomic-pair-reaxff_tabulate.yaml
  unittest/force-styles/tests/atomic-pair-reaxff_tabulate_flag.yaml
  unittest/force-styles/tests/kspace-scafacos_direct.yaml
  unittest/force-styles/tests/kspace-scafacos_ewald.yaml
  unittest/force-styles/tests/kspace-scafacos_fmm.yaml
  unittest/force-styles/tests/kspace-scafacos_fmm_tuned.yaml
  unittest/force-styles/tests/kspace-scafacos_p2nfft.yaml
Labels: bugfix, maintenance

#4556 Update Colvars library to version 2025-04-18
  cmake/Modules/Packages/COLVARS.cmake
  doc/src/PDF/colvars-refman-lammps.pdf
  lib/colvars/Makefile.common
  lib/colvars/Makefile.deps
  lib/colvars/colvar.cpp
  lib/colvars/colvar.h
  lib/colvars/colvar_rotation_derivative.h
  lib/colvars/colvaratoms.cpp
  lib/colvars/colvaratoms.h
  lib/colvars/colvarbias.cpp
  lib/colvars/colvarbias.h
  lib/colvars/colvarbias_abf.cpp
  lib/colvars/colvarbias_histogram.cpp
  lib/colvars/colvarbias_histogram.h
  lib/colvars/colvarbias_histogram_reweight_amd.cpp
  lib/colvars/colvarbias_histogram_reweight_amd.h
  lib/colvars/colvarbias_meta.cpp
  lib/colvars/colvarbias_meta.h
  lib/colvars/colvarbias_opes.cpp
  lib/colvars/colvarbias_opes.h
  lib/colvars/colvarcomp.cpp
  lib/colvars/colvarcomp.h
  lib/colvars/colvarcomp_alchlambda.cpp
  lib/colvars/colvarcomp_angles.cpp
  lib/colvars/colvarcomp_distances.cpp
  lib/colvars/colvarcomp_protein.cpp
  lib/colvars/colvarcomp_rotations.cpp
  lib/colvars/colvarcomp_torchann.cpp
  lib/colvars/colvarcomp_torchann.h
  lib/colvars/colvardeps.cpp
  lib/colvars/colvardeps.h
  lib/colvars/colvargrid.cpp
  lib/colvars/colvargrid.h
  lib/colvars/colvargrid_def.h
  lib/colvars/colvarmodule.cpp
  lib/colvars/colvarmodule.h
  lib/colvars/colvarmodule_refs.h
  lib/colvars/colvarparse.cpp
  lib/colvars/colvarproxy.cpp
  lib/colvars/colvarproxy.h
  lib/colvars/colvarproxy_io.cpp
  lib/colvars/colvarproxy_io.h
  lib/colvars/colvarproxy_replicas.cpp
  lib/colvars/colvarproxy_replicas.h
  lib/colvars/colvarproxy_system.h
  lib/colvars/colvars_memstream.h
  lib/colvars/colvars_version.h
  lib/colvars/colvarscript_commands.h
  lib/colvars/colvarscript_commands_colvar.h
  lib/colvars/colvartypes.cpp
  lib/colvars/colvartypes.h
  lib/colvars/colvarvalue.cpp
  lib/colvars/colvarvalue.h
  src/COLVARS/colvarproxy_lammps.cpp
  src/COLVARS/colvarproxy_lammps.h
  src/COLVARS/colvarproxy_lammps_version.h
  src/COLVARS/fix_colvars.cpp
Labels: user_colvars_package

#4522 MDR contact model updates: radius update and damping
  doc/src/pair_granular.rst
  examples/granular/in.tableting.200
  examples/granular/in.triaxial.compaction.12
  examples/granular/log.4Feb25.tableting.200.g++.1
  examples/granular/log.4Feb25.triaxial.compaction.12.g++.1
  src/GRANULAR/fix_granular_mdr.cpp
  src/GRANULAR/fix_granular_mdr.h
  src/GRANULAR/gran_sub_mod_damping.cpp
  src/GRANULAR/gran_sub_mod_damping.h
  src/GRANULAR/gran_sub_mod_normal.cpp
  src/GRANULAR/gran_sub_mod_normal.h
  src/GRANULAR/granular_model.cpp
Labels: granular_package

#4579 Update atom->quat in rigid fixes for bpm/rotational compatibility
  src/RIGID/fix_rigid.cpp
  src/RIGID/fix_rigid_small.cpp
Labels: rigid_package, bpm_package

#4587 Collected small changes and fixes
  cmake/CMakeLists.txt
  doc/src/JPG/lammps-gui-screen.png
  doc/src/Tools.rst
  doc/src/fix_gjf.rst
  doc/src/fix_qeq_rel_reaxff.rst
  doc/src/fix_qtpie_reaxff.rst
  doc/src/pair_granular.rst
  doc/src/pair_lj_smooth.rst
  doc/utils/sphinx-config/false_positives.txt
  src/GRANULAR/fix_add_heat.cpp
  src/GRANULAR/fix_granular_mdr.cpp
  src/GRANULAR/gran_sub_mod_damping.cpp
  src/GRANULAR/gran_sub_mod_normal.cpp
  src/KOKKOS/mliap_unified_couple_kokkos.pyx
  src/ML-IAP/mliap_unified_couple.pyx
  src/ML-PACE/pair_pace.cpp
  src/ML-PACE/pair_pace_extrapolation.cpp
  src/PERI/fix_peri_neigh.cpp
  src/PHONON/third_order.cpp
  src/RHEO/compute_rheo_interface.cpp
  src/RHEO/fix_rheo_pressure.cpp
  src/atom.cpp
  src/library.cpp
  src/neighbor.cpp
  unittest/c-library/test_library_properties.cpp
Labels: enhancement, documentation, library_interface, lammps-gui

#4582 Fix torch.load in MLIAP for PyTorch >= 2.6
  src/KOKKOS/mliap_unified_couple_kokkos.pyx
  src/ML-IAP/mliap_unified_couple.pyx
Labels: bugfix

#4424 Kinetic Monte Carlo fix
  cmake/Modules/Packages/MC.cmake
  doc/src/Commands_fix.rst
  doc/src/fix.rst
  doc/src/fix_neighbor_swap.rst
  doc/utils/sphinx-config/false_positives.txt
  src/.gitignore
  src/Depend.sh
  src/MC/Install.sh
  src/MC/fix_neighbor_swap.cpp
  src/MC/fix_neighbor_swap.h
Labels: enhancement, mc_package

#4594 Collected small changes
  doc/src/Howto.rst
  doc/src/Howto_FFgeneral.rst
  doc/src/Howto_bioFF.rst
  doc/src/Howto_spc.rst
  doc/src/Howto_tip4p.rst
  doc/src/Intro_authors.rst
  doc/src/Intro_portability.rst
  doc/src/compute_bond_local.rst
  doc/src/compute_pair_local.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/PACKAGES/imd/in.bucky-plus-cnt
  examples/PACKAGES/imd/in.bucky-plus-cnt-gpu
  examples/PACKAGES/imd/in.deca-ala_imd-gpu
  examples/PACKAGES/imd/in.melt_imd-gpu
  src/KOKKOS/meam_dens_init_kokkos.h
  src/KOKKOS/meam_force_kokkos.h
  src/KOKKOS/pair_kokkos.h
  src/LATBOLTZ/fix_lb_fluid.cpp
  src/ML-POD/compute_podd_atom.cpp
  src/compute_bond_local.cpp
  src/compute_pair_local.cpp
  src/library.cpp
  src/potential_file_reader.cpp
  src/potential_file_reader.h
  src/read_data.cpp
  src/reset_atoms_mol.cpp
  src/text_file_reader.cpp
  unittest/c-library/test_library_properties.cpp
  unittest/python/python-numpy.py
Labels: enhancement, documentation, library_interface, examples

#4527 Add fix ave/moments
  doc/src/Commands_fix.rst
  doc/src/fix.rst
  doc/src/fix_ave_moments.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/COUPLE/plugin/CMakeLists.txt
  examples/PACKAGES/moments/in.converge
  examples/PACKAGES/moments/in.simple
  examples/PACKAGES/moments/in.valtest
  examples/PACKAGES/moments/log.02May2025.converge.g++.1
  examples/PACKAGES/moments/log.02May2025.converge.g++.4
  examples/PACKAGES/moments/log.02May2025.simple.g++.1
  examples/PACKAGES/moments/log.02May2025.simple.g++.4
  examples/PACKAGES/moments/log.02May2025.valtest.g++.1
  examples/PACKAGES/moments/log.02May2025.valtest.g++.4
  src/EXTRA-FIX/fix_ave_moments.cpp
  src/EXTRA-FIX/fix_ave_moments.h
Labels: enhancement
