Repository lammps/lammps, pull requests merged in 2025-04, with the labels that each got.

#4523 enable lj96/cut, lj/cubic and lj/gromacs with fix adapt
  doc/src/fix_adapt.rst
  src/EXTRA-PAIR/pair_lj96_cut.cpp
  src/EXTRA-PAIR/pair_lj96_cut.h
  src/EXTRA-PAIR/pair_lj_cubic.cpp
  src/EXTRA-PAIR/pair_lj_cubic.h
  src/EXTRA-PAIR/pair_lj_gromacs.cpp
  src/EXTRA-PAIR/pair_lj_gromacs.h
  unittest/force-styles/tests/mol-pair-lj96_cut.yaml
  unittest/force-styles/tests/mol-pair-lj_cubic.yaml
  unittest/force-styles/tests/mol-pair-lj_gromacs.yaml
Labels: enhancement

#4335 Bond/react: molmap option
  doc/src/fix_bond_react.rst
  examples/PACKAGES/reaction/nylon,6-6_melt/in.large_nylon_melt
  examples/PACKAGES/reaction/tiny_nylon/in.tiny_nylon.stabilized
  examples/PACKAGES/reaction/tiny_nylon/in.tiny_nylon.stabilized_variable_probability
  examples/PACKAGES/reaction/tiny_nylon/in.tiny_nylon.unstabilized
  examples/PACKAGES/reaction/tiny_polystyrene/in.tiny_polystyrene.stabilized
  src/REACTION/README
  src/REACTION/fix_bond_react.cpp
  src/REACTION/fix_bond_react.h
Labels: user_reaction_package

#4515 Collected small fixes and updates
  doc/Makefile
  doc/src/Commands_removed.rst
  doc/src/Developer_internal.rst
  doc/src/Developer_notes.rst
  doc/src/Errors_details.rst
  doc/src/Howto_moltemplate.rst
  doc/src/Intro_overview.rst
  doc/src/Manual_version.rst
  doc/src/compute_slcsa_atom.rst
  doc/src/fix_adapt.rst
  doc/src/fix_modify.rst
  doc/src/fix_reaxff_bonds.rst
  doc/utils/sphinx-config/_themes/lammps_theme/layout.html
  src/EXTRA-COMPUTE/compute_slcsa_atom.cpp
  src/EXTRA-FIX/fix_ave_correlate_long.cpp
  src/ML-IAP/compute_mliap.cpp
  src/Makefile
  src/REAXFF/fix_reaxff_bonds.cpp
  src/REAXFF/fix_reaxff_bonds.h
  src/comm.cpp
  src/compute.cpp
  src/compute.h
  src/compute_chunk_spread_atom.cpp
  src/compute_global_atom.cpp
  src/compute_reduce.cpp
  src/compute_reduce_chunk.cpp
  src/displace_atoms.cpp
  src/fix.cpp
  src/fix_ave_chunk.cpp
  src/fix_ave_correlate.cpp
  src/fix_spring.cpp
  src/library.cpp
  src/modify.cpp
  src/neighbor.cpp
  src/output.cpp
  src/platform.cpp
  src/platform.h
  src/set.cpp
  src/variable.cpp
  tools/coding_standard/versiontags.py
  tools/lammps-gui/lammpsgui.cpp
  unittest/force-styles/tests/mol-pair-lj_cut_tip4p_table.yaml
Labels: documentation, bugfix, maintenance, unittest_feature

#4482 add dihedral multi/harmonic/kk
  doc/src/Commands_bond.rst
  doc/src/dihedral_multi_harmonic.rst
  src/KOKKOS/dihedral_multi_harmonic_kokkos.cpp
  src/KOKKOS/dihedral_multi_harmonic_kokkos.h
  src/MOLECULE/dihedral_multi_harmonic.cpp
  src/MOLECULE/dihedral_multi_harmonic.h
Labels: kokkos_package

#4507 Add fix qeq/rel/reaxff
  doc/src/Commands_fix.rst
  doc/src/fix.rst
  doc/src/fix_acks2_reaxff.rst
  doc/src/fix_qeq_reaxff.rst
  doc/src/fix_qeq_rel_reaxff.rst
  doc/src/fix_qtpie_reaxff.rst
  doc/utils/sphinx-config/false_positives.txt
  examples/reaxff/water/in.water.qeqr
  examples/reaxff/water/in.water.qeqr.field
  examples/reaxff/water/log.20Mar25.reaxff.water-qeqr-field.g++.1
  examples/reaxff/water/log.20Mar25.reaxff.water-qeqr-field.g++.4
  examples/reaxff/water/log.20Mar25.reaxff.water-qeqr.g++.1
  examples/reaxff/water/log.20Mar25.reaxff.water-qeqr.g++.4
  src/.gitignore
  src/OPENMP/pair_reaxff_omp.cpp
  src/REAXFF/fix_qeq_rel_reaxff.cpp
  src/REAXFF/fix_qeq_rel_reaxff.h
  src/REAXFF/fix_qtpie_reaxff.cpp
  src/REAXFF/fix_qtpie_reaxff.h
  src/REAXFF/pair_reaxff.cpp
  src/fix_efield.h
Labels: enhancement

#4463 Added code which provides callbacks from external ML-IAP functions to…
  src/KOKKOS/mliap_data_kokkos.h
  src/KOKKOS/mliap_unified_couple_kokkos.pyx
  src/KOKKOS/mliap_unified_kokkos.cpp
  src/KOKKOS/pair_mliap_kokkos.cpp
  src/KOKKOS/pair_mliap_kokkos.h
Labels: kokkos_package, mliap_package, ready

#4524 Step version strings for next feature release
  doc/lammps.1
  doc/src/Intro_portability.rst
  doc/src/Python_install.rst
  doc/src/bond_bpm_spring_plastic.rst
  doc/src/compute_vacf_chunk.rst
  doc/src/dump.rst
  doc/src/fix_adapt.rst
  doc/src/fix_bond_react.rst
  doc/src/fix_halt.rst
  doc/src/fix_modify.rst
  doc/src/fix_move.rst
  doc/src/fix_pimd.rst
  doc/src/fix_reaxff_bonds.rst
  doc/src/pair_dispersion_d3.rst
  doc/src/region2vmd.rst
  python/lammps/core.py
  src/library.cpp
  src/version.h
Labels: maintenance

#4530 Collected small fixes and changes.
  cmake/Modules/Packages/EXTRA-COMMAND.cmake
  doc/src/Howto_lammps_gui.rst
  doc/src/Modify_compute.rst
  doc/src/Modify_fix.rst
  doc/src/Python_scatter.rst
  doc/src/Tools.rst
  doc/src/dihedral_multi_harmonic.rst
  doc/src/geturl.rst
  src/EXTRA-DUMP/dump_extxyz.cpp
  src/EXTRA-DUMP/dump_extxyz.h
  src/KOKKOS/mliap_model_kokkos.h
  src/KOKKOS/pair_mliap_kokkos.cpp
  src/KOKKOS/pair_mliap_kokkos.h
  src/ML-IAP/pair_mliap.cpp
  src/ML-IAP/pair_mliap.h
  src/REAXFF/fix_qeq_rel_reaxff.cpp
  src/library.cpp
  src/version.h
  tools/lammps-gui/CMakeLists.txt
  tools/lammps-gui/TODO.md
  tools/lammps-gui/lammps-gui.appdata.xml
  tools/lammps-gui/lammpsgui.cpp
  tools/lammps-gui/preferences.cpp
  tools/valgrind/GTest.supp
  tools/valgrind/Kokkos.supp
  tools/valgrind/LLVM.supp
  tools/valgrind/MPICH.supp
  tools/valgrind/OpenMP.supp
  tools/valgrind/OpenMPI.supp
  tools/valgrind/README
Labels: bugfix, kokkos_package, maintenance, lammps-gui

#4538 Fixed invalid ref of coeffs
  src/KOKKOS/mliap_model_kokkos.h
  src/KOKKOS/mliap_model_python_kokkos.cpp
Labels: bugfix, kokkos_package

#4540 extend fix adapt to treat dihedrals
  doc/src/fix_adapt.rst
  src/CLASS2/dihedral_class2.cpp
  src/CLASS2/dihedral_class2.h
  src/EXTRA-MOLECULE/dihedral_cosine_squared_restricted.cpp
  src/EXTRA-MOLECULE/dihedral_cosine_squared_restricted.h
  src/EXTRA-MOLECULE/dihedral_helix.cpp
  src/EXTRA-MOLECULE/dihedral_helix.h
  src/EXTRA-MOLECULE/dihedral_quadratic.cpp
  src/EXTRA-MOLECULE/dihedral_quadratic.h
  src/MOLECULE/dihedral_charmm.cpp
  src/MOLECULE/dihedral_charmm.h
  src/MOLECULE/dihedral_charmmfsw.cpp
  src/MOLECULE/dihedral_charmmfsw.h
  src/MOLECULE/dihedral_multi_harmonic.cpp
  src/MOLECULE/dihedral_multi_harmonic.h
  src/MOLECULE/dihedral_opls.cpp
  src/MOLECULE/dihedral_opls.h
  src/dihedral.cpp
  src/dihedral.h
  src/dihedral_hybrid.cpp
  src/dihedral_hybrid.h
  src/fix_adapt.cpp
  src/fix_adapt.h
  unittest/force-styles/test_dihedral_style.cpp
  unittest/force-styles/tests/dihedral-charmm.yaml
  unittest/force-styles/tests/dihedral-charmmfsw.yaml
  unittest/force-styles/tests/dihedral-class2.yaml
  unittest/force-styles/tests/dihedral-cosine_squared_restricted.yaml
  unittest/force-styles/tests/dihedral-helix.yaml
  unittest/force-styles/tests/dihedral-multi_harmonic.yaml
  unittest/force-styles/tests/dihedral-opls.yaml
  unittest/force-styles/tests/dihedral-quadratic.yaml
Labels: enhancement

#4548 bond/react: refactor reaction counting
  src/REACTION/fix_bond_react.cpp
Labels: bugfix, user_reaction_package

#4546 LAMMPS-GUI enhancements
  doc/src/Howto_github.rst
  doc/src/Howto_lammps_gui.rst
  doc/src/JPG/lammps-gui-chart.png
  doc/src/JPG/lammps-gui-prefs-accel.png
  doc/src/JPG/lammps-gui-prefs-charts.png
  doc/src/JPG/lammps-gui-prefs-editor.png
  doc/src/JPG/lammps-gui-prefs-general.png
  doc/src/JPG/lammps-gui-prefs-image.png
  tools/lammps-gui/TODO.md
  tools/lammps-gui/chartviewer.cpp
  tools/lammps-gui/chartviewer.h
  tools/lammps-gui/lammps-gui.appdata.xml
  tools/lammps-gui/lammpsgui.cpp
  tools/lammps-gui/lammpsgui.h
  tools/lammps-gui/preferences.cpp
  tools/lammps-gui/preferences.h
Labels: documentation, lammps-gui

#4536 Remove CMAKE_TUNE_FLAGS
  cmake/CMakeLists.txt
  cmake/Modules/Packages/COLVARS.cmake
  cmake/presets/kokkos-hip.cmake
  cmake/presets/kokkos-sycl-intel.cmake
  cmake/presets/kokkos-sycl-nvidia.cmake
  cmake/presets/mingw-cross.cmake
  cmake/presets/windows-intel-llvm.cmake
  doc/src/Build_basics.rst
  doc/src/Build_settings.rst
  doc/src/Howto_cmake.rst
  src/main.cpp
  unittest/CMakeLists.txt
Labels: cmake

#4542 Integrate header-only JSON library
  src/info.cpp
  src/info.h
  src/json.h
  src/lammps.cpp
  src/main.cpp
  third_party/README
  third_party/nlohmann/json.hpp
  unittest/utils/CMakeLists.txt
  unittest/utils/test_json.cpp
Labels: enhancement

#4562 Add pair style lj/pirani
  doc/src/Commands_pair.rst
  doc/src/fix_adapt.rst
  doc/src/pair_lj_pirani.rst
  doc/src/pair_style.rst
  doc/utils/sphinx-config/false_positives.txt
  src/.gitignore
  src/EXTRA-PAIR/pair_lj_pirani.cpp
  src/EXTRA-PAIR/pair_lj_pirani.h
  src/OPENMP/pair_lj_pirani_omp.cpp
  src/OPENMP/pair_lj_pirani_omp.h
  unittest/force-styles/tests/mol-pair-lj_pirani.yaml
Labels: enhancement

#4550 Collected small changes and fixes
  README
  cmake/CMakeLists.txt
  cmake/Modules/LAMMPSUtils.cmake
  cmake/presets/kokkos-sycl-intel.cmake
  doc/src/Install_git.rst
  src/REAXFF/reaxff_tool_box.cpp
  src/displace_atoms.cpp
  src/dump_custom.cpp
  src/info.cpp
  src/json.h
  src/library.cpp
  src/library.h
  src/min.cpp
  src/timer.cpp
  src/utils.cpp
  third_party/README
  third_party/nlohmann/json.hpp
  unittest/utils/test_json.cpp
Labels: bugfix, kokkos_package, cmake

#4560 cmake: fix omp.h detection
  cmake/Modules/LAMMPSUtils.cmake
Labels: bugfix, cmake

#4570 More small changes to recover builds of "develop"
  doc/src/pair_lj_pirani.rst
  doc/utils/sphinx-config/false_positives.txt
  src/nlohmann/json.hpp
Labels: documentation, bugfix

#4545 Small patches to various packages
  doc/src/bond_bpm_rotational.rst
  doc/src/bond_bpm_spring.rst
  doc/src/compute_rheo_property_atom.rst
  examples/granular/data.particles
  examples/granular/in.restitution
  examples/granular/log.13May23.restitution.g++.1
  examples/granular/log.4Feb25.restitution.g++.1
  src/BPM/bond_bpm.cpp
  src/BPM/bond_bpm_rotational.cpp
  src/BPM/bond_bpm_spring.cpp
  src/BPM/bond_bpm_spring_plastic.cpp
  src/BPM/fix_update_special_bonds.cpp
  src/BPM/fix_update_special_bonds.h
  src/RHEO/bond_rheo_shell.cpp
  src/RHEO/bond_rheo_shell.h
  src/RHEO/compute_rheo_interface.cpp
  src/RHEO/compute_rheo_interface.h
  src/RHEO/compute_rheo_kernel.cpp
  src/RHEO/compute_rheo_property_atom.cpp
  src/RHEO/fix_rheo.cpp
  src/RHEO/fix_rheo_oxidation.cpp
  src/RHEO/fix_rheo_oxidation.h
  src/RHEO/fix_rheo_thermal.cpp
  src/RHEO/pair_rheo.cpp
Labels: granular_package, bpm_package, rheo_package

#4535 Adding python tool to plot tabulated forces
  doc/src/Tools.rst
  tools/tabulate/README.md
  tools/tabulate/plot_forces.py
Labels: tools

#4559 Added atomic energy option for energy change calculation in fix sgcmc
  doc/src/Modify_pair.rst
  doc/src/fix_sgcmc.rst
  src/MANYBODY/pair_eam.cpp
  src/MANYBODY/pair_eam.h
  src/MANYBODY/pair_extep.cpp
  src/MANYBODY/pair_gw.h
  src/MC/fix_bond_break.cpp
  src/MC/fix_sgcmc.cpp
  src/MC/fix_sgcmc.h
  src/pair.cpp
  src/pair.h
  tools/coding_standard/README
Labels: enhancement, bugfix
