Repository lammps/lammps, pull requests merged in 2025-08, with the labels that each got.

#4686 Add feature to dump image to draw dynamic bonds
  doc/src/Tools.rst
  doc/src/dump_image.rst
  doc/src/fix_shake.rst
  doc/utils/sphinx-config/false_positives.txt
  src/RIGID/fix_shake.cpp
  src/RIGID/fix_shake.h
  src/dump_image.cpp
  src/dump_image.h
  src/image.cpp
  src/library.cpp
  src/neighbor.cpp
  src/neighbor.h
  tools/lammps-gui/CMakeLists.txt
  tools/lammps-gui/codeeditor.cpp
  tools/lammps-gui/flagwarnings.cpp
  tools/lammps-gui/helpers.cpp
  tools/lammps-gui/helpers.h
  tools/lammps-gui/highlighter.cpp
  tools/lammps-gui/icons/autobonds.png
  tools/lammps-gui/imageviewer.cpp
  tools/lammps-gui/imageviewer.h
  tools/lammps-gui/lammps-gui.appdata.xml
  tools/lammps-gui/lammpsgui.cpp
  tools/lammps-gui/lammpsgui.qrc
  tools/lammps-gui/logwindow.cpp
  tools/lammps-gui/org.lammps.lammps-gui.yml
  tools/lammps-gui/preferences.cpp
  tools/lammps-gui/preferences.h
Labels: dump_feature

#4705 Colvars bugfixes targeting LAMMPS maintenance release
  lib/colvars/colvarbias_meta.cpp
  lib/colvars/colvarcomp_coordnums.cpp
  lib/colvars/colvarcomp_distances.cpp
  lib/colvars/colvarcomp_rotations.cpp
  lib/colvars/colvarmodule.h
  lib/colvars/colvartypes.h
Labels: bugfix, user_colvars_package

#4684 Collected small changes and fixes
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .github/workflows/check-cpp23.yml
  .github/workflows/check-vla.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/compile-msvc.yml
  .github/workflows/coverity.yml
  .github/workflows/full-regression.yml
  .github/workflows/lammps-gui-flatpak.yml
  .github/workflows/quick-regression.yml
  .github/workflows/style-check.yml
  .github/workflows/unittest-arm64.yml
  .github/workflows/unittest-linux.yml
  .github/workflows/unittest-macos.yml
  cmake/Modules/Documentation.cmake
  cmake/Modules/Packages/PLUMED.cmake
  doc/src/Developer_code_design.rst
  doc/src/Developer_plugins.rst
  doc/src/Howto_wsl.rst
  doc/src/Install_git.rst
  doc/src/Intro_nonfeatures.rst
  doc/src/Intro_website.rst
  doc/utils/requirements.txt
  doc/utils/sphinx-config/LAMMPSLexer.py
  doc/utils/sphinx-config/false_positives.txt
  lib/plumed/Install.py
  src/BPM/bond_bpm.cpp
  src/GPU/fix_gpu.cpp
  src/PLUMED/fix_plumed.cpp
  src/compute_rdf.cpp
  src/dump_image.cpp
  src/dump_image.h
  src/lammps.cpp
  src/library.cpp
  src/modify.cpp
  src/nlohmann/json.hpp
  src/nlohmann/json_fwd.hpp
  src/utils.h
  tools/lammps-gui/codeeditor.cpp
  tools/lammps-gui/lammps-gui.appdata.xml
  tools/lammps-gui/main.cpp
Labels: bugfix, build_system, cmake, lammps-gui

#4701 add the MN15 D3(BJ) parameter to `pair d3`
  doc/src/pair_dispersion_d3.rst
  src/EXTRA-PAIR/pair_dispersion_d3.cpp
Labels: enhancement
